//00 通常ver
.voice-box {
  display: flex;
  @include content-width;
  margin: 0 auto 40px;

  //////////////
  //通常時
  //////////////
  &.left {
    flex-direction: row-reverse;
    .voice-box-text {
      margin-right: -20px;
    }
  }
  &.right {
    flex-direction: reverse;
    .voice-box-text {
      margin-left: -20px;
    }
  }
  .voice-box-person {
    width: 20%;
    position: relative;
    z-index: 1;
  }

  .voice-box-text {
    background: $cl-white;
    border-radius: $border-radius-big;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px 0;
  }
}

//01 こんな声ありませんか？
.concern {
  .voice-box {
    align-items: center;
  }
}

//02 参加者の声ver
.reviews {
  .voice-box {
    //calcの計算を上書き
    width: 100% !important;
    position: relative;
    z-index: 30;
    .voice-box-person img {
      @include box-shadow-small;
      border-radius: $border-radius-full;
    }
    .voice-box-text {
      @include box-shadow-small;
    }
  }
  &.left p {
    padding: 0 30px 0 20px;
    text-align: left;
    line-height: $lineheight-normal;
  }
  &.right p {
    padding: 0 20px 0 30px;
    text-align: left;
    line-height: $lineheight-normal;
  }
  p b {
    color: $cl-waogreen;
    font-weight: bold;
  }
}
