/* fontsize */

@mixin font-size-s {
    font-size: 12px;
    @include responsive-style(768px) {
        font-size: 11.5px;
    }
}

@mixin font-size-m {
    font-size: 18px;
    @include responsive-style(768px) {
        font-size: 16px;
    }
}

@mixin font-size-l {
    font-size: 28px !important;
    @include responsive-style(768px) {
        font-size: 22px !important;
    }
}

@mixin font-size-xl {
    font-size: 34px;
    @include responsive-style(768px) {
        font-size: 25px;
    }
}

body {
    background: $cl-graylightest;
}

header {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    img {
        width: 220px !important;
        @include responsive-style(768px) {
            width: 170px !important;
        }
    }
}

.waomirai-wrapper {
    h1 {
        text-align: center;
        margin: 45px 0;
        letter-spacing: 2px;
        @include font-size-l;
    }
}

.waomirai-wrapper-content {
    max-width: 800px;
    width: 90%;
    margin: 0 auto 90px;
    background: white;
    border-radius: 10px;
    padding: 45px 20px;
    text-align: left;
    p {
        @include font-size-m;
        margin: 0 auto 18px;
    }
    h2 {
        margin: 90px 0 10px;
        @include font-size-l;
    }
    img {
        width: 100%;
        margin: 0 auto 18px;
    }
    @include responsive-style(768px) {
        padding: 30px 20px;
        text-align: left;
    }
    .btn-waoorange {
        a {
            @include font-size-m;
            text-decoration: none;
            max-width: 360px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $cl-main-orange;
            box-shadow: 0 5px 0 #bd5800;
            padding: 15px 20px;
            color: white;
            border-radius: 8px;
            margin: 0px 0 30px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            transition: all 0.2s ease-out;
            &:hover {
                opacity: 0.7;
                // box-shadow: 0 0px 0 #bd5800;
            }
        }
    }
    .waomirai-wrapper-content-note {
        color: $cl-graylight;
        @include font-size-s;
    }
}

// .thanks-wrapper {
//     h1 {
//         width: 240px;
//         margin: 30px auto;
//     }
//     .thanks-wrapper-content {
//         max-width: 600px;
//         width: 90%;
//         margin: 0 auto;
//         background: white;
//         border-radius: 10px;
//         padding: 45px 20px;
//         text-align: center;
//         @include responsive-style(768px) {
//             padding: 30px 20px;
//             text-align: left;
//         }
//         .thanks-wrapper-content-title {
//             font-size: $font-size-l;
//             font-weight: 500;
//             color: $cl-gray;
//         }
//         .thanks-wrapper-content-text {
//             color: $cl-gray;
//             font-size: $font-size-m;
//             font-weight: 400;
//             margin: 20px 0 0;
//             line-height: 1.75;
//         }
//     }
//     .thanks-copyright {
//         text-align: center;
//         margin: 30px auto 90px;
//         color: $cl-graylight;
//         font-size: $font-size-s;
//     }
// }