@keyframes fuwafuwa-button {
  0% {
    scale: 1;
    transform: scale(1);
  }
  8% {
    scale: 1.04;
    transform: scale(1.04);
  }
  17% {
    scale: 1;
    transform: scale(1);
  }
  25% {
    scale: 1.02;
    transform: scale(1.02);
  }
  38% {
    scale: 1;
    transform: scale(1);
  }
  100% {
    scale: 1;
    transform: scale(1);
  }
}

@keyframes bounce-swipe {
  0%,
  30%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  45% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - var(--scroll-gap) / 2));
  }
}
