-
  const level1_data = [
    {
        title: "自分の欲しいものを英語でプレゼン",
        month1: "4",
        month1_title1: "タイトルA",
        month1_title2: "タイトルB",
        month1_title3: "タイトルC",
        month2: "5",
        month2_title1: "タイトルAA",
        month2_title2: "タイトルBB",
        month2_title3: "タイトルCC",
    },
    {
        title: "家族に仕事のことを英語でインタビュー",
        month1: "6",
        month1_title1: "タイトルA6",
        month1_title2: "タイトルB6",
        month1_title3: "タイトルC6",
        month2: "7",
        month2_title1: "タイトルAA7",
        month2_title2: "タイトルB7B",
        month2_title3: "タイトルCC7",
    },
  ]