//- 年間の授業カリキュラムのデータ
-
  const level_data = [
    {
      level: "1",
      stage: "ローカルSTAGE",
      title: "自分の身近な世界を英語で表現！",
      projects: [
        {
          title: "自分の欲しいものを英語でプレゼン",
          month1: "4",
          month1_title1: "Letの発音は“レット”じゃダメ！音を止める練習をしよう",
          month1_title2: "「家で」は at か in かどちらを使う？ カタマリで覚えればもう悩まない！",
          month1_title3: "プレゼンター：<br>「欲しいもの」をプレゼン！ 欲しくなったきっかけを伝えよう！",
          month2: "5",
          month2_title1: "want to は“わな”。リエゾン（音のつながり）で脱カタカナ英語",
          month2_title2: "「したい」を伝えるときは「キモチ」カードの  I want to をチョイス",
          month2_title3: "プレゼンター：<br>「自分の希望」をプレゼン！プレゼンの締めくくりも練習！",
        },
        {
          title: "家族に仕事のことを英語でインタビュー",
          month1: "6",
          month1_title1: "日本人の苦手な R の発音がたくさん出てくる！ 通じる発音をゲット！",
          month1_title2: "「普段何をしてるの？」など疑問文は、英作文せず What do you do までをカタマリで",
          month1_title3: "インタビュアー：<br>「お父さんの仕事」をインタビュー！ 普段の仕事の様子を聞こう！",
          month2: "7",
          month2_title1: "クール・ジョブ・キッズなど、通じないカタカナ英語から卒業！",
          month2_title2: "enjoy の後は動名詞、など文法で考えずにパターンで文法ミスをなくそう！",
          month2_title3: "インタビュアー：<br>「仕事で好きなこと」をインタビュー！  レスポンスも練習！",
        },
        {
          title: "人気スポットを英語でレポート",
          month1: "8",
          month1_title1: "今回は Th の発音がたくさん出てくる！ 舌の動きをまずマスターしよう！",
          month1_title2: "look , sound , smell など五感動詞もカタマリで楽しくマスター！",
          month1_title3: "レポーター：<br>「人気のショッピングモール」を現地からレポート！",
          month2: "9",
          month2_title1: "“ちぇけらおっ”はどんな単語かわかるかな？リエゾンを攻略しよう！",
          month2_title2: "「その場の情景」を伝える英語、There are や -ing を使いこなそう！",
          month2_title3: "レポーター：<br>人の多さや、お客さんの様子を英語でレポートしよう！",
        },
        {
          title: "自分の好きなことを英語でプレゼン",
          month1: "10",
          month1_title1: "What are you は“わらゆ”“わるゆ”どっちの音が近い？わかればリスニング力UP！",
          month1_title2: "過去形と現在完了形の違いも文法ではなく、パターンでつかもう！",
          month1_title3: "プレゼンター：<br>「今ハマっていること」をプレゼン！最近の自分のことをつたえよう！",
          month2: "11",
          month2_title1: "to の発音は“とぅ”だけじゃない！色々な音に変化する to のリエゾンをマスター",
          month2_title2: "希望や願望を伝える「キボウ」カードと「キモチ」カード、使い分けできるかな？",
          month2_title3: "プレゼンター：<br>「ハマって普段やってること」と「これからの挑戦」をプレゼン！",
        },
        {
          title: "人気スポットを英語でレポート",
          month1: "12",
          month1_title1: "favorite ・ of ・ prefer ・ fun など F や V の発音を徹底練習！",
          month1_title2: "but や or を使って、少し長めの英語フレーズに挑戦しよう！ 比較級もわかるように！",
          month1_title3: "インタビュアー：<br>「ダンスの先生」にインタビュー！好きなダンスを聞こう！",
          month2: "1",
          month2_title1: "did you は“でじゅ”、happyは“へぁぴ”、通じる発音力を手に入れよう",
          month2_title2: "“make”は使役動詞、そんな文法用語はいらない！ カタマリでINPUT！",
          month2_title3: "インタビュアー：<br>「始めた時期やダンスの良さ」などさらに深くインタビュー！",
        },
        {
          title: "人気スポットを英語でレポート",
          month1: "2",
          month1_title1: "Th ・ R ・ F ・ V と日本人の苦手な発音オンパレードだけど練習すれば大丈夫！",
          month1_title2: "「◯◯は△△で有名です」を英語で言えるかな？ パターンを覚えれば楽勝！",
          month1_title3: "レポーター：<br>「お気に入りのラーメン屋さん」の現地の雰囲気をレポート！",
          month2: "3",
          month2_title1: "wait to は“うぇいる”、eat it は“いぃれ”、こんなリエゾン学校では教えてくれないよ！",
          month2_title2: "接続詞の If や but も教科書だと難しそう。でもリズムとパターンなら楽しくマスター！",
          month2_title3: "レポーター：<br>「人気のラーメンの味」をレポート！最後はオススメの決めセリフ！",
        }
      ]
    },
    {
      level: "2",
      stage: "ネーションSTAGE",
      title: "日本のことを英語で表現",
      projects: [
        {
          title: "日本の食べ物を英語でプレゼン",
          month1: "4",
          month1_title1: "レベル1でひと通りの発音はマスターできているので、それを組み合わせていこう！",
          month1_title2: "味の説明は delicious だけじゃダメ！ savory 、 crispy なども使えるように！",
          month1_title3: "プレゼンター：<br>「お好み焼き」をプレゼン！海外の方に紹介できるように！",
          month2: "5",
          month2_title1: "like it in は”らいけれん”など、3単語のリエゾンにも挑戦していこう！",
          month2_title2: "意味を説明するときには mean を使おう! can や enjoy も説明するときに便利だよ！",
          month2_title3: "プレゼンター：<br>「お好み焼きという言葉の意味」をプレゼンで説明できるように!",
        },
        {
          title: "人気のキャラクターにインタビュー",
          month1: "6",
          month1_title1: "visiting はビジティング、helping はヘルピングじゃダメ！ひらがなEnglishで練習！",
          month1_title2: "現在完了、現在完了進行形と聞くと難しく感じるけど、カタマリならラクラク話せる。",
          month1_title3: "インタビュアー：<br>「人気ゲームキャラ」にインタビュー！ お気に入りを聞こう！",
          month2: "7",
          month2_title1: "”かめなっぷ” ”えにょ” ”はVぇに”、それぞれどんな2単語かわかるかな？",
          month2_title2: "「外遊びは何が好き？」を英語で! 即答するには「コノミ」カードをチョイス！",
          month2_title3: "インタビュアー：<br>「ヒマなときに何してる？」そんな疑問も聞いてみよう！",
        },
        {
          title: "日本の人気スポットを英語でレポート",
          month1: "8",
          month1_title1: "polar bears ・ red pandas ・ seals、さぁ動物を表す単語、正しく発音できるかな？",
          month1_title2: "算数の公式のようにパターンで！◯◯ is famous for its ◯◯で有名なものを説明！",
          month1_title3: "レポーター：<br>「動物園」をレポート！ どんな動物が見れるかしっかり伝えよう！",
          month2: "9",
          month2_title1: "発音の難しいpenguin 、ひらがなEnglishで“ぺんぐぅえん”と読めば通じる発音に!",
          month2_title2: "助動詞・現在完了・to 不定詞・全部まとめてカタマリパーツで得意になろう!",
          month2_title3: "レポーター：<br>「動物園の特徴や場所」を伝えよう！ 行進するペンギンを英語で!",
        },
        {
          title: "日本の文化を英語でプレゼン",
          month1: "10",
          month1_title1: "“あむがな”という音を聞いて、「ミライ」のフレーズだ！とわかるかな？",
          month1_title2: "いけばな・書道・畳を英語で説明！ 実は「イコール」のカードで話せる！",
          month1_title3: "プレゼンター：<br>「折り紙」をプレゼン！ 日本の文化を伝えよう！",
          month2: "11",
          month2_title1: "things 、 The など日本人が発音しにくい Th の音をしっかりマスター!",
          month2_title2: "受動態も実はパターンがわかれば簡単！ パーツSwitchで入れ替えて応用しよう！",
          month2_title3: "プレゼンター：<br>「折り紙で作れるもの」をプレゼン！ 有名な形も伝えよう！",
        },
        {
          title: "人気の偉人にインタビュー",
          month1: "12",
          month1_title1: "“びおでん” “べげす” “きゃそぉ”なんの単語かわかれば、ひらがなEnglishマスターだ！",
          month1_title2: "最上級を含む疑問文、と聞くと難しそう！ でも、パーツSwitch なら楽勝!",
          month1_title3: "インタビュアー：<br>「豊臣秀吉」にインタビュー！ どんな答えがかえってくるかな？",
          month2: "1",
          month2_title1: "way to ・ key to ・ have a ・ and always 、全部リエゾンかけて言えるかな？",
          month2_title2: "a ・ the の冠詞や、any との使い分けもできるようになろう！",
          month2_title3: "インタビュアー：<br>「豊臣秀吉から現代の子どもたちへのメッセージ」も聞こう！",
        },
        {
          title: "外国人に人気のスポットを英語でレポート",
          month1: "2",
          month1_title1: "エブリワン、ビューティフルなどカタカナ英語になりやすい発音を通じる発音にしよう！",
          month1_title2: "「イコール」「カノウセイ」「オススメ」カードだけでもここまで説明できる！",
          month1_title3: "レポーター：<br>「京都の嵐山」をレポート！ オススメのまわり方を伝えよう！",
          month2: "3",
          month2_title1: "日本人の苦手な発音 Th ・ F ・V ・L ・R などが多いシーンなので、しっかり練習しよう",
          month2_title2: "知覚動詞の feel も接続詞のwhen も文法勉強ではなくパズル感覚でマスターしよう！",
          month2_title3: "レポーター：<br>「観光客に人気の竹林の小径（こみち）」の素晴らしさをレポートしよう！",
        }
      ]
    }
  ]