
.modal.modal-level-select(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-content
        .modal-wrapper-content-text-select
            |レッスンは２つのレベルから
            br
            |お選びいただけます。
            br
            |どちらのレベルで受講しますか？
        .modal-level-select
          a(href="https://lms.waomirai.com/course/view.php?id=130",target='_blank') 
            img(src='https://go.waomirai.com/l/1026513/2024-09-05/h2rdx/1026513/1725523683qZzDSua4/button_level_1.png')
          a(href="https://lms.waomirai.com/enrol/index.php?id=138",target='_blank') 
            img(src='https://go.waomirai.com/l/1026513/2024-09-05/h2rf1/1026513/1725523686ro5BJGyc/button_level_2.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる

.modal.modal-level1-weekdays(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-1
       | 【LEVEL 1】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://go.waomirai.com/l/1026513/2024-10-10/h5kkk/1026513/1728617204gyEuDcdu/Calendar11_L1_weekdays.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる
.modal.modal-level1-saturday(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-1
       | 【LEVEL 1】土曜コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://go.waomirai.com/l/1026513/2024-10-10/h5kkr/1026513/1728617205b6H3fy8R/Calendar11_L1_saturday.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる
.modal.modal-level2-weekdays(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-2
       | 【LEVEL 2】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://go.waomirai.com/l/1026513/2024-10-10/h5kkn/1026513/1728617204iGAQ4EbI/Calendar11_L2_weekdays.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる

.bg-modal(style='display:none;')