- var linkUrl = 'https://go.waomirai.com/howto-signup-english'
- var imgVoiceNew = 'https://go.waomirai.com/l/1026513/2025-05-21/hms3h/1026513/1747810065F377Cg1Z/img_voice_new.png'
- var imgProcesssHead = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw79/1026513/1747889338BW6qTQck/img_process_head.jpg'
- var imgFlow01 = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw7p/1026513/1747889340geTbIR8e/img_flow_01.jpg';
- var imgFlow02 = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw7l/1026513/1747889339PiPEeePT/img_flow_02.jpg';
- var imgFlow03 = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw7d/1026513/1747889339YO6oC3Sq/img_flow_03.jpg';
- var imgFlow04 = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw7s/1026513/1747889787cdC7Pc7J/img_flow_04.jpg';
- var imgFlow05 = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw76/1026513/1747889338HqVWbKCj/img_flow_05.jpg';
- var imgFlow06 = 'https://go.waomirai.com/l/1026513/2025-05-22/hmw7h/1026513/1747889339iNZE3sah/img_flow_06.jpg';
- var img3weeksFinish = 'https://go.waomirai.com/l/1026513/2025-05-22/hmwy6/1026513/1747900257j7SyRf4E/img_3weeks_finish.png';
- var imgPdf = 'https://go.waomirai.com/l/1026513/2025-05-22/hmx89/1026513/1747904436YPTKtFpJ/img_pdf.png';
- var linkCrclmL1 = 'https://waomirai.com/wp-content/uploads/2025/05/Eng_cur_SP_lv1.pdf';
- var linkCrclmL2 = 'https://waomirai.com/wp-content/uploads/2025/05/Eng_cur_SP_lv2.pdf';

- var movie00Page = 'https://player.vimeo.com/video/1085580950?h=7d74fc6e97&autoplay=1&muted=1&background=1'
- var movie00Modal = 'https://player.vimeo.com/video/1085580950?h=7d74fc6e97&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie01Modal = 'https://player.vimeo.com/video/1085580961?h=df2f5be8e2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie02Modal = 'https://player.vimeo.com/video/1085580992?h=09fadd2aaf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie03Modal = 'https://player.vimeo.com/video/1085581027?h=c74514c131&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie04Modal = 'https://player.vimeo.com/video/1085581070?h=898e4413a3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie05Modal = 'https://player.vimeo.com/video/1085581110?h=d101722995&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie06Modal = 'https://player.vimeo.com/video/1085581135?h=ed938be867&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'