- var linkUrl = 'https://go.waomirai.com/howto-signup-english'
- var imgVoiceNew = 'https://go.waomirai.com/l/1026513/2025-05-21/hms3h/1026513/1747810065F377Cg1Z/img_voice_new.png'
- var imgFlow = 'https://go.waomirai.com/l/1026513/2025-05-21/hmw46/1026513/17478833114HrDw1l3/img_flow.png'

- var movie00Page = 'https://player.vimeo.com/video/1085580950?h=7d74fc6e97&autoplay=1&muted=1&background=1'
- var movie00Modal = 'https://player.vimeo.com/video/1085580950?h=7d74fc6e97&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie01Modal = 'https://player.vimeo.com/video/1085580961?h=df2f5be8e2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'