doctype html
html
  head
    // 変数定義
    include _variables
    // 年間の授業カリキュラムのデータ
    include _data
    // End Google Tag Manager
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(property="og:image", content="https://go.waomirai.com/image/oggreen")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css", rel="stylesheet")
    link(href="../static/css/sass/06-english-lp-main2025may.css", rel="stylesheet")
    link(rel="shortcut icon", type="image/png", href="https://go.waomirai.com/logo/fabicon")
    title %%title%%
    meta(name="robots", content="noindex")
    script(type="text/javascript").
      piAId = '1027513';
      piCId = '144695';
      piHostname = 'go.waomirai.com';
      
      (function() {
      function async_load(){
      var s = document.createElement('script'); s.type = 'text/javascript';
      s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + piHostname + '/pd.js';
      var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
      }
      if(window.attachEvent) { window.attachEvent('onload', async_load); }
      else { window.addEventListener('load', async_load, false); }
      })();
    script(src="https://storage.pardot.com/1026513/1724128460RuzGLFou/jquery_3.7.1.js")
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
    include _content.pug