.btn-cta {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 75px;
  margin: 60px auto;
  border: $cl-black 2px solid;
  border-radius: $border-radius-full;
  background: #f4dd0e;
  color: $cl-black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: $font-size-xl;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 0 0 $cl-black;
  &:hover {
    opacity: 0.7;
  }

  // --- Responsive ---
  @include responsive-style($breakpoint-sp) {
    width: 90%;
    height: 60px;
    margin: 30px auto;
    border-radius: $border-radius-full;

    .btn-cta-icn {
      right: 20px;
      width: 30px;
      height: 30px;

      &::before {
        width: 7px;
        height: 7px;
        top: 8px;
      }
    }

    .btn-cta-text {
      font-size: $font-size-m;
      padding-left: 0;
    }
  }
}

.fixed-btn a {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 75px;
  border: $cl-black 2px solid;
  border-radius: $border-radius-full;
  background: #f4dd0e;
  color: $cl-black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: $font-size-xl;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 0 0 $cl-black;
  &:hover {
    opacity: 0.7;
  }
  @include responsive-style($breakpoint-sp) {
    width: 90%;
    height: 60px;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: $border-radius-full;
  }
}
