@keyframes zoomUp {
  from {
    transform: scale(0.5) ranslateY(200px);
  }
  to {
    transform: scale(1) translateY(0px);
  }
}

@keyframes zoomUpSp {
  from {
    transform: scale(0.5) ranslateY(200px);
  }
  to {
    transform: scale(1.2) translateY(0px);
  }
}

.inview-hide {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.5s, transform 1.5s;
}

.inview {
  opacity: 1;
  transform: translateY(0);
}
