@import "foundation/_base"; //ベースのcss、フォントなどの定義
@import "foundation/_mixin"; //よく使う関数など定義したもの
@import "foundation/_constant"; //色などの変数定義
@import "foundation/_wpstyle"; //色などの変数定義
@import "foundation/_reset"; //デフォルトのスタイルをリセットしたもの
@import "object/project/07-event-lp-2025feb/_07-event-lp-2025feb-mixins-colors.scss";
@import "object/project/07-event-lp-2025feb/_07-event-lp-2025feb-modal";
@import "object/project/07-event-lp-2025feb/_07-event-lp-2025feb-main";
