/////////
// dart scssの警告がうるさいのでいったん抑制している
/////////

// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
// @import "foundation/_base"; //ベースのcss、フォントなどの定義
// @import "foundation/_mixin"; //よく使う関数など定義したもの
// @import "foundation/_constant"; //色などの変数定義
// @import "foundation/_reset"; //デフォルトのスタイルをリセットしたもの
// @import "object/project/project-waomirai-child/_waomirai-child"; //学習ページ