script.
  $(function () {            
    $(window).on("scroll", function () {
      if ($(this).scrollTop() > 200) {
         $(".fixed-btn").fadeIn();
      } else {
       $(".fixed-btn").fadeOut();
      }
    });
  });