mixin cta 
  .c-btn
   a(href="#join")
    |入会方針をすぐ確認したい方はこちら
mixin cta-blank
  .c-btn.c-btn-blank
   a(href="https://lms.waomirai.com/login/index.php?tenant=lmswaomirai", target='_blank')
        |無料会員登録
