//- 画像パス設定
- var paths = '../../../images/21_lp-how-to-join'
//- - var paths = 'https://waomirai.com/lp/assets/lpimages/21_lp-how-to-join';


//- 画像パス生成関数
-
  function img(filename) {
    return `${paths}/${filename}`;
  }


//-//////////////
//- images
//-//////////////

- var ImgIcnSubject = img('icn_subject.png');
- var ImgIcnSwipeArrow = img('icn_swipe_arrow.svg');
- var ImgIcnSwipeHand = img('icn_swipe_hand.svg');
- var ImgIllust01 = img('illust_01.png');
- var ImgIllust02 = img('illust_02.png');
- var ImgIllust03 = img('illust_03.png');
- var ImgIllust04 = img('illust_04.png');
- var ImgLearning02 = img('learning02.jpg');
- var ImgLearning03 = img('learning03.jpg');
- var ImgLevel01 = img('level01.png');
- var ImgLevel02 = img('level02.png');
- var ImgPayment01 = img('payment01.png');
- var ImgPayment02 = img('payment02.png');
- var ImgPayment03 = img('payment03.jpg');
- var ImgPayment04 = img('payment04.jpg');
- var ImgPayment05 = img('payment05.jpg');
- var ImgSubject01 = img('subject-01.jpg');
- var ImgSubject02 = img('subject-02.jpg');
- var ImgSubject03 = img('subject-03.jpg');
- var ImgTitleDecoration = img('title-decoration.svg');
- var Imgstep0301 = img('step0301.jpg');