//imagePath

- var ImgFv = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1kx/1026513/1746773077TNCtsK8m/fv.png'
- var ImgSubject = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.png'
- var ImgFlowLesson = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1kj/1026513/1746772393MCyzOSuU/img_flow_lessson.png'
- var ImgCurriculum = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1kf/1026513/1746772393vSbfrav8/img_curriculum.png'
- var ImgEnglish = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1kq/1026513/1746772394R7p6lvbN/img_english.png'
- var ImgSchedule = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1kb/1026513/1746772393QJY6gKZu/img_schedule.png'
- var ImgPrice = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1lf/1026513/1746773894s9Oac14k/img_price.svg'
- var ImgRegister = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1km/1026513/1746772394b2YfRzst/img_register.png'
- var IcnPdf = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1mx/1026513/1746774949p1yQva6j/icn_pdf.png'
- var IcnBlank = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1n1/1026513/1746774952WZhOJhGm/icn_blank.svg'
- var PdfCurriculumn = 'https://go.waomirai.com/l/1026513/2025-05-09/hm1vx/1026513/1746779722CZ5r2D5u/waomirai_curriculum.pdf'

// URLPath

- var UrlMoodleRegister = 'https://lms.waomirai.com/login/signup.php/?tenant=lmswaomirai'
- var UrlLpGlobalEnglish = 'https://go.waomirai.com/global-english'