section.section-bg-lightgray
  .section-top
  .section-content
    h2|タイトルタイトル
    p.section-content-text 
      |テキストテキストテキストテキストテキストテキスト
    .section-content-img
      img(src='https://webdesign-trends.net/wp/wp-content/uploads/2021/08/dummy-images.jpg')
section.section-bg-white
  div.section-top
  .section-content
    h2|タイトルタイトル
    p.section-content-text 
      |テキストテキストテキストテキストテキストテキスト
    .section-content-img
      img(src='https://webdesign-trends.net/wp/wp-content/uploads/2021/08/dummy-images.jpg')
  .section-content
    h2|タイトルタイトル
    p.section-content-text 
      |テキストテキストテキストテキストテキストテキスト
    .section-content-img
      img(src='https://webdesign-trends.net/wp/wp-content/uploads/2021/08/dummy-images.jpg')    
section.section-bg-lightgray
  .section-top
  .section-content
    h2|タイトルタイトル
    p.section-content-text 
      |テキストテキストテキストテキストテキストテキスト
    .section-content-img
      img(src='https://webdesign-trends.net/wp/wp-content/uploads/2021/08/dummy-images.jpg')
footer 
   div.footer-top
   p.p-footer-text 
      |© ワオ・コーポレーション All rights reserved.