//imagePath
- var ImgLogo = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'


// URLPath
- var UrlMoodleRegister = 'https://lms.waomirai.com/login/signup.php/?tenant=lmswaomirai'
- var UrlLpGlobalEnglish = 'https://go.waomirai.com/global-english'