body {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: var(--shadow-base);
  color: var(--text-color);
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: calc(200 * var(--px));
  }
}
h1 {
  background: var(--gray-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: $font-size-xxl;
  font-weight: 400;
  position: relative;
  z-index: 1;
  text-align: center;
}
nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  > div {
    text-align: center;
    font-size: $font-size-ss;
    line-height: $lineheight-tight;
    background: var(--gray-color-light);
    border-bottom: 1px solid var(--gray-color);
    &:not(:nth-child(4n)) {
      border-right: 1px solid $cl-white;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 45px;
      color: $cl-black;
      text-decoration: none;
    }
  }
}

section.intro {
  padding: 20px 20px 60px;
}
section.bg-white {
  padding: 75px 20px 0;
}
section.bg-graylight {
  background: var(--gray-color-light);
  padding: 75px 20px 0;
}

section.bg-creamyellow {
  background: var(--section-yellow-color);
  padding: 75px 20px 0;
}

h2 {
  font-size: $font-size-huge;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 1px;
  margin: 0 auto 35px;
}

.subjects-list {
  border-radius: var(--radius-base);
  overflow: hidden;
  margin: 0 auto 30px;
  .subjects-list-head {
    display: flex;
    height: 120px;

    &.philosophy {
      background: $cl-philosophy;
    }
    &.science {
      background: $cl-science;
    }
    &.economy {
      background: $cl-economy;
    }
    .subjects-list-head-left {
      flex: 1;
      padding: 20px;
      color: $cl-white;
      .subjects-list-head-left-title {
        font-size: $font-size-xl;
        font-weight: bold;
        margin: 0 0 6px;
      }
      .subjects-list-head-left-text {
        font-size: $font-size-s;
        line-height: $lineheight-relaxed;
      }
    }
    .subjects-list-head-right {
      width: 120px;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .subjects-list-content {
    padding: 25px 20px;
    font-size: $font-size-s;
    line-height: $lineheight-relaxed;

    &.philosophy {
      background: $cl-waomirai-philosophy-pale;
    }
    &.science {
      background: $cl-waomirai-science-pale;
    }
    &.economy {
      background: $cl-waomirai-economy-pale;
    }
    a {
      color: var(--text-color);
      text-decoration: underline;
      &::after {
        font-family: var(--icon-font-family);
        content: "\f08e";
      }
    }
  }
}

.section-child {
  padding: 0 0 60px;
}
.p-learning__item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: var(--radius-base);
  box-shadow: var(--shadow-base);
  width: 100%;
  display: block;
  padding: 30px 20px;
  margin: 0 auto 30px;
  .p-learning__head {
    display: flex;
    align-items: center;
    margin: 0 0 22px;
    .p-learning__number {
      width: 44px;
      height: 44px;
      margin: 0 10px 0 0;
    }
    .p-learning__title01 {
      display: block;
      font-size: $font-size-m;
      line-height: $lineheight-tight;
      color: var(--text-color);
      margin: 0 0 3px;
    }
    .p-learning__title02 {
      display: block;
      font-size: $font-size-xxl;
      font-weight: 500;
      line-height: $lineheight-tight;
      color: var(--text-color);
      letter-spacing: 1px;
    }
  }
  .p-learning__text {
    font-size: $font-size-m;
    line-height: $lineheight-relaxed;
    color: var(--text-color);
    margin: 0 0 20px;
  }
  .p-learning__image img {
    object-fit: contain;
    border-radius: var(--radius-base);
  }
  p.p-note {
    font-size: $font-size-ss;
    line-height: $lineheight-relaxed;
    color: var(--gray-color-dark);
    margin: 10px 0 0;
  }
  .p-learning__image_skip {
    margin: 45px auto 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .p-learning__image_skip_radius img {
      border-radius: var(--radius-base);
    }
  }
}
.section-child-flex {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* p-join */

.p-join {
  padding-top: var(--page-top-padding-top);
}
.p-join__item {
  box-shadow: var(--shadow-base);
  padding: calc(30 * var(--px)) calc(20 * var(--px));
  border-radius: var(--radius-base);
  width: 100%;
  display: block;
}
.p-join__item:nth-child(n + 2) {
  margin-top: calc(75 * var(--px));
  position: relative;
}
.p-join__item:nth-child(n + 2)::after {
  content: "";
  width: calc(50 * var(--px));
  height: calc(25 * var(--px));
  display: block;
  position: absolute;
  top: calc(-50 * var(--px));
  left: calc(50% - 25px);
  background: var(--gray-color);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.p-join__head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p-join__number {
  width: calc(44 * var(--px));
  height: calc(44 * var(--px));
  background: url(../img/common/title-decoration.svg) center top / cover
    no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-shadow: var(--shadow-text);
}
.p-join__number01 {
  font-size: calc(10 * var(--px));
  font-weight: 600;
}
.p-join__number02 {
  font-size: calc(24 * var(--px));
  font-family: var(--number-font-family);
  font-weight: 600;
  margin-top: calc(2 * var(--px));
}
.p-join__title {
  margin-left: calc(12 * var(--px));
  font-size: var(--fs-large-title);
  font-weight: 600;
  line-height: var(--lh-tight);
}
.p-join__text {
  margin-top: calc(20 * var(--px));
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  text-align: left;
}
.p-join__button {
  margin-top: calc(20 * var(--px));
}
.p-join__image {
  display: block;
  flex-shrink: 0;
  margin-top: 0;
}
.p-join__image-item {
  width: 100%;
  margin-top: calc(20 * var(--px));
}
.p-join__image-item img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-base);
  box-shadow: var(--shadow-light);
}
.p-join__text-small {
  font-size: var(--fs-small-text);
  line-height: var(--lh-base);
}
.p-join__text-small--important {
  color: var(--cv-color);
}
.p-join__text-small__inner {
  display: inline-block;
  padding-left: 1.1em;
  position: relative;
}
.p-join__text-small__inner::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}
.p-join__text-small {
  display: block;
  margin-top: calc(10 * var(--px));
}
.p-join__note {
  max-width: calc(950 * var(--px));
  background: var(--section-yellow-color);
  font-size: var(--fs-small-text);
  line-height: var(--lh-base);
  padding: calc(20 * var(--px));
  margin: calc(20 * var(--px)) auto 0;
  display: flex;
  color: #5a4d26;
  border-radius: var(--radius-base);
}
.p-join__note::before {
  display: block;
  content: "";
  width: calc(21 * var(--px));
  height: calc(19 * var(--px));
  background: url(../img/guide/join/icon.svg) center top / cover no-repeat;
  flex-shrink: 0;
  margin: calc(1 * var(--px)) calc(10 * var(--px)) 0 0;
}
.p-join__wrapper {
  display: block;
}
.p-join__wrapper-main {
  padding: 0;
}
.p-join__wrapper-main .p-join__text {
  text-align: left;
}
.p-join__list {
  display: block;
}

/* footer */
footer {
  background: $cl-black;
  padding: 75px 0 0;
  .footer-logo {
    width: 45%;
    margin: 0 auto;
  }
}
