.c-section-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 20px;
  img {
    width: 22px;
    height: 22px;
  }
  .c-section-title-text {
    font-size: $font-size-xl;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
  }
}

.c-text {
  line-height: $lineheight-relaxed;
  margin: 0 0 20px;
}

.c-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 55px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: var(--button-color);
  position: relative;
  border: 2px solid var(--button-color);
  transition: var(--link-transition);
  font-size: $font-size-l;
  border-radius: $border-radius-full;
  box-shadow: var(--shadow-light);
  border-color: var(--cv-color);
  background: var(--cv-color);
  color: #fff;
}

/* p-table */
.p-table {
  width: 100%;
  margin: calc(20 * var(--px)) auto 0;
  border-collapse: separate;
  border-spacing: 0;
}

.p-table,
.p-table tbody,
.p-table th,
.p-table td {
  display: block;
}

.p-table tr {
  display: flex;
  flex-wrap: wrap;
}

.p-table th,
.p-table td {
  border: 1px solid var(--gray-color);
  vertical-align: middle;
  padding: calc(12 * var(--px));
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-table tr:not(:last-child) th,
.p-table tr:not(:last-child) td {
  border-bottom: none;
}

.p-table th {
  width: calc(130 * var(--px));
  background: var(--gray-color-light);
  border-right: none;
}

.p-table td {
  width: calc(100% - (130 * var(--px)));
}

.p-table tr:first-child th {
  border-top-left-radius: var(--radius-base);
}

.p-table tr:first-child td {
  border-top-right-radius: var(--radius-base);
}

.p-table tr:last-child th {
  border-bottom-left-radius: var(--radius-base);
}

.p-table tr:last-child td {
  border-bottom-right-radius: var(--radius-base);
}

/* .p-join__note */
.p-join__note {
  background: var(--section-yellow-color);
  font-size: $font-size-l;
  line-height: var(--lh-tight);
  padding: 20px 30px;
  margin: 25px auto 0;
  display: flex;
  color: #5a4d26;
  border-radius: var(--radius-base);
}

/* p-details_table */
.p-details {
  padding-top: calc(20 * var(--px));
}

.p-details__table {
  width: 100%;
  margin-top: calc(25 * var(--px));
  border-collapse: separate;
  border-spacing: 0;
}

.p-details__table:first-child {
  margin-top: 0;
}

.p-details__table,
.p-details__table tbody,
.p-details__table th,
.p-details__table td {
  display: block;
}

.p-details__table tr {
  display: flex;
  flex-wrap: wrap;
}

.p-details__table th,
.p-details__table td {
  border: 1px solid var(--gray-color);
  vertical-align: middle;
  padding: calc(10 * var(--px));
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  width: calc(100% - 90px);
}

.p-details__table th[rowspan] {
  width: 100%;
  text-align: center;
  background: var(--gray-color-light);
  border-bottom: none;
  border-radius: var(--radius-base-top);
}

.p-details__table th:not([rowspan]) {
  width: 90px;
  text-align: center;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-details__table tr:last-child th {
  border-bottom-left-radius: var(--radius-base);
}

.p-details__table tr:last-child td {
  border-bottom-right-radius: var(--radius-base);
}

.p-details__table tr:nth-child(n + 2) th,
.p-details__table tr:nth-child(n + 2) td {
  border-top: none;
}
