.c-section-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 20px;
  img {
    width: 22px;
    height: 22px;
  }
  .c-section-title-text {
    font-size: $font-size-xl;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
  }
}

.c-text {
  line-height: $lineheight-relaxed;
  margin: 0 0 20px;
}

.c-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 55px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: var(--button-color);
  position: relative;
  border: 2px solid var(--button-color);
  transition: var(--link-transition);
  font-size: $font-size-l;
  border-radius: $border-radius-full;
  box-shadow: var(--shadow-light);
  border-color: var(--cv-color);
  background: var(--cv-color);
  color: #fff;
}

.fixed-btn {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  a {
    max-width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 55px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: var(--button-color);
    position: relative;
    border: 2px solid var(--button-color);
    transition: var(--link-transition);
    font-size: $font-size-l;
    border-radius: $border-radius-full;
    box-shadow: var(--shadow-light);
    border-color: var(--cv-color);
    background: var(--cv-color);
    color: #fff;
    z-index: 10;
  }
}

/* p-table */
.p-table {
  width: 100%;
  margin: calc(20 * var(--px)) auto 0;
  border-collapse: separate;
  border-spacing: 0;
}

.p-table,
.p-table tbody,
.p-table th,
.p-table td {
  display: block;
}

.p-table tr {
  display: flex;
  flex-wrap: wrap;
}

.p-table th,
.p-table td {
  border: 1px solid var(--gray-color);
  vertical-align: middle;
  padding: calc(12 * var(--px));
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-table tr:not(:last-child) th,
.p-table tr:not(:last-child) td {
  border-bottom: none;
}

.p-table th {
  width: 130px;
  background: var(--gray-color-light);
  border-right: none;
}

.p-table td {
  width: calc(100% - (130 * var(--px)));
}

.p-table tr:first-child th {
  border-top-left-radius: var(--radius-base);
}

.p-table tr:first-child td {
  border-top-right-radius: var(--radius-base);
}

.p-table tr:last-child th {
  border-bottom-left-radius: var(--radius-base);
}

.p-table tr:last-child td {
  border-bottom-right-radius: var(--radius-base);
}

/* .p-join__note */
.p-join__note {
  background: var(--section-yellow-color);
  font-size: $font-size-l;
  line-height: var(--lh-tight);
  padding: 20px 20px;
  margin: 25px auto 0;
  display: flex;
  color: #5a4d26;
  border-radius: var(--radius-base);
}

/* p-details_table */
.p-details {
  padding-top: calc(20 * var(--px));
}

.p-details__table {
  width: 100%;
  margin-top: calc(25 * var(--px));
  border-collapse: separate;
  border-spacing: 0;
}

.p-details__table:first-child {
  margin-top: 0;
}

.p-details__table,
.p-details__table tbody,
.p-details__table th,
.p-details__table td {
  display: block;
}

.p-details__table tr {
  display: flex;
  flex-wrap: wrap;
}

.p-details__table th,
.p-details__table td {
  border: 1px solid var(--gray-color);
  vertical-align: middle;
  padding: calc(10 * var(--px));
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  width: calc(100% - 90px);
}

.p-details__table th[rowspan] {
  width: 100%;
  text-align: center;
  background: var(--gray-color-light);
  border-bottom: none;
  border-radius: var(--radius-base-top);
}

.p-details__table th:not([rowspan]) {
  width: 90px;
  text-align: center;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-details__table tr:last-child th {
  border-bottom-left-radius: var(--radius-base);
}

.p-details__table tr:last-child td {
  border-bottom-right-radius: var(--radius-base);
}

.p-details__table tr:nth-child(n + 2) th,
.p-details__table tr:nth-child(n + 2) td {
  border-top: none;
}

$time-row: 53px;
$td-row-height: 66px;
$single-subject-row: 57px;
$double-subject-row: 120px;

.schedule-table {
  overflow-x: auto;
  width: calc(100% + 40px);
  margin: 0 -20px;
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: calc(
      $time-row + ($single-subject-row * 3) + ($double-subject-row * 2)
    );
  }

  th,
  td {
    // padding: 8px;
    text-align: center;
    background: #fff;
  }

  td.subject {
    position: relative;
  }
  th {
    border-bottom: 1.5px dashed var(--gray-color);
  }
  tr td {
    height: $td-row-height;
    border-right: 1.5px dashed var(--gray-color);
  }
  /* 左列固定 */
  th.time {
    position: sticky;
    left: 0;
    z-index: 2;
    background: #f5f5f5;
    width: $time-row;
    border-right: 1.5px solid #6b6b6b;
    font-size: 12px;
    line-height: $lineheight-tight;
    font-weight: 300;
  }
  td.subject {
    border-bottom: 1.5px dashed var(--gray-color);
  }

  .subject-wrpper {
    width: $single-subject-row;
    height: $td-row-height;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 2px;
  }
  .subject-content {
    width: calc($single-subject-row - 4px);
    height: calc($td-row-height - 6px);
    border-radius: 3px;
    text-align: center;
    &.philosophy {
      background-color: #ffe1a6;
      border-left: #fcaf17 solid 2px;
    }
    &.economy {
      background-color: #abe4ff;
      border-left: #09a4e5 solid 2px;
    }
    &.science {
      background-color: #efffb4;
      border-left: #9dc03a solid 2px;
    }
    .name {
      padding: 4px 0 0;
      font-size: 11.5px;
      line-height: $lineheight-tight;
    }
    .label {
      margin: 4px 0 0;
      font-size: 8px;
      line-height: $lineheight-tight;
    }
    .level {
      margin: -1px 0 0;
      font-size: 22px;
      line-height: $lineheight-tight;
    }
  }
  .single {
    width: $single-subject-row;
  }
  .double {
    width: $double-subject-row;
  }
  .week {
    background: #d2d2d2;
    border-radius: 4px;
    width: calc(100% - 4px);
    margin: 4px auto;
    font-size: 12px;
    padding: 3px 0;
    color: $cl-white;
  }
  /* ヘッダーも固定したい場合 */
  // thead th {
  //   position: sticky;
  //   top: 0;
  //   z-index: 3;
  // }
}

.schedule-info {
  margin: 40px auto 0;
  tr td {
    width: 100%;
  }
  td {
    padding: 15px 15px 0;
    border-bottom-left-radius: var(--radius-base);
  }
  .schedule-info-list {
    display: flex;
    padding: 0 0px;
    gap: 3px;
    margin: 0 0 20px;
  }
  .schedule-info-list-content {
    font-size: $font-size-l;
    font-weight: bold;
    span {
      display: block;
      margin: 4px 0 0;
      font-size: $font-size-ss;
      font-weight: normal;
    }
  }
}
.schedule-tab {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0 0 16px;
  .schedule-tab-content {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-light);
    padding: 8px 0;
    border-radius: var(--radius-base);
    cursor: pointer;
    &.active,
    &:hover {
      &#all {
        background: #e6ffd7;
      }
      &#philosophy {
        background: #fff1d6;
      }
      &#science {
        background: #f0f9d9;
      }
      &#economy {
        background: #e6f6fc;
      }
    }
  }
}
