/* color */
$cl-waomirai-philosophy-pale: #fff7e8;
$cl-waomirai-science-pale: #f8fbec;
$cl-waomirai-economy-pale: #e6f6fc;
$cl-waomirai-creamyellow: #fff7e8;
$cl-waomirai-cvpink: #ea5b6f;
$cl-waomirai-graylight: #f0f0f0;

:root {
  --brand-color: #005c3f;
  --cv-color: #ea5b6f;
  --text-color: #333;
  --gray-color-lighter: #fafafa;
  --gray-color-light: #f0f0f0;
  --gray-color-midlight: #e1e1e1;
  --gray-color: #d2d2d2;
  --gray-color-dark: #b4b4b4;
  --gray-color-darker: #999;
  --button-color: #2a9d90;
  --important-button-color: #f5a300;
  --section-yellow-color: #fefbee;
  --play-color: #f03;
}
