@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"; //font-awsome CDN

// Font size variables
$font-size-sss: 10px;
$font-size-ss: 12px;
$font-size-s: 13px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-huge: 28px;

/* line-height */

$lineheight-none: 1;
$lineheight-tight: 1.25;
$lineheight-normal: 1.5;
$lineheight-relaxed: 1.75;
$lineheight-very-relaxed: 2;
