.eng-phase-main {
  //   background: $cl-bg-skyblue;
  text-align: center;
  //   .eng-phase-main-section img {
  //     width: $width-main-content;
  //     margin: 0 auto 60px;
  //     border-radius: $border-radius-bigplus;
  //   }
}

.eng-phase-main-section-blue {
  width: $width-main-content;
  margin: 0 auto 60px;
  border-radius: $border-radius-bigplus;
}

.eng-phase-main-cv-crowds {
  position: relative;
  .eng-phase-main-cv-crowds-btn img {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: $width-cv-btn;
  }
}

.eng-phase-bg-blue {
  background: $cl-bg-skyblue;
  padding: 0 0 0px;
}
.eng-phase-bg-green {
  background: $cl-bg-leafgreen;
  padding: 0 0 75px;
}

$shadow-height: 45px;
$shadow-height-sp: 38px;

.eng-phase-main-cv-humans {
  position: relative;
  .eng-phase-main-cv-humans-img {
    img {
      position: relative;
      z-index: 1;
    }
  }
  .eng-phase-main-cv-humans-area {
    position: absolute;
    width: $width-main-content;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 3;
    &.eng-phase-main-cv-humans-area-blue {
      top: 60%;
    }
    &.eng-phase-main-cv-humans-area-green {
      top: 50%;
    }
    .eng-phase-main-cv-humans-area-top {
      background: $cl-white;
      border: 3px solid $cl-bg-leafgreen-darkendeep;
      border-radius: $border-radius-bigplus;
      position: relative;
      z-index: 1;
      padding: 45px 0 45px;
      .eng-phase-main-cv-humans-area-top-text {
        @include font-size-xl;
        margin: 0 auto 20px;
      }
      .eng-phase-main-cv-humans-area-top-button img {
        width: $width-cv-btn;
        margin: 0 auto;
      }
    }
    .eng-phase-main-cv-humans-area-bottom {
      width: 100%;
      height: $shadow-height;
      z-index: 0;
      border: 3px solid $cl-bg-leafgreen-darkendeep;
      background: $cl-bg-leafgreen-darken;
      margin: -20px 0 0;
      border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;
    }
    .eng-phase-main-cv-humans-area-button {
      margin: 0 auto 20px;
      img {
        margin: 0 auto 0;
      }
    }
  }
}

@mixin sectionGreen {
  background: $cl-white;
  border: 3px solid $cl-bg-leafgreen-darkendeep;
  border-radius: $border-radius-bigplus;
  position: relative;
  z-index: 1;
  width: $width-main-content;
  margin: 0 auto;
}
@mixin sectionGreenShadow {
  display: block;
  content: "";
  width: $width-main-content;
  height: $shadow-height;
  z-index: 0;
  border: 3px solid $cl-bg-leafgreen-darkendeep;
  background: $cl-bg-leafgreen-darken;
  margin: -20px auto 0;
  border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;
  @include responsive-style(768px) {
    height: $shadow-height-sp;
  }
}

//グリーンエリアのセクション
.eng-phase-main-section-green {
  &.eng-phase-main-section-green-rapport {
    margin: 0 auto 150px;
  }
  &::after {
    @include sectionGreenShadow;
  }
  .eng-phase-main-section-green-wrap {
    @include sectionGreen;
    padding: 30px 30px 40px;
    @include responsive-style(768px) {
      padding: 20px 20px 30px;
    }
  }

  .eng-phase-main-section-green-wrap-title {
    width: $width-cv-btn;
    position: absolute;
    left: 20px;
    top: -100px;
    img {
      width: 100%;
    }
  }
  .eng-phase-main-section-green-wrap-img {
    margin: 0 0 30px;
  }
  .eng-phase-main-section-green-wrap-text {
    @include font-size-l;
    text-align: left;
    margin: 0 0 45px;
  }
  .eng-phase-main-section-green-wrap-banner a img {
    width: 100%;
  }
}

//カンタン5stepで参加可能
.eng-phase-main-section-5steps {
  .eng-phase-main-section-5steps-title img {
    width: 100%;
    margin: 0 auto 20px;
  }
  .eng-phase-main-section-5steps-box {
    margin: 0 auto 45px;
    &::after {
      @include sectionGreenShadow;
    }
    .eng-phase-main-section-5steps-box-wrap {
      @include sectionGreen;
      padding: 30px 30px 30px;
      @include responsive-style(768px) {
        padding: 30px 15px 30px;
      }
    }
    .eng-phase-main-section-5steps-box-wrap-head {
      display: flex;
      margin: 0 auto 20px;
      > div {
        flex: 1;
      }
      .eng-phase-main-section-5steps-box-wrap-head-step {
        @include font-size-l;
        line-height: $lineheight-tight;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 60px;
          background: $cl-black;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          margin: auto;
        }
        span {
          display: block;
          @include font-size-xxxl;
        }
      }
      .eng-phase-main-section-5steps-box-wrap-head-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 80px;
        }
      }
    }
    .eng-phase-main-section-5steps-box-wrap-title {
      @include font-size-xl;
      font-weight: bold;
      margin: 0 0 20px;
    }
    .eng-phase-main-section-5steps-box-wrap-text {
      @include font-size-l;
      text-align: left;
      font-weight: normal;
      margin: 0;
    }
    .eng-phase-main-section-5steps-box {
      .eng-phase-main-section-5steps-box-wrap {
        @include sectionGreen;
        padding: 30px 30px 30px;
      }
      &::after {
        @include sectionGreenShadow;
      }
    }
  }
  .eng-phase-main-section-5steps-cv {
    img {
      margin: 0 auto 0px;
    }
  }
}

//ワオ未来塾って?
.bg-lp-creamyellow {
  background: $cl-bg-eventlp;
  width: 100%;
  margin: 0 auto;
  //ワオ未来塾って？
  .lp-waomirai-about {
    background: $cl-bg-eventlp;
    padding: 75px 20px 0;
    // max-width: $width-xl;
    margin: 0 auto;
    .c-title-25feb-lp {
      text-decoration: underline wavy;
      text-decoration-color: $cl-title-underline;
      @include font-size-xxxl;
      margin: 0 auto 30px;
    }
    .lp-waomirai-about-box {
      background: white;
      margin: 0 auto 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 20px 40px;
      border-radius: $border-radius-extrabig;

      &-left img {
        width: 70%;
        margin: 0 auto 0px;
      }
      &-right {
        flex: 1;
        line-height: $lineheight-relaxed;
        @include font-size-l;
        text-align: left;
      }
    }
  }

  //授業の特徴
  .lp-waomirai-feature {
    padding: 75px 20px 105px;
    margin: 0 auto;
    // max-width: $width-xl;
    text-align: center;
    background: $cl-bg-eventlp;
    .lp-waomirai-feature-child {
      @include font-size-l;
      //   background: $cl-feature-yellow;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      max-width: 800px;
      width: 100%;
      margin: 0 auto 30px;
      border-radius: $border-radius-full;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      &:last-child {
        margin: 0 auto 90px;
      }
      &-icons {
        display: flex;
        gap: 10px;
      }
    }
  }
  //2025年4月開講
  .lp-waomirai-start2025 {
    background: $cl-bg-eventlp;
    padding: 0 20px 120px;
    // max-width: $width-xl;
    margin: 0 auto;

    &-catch {
      @include font-size-xxl;
      margin: 0 auto;
      text-align: center;
    }
    &-subtitle {
      background: $cl-main-orange;
      color: white;
      @include font-size-xxl;
      max-width: 400px;
      margin: 30px auto 0;
      text-align: center;
      border-radius: $border-radius-full;
    }
    &-logo {
      //   max-width: $width-md;
      margin: 30px auto 30px;
    }
    &-target {
      @include font-size-xxl;
      margin: 0 auto 30px;
      text-align: center;
    }
    &-subjects {
      //   max-width: $width-md;
      margin: 0 auto 45px;
    }
    &-feature {
      display: flex;
      margin: 0px 0 60px;
      flex-direction: column;
      gap: 30px;

      &-box {
        background: white;
        border-radius: $border-radius-bigplus;
        padding: 45px 30px 45px;
        @include font-size-m;
        flex: 1;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

        &-title {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin: 0 auto 20px;
          @include font-size-xl;
          img {
            width: 30px;
          }
        }
        &-text {
          @include font-size-l;
          text-align: left;
        }
      }
    }
    &-btn {
      text-align: center;
      a {
        text-align: center;
        margin: 30px auto 0px;
        background: $cl-main-orange;
        text-decoration: none;
        height: 78px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-full;
        width: 100%;
        max-width: 500px;
        position: relative;
        line-height: $lineheight-normal;
        gap: 12px;
        @include responsive-style(768px) {
          width: 100%;
        }
        @include box-shadow-lp;

        .lp-waomirai-start2025-btn-text {
          margin: 0px 0 0;
          @include font-size-l;
          letter-spacing: 1px;
        }
        .lp-waomirai-start2025-btn-icn {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
  footer {
    width: 100%;
    padding: 120px 0px 0px;
    text-align: center;
    background: $cl-black;
    color: white;
    border-radius: 100px 100px 0 0;

    ul {
      margin: 0 !important;
      padding: 0 !important;
    }
    li {
      list-style: none;
      padding: 0px 0 30px;
      a {
        color: white;
        text-decoration: none;
        @include font-size-l;
      }
    }
    .footer-logo img {
      width: 80%;
      margin: 75px auto 45px;
    }
    .footer-copyright {
      width: 100%;
      border-top: 3px solid #fff;
      padding: 60px 0 60px;
      @include font-size-l;
    }
  }
}
