.eng-phase-main {
  background: $cl-bg-skyblue;
  text-align: center;
  .eng-phase-main-section img {
    width: $width-main-content;
    margin: 0 auto 60px;
    border-radius: $border-radius-bigplus;
  }
}

.eng-phase-bg-green {
  background: $cl-bg-leafgreen;
}

.eng-phase-main-cv-humans {
  position: relative;
  .eng-phase-main-cv-humans-img {
    img {
      position: relative;
      z-index: 1;
    }
  }
  .eng-phase-main-cv-humans-area {
    position: absolute;
    width: $width-main-content;
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 3;
    .eng-phase-main-cv-humans-area-top {
      background: $cl-white;
      border: 3px solid $cl-bg-leafgreen-darkendeep;
      border-radius: $border-radius-bigplus;
      position: relative;
      z-index: 1;
      padding: 45px 0 45px;
      .eng-phase-main-cv-humans-area-top-text {
        @include font-size-xl;
        margin: 0 auto 20px;
      }
      .eng-phase-main-cv-humans-area-top-button img {
        width: $width-cv-btn;
        margin: 0 auto;
      }
    }
    .eng-phase-main-cv-humans-area-bottom {
      width: 100%;
      height: 45px;
      z-index: 0;
      border: 3px solid $cl-bg-leafgreen-darkendeep;
      background: $cl-bg-leafgreen-darken;
      margin: -20px 0 0;
      border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;
    }
    .eng-phase-main-cv-humans-area-button {
      margin: 0 auto 20px;
      img {
        margin: 0 auto 0;
      }
    }
  }
}
.eng-phase-main-section-green {
  margin: 0 auto 120px;
  &::after {
    display: block;
    content: "";
    width: $width-main-content;
    height: 45px;
    z-index: 0;
    border: 3px solid $cl-bg-leafgreen-darkendeep;
    background: $cl-bg-leafgreen-darken;
    margin: -20px auto 0;
    border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;
  }
  .eng-phase-main-section-green-wrap {
    background: $cl-white;
    border: 3px solid $cl-bg-leafgreen-darkendeep;
    border-radius: $border-radius-bigplus;
    position: relative;
    z-index: 1;
    padding: 60px 30px 45px;
    width: $width-main-content;
    margin: 0 auto;
  }

  .eng-phase-main-section-green-wrap-title {
    width: $width-cv-btn;
    position: absolute;
    left: 20px;
    top: -100px;
    // margin: -80px 0 0 12px;
    img {
      width: 100%;
    }
  }
  .eng-phase-main-section-green-wrap-img {
    margin: 0 0 20px;
  }
  .eng-phase-main-section-green-wrap-text {
    @include font-size-l;
    text-align: left;
    margin: 0 0 20px;
  }
  .eng-phase-main-section-green-wrap-banner a img {
    width: 100%;
  }
}
