/* width */
$width-main: 620px; // メインの幅
$breakpoint-layout: 980px; //レスポンシブの切り替え

body#eng-phase {
  background: $cl-bg-skyblue;
}

.eng-phase-logo {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
  img {
    width: 200px;
    @include responsive-style($breakpoint-layout) {
      margin: 0 auto;
    }
  }
  @include responsive-style($breakpoint-layout) {
    margin: 30px auto 0 !important;
    left: 0;
    top: 0;
    text-align: center;
    position: relative;
  }
  @include responsive-style(768px) {
    display: none;
  }
}

.eng-phase-left {
  width: calc(92% - $width-main);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include responsive-style($breakpoint-layout) {
    display: none;
  }
  .eng-phase-left-wrap {
    max-width: 350px;
    margin: 0 auto;

    .eng-phase-left-wrap-logo {
      margin: 0 auto 15px;
    }
    .eng-phase-left-wrap-btn {
      width: 90%;
      margin: 0 0 0 11px;
    }
  }
}

.eng-phase-bg {
  .eng-phase-bg-crowds1 img {
    left: -50px;
    top: 0;
    position: fixed;
    z-index: 0;
    opacity: 0.7;
    width: 100%;
  }
  .eng-phase-bg-crowds2 img {
    left: -150px;
    bottom: -300px;
    width: 100%;
    position: fixed;
    z-index: 0;
    opacity: 0.7;
    transform: scale(1, 1);
  }
}

.eng-phase-main {
  margin: 50px 8% 0 auto;
  padding: 0;
  max-width: $width-main;
  position: relative;
  z-index: 2;
  border-left: 10px solid $cl-white;
  border-top: 10px solid $cl-white;
  border-right: 10px solid $cl-white;
  border-radius: 60px 60px 0 0;
  overflow: hidden;

  @include responsive-style($breakpoint-layout) {
    margin: 30px auto 0 !important;
  }
  @include responsive-style(768px) {
    margin: 0 auto !important;
    max-width: 100% !important;
    width: 100% !important;
    border: none;
    border-radius: 0 !important;
  }
}
