$lp-yellow:#FFDE53;
.applyBtn {
    width: 330px !important;
    background: $cl-waogreen !important;
    box-shadow: 0 4px 0 #002118;
    animation: lp-cta__btn 3s infinite;
    margin: 0 auto 90px;
    // @include min-responsive-style(768px) {
    //   transform: scale(1.1);
    // }
}

@keyframes lp-cta__btn {
    0%,
    55%,
    65%,
    70%,
    80% {
        box-shadow: 0 4px 0 #002118;
        transform: translateY(0)
    }
    60%,
    75% {
        box-shadow: none;
        transform: translateY(4px)
    }
}

.schedule {
    max-width: 842px;
    width: 100%;
    padding: 40px 0;
    @include responsive-style(768px) {
        padding: 40px 0px;
        width: calc(100% - 48px);
        margin: 0 auto;
    }
}

figure {
    margin: 20px auto 0;
    table {
        font-family: "Yu Gothic", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
        @include responsive-style(768px) {
            font-size: 12px;
        }
    }
}

header {
    height: 60px;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    @include responsive-style(768px) {
        height: 42px;
        padding: 0 14px;
    }
    div {
        @include responsive-style(768px) {
            width: 146px;
        }
        img {
            height: 24px;
            margin: 0 !important;
            @include responsive-style(768px) {
                width: 146px;
                height: 22px;
            }
        }
    }
}

#fv-top-sp {
    background: white;
    img {
        width: 100% !important;
        margin: 0 0 10px !important;
    }
}

#fv-top-pc {
    background: $lp-yellow;
    padding: 0px 40px;
    margin: 0 0 0px;
    position: relative;
    .fv-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 128px 0 30px;
        @include responsive-style(900px) {
            padding: 100px 0 0px;
        }
        .fv-left-button {
            position: relative;
            z-index: 2;
            @include responsive-style(900px) {
                transform: scale(0.9);
                transform-origin: left center;
            }
            @include responsive-style(750px) {
                transform: scale(0.8);
                transform-origin: left center;
            }
        }
        img {
            width: 363px;
            margin: 0 0 60px;
            position: relative;
            z-index: 2;
            @include responsive-style(900px) {
                width: 300px;
            }
            @include responsive-style(750px) {
                width: 275px;
            }
        }
        a {
            position: relative;
            z-index: 2;
            button {}
        }
        svg {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            height: 100%;
        }
    }
    .fv-right {
        img {
            position: absolute;
            right: 26px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 527px;
            @include responsive-style(900px) {
                width: 450px;
            }
            @include responsive-style(750px) {
                width: 375px;
            }
        }
    }
    .fv-pc-b {
        img {
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

#fv-top-pc-b {
    background: $lp-yellow;
    padding: 0px 0px;
    margin: 0 0 0px;
    position: relative;
    .fv-pc-b {
        img {
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

#desktopLayouts {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

#intro-queestion div {
    padding: 0px 0 60px;
    background: $lp-yellow;
    text-align: center;
    font-size: 54px;
    font-family: "Yu Mincho", 游明朝, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "MS Ｐ明朝", "MS PMincho", serif;
    @include responsive-style(768px) {
        font-size: 32px;
        padding: 35px 25px;
    }
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    button {
        transform: scale(0.8);
        transform-origin: bottom right;
        animation: none;
        margin: 0 !important;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    }
}

#teacher {
    padding-bottom: 60px;
}

.has-text-align-right {
    font-family: "Yu Gothic", 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}