/* width */

$ctabuttonwidth: 500px;
$breakpoint-sp: 768px;
$maincontentWidth: 420px;
$rightWidth: 350px;
$breakpoint-tablet: 980px;

@mixin square-size($vw-percentage) {
  width: #{$vw-percentage}vw;
  height: #{$vw-percentage}vw;
}
@mixin square-size-px($vw-percentage) {
  width: #{$vw-percentage}px;
  height: #{$vw-percentage}px;
}

html {
  overflow-x: hidden;
}

body {
  background: $cl-main-neonyellow;
  transition: background-color 0.6s ease;
  // overflow-x: hidden;
}

.pc-left {
  position: fixed;
  left: 0;
  width: calc(100% - $maincontentWidth - $rightWidth);
  height: 100vh;
  padding: 30px;
  @include responsive-style($breakpoint-tablet) {
    display: none;
  }
  img {
    max-width: 480px;
    width: 100%;
    margin: 0px auto 0;
    transition: opacity 0.3s ease;
  }
}

.pc-right {
  position: fixed;
  right: 0;
  width: $rightWidth;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include responsive-style($breakpoint-tablet) {
    display: none;
  }
  .pc-right-navi {
    display: flex;
    flex-direction: column;
    gap: 12px;
    a {
      background: $cl-white;
      transform: skew(-8deg, 0deg);
      display: inline-flex;
      align-items: center;
      border: 2px solid $cl-black;
      text-decoration: none;
      margin: 0 0 0px;
      .pc-right-navi-link-number {
        background: $cl-black;
        color: $cl-white;
        padding: 3px 8px;
        font-size: $font-size-xl;
        font-weight: 300;
      }
      .pc-right-navi-link-text {
        padding: 0px 10px;
        font-size: $font-size-l;
      }
    }
  }
  .pc-right-cta {
    padding: 30px 0 0;
    margin: 30px 0 0;
    border-top: 1px solid $cl-gray;
    cursor: pointer;
    img {
      width: 95%;
      margin: 0 auto;
    }
  }
}

.main-content {
  border-left: 3px solid $cl-black;
  border-right: 3px solid $cl-black;
  width: $maincontentWidth;
  margin: 0 auto 0 calc(100% - $maincontentWidth - $rightWidth);

  @include responsive-style($breakpoint-sp) {
    width: 100%;
    margin: 0 auto;
    border: none;
  }
}

@mixin content-width {
  width: calc(100% - 50px);
}
