/* width */

$ctabuttonwidth: 500px;
$breakpoint-sp: 768px;
$breakpoint-centeronly: 820px;
$maincontentWidth: 420px;
$rightWidth: 350px;
$breakpoint-tablet: 980px;

@mixin square-size($vw-percentage) {
  width: #{$vw-percentage}vw;
  height: #{$vw-percentage}vw;
}
@mixin square-size-px($vw-percentage) {
  width: #{$vw-percentage}px;
  height: #{$vw-percentage}px;
}

html {
  overflow-x: hidden;
}

body {
  background: $cl-main-neonyellow;
  transition: background-color 0.6s ease;
  // overflow-x: hidden;
}

.pc-wrapper {
  background: #e5ff79;
}

.pc-left {
  position: fixed;
  left: 0;
  width: calc(100% - $maincontentWidth - $rightWidth);
  height: 100vh;
  padding: 30px;
  @include responsive-style(1200px) {
    padding: 30px 30px 30px 0px;
  }
  @include responsive-style($breakpoint-tablet) {
    display: none;
  }
  img {
    max-width: 480px;
    width: 100%;
    margin: 0px auto 0;
    transition: opacity 0.3s ease;
    @include responsive-style(1200px) {
      transform: scale(1.3);
      transform-origin: right top;
    }
    @include responsive-style(1100px) {
      transform: scale(1.8);
      transform-origin: right top;
    }
    @include responsive-style(1050px) {
      display: none;
    }
  }
}

.pc-right {
  position: fixed;
  right: 0;
  width: $rightWidth;
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include responsive-style($breakpoint-tablet) {
    width: calc($rightWidth * 1.1);
    right: calc(
      (100% - $maincontentWidth - calc($rightWidth * 1.1) - 50px) / 2
    );
  }
  @include responsive-style($breakpoint-centeronly) {
    display: none;
  }
  .pc-right-navi {
    display: flex;
    flex-direction: column;
    gap: 12px;
    a {
      background: $cl-white;
      transform: skew(-8deg, 0deg);
      display: inline-flex;
      align-items: center;
      border: 2px solid $cl-black;
      text-decoration: none;
      margin: 0 0 0px;

      transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      &.active {
        transform: translateX(-10px) skew(-8deg, 0deg);
        border: 2px solid $cl-sub-parple;
        .pc-right-navi-link-number {
          background: $cl-sub-parple;
        }
      }
      .pc-right-navi-link-number {
        background: $cl-black;
        color: $cl-white;
        padding: 5px 6px 5px 8px;
        font-size: $font-size-l;
        font-weight: 300;
        border-right: 2px solid $cl-black;
        letter-spacing: 1px;
      }
      .pc-right-navi-link-text {
        padding: 0px 10px;
        font-size: $font-size-l;
        font-weight: bold;
      }
    }
  }
  .pc-right-cta {
    padding: 30px 0 0;
    margin: 30px 0 0;
    border-top: 1px solid $cl-gray;
    cursor: pointer;
    img {
      width: 95%;
      margin: 0 auto;
    }
  }
}

.main-content {
  border-left: 3px solid $cl-black;
  border-right: 3px solid $cl-black;
  width: $maincontentWidth;
  margin: 0 auto 0 calc(100% - $maincontentWidth - $rightWidth);
  background: $cl-main-neonyellow;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  @include responsive-style($breakpoint-tablet) {
    margin: 0 0 0 50px;
  }
  @include responsive-style($breakpoint-centeronly) {
    width: 100%;
    margin: 0 auto;
    border: none;
    box-shadow: none;
  }
}

@mixin content-width {
  width: calc(100% - 50px);
}
