#lp-2025march {
  background: $cl-white;
  color: $cl-black;
  font-family: "Noto Sans JP", sans-serif;
}
//追従CTA(スマホのみ)
.fixed-cta-button a {
  @include min-responsive-style(769px) {
    display: none;
  }
  background: $cl-brand-line;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: $border-radius-full;
  text-decoration: none;
  bottom: 20px;
  font-size: 16px;
  color: $cl-white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

//共通CTA
.c-btn-cta-main {
  text-align: center;
  a {
    animation: fuwafuwa-button 2s 0s infinite;
    text-align: center;
    margin: 0px auto 0px;
    cursor: pointer;
    background: $cl-brand-line;
    text-decoration: none;
    height: 78px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    width: 100%;
    max-width: 500px;
    position: relative;
    @include font-size-l;
    letter-spacing: 1px;
    @include responsive-style(768px) {
      width: 90%;
    }
    @include box-shadow-lp;
  }
}

//共通タイトル
.c-title-25feb-lp {
  @include font-size-xl;
  @include title-underline; //下の波線
  margin: 0 auto 30px;
  text-align: center;
  //   text-decoration-style: wavy;
}

//ヘッダー
header {
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: calc($width-lg + 40px);
  margin: 0 auto;
  justify-content: space-between;
  @include responsive-style(768px) {
    height: 72px;
    padding: 0 18px;
    justify-content: center;
  }

  .header-logo {
    max-width: 350px;
    margin: 0 !important;
    @include responsive-style(768px) {
      width: 60%;
      height: auto;
    }
    img {
      width: 100%;
    }
  }
  .header-right a {
    @include font-size-m;
    background: $cl-brand-line;
    border-radius: $border-radius-full;
    color: $cl-white;
    display: flex;
    height: 45px;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
}

//ファーストビジュアルPC
.lp-25mar-fvpc {
  padding: 0 20px;
  .lp-25mar-fvpc-title {
    @include font-size-xxxxl;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin: 20px auto 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    &.inview span {
      transform: translate(0, 0);
    }
    span {
      display: block;
      transform: translate(0, 105%);
      transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
      @for $i from 1 through 20 {
        &:nth-child(#{$i + 1}) {
          $delay: $i * 0.05 + s;
          transition-delay: $delay;
        }
      }
    }
  }
  .lp-25mar-fvpc-grid {
    display: grid;
    width: 100%;
    max-width: $width-lg;
    height: auto;
    grid-template-columns: 2.1fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    margin: 0 auto;
    &-child {
      position: relative;
      overflow: hidden; /* 子要素を切り取る */
      background: $cl-graylightest;
      border-radius: 80px; /* 画像を円形に */
      opacity: 0;
      transform: scale(0.5);
      transition: opacity 0.3s ease, transform 1s ease;
      &.inview {
        opacity: 1;
        transform: scale(1);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-01 {
        aspect-ratio: 1 / 0.95; /* アスペクト比を1:1に */
        grid-area: 1 / 1 / 3 / 2;
      }
      &-02 {
        aspect-ratio: 1 / 0.95; /* アスペクト比を1:1に */
        grid-area: 1 / 2 / 2 / 3;
      }
      &-03 {
        aspect-ratio: 1 / 0.95; /* アスペクト比を1:1に */
        grid-area: 1 / 3 / 2 / 4;
      }
      &-04 {
        aspect-ratio: 1 / 0.95; /* アスペクト比を1:1に */
        grid-area: 2 / 2 / 3 / 3;
      }
      &-05 {
        aspect-ratio: 1 / 1;
        grid-area: 2 / 3 / 3 / 4;
        border-radius: 10000px; /* 画像を円形に */
      }
    }
  }
}

//ファーストビジュアルSP
:root {
  --scroll-gap: 15px;
}

.lp-25mar-fvsp {
  .lp-25mar-fvsp-title {
    position: relative;
    width: 80%;
    margin: 30px auto 0;

    &-img img {
      width: 120px;
      height: 120px;
      position: absolute;
      right: -10px;
      top: -80px;
      border-radius: $border-radius-full;
      transform: scale(0.2);
      transition: opacity 0.3s ease, transform 0.65s ease;
      &.inview {
        opacity: 1;
        transform: scale(1);
      }
    }
    &-text img {
      width: 100%;
    }
  }

  .lp-25mar-fvsp-grid {
    width: 100%; // 幅を100%に設定
    overflow: hidden; // オーバーフローを隠す
    &-track {
      width: max-content; // コンテンツの幅に合わせる
      animation: infiniteScroll 28s linear infinite; // 無限スクロールのアニメーションを適用
      &-inner {
        display: flex; // フレックスボックスを使用
        flex-wrap: nowrap; // 折り返しを無効にする
        gap: 0 var(--scroll-gap); // 要素間のギャップを設定
        &-child {
          width: 52vw; // 幅をビューポートの33%に設定
          img {
            object-fit: cover; // 画像をカバーするように表示
            width: 100%; // 幅を100%に設定
            height: 100%; // 高さを100%に設定
            aspect-ratio: 1 / 1; // アスペクト比を1:1に設定
            border-radius: $border-radius-bigplus; // 角を丸くする
          }
        }
      }
    }
  }
}
//イントロ
.lp-25mar-intro {
  margin: -120px 0 -90px;
  padding: 180px 0 150px;
  text-align: center;
  // height: 500px;
  // object-fit: cover;
  width: 100%;
  background: url("https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/bg_lp_2025march.png")
    repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  @include responsive-style(768px) {
    // display: inline-block;
    margin: -250px 0 -90px;
    padding: 320px 0 150px;
  }
  &-title {
    padding: 0 0 30px;
    border-bottom: 2px solid $cl-black;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    &-top {
      @include font-size-xxxl;
      color: $cl-black;
      margin: 0 auto 10px;
      text-align: center;
      font-weight: bold;
      overflow: hidden;
      display: flex;
      justify-content: center;
      @include responsive-style(768px) {
        // display: inline-block;
        font-weight: normal;
        @include font-size-xl;
        letter-spacing: 2px;
      }
      &-sp {
        overflow: hidden;
        display: flex;
        justify-content: center;
        &.inview {
          span {
            transform: translate(0, 0);
          }
        }
        span {
          display: block;
          transform: translate(0, 105%);
          transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
          @for $i from 1 through 13 {
            &:nth-child(#{$i + 1}) {
              $delay: $i * 0.15 + s;
              transition-delay: $delay;
            }
          }
        }
      }
    }

    &-main {
      @include font-size-xxxl;
      color: $cl-black;
      margin: 0 auto 20px;
      text-align: center;
      font-weight: bold;
      letter-spacing: 30px;
      width: 100%;
      @include responsive-style(768px) {
        margin: 0 auto 14px;
      }
      &-sp {
        display: flex;
        justify-content: center;
        letter-spacing: 0px;
        gap: 30px;
        line-height: $lineheight-tight;
        overflow: hidden;
        &.inview {
          span {
            transform: translate(0, 0);
          }
        }
        span {
          display: block;
          transform: translate(0, 105%);
          transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
          @for $i from 1 through 13 {
            &:nth-child(#{$i + 1}) {
              $delay: $i * 0.15 + s;
              transition-delay: $delay;
            }
          }
        }
      }
    }
    &-special {
      @include font-size-m;
      color: $cl-lp-red;
      margin: 0 auto 0px;
    }
  }
  &-text {
    margin: 25px 0 0;
    @include font-size-xl;
    @include responsive-style(768px) {
      @include font-size-m;
    }
  }
  &-target {
    background: $cl-merit-yellow;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    padding: 8px 20px;
    margin: 20px 0 0;
    @include font-size-xl;
    @include responsive-style(768px) {
      @include font-size-l;
    }
  }
}

//特徴
.lp-25mar-feature {
  max-width: $width-lg;
  width: 100%;
  margin: 0 auto 90px;
  padding: 0 20px;

  &-grid {
    display: flex;
    gap: 45px;
    @include responsive-style(768px) {
      flex-direction: column;
    }
    &-child {
      flex: 1;
      &-img {
        opacity: 0;
        transform: scale(0.5);
        transition: opacity 0.3s ease, transform 0.7s ease;
        &.inview {
          opacity: 1;
          transform: scale(1);
        }
        img {
          border-radius: $border-radius-extrabigplus;
        }
      }
      &-subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0;
        &-icon {
          width: 30px;
          margin: 0 5px 0 0;
        }
        &-text {
          @include font-size-l;
          color: $cl-graylight;
        }
      }
      &-title {
        margin: 20px 0 0;
        text-align: center;
        @include font-size-xl;
        color: $cl-black;
        font-weight: bold;
        line-height: $lineheight-normal;
      }
      &-text {
        margin: 20px 0 0;
        text-align: left;
        @include font-size-m;
        color: $cl-black;
        line-height: $lineheight-relaxed;
      }
    }
  }
}
.lp-25mar-hoshimi {
  width: 100%;
  background: url("https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/bg_lp_2025march.png")
    repeat;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  padding: 75px 0;
  margin: 0 auto 75px;
  .lp-25mar-hoshimi-wrap {
    display: flex;
    max-width: $width-lg;
    margin: 0 auto;
    align-items: center;
    gap: 60px;
    padding: 0 20px;
    @include responsive-style(768px) {
      flex-direction: column-reverse;
      gap: 30px;
    }
    .lp-25mar-wrap-hoshimi-left {
      flex: 3.5;
      .lp-25mar-wrap-hoshimi-left-spcialtitle {
        @include font-size-xl;
        font-weight: bold;
        text-align: left;
        margin: 0 auto 16px;
        letter-spacing: 8px;
        padding: 0 0 12px;
        border-bottom: 2px solid $cl-black;
      }
      .lp-25mar-wrap-hoshimi-left-title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin: 0 auto 8px;
        color: $cl-black;
        line-height: $lineheight-tight;
      }
      .lp-25mar-wrap-hoshimi-left-date {
        @include font-size-m;
        text-align: left;
        margin: 0 auto 8px;
        color: $cl-black;
        font-weight: bold;
      }
      .lp-25mar-wrap-hoshimi-left-text {
        // @include font-size-m;
        text-align: left;
        margin: 0 auto 20px;
        color: $cl-black;
        span {
          color: $cl-alert;
        }
        @include responsive-style(768px) {
          margin: 0 auto 32px;
        }
      }
      .lp-25mar-wrap-hoshimi-left-button {
        a {
          color: $cl-white;
          text-decoration: none;
          background: $cl-lp-cvred;
          border-radius: $border-radius-full;
          width: 100%;
          height: 55px;
          color: $cl-white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          animation: fuwafuwa-button 2s 0s infinite;
          @include font-size-l;
        }
      }
    }
    .lp-25mar-wrap-hoshimi-right {
      flex: 6.5;
      border-radius: $border-radius-bigplus;
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      .lp-25mar-wrap-hoshimi-right-closetext {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.55);
        z-index: 2;
        width: 100%;
        height: 100%;
        color: $cl-white;
        @include font-size-xl;
      }
      img {
        border-radius: $border-radius-bigplus;
      }
    }
  }
}

//講座内容
.lp-25mar-eventinfo {
  padding: 0 0 30px;
  max-width: $width-xl;
  margin: 0 auto 60px;
  border-bottom: 2px solid $cl-black;
  @include responsive-style(768px) {
    border-bottom: none;
    padding: 0 0 0px;
    margin: 0 auto 15px;
  }
  &-head {
    &-title {
      @include font-size-xxl;
      text-align: center;
      font-weight: bold;
    }

    &-text {
      @include font-size-m;
      text-align: center;
      margin: 10px 0 0;
    }
  }
  &-nav {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin: 45px 0 30px;
    @include responsive-style(768px) {
      gap: 10px;
    }
    &-child {
      border-radius: $border-radius-full;
      padding: 15px 45px;
      color: $cl-black;
      // background: #d9d9d9;
      // background: $cl-graylightest;
      display: block;
      text-decoration: none !important;
      @include font-size-m;
      background: $cl-white;
      display: flex;
      align-items: center;
      gap: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      @include responsive-style(768px) {
        padding: 10px 10px;
        @include font-size-s;
      }
      &:before {
        @include responsive-style(768px) {
          display: none;
        }
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;

        // margin: 0 0 0 10px;
      }

      &.philosophy:before {
        background: $cl-philosophy;
      }
      &.science:before {
        background: $cl-science;
      }
      &.economy:before {
        background: $cl-economy;
      }
    }
  }
  &-bottom {
    @include font-size-m;
    text-align: center;
    padding: 15px 0 0;
    color: $cl-graylight;
    @include responsive-style(768px) {
      border-top: 2px solid $cl-black;
      margin: 15px 0 0;
    }
  }
}

//メインの講座
.lp-25mar-events {
  width: 100%;

  &-flex {
    display: flex;
    justify-content: space-between;
  }
  //メイン講座
  &-main {
    // max-width: $width-main-subject;
    max-width: $width-main-subject;
    width: 100%;
    margin-left: calc((100% - $width-xl) / 2);
    @include responsive-style(1300px) {
      // max-width: calc((100% - 1300px) + $width-main-subject);
      $responsive-width: calc(((100vw - 1300px)) + $width-main-subject + 0px);
      // margin-left: calc((100% - ($width-main-subject + 220px)) / 2);
      margin-left: calc((100% - ($responsive-width + $width-side-sticky)) / 2);
      max-width: calc($responsive-width + 40px);
    }
    @include responsive-style(768px) {
      margin: 0 !important;
      max-width: 100%;
    }
    &-section {
      padding: 0 0 150px;
      &-title {
        @include font-size-xxl;
        margin: 0 auto 30px;
        text-align: center;
      }
      &-levels {
        display: flex;
        gap: 30px;
        margin: 0 0 30px;

        @include responsive-style(768px) {
          display: block;
          padding: 0 20px;
        }
        &-child {
          flex: 1;
          padding: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          transition: all 1.2s ease; //何秒かけてアニメーションを行うか
          // opacity: 0;
          // visibility: hidden;
          // transform: translateY(100px);
          opacity: 1;
          visibility: visible;
          transform: translateY(0px);
          @include responsive-style(768px) {
            margin: 0 auto 30px;
            padding: 15px;
          }
          &.inview {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
          }
          &-title {
            @include font-size-m;
            text-align: center;
            margin: 0 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            height: 30px;
            @include responsive-style(1000px) {
              font-size: 14px;
              gap: 10px;
            }
            &:before {
              content: "";
              display: inline-block;
              width: 13px;
              height: 13px;

              // margin: 0 0 0 10px;
            }

            &.philosophy:before {
              background: $cl-philosophy;
            }
            &.science:before {
              background: $cl-science;
            }
            &.economy:before {
              background: $cl-economy;
            }
          }
          &-img {
            position: relative;
            overflow: hidden;
            border-radius: $border-radius-bigplus;
            &.philosophy:before {
              background: $cl-philosophy-palecolor;
            }
            &.science::before {
              background: $cl-science-palecolor;
            }
            &.economy::before {
              background: $cl-economy-palecolor;
            }
            &.inview:before {
              transform: translateX(100%); // 下へスライドして消える
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: -50px;
              width: 130%;
              height: 100%;
              clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
              transition: transform 0.45s ease-in-out;
              z-index: 1;
            }
            img {
              border-radius: $border-radius-bigplus;
              margin: 0 0 20px;
            }
          }
          &-description {
            font-size: 14px;
            padding: 0 0 12px;
            margin: 0 0 20px;
            border-bottom: 1px dashed $cl-graylight;
            // height: 140px;
          }
          &-bottom {
            display: flex;
            gap: 20px;
            @include responsive-style(1000px) {
              gap: 15px;
            }
            &-subject {
            }

            &-subject-category {
              border-radius: $border-radius-full;

              padding: 4px 8px;
              margin: 0 0 3px;
              text-align: center;
              @include font-size-m;
              @include responsive-style(1000px) {
                @include font-size-s;
              }
              @include responsive-style(768px) {
                @include font-size-s;
              }
              &.philosophy {
                background: $cl-philosophy;
              }
              &.science {
                background: $cl-science;
              }
              &.economy {
                background: $cl-economy;
              }
            }
            &-subject-level {
              &-number {
                color: $cl-black;
                text-align: center;
                font-weight: 300;
                @include font-size-l;
                @include responsive-style(1000px) {
                  font-size: 14px;
                  line-height: $lineheight-none;
                }
                span {
                  @include font-size-xl;
                  font-weight: 500;
                  @include responsive-style(1000px) {
                    @include font-size-l;
                  }
                }
              }
              &-student {
                @include font-size-s;
                color: $cl-graylight;
                text-align: center;
                margin: 3px 0 0;
                white-space: nowrap;
                @include responsive-style(1000px) {
                  font-size: 10px;
                }
              }
            }
            &-schedule {
              @include font-size-m;
              @include responsive-style(1000px) {
                font-size: 14.2px;
              }
              @include responsive-style(768px) {
                font-size: 13.7px;
              }
              span {
                font-size: 12.5px;
                @include responsive-style(1000px) {
                  display: none;
                  margin: 0 3px 0 0;
                }
                @include responsive-style(768px) {
                  font-size: 11px;
                  display: inline;
                }
                margin: 0 6px 0 0;
              }
            }
          }
        }
      }
      &-cta {
        text-align: center;
        a {
          animation: fuwafuwa-button 2s 0s infinite;
          text-align: center;
          margin: 75px auto 0px;
          cursor: pointer;
          background: $cl-brand-line;
          text-decoration: none;
          height: 78px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: $border-radius-full;
          width: 100%;
          max-width: 500px;
          position: relative;
          @include font-size-l;
          letter-spacing: 1px;
          @include responsive-style(768px) {
            width: 90%;
          }
          @include box-shadow-lp;
        }
      }
    }
  }
  //追従ナビゲーション(PCのみ)
  &-sub {
    position: sticky;
    background: $cl-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 30px 10px 20px 20px;
    max-height: 620px;
    border-radius: 48px 0 0 48px;
    top: 20px;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    max-width: $width-side-sticky;
    @include responsive-style(1300px) {
      padding: 30px 15px 20px 20px;
      border-radius: 36px 0 0 36px;
      display: block;
    }

    &-left {
      grid-area: 1 / 1 / 2 / 2;
      padding: 0 0 0 5px;
      &-title {
        font-size: 16px;
        margin: 0 0 10px -2px;
        font-weight: bold;
      }
      &-subject {
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 4.3px;
          top: 4px;
          bottom: 0;
          margin: auto;
          width: 2px;
          height: calc(100% - 16px);
          background: $cl-graylight;
        }
        &-wrap {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 0 0 18px;

          &-title {
            position: relative;
            padding: 0 0 0 20px;
            margin: 5px 0 5px 0;
            line-height: $lineheight-none;
            font-weight: 500;
            text-decoration: none;
            color: $cl-black;
            font-size: 14px;
            @include responsive-style(1300px) {
              font-size: 16px;
            }
            &:hover {
              opacity: 0.7;
            }
            &::before {
              content: "";
              display: block;
              position: absolute;
              left: -0.3px;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 12px;
              height: 12px;
              border-radius: $border-radius-full;
              background: $cl-graylight;
            }
          }
          &-level {
            position: relative;
            padding: 0 0 0 20px;
            color: $cl-gray;
            @include font-size-s;
            text-decoration: none;
            margin: 0 0 -2px;
            line-height: $lineheight-none;
            @include responsive-style(1300px) {
              letter-spacing: 1px;
            }

            &:hover {
              opacity: 0.7;
            }
            &.philosophy.active {
              color: $cl-philosophy !important;
              span {
                color: $cl-philosophy-darken !important;
              }
              &::before {
                background: $cl-philosophy;
              }
            }
            &.science.active {
              color: $cl-science !important;
              span {
                color: $cl-science-darken !important;
              }
              &::before {
                background: $cl-science;
              }
            }
            &.economy.active {
              color: $cl-economy !important;
              span {
                color: $cl-economy-darken !important;
              }
              &::before {
                background: $cl-economy;
              }
            }
            &.active {
              color: $cl-black;
              // @include font-size-m;
              div {
                font-weight: bold;
                transform-origin: left bottom;
                transform: scale(1.2); // 拡大する
                transition: transform 0.3s ease;
              }
              span {
                @include font-size-l;
              }
              &::before {
                background: $cl-black;
                transform: scale(1.45); // 拡大する
                transition: transform 0.1s ease, color 0.1s ease;
                left: 2px;
                top: 6px;
              }
            }
            span {
              @include font-size-m;
              margin: 0 0 0 4px;
              font-weight: 500;
            }

            &::before {
              content: "";
              display: block;
              position: absolute;
              left: 2px;
              top: 3px;
              bottom: 0;
              margin: auto;
              width: 7px;
              height: 7px;
              border-radius: $border-radius-full;
              background: $cl-graylight;
            }
          }
        }
      }
    }
    &-right {
      @include responsive-style(1300px) {
        display: none;
      }
      align-self: self-end;
      align-content: flex-end;
      grid-area: 1 / 2 / 2 / 3;
      &-speech {
        background: $cl-white;
        border-radius: $border-radius-full;
        font-size: 10px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: $lineheight-normal;
        margin: 0 0 20px;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        &::before {
          content: "";
          background-color: transparent;
          width: 10px;
          height: 30px;
          border-right: 9px solid transparent;
          border-top: 18px solid #fff;
          border-left: 9px solid transparent;
          // background: $cl-white;
          position: absolute;
          bottom: -22px;
          left: 0;
          right: 0;
          margin: auto;
          filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.15));
          z-index: 1;
        }
      }
      &-img img {
        // height: 270px;
        margin: 0 20px 24px auto;
        width: 60%;
      }
    }
    &-cta {
      grid-area: 2 / 1 / 3 / 3;
      a {
        @include font-size-m;
        background: $cl-brand-line;
        border-radius: $border-radius-full;
        color: $cl-white;
        display: flex;
        height: 45px;
        margin: 0px 0 0;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        animation: fuwafuwa-button 1.8s 0s infinite;
        cursor: pointer;
        @include responsive-style(1300px) {
          font-size: 14px;
          padding: 10px 10px;
        }
      }
    }
  }
  &-spnavi {
    top: 0px;
    left: 0px;
    position: sticky;
    width: 100%;
    background: white;
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto 30px;
    a {
      color: $cl-gray;
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 4px 20px;
      border-radius: $border-radius-full;
      background: $cl-graylightest;
      &.philosophy.active {
        color: $cl-white;
        background: $cl-philosophy;
      }
      &.science.active {
        color: $cl-white;
        background: $cl-science;
      }
      &.economy.active {
        color: $cl-white;
        background: $cl-economy;
      }
    }
  }
}

//こんなあなたにオススメです！
section.lp-waomirai-recommend {
  background: $cl-bg-eventlp;
  padding: 75px 0;
  margin: 75px 0 0;
  .lp-waomirai-recommend {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    // background: white;
    div {
      @include min-responsive-style(768px) {
        flex: 1;
      }
    }
    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $cl-white;
      img {
        width: 50%;
      }
    }
    &-right {
      position: relative;
      background: $cl-graylightest;
      padding: 45px 30px;
      display: flex;
      flex-direction: column;
      gap: 45px;
      @include responsive-style(768px) {
        background: transparent;
        margin: 0 20px;
        padding: 0px 0px 30px;
        border-radius: $border-radius-bigplus;
        gap: 30px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent $cl-graylightest transparent transparent;
        border-width: 82px 52px 82px 0px;
        z-index: 1;
        @include responsive-style(768px) {
          display: none;
        }
      }
      &-child {
        @include responsive-style(768px) {
          display: flex;
          gap: 20px;
        }
        &:last-child {
          flex-direction: row-reverse;
          .lp-waomirai-recommend-right-child-text:before {
            right: -15px !important;
            left: auto !important;
            transform: rotate(180deg);
          }
          .lp-waomirai-recommend-right-child-icon {
            @include responsive-style(768px) {
              width: 102px;
              margin: 0;
            }
          }
        }
        &-icon {
          img {
            height: 75px;
            margin: 0 auto;
          }
          @include responsive-style(768px) {
            width: 88px;
            margin: 0;
          }
        }
        &-text {
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include font-size-l;
          position: relative;
          @include responsive-style(768px) {
            @include font-size-m;
            background: $cl-white;
            padding: 16px;
            border-radius: $border-radius-big;
          }
          &::before {
            @include responsive-style(768px) {
              content: "";
              position: absolute;
              top: 30px;
              left: -15px;
              margin: auto;
              width: 0;
              height: 0;
              border-style: solid;
              border-color: transparent $cl-white transparent transparent;
              border-width: 15px 15px 15px 0px;
              z-index: 1;
            }
          }
        }
      }
    }
  }
  //POINT!
  .lp-waomirai-point {
    max-width: 450px;
    margin: 45px auto 0;
    display: flex;
    align-items: center;
    gap: 30px;
    @include responsive-style(768px) {
      background: $cl-white;
      margin: 0px 20px 0;
      padding: 0px 0px;
      border-radius: $border-radius-bigplus;
      display: block;
    }
    &-left {
      @include responsive-style(768px) {
        width: 120px;
        height: 30px;
        border-radius: $border-radius-bigplus 0 $border-radius-bigplus 0;
      }
      width: 75px;
      height: 75px;
      border-radius: $border-radius-full;
      background: $cl-gray;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-right {
      flex: 1;
      text-align: center;
      @include responsive-style(768px) {
        width: 100%;
        padding: 20px 20px 30px;
        text-align: left;
      }
    }
  }
}

//5stepで参加可能
.lp-waomirai-howto {
  padding: 30px 0;
  @include responsive-style(768px) {
    margin: 0 0px;
  }
  .lp-waomirai-howto-title {
    @include font-size-xl;
    margin: 0 auto 30px;
    text-align: center;
    letter-spacing: 2px;
    @include responsive-style(768px) {
      @include font-size-xl;
    }
    .large {
      @include font-size-xxxl;
      @include responsive-style(768px) {
        @include font-size-xxxl;
      }
    }
  }
  .lp-waomirai-howto-img {
    width: 200px;
    margin: 0 auto 60px;
  }

  .lp-waomirai-howto-step {
    &-child {
      max-width: $width-sm;
      width: 100%;
      margin: 0 auto 60px;
      display: grid;
      grid-template-columns: 100px 10px 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      @include responsive-style(768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto 90px;
      }
      &-icon {
        @include responsive-style(768px) {
          width: 100px;
        }
      }
      &-number {
        @include font-size-xl;
        @include responsive-style(768px) {
          @include font-size-xxl;
        }
      }
      &-text {
        width: 100%;
        padding: 0 20px;
        &-title {
          @include font-size-l;
          @include responsive-style(768px) {
            @include font-size-l;
          }
          margin: 5px 0 15px;
        }
        &-detail {
          @include font-size-m;
          line-height: $lineheight-relaxed;
          a {
            color: $cl-black;
          }
        }
      }
    }
  }
}

//以下
//ワオ未来塾って？
//授業の特徴
//2025年4月開講
.bg-lp-creamyellow {
  background: $cl-bg-eventlp;
  width: 100%;
  margin: 0 auto;
  //ワオ未来塾って？
  .lp-waomirai-about {
    background: $cl-bg-eventlp;
    padding: 75px 20px 0;
    max-width: $width-xl;
    margin: 0 auto;
    .lp-waomirai-about-box {
      background: white;
      max-width: $width-lg;
      margin: 0 auto 0px;
      padding: 48px 36px;
      border-radius: $border-radius-extrabig;
      display: flex;
      gap: 45px;
      @include responsive-style(768px) {
        flex-direction: column;

        gap: 30px;
        padding: 40px 20px 40px;
        border-radius: $border-radius-bigplus;
      }
      &-left {
        width: 250px;
        @include responsive-style(768px) {
          width: 70%;
          margin: 0 auto 0px;
        }
      }
      &-right {
        flex: 1;
        line-height: $lineheight-relaxed;
        @include font-size-m;
      }
    }
  }

  //授業の特徴
  .lp-waomirai-feature {
    padding: 75px 20px 105px;
    margin: 0 auto;
    max-width: $width-xl;
    text-align: center;
    background: $cl-bg-eventlp;
    .lp-waomirai-feature-child {
      @include font-size-l;
      background: $cl-feature-yellow;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      max-width: 800px;
      width: 100%;
      margin: 0 auto 30px;
      border-radius: $border-radius-full;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      &:last-child {
        margin: 0 auto 90px;
      }
      &-icons {
        display: flex;
        gap: 10px;
      }
      @include responsive-style(768px) {
        // width: 100%;
        margin: 0 auto 45px;
        height: auto;
        padding: 20px;
        flex-direction: column;
        gap: 10px;
        border-radius: $border-radius-bigplus;
      }
    }
  }
  //2025年4月開講
  .lp-waomirai-start2025 {
    background: $cl-bg-eventlp;
    padding: 0 20px 120px;
    max-width: $width-xl;
    margin: 0 auto;

    &-catch {
      @include font-size-l;
      margin: 0 auto;
      text-align: center;
    }
    &-subtitle {
      background: $cl-main-orange;
      color: white;
      @include font-size-xl;
      max-width: 400px;
      margin: 30px auto;
      text-align: center;
      border-radius: $border-radius-full;
    }
    &-logo {
      max-width: $width-md;
      margin: 0 auto 30px;
    }
    &-target {
      @include font-size-l;
      margin: 0 auto 30px;
      text-align: center;
    }
    &-subjects {
      max-width: $width-md;
      margin: 0 auto 45px;
    }
    &-feature {
      display: flex;
      gap: 45px;
      margin: 0px 0 60px;
      @include responsive-style(768px) {
        flex-direction: column;
        gap: 30px;
      }
      &-box {
        background: white;
        border-radius: $border-radius-bigplus;
        padding: 30px 20px 20px;
        @include font-size-m;
        flex: 1;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
        @include responsive-style(768px) {
          padding: 30px 20px 30px;
        }
        &-title {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin: 0 auto 20px;
          @include responsive-style(768px) {
            @include font-size-l;
          }
          img {
            width: 30px;
          }
        }
        &-text {
          @include font-size-m;
        }
      }
    }
    &-btn {
      text-align: center;
      a {
        text-align: center;
        margin: 30px auto 0px;
        background: $cl-main-orange;
        text-decoration: none;
        height: 78px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-full;
        width: 100%;
        max-width: 500px;
        position: relative;
        line-height: $lineheight-normal;
        gap: 12px;
        @include responsive-style(768px) {
          width: 100%;
        }
        @include box-shadow-lp;

        .lp-waomirai-start2025-btn-text {
          margin: 0px 0 0;
          @include font-size-l;
          letter-spacing: 1px;
        }
        .lp-waomirai-start2025-btn-icn {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
  footer {
    width: 100%;
    padding: 120px 0px 0px;
    text-align: center;
    background: $cl-black;
    color: white;
    border-radius: 100px 100px 0 0;
    @include responsive-style(768px) {
      padding: 60px 0px 60px;
      border-radius: 50px 50px 0 0;
    }
    ul {
      margin: 0 !important;
      padding: 0 !important;
    }
    li {
      list-style: none;
      padding: 10px 0;
      a {
        color: white;
        text-decoration: none;
        @include font-size-m;
      }
    }
    .footer-logo img {
      width: 170px;
      margin: 120px auto 45px;
      @include responsive-style(768px) {
        margin: 60px auto 45px;
      }
    }
    .footer-copyright {
      width: 100%;
      border-top: 1px solid #fff;
      padding: 15px 0 15px;
    }
  }
}
