@mixin box-shadow-lp {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 12px 0px;
}

/* border-radius */

$border-radius-small: 4px;
$border-radius-middle: 8px;
$border-radius-big: 20px;
$border-radius-bigplus: 32px;
$border-radius-extrabig: 64px;
$border-radius-extrabigplus: 100px;
$border-radius-full: 10000px;
