$pc-pcmax-width:1000px;
$font-size-xl:30px;
$font-size-l:24px;
$font-size-m:18px;
$font-size-s:14px;
$font-size-ss:10px;
$header-height:70px;
$header-height-mobile:45px;
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    padding: 10px;
    z-index: 10;
    height: $header-height;
    box-shadow: 0px 10px 18px -10px rgba(0, 0, 0, 0.1);
    @include responsive-style(768px) {
        padding: 5px;
        height: $header-height-mobile;
    }
    .header-left img {
        height: 30px;
        @include responsive-style(768px) {
            height: 15px;
        }
    }
    .header-right img {
        height: 50px;
        border-radius: 6px;
        @include responsive-style(768px) {
            height: 30px;
            border-radius: 3px;
        }
    }
}

.wrapper-hapitas {
    margin-top: $header-height;
    @include responsive-style(768px) {
        margin-top: $header-height-mobile;
    }
}

h2 {
    margin: 0 auto 30px;
    text-align: center;
    font-size: $font-size-l;
    letter-spacing: 1.5px;
}

h2.underline {
    font-size: $font-size-xl;
}

h2.underline:after {
    display: block;
    width: 60px;
    height: 3px;
    content: "";
    background: $cl-main-orange;
    margin: 14px auto 0px;
}

.cv-hapitas {
    width: 100%;
    background: $cl-main-orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-hapitas-button {
    background: #005c3f;
    display: inline-flex;
    justify-content: center;
    height: 73px;
    padding: 20px 10px;
    color: white;
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    border: white 2px solid;
    cursor: pointer !important;
    animation: fuwafuwa-button 2s 0s infinite;
    @include responsive-style(768px) {
        height: 68px;
    }
    &:hover {
        opacity: 0.8;
    }
    .cv-hapitas-button-top {
        position: absolute;
        top: 6px;
        font-size: 12px;
    }
    .cv-hapitas-button-main {
        font-size: 20px;
        font-weight: bold;
        margin: 4px 0 0;
        @include responsive-style(768px) {
            font-size: 18px;
        }
    }
}

.hapitas-section {
    padding: 75px 0;
    .hapitas-section-group {
        margin: 60px auto 90px;
    }
    .hapitas-section-text p {
        max-width: 800px;
        margin: 0 auto 30px;
        text-align: center;
        line-height: 1.5 !important;
        font-size: $font-size-m;
        @include responsive-style(768px) {
            text-align: left;
            padding: 0 20px;
        }
    }
    .hapitas-section-copyright {
        text-align: center;
        margin: -30px auto 150px;
        color: $cl-graylight;
        font-size: $font-size-s;
    }
}

.hapitas-section-gray {
    background: $cl-graylightest;
}

.hapitas-section-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    max-width: $pc-pcmax-width;
    margin: 0 auto;
    padding: 0 20px;
    @include responsive-style(768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .hapitas-section-about-child {
        // border: 2px solid $cl-main-orange;
        box-shadow: 0 0 15px rgba(50, 50, 70, .15);
        padding: 0px 0 0;
        position: relative;
        border-radius: 10px;
        margin: 0px 0 0;
        background: white;
        overflow: hidden;
        .hapitas-section-about-child-title {
            padding: 15px 0 20px;
            background: #FDF7EE;
            text-align: center;
            margin: 0 0 15px;
            .hapitas-section-about-child-title-sub {
                font-size: $font-size-s;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 1px;
                margin: 0 0 5px;
            }
            .hapitas-section-about-child-title-main {
                font-size: $font-size-l;
                font-weight: 900;
                line-height: 1;
                letter-spacing: 2px;
            }
        }
        .hapitas-section-about-child-img {
            margin: 0 15px;
        }
        .hapitas-section-about-child-text {
            margin: -7px 15px 25px;
            line-height: 1.5 !important;
            font-size: $font-size-s;
        }
    }
}

.hapitas-section-subject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    max-width: $pc-pcmax-width;
    margin: 60px auto 0;
    padding: 0 20px;
    @include responsive-style(768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .hapitas-section-subject-child {
        padding: 0px 0 0;
        position: relative;
        border-radius: 10px;
        margin: 0px 0 0;
        position: relative;
        box-shadow: 0 0 30px rgba(50, 50, 70, .15);
        &.philosophy {
            .hapitas-section-subject-child-text {
                border-left: $cl-philosophy solid 4px;
            }
        }
        &.science {
            .hapitas-section-subject-child-text {
                border-left: $cl-science solid 4px;
            }
        }
        &.economiy {
            .hapitas-section-subject-child-text {
                border-left: $cl-economiy solid 4px;
            }
        }
        &.english {
            .hapitas-section-subject-child-text {
                border-left: $cl-english solid 4px;
            }
        }
        &.programming {
            .hapitas-section-subject-child-text {
                border-left: $cl-programming solid 4px;
            }
        }
    }
    .hapitas-section-subject-child-img img {
        position: absolute;
        left: 0px;
        right: 0px;
        width: calc(100% - 30px);
        top: -20px;
        margin: auto;
        border-radius: 8px;
        height: 180px;
        object-fit: cover;
    }
    .hapitas-section-subject-child-text {
        padding: 0px 15px 0px;
        margin: 180px 20px 20px;
        border-left: #000 solid 4px;
        .hapitas-section-subject-child-text-large {
            font-weight: 800;
            color: #000;
            font-size: $font-size-l;
            line-height: 1.3;
        }
        .hapitas-section-subject-child-text-small {
            color: #000;
            font-size: $font-size-s;
            margin: 7px 0 0;
        }
    }
}

.hapitas-section-group-step {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    max-width: $pc-pcmax-width;
    margin: 0 auto;
    padding: 0 20px;
    @include responsive-style(768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    .hapitas-section-group-step-child {
        // border: 2px solid $cl-main-orange;
        box-shadow: 0 0 15px rgba(50, 50, 70, .15);
        padding: 45px 0 0;
        position: relative;
        border-radius: 10px;
        margin: 0px 0 0;
        background: white;
        .hapitas-section-group-step-child-img {
            width: 80%;
            margin: 0px auto;
        }
        .hapitas-section-group-step-child-number {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            display: block;
            background: $cl-main-orange;
            width: 46px;
            height: 46px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: $font-size-l;
        }
        .hapitas-section-group-step-child-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 70px;
        }
        .hapitas-section-group-step-child-text-main {
            text-align: center;
            color: $cl-black;
            font-weight: bold;
            font-size: 20px;
            line-height: 1;
        }
        .hapitas-section-group-step-child-text-span {
            font-size: 10px;
            color: $cl-graylight;
            line-height: 1.3;
            margin: 9px 0 0;
            text-align: center;
        }
    }
}

.hapitas-section-group-tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    max-width: $pc-pcmax-width;
    margin: 0 auto;
    padding: 0 20px;
    @include responsive-style(768px) {
        grid-column-gap: 15px;
    }
    .hapitas-section-group-tab-child {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        height: 50px;
        font-size: $font-size-m;
        font-weight: bold;
        position: relative;
        cursor: pointer !important;
        &.active {
            &:after {
                content: "";
                display: block;
                height: 0px;
                width: 0px;
                border: 20px solid transparent;
                position: absolute;
                bottom: -35px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    #tab-economiy {
        border: 3px $cl-economiy solid;
        color: $cl-economiy;
        background: white;
        &.active {
            color: white !important;
            background: $cl-economiy !important;
            &:after {
                border-top-color: $cl-economiy;
            }
        }
    }
    #tab-philosophy {
        border: 3px $cl-philosophy solid;
        color: $cl-philosophy;
        background: white;
        &.active {
            color: white !important;
            background: $cl-philosophy !important;
            &:after {
                border-top-color: $cl-philosophy;
            }
        }
    }
    #tab-science {
        border: 3px $cl-science solid;
        color: $cl-science;
        background: white;
        &.active {
            color: white !important;
            background: $cl-science !important;
            &:after {
                border-top-color: $cl-science;
            }
        }
    }
}

.hapitas-section-group-tab-content {
    max-width: $pc-pcmax-width;
    margin: 20px auto 0;
    border-radius: 10px;
    background: white;
    @include responsive-style(768px) {
        background: transparent;
    }
}

.tab-content-child {
    max-width: 700px;
    width: 100%;
    margin: 0px auto 20px;
    padding: 0px 20px;
    h3 {
        margin: 0px auto 15px;
        padding: 45px 0 0;
        text-align: center;
        font-size: $font-size-l;
        @include responsive-style(768px) {
            padding: 15px 0 0;
        }
    }
    h3.movie-form {
        margin: 0px auto -20px !important;
        position: relative;
        @include responsive-style(768px) {
            margin: 0px auto 15px !important;
        }
    }
    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    .hapitas-section-group-tab-content-form {
        padding-bottom: 120px;
        text-align: center;
    }
}

@keyframes fuwafuwa-button {
    0% {
        scale: 1;
        transform: scale(1)
    }
    8% {
        scale: 1.04;
        transform: scale(1.04)
    }
    17% {
        scale: 1;
        transform: scale(1)
    }
    25% {
        scale: 1.02;
        transform: scale(1.02)
    }
    38% {
        scale: 1;
        transform: scale(1)
    }
    100% {
        scale: 1;
        transform: scale(1)
    }
}