//FV
.englp-fv {
  position: relative;
  height: 100vh;
  .englp-fv-text {
    position: absolute;
    left: calc((100% - 1200px) / 2);
    bottom: 80px;
    z-index: 10;
    @media (max-width: 1230px) {
      left: 3%;
    }
    .englp-fv-subtitle {
      font-size: 22px;
      background: $cl-english;
      color: $cl-white;
      letter-spacing: 0.07em;
      padding: 10px 20px;
      line-height: $lineheight-none;
      font-weight: bold;
      border-radius: 8px;
      display: inline-block;
      margin: 0 0 12px;
    }
    .englp-fv-title {
      font-size: min(88px, calc(60 * var(--px)));
      color: $cl-white;
      letter-spacing: 8px;
      line-height: 1.35;
      font-weight: 600;
    }
  }
  .englp-fv-img img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    opacity: 0.9;
    z-index: 1;

    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0)
    );
  }
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-380px * 5 - 40px * 5));
  }
}
.englp-fv {
  position: relative;
  height: 100vh;
  .englp-fv-text {
    position: absolute;
    left: calc((100% - 1200px) / 2);
    bottom: 50px;
    z-index: 10;
    @media (max-width: 1230px) {
      left: 3%;
    }
    .englp-fv-subtitle {
      font-size: 22px;
      background: $cl-english;
      color: $cl-white;
      letter-spacing: 0.07em;
      padding: 10px 20px;
      line-height: $lineheight-none;
      font-weight: bold;
      border-radius: 8px;
      display: inline-block;
      margin: 0 0 12px;
    }
    .englp-fv-title {
      font-size: min(88px, calc(60 * var(--px)));
      color: $cl-white;
      letter-spacing: 5px;
      line-height: 1.35;
      font-weight: bold;
    }
  }
  .englp-fv-img img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    opacity: 0.9;
    z-index: 1;

    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0)
    );
  }
}

.englp-reviews {
  margin: -40px 0 0;
  position: relative;
  z-index: 100;
  overflow: hidden;
  .englp-reviews-track {
    display: flex;
    gap: 40px;
    width: max-content;
    animation: scroll-loop 45s linear infinite;
    padding: 0 0 30px;
  }
  .englp-reviews-box {
    position: relative;
    background: #fff;
    border-radius: $border-radius-big;
    @include font-size-s;
    padding: 30px 30px 30px;
    width: 370px;
    height: 190px;
    max-width: 380px;
    width: 100%;
    /* 吹き出しのしっぽ（下三角） */
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.06));

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .englp-reviews-box-title {
      line-height: $lineheight-relaxed;
    }
    .englp-reviews-box-name {
      color: $cl-graylight;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 30px;
      width: 20px;
      height: 20px;
      background: #fff;
      transform: rotate(45deg);
      border-radius: 0 0 0px 0;
    }
  }
}

section.englp-section-concern {
  margin: 60px 0 0;
  padding: 90px 0 135px;
  background: $lp-yellow;
  border-radius: $border-radius-section;
  position: relative;
  .englp-section-concern-title {
    position: relative;
    @include font-size-xl;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    gap: 4px;
    margin: 0 auto 60px;
    span {
      display: inline-block;
      background: $cl-english;
      color: $cl-white;
      line-height: $lineheight-none;
      padding: 8px 10px;
      border-radius: 4px;
    }
  }
  .englp-section-concern-content {
    display: flex;
    max-width: $widewidth;
    width: 100%;
    margin: 0 auto;
    gap: 40px;
    .englp-section-concern-box {
      flex: 1;
      background: $cl-white;
      padding: 35px 0 40px;
      border-radius: $border-radius-bigplus;

      .englp-section-concern-box-number {
        font-size: 30px;
        color: $cl-english;
        font-weight: 300;
        text-align: center;
        margin: 0 0 18px;
        line-height: $lineheight-none;
      }
      .englp-section-concern-box-subtitle {
        @include font-size-ss;
        text-align: center;
        margin: 0 0 4px;
        letter-spacing: 0.05em;
      }
      .englp-section-concern-box-title {
        @include font-size-m;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.05em;
        line-height: $lineheight-normal;
        margin: 0 auto 20px;
      }
    }
  }
  .englp-section-concern-subtitle {
    font-size: 140px;
    font-weight: 800;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    color: $cl-white;
    opacity: 0.3;
    text-align: center;
    letter-spacing: 8px;
  }
}

.englp-solve {
  .englp-solve-arrow {
    text-align: center;
    i.fa-solid.fa-angles-down {
      margin: 69px auto 45px;
      font-size: 50px;
      color: $cl-graylight;
    }
  }
  .englp-solve-title {
    text-align: center;
    letter-spacing: 0.05em;
    @include font-size-l;
    span {
      @include font-size-xl;
      color: $cl-english;
      font-weight: 600;
    }
  }
  .englp-solve-subtitle {
    margin: 0 0 -70px;
    @include font-size-engtitle;
  }
}

.englp-section-solution {
  max-width: $max-width;
  width: 100%;
  background: $lp-eng-parple-pale;
  margin: 0 auto;
  padding: 80px 44px 0;
  border-radius: $border-radius-bigplus;
}

.englp-section-solution-grid {
  display: grid;
  grid-template-columns: 46px minmax(0, 1fr);
  grid-template-rows: auto auto;
  overflow: hidden;
  border: 1px solid $cl-english;
  border-radius: 18px;
  background: #fff;
  margin: 0 auto 40px;
  .englp-section-solution-grid-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px 0;
    flex-direction: column;
    border-right: 1px dotted $cl-english;
    font-weight: 500;
    background: $lp-eng-parple-sub;

    &:nth-of-type(3) {
      border-top: 1px dotted $cl-english;
    }

    .englp-section-solution-grid-title-number {
      @include font-size-ss;
      white-space: nowrap;
      display: inline-block;
      margin: 22px 0px 0 3px;
      text-align: center;
      color: $cl-english;
    }

    .englp-section-solution-grid-title-title {
      @include font-size-ss;
      letter-spacing: 0;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 2px;
      color: $cl-english;
    }
  }

  .englp-section-solution-grid-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    min-width: 0;
    padding: 65px 50px;

    &:nth-of-type(4) {
      border-top: 1px dotted $cl-english;
    }

    .englp-section-solution-grid-content-left {
      flex: 1 1 48%;
      min-width: 0;

      .englp-section-solution-grid-content-left-title {
        @include font-size-xl;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 35px;
        line-height: $lineheight-normal;
      }

      .englp-section-solution-grid-content-left-merits {
        display: grid;
        gap: 28px;

        .englp-section-solution-grid-content-left-merits-list {
          display: flex;
          align-items: flex-start;
          gap: 16px;

          .englp-section-solution-grid-content-left-merits-list-icon {
            flex: 0 0 38px;
            width: 38px;
            height: 38px;

            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          .englp-section-solution-grid-content-left-merits-list-text {
            font-size: 18px;

            line-height: 1.75;
            letter-spacing: 0;

            b {
            }
          }
        }
      }
    }

    .englp-section-solution-grid-content-right {
      flex: 0 1 50%;
      max-width: 492px;
      min-width: 320px;

      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
    }
  }
}
