// ビデオのモーダル
.modal-video {
  display: none;
}
.modal-video-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include responsive-style(768px) {
    width: 95%;
    left: 2.5%;
    aspect-ratio: 16 / 12;
    max-width: 414px;
  }
}
.modal-video-wrapper-content {
  position: relative;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  iframe {
    aspect-ratio: 16 / 9;
  }
}
.modal-video-close {
  width: 100%;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  @include responsive-style(768px) {
    font-size: 17px;
  }
}

.bg-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
