/* width */

$max-width: 1194px;
$widewidth: 1100px;
$middlewidth: 992px;
$smallwidth: 700px;
$ctabuttonwidth: 500px;
$breakpoint-sp: 768px;
$maincontentWidth: 500px;
$breakpoint-tablet: 980px;
$breakpoint-header-nav: 1100px;

@mixin square-size($vw-percentage) {
  width: #{$vw-percentage}vw;
  height: #{$vw-percentage}vw;
}
@mixin square-size-px($vw-percentage) {
  width: #{$vw-percentage}px;
  height: #{$vw-percentage}px;
}

@mixin content-width {
  width: calc(100% - 50px);
}

html {
  overflow-x: hidden;
}

body {
  background: $cl-white !important;
  // overflow-x: hidden;
}

header {
  position: fixed;
  background: $cl-white;
  width: 100%;
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  @include responsive-style($breakpoint-sp) {
    padding: 5px 10px;
    height: 60px;
  }
  h1 {
    height: 20px;
    @include responsive-style($breakpoint-sp) {
      height: 32px;
    }
  }
}

nav {
  @include responsive-style($breakpoint-header-nav) {
    display: none;
  }
  @include responsive-style($breakpoint-sp) {
    height: 32px;
  }
  ul {
    display: flex;
    margin: 0;
    gap: 20px;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 0.8px;
    }
  }
}
.humberger {
  @include min-responsive-style($breakpoint-header-nav) {
    display: none;
  }
  cursor: pointer;
}

.humberger img {
  position: relative;
  width: 40px;
  display: block;
  border-radius: 4px;
}

@mixin lp-eng-2column {
}
