doctype html
html
  head
    // 変数定義
    include ../../_includes/06_english-lp-main-2025may/_variables
    meta(charset="utf-8")
    //- Google Tag Manager
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    //- End Google Tag Manager
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(property="og:image", content="https://waomirai.com/lp/assets/commonimages/ogp.png")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css", rel="stylesheet")
    link(href="../css/06-english-lp-main2025may.css", rel="stylesheet")
    title ワオ未来塾　グローバル英語
    meta(name="robots", content="noindex")
    script(src="https://waomirai.com/lp/assets/commonjs/jquery_3.7.1.js")
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
    include ../../_includes/06_english-lp-main-2025may/_content.pug