@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/* fontsize */
@mixin font-size-ss {
  font-size: 11px;
  @include responsive-style(768px) {
    font-size: 9.5px;
  }
}

@mixin font-size-s {
  font-size: 12px;
  @include responsive-style(768px) {
    font-size: 11.5px;
  }
}

@mixin font-size-m {
  font-size: 17px;
  @include responsive-style(768px) {
    font-size: 16px;
  }
}

@mixin font-size-l {
  font-size: 22px;
  @include responsive-style(768px) {
    font-size: 21px;
  }
}

@mixin font-size-xl {
  font-size: 27px;
  @include responsive-style(768px) {
    font-size: 25px;
  }
}
@mixin font-size-xxl {
  font-size: 36px;
  @include responsive-style(768px) {
    font-size: 30px;
  }
}
@mixin font-size-xxxl {
  font-size: 50px;
  @include responsive-style(768px) {
    font-size: 28px;
  }
}
@mixin font-size-xxxxl {
  font-size: 58px;
}
@mixin font-size-xxxxxl {
  font-size: 74px;
  @include responsive-style(768px) {
    font-size: 40px;
  }
}
@mixin font-size-xxxxxxl {
  font-size: 84px;
  @include responsive-style(768px) {
    font-size: 45px;
  }
}
@mixin font-size-xxxxxxxl {
  font-size: 131px;
  @include responsive-style(768px) {
    font-size: 65px;
  }
}

/* title */

@mixin title-underline {
  text-decoration: underline wavy;
  text-decoration-color: $cl-title-underline;
}

/* line-height */

$lineheight-none: 1;
$lineheight-tight: 1.25;
$lineheight-normal: 1.5;
$lineheight-relaxed: 1.75;
