/* color */
$cl-lp-white: #fff;
$cl-lp-red: #fd6161;
$cl-lp-cvred: #f06b6b;
$cl-merit-yellow: #ffda71;
$cl-feature-yellow: #fffb96;
$cl-bg-eventlp: #fefbee; //イベントLP専用の背景
$cl-title-underline: #febcad;
$cl-navigation-glay: #d9d9d9;
$cl-events-time-glay: #f0f0f0;
$cl-bg-recommend: #f0edec;
$cl-bg-fv-details-list: #f4f4f4;