/* color */

$cl-lp-red: #fd6161;
$cl-lp-cvred: #f06b6b;
$cl-merit-yellow: #ffda71;
$cl-feature-yellow: #fffb96;
$cl-bg-eventlp: #fff8e0; //イベントLP専用の背景
$cl-title-underline: #febcad;
$cl-navigation-glay: #d9d9d9;
