
// セミナーデータ定義
- 
  var seminars = [
    {
      id: 'philosophy',
      className: 'philosophy',
      subtitle: '哲学(思考力)からアプローチする',
      pcnavititle: '正解のない時代の歩き方',
      title: '正解のない時代<br>の歩き方',
      titleShort: '正解のない<br>時代の歩き方',
      image: ImgSeminarPhilosophy,
      recommendation: '指示されたことはできるが、<b>「自分はどうしたいか」を打ち出すのが苦手</b>なお子さまへのアプローチのヒントが欲しい方',
      schedules: [
        '2/3(火) 12:00〜',
        '2/5(水) 20:30〜'
      ],
      description: 'AIが論理的な正解を瞬時に導き出す時代、AIに『どんな問題を解決させるのか』という人間ならではの意志が問われています。<br><br>本セミナーでは、お子さまが常識を鵜呑みにせず自ら問いを立て、物事の本質や新しい価値を定義する力を育むことで、正解のない未来を自分らしく歩むための重要性を考えます。',
      overlay: {
        show: false,
        largeText: '2026年3月実施予定',
        smallText: '募集開始までお待ちください'
      }
    },
    {
      id: 'science',
      className: 'science',
      subtitle: '科学リテラシーで紐解く',
      pcnavititle: '事実を見極め「納得解」を導く力',
      title: '事実を見極め<br />「納得解」を導く力',
      titleShort: '「納得解」を<br>導く力',
      image: ImgSeminarScience,
      recommendation: 'ネットやSNSの情報を鵜呑みにせず、<b>「客観的に物事を判断できる力」</b>を身につけてほしい、とそのきっかけが知りたい方',
      schedules: [
        '2/9(月) 12:00〜',
        '2/12(木) 20:30〜'
      ],
      description: '情報があふれ、AIが『もっともらしい嘘』も出力する時代、何が事実かを見極める力は不可欠です。<br>本セミナーでは、お子さまが主観や思い込みを排し、確かな根拠(エビデンス)に基づいて自分なりの『納得解』を導き出す大切さに触れ、不確かな社会を生き抜く確かな知性を養う重要性を考えます。',
      overlay: {
        show: false
      }
    },
    {
      id: 'economy',
      className: 'economy',
      subtitle: '経済(お金)で考える',
      pcnavititle: '社会の「仕組み」を解き明かす力',
      title: '社会の「仕組み」<br />を解き明かす力',
      titleShort: '社会の仕組み<br>を解き明かす',
      image: ImgSeminarEconomy,
      recommendation: 'どんな環境でも自ら「困りごと」を見つけ出し、<b>周りの人を笑顔にするような解決策(仕組み)を形にできる子</b>に育ってほしい、と糸口を探っている方',
      schedules: [
        '2/17(火) 12:00〜',
        '2/19(木) 20:30〜'
      ],
      description: 'AIが「効率的なやり方」を瞬時に提案してくれる時代、世の中の困りごとに気づき、新しい解決策を自ら生み出す力が必要とされます。本セミナーでは、お子さまが社会が動く仕組みを広い視野で丸ごと捉え、どんな環境でも価値を循環させる力を養う重要性を考えます。',
      overlay: {
        show: false,
        largeText: '準備中',
        smallText: 'Coming Soon'
      }
    }
    
  ]