

//- LINE URL
- var UrlEndpointAddFriend = 'https://endpoint.loycus.jp/landing-qr/2006716288-lL7QzGA3?ic=dHEDolYjtl&whc=173508808725235'
- var UrlLiffAddFriend = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=oxHIi'
- var UrlLiffForm = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_fc=wbpgwxt28'



//- 画像パス設定
- var paths = '../../../images/20_lp-parent-seminar-2026'
//- - var paths = 'https://waomirai.com/lp/assets/lpimages/20_lp-parent-seminar-2026';


//- 画像パス生成関数
-
  function img(filename) {
    return `${paths}/${filename}`;
  }


//-//////////////
//- ogp
//-//////////////

- var ImgOgp = img('ogp.png');


//-//////////////
//- タイトル・ロゴ
//-//////////////

- var ImgTitleTryLesson = img('title-try-lesson.svg');
- var ImgFvSubtile = img('fv-subtitle.svg');
- var ImgFv = img('fv-main.png');
- var ImgLogoFvPc = img('fv-logo-pc.svg');


//-//////////////
//- icon
//-//////////////

- var ImgIcnFamily = img('icn_family');

//-//////////////
//- seminar
//-//////////////

- var ImgSeminarPhilosophy= img('img-seminar-ph.png');
- var ImgSeminarScicence= img('img-seminar-sc.png');
- var ImgSeminarEconomy= img('img-seminar-ec.png');

//-//////////////
//- step
//-//////////////

- var ImgIcnStep01= img('icn_step01.svg');
- var ImgIcnStep02= img('icn_step02.svg');
- var ImgIcnStep03= img('icn_step03.svg');
- var ImgIcnStep04= img('icn_step04.svg');
- var ImgIcnStep05= img('icn_step05.svg');

//-//////////////
//- モーダル
//-/////////////

- var ImgIcnLine = img('icn_line');
- var ImgModalEvent= img('img_modal_event.png');


//-//////////////
//- セクション
//-/////////////

- var Img4subject = img('img_4subjects.svg');
