
- var MetaTitle = '【ワオ未来塾】AI時代を生き抜く子どもに本当に必要な学びとは｜保護者向け教育セミナー'


//- LINE URL
- var UrlEndpointAddFriend = 'https://endpoint.loycus.jp/landing-qr/2006716288-lL7QzGA3?ic=dHEDolYjtl&whc=173508808725235'
- var UrlLiffAddFriend = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=oxHIi'
- var UrlLiffForm = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_fc=wbpgwxt28'



//- 画像パス設定
- var paths = '../../../images/20_lp-parent-seminar-2026'
//- - var paths = 'https://waomirai.com/lp/assets/lpimages/20_lp-parent-seminar-2026';


//- 画像パス生成関数
-
  function img(filename) {
    return `${paths}/${filename}`;
  }


//-//////////////
//- ogp
//-//////////////

- var ImgOgp = img('ogp.png');


//-//////////////
//- タイトル・ロゴ
//-//////////////

- var ImgTitleTryLesson = img('title-try-lesson.svg');
- var ImgFvSubtile = img('fv-subtitle.svg');
- var ImgFv = img('fv-main.png');
- var ImgLogoFvPc = img('fv-logo-pc.svg');


//-//////////////
//- icon
//-//////////////

- var ImgIcnFamily = img('icn_family.svg');
- var ImgIcnCalender = img('icn_calender.svg');


//-//////////////
//- introduction 
//-//////////////

- var ImgIntro = img('img-intro.png');

//-//////////////
//- seminar
//-//////////////

- var ImgTeacher= img('img-teacher.png');
- var ImgSeminarPhilosophy= img('img-seminar-ph.png');
- var ImgSeminarScience= img('img-seminar-sc.png');
- var ImgSeminarEconomy= img('img-seminar-ec.png');

//-//////////////
//- step
//-//////////////

- var ImgIcnStep01= img('icn_step01.svg');
- var ImgIcnStep02= img('icn_step02.svg');
- var ImgIcnStep03= img('icn_step03.svg');
- var ImgIcnStep04= img('icn_step04.svg');
- var ImgIcnStep05= img('icn_step05.svg');

//-//////////////
//- モーダル
//-/////////////

- var ImgIcnLine = img('icn_line');
- var ImgModalEvent= img('img_modal_event.png');


//-//////////////
//- ワオ未来塾とは？のセクション
//-/////////////

- var ImgLogoWao = img('logo_wao.svg');
- var Img4subject = img('img_4subjects.svg');


// セミナーデータ定義
- 
  var seminars = [

    {
      id: 'science',
      className: 'science',
      subtitle: '科学リテラシーで紐解く',
      pcnavititle: '事実を見極め納得解を導く力',
      title: '事実を見極め<br />「納得解」を導く力',
      titleShort: '「納得解」を<br>導く力',
      image: ImgSeminarScience,
      recommendation: 'ネットやSNSの情報を鵜呑みにせず、<b>「客観的に物事を判断できる力」</b>を身につけてほしい、とそのきっかけが知りたい方',
      schedules: [
        '2/9(月) 12:00〜',
        '2/12(木) 20:30〜'
      ],
      description: '情報があふれ、AIが『もっともらしい嘘』も出力する時代、何が事実かを見極める力は不可欠です。<br>本セミナーでは、お子さまが主観や思い込みを排し、確かな根拠(エビデンス)に基づいて自分なりの『納得解』を導き出す大切さに触れ、不確かな社会を生き抜く確かな知性を養う重要性を考えます。',
      overlay: {
        show: false
      }
    },
    {
      id: 'economy',
      className: 'economy',
      subtitle: '経済(お金)で考える',
      pcnavititle: '社会の「仕組み」を解き明かす力',
      title: '社会の「仕組み」<br />を解き明かす力',
      titleShort: '社会の仕組み<br>を解き明かす',
      image: ImgSeminarEconomy,
      recommendation: 'どんな環境でも自ら「困りごと」を見つけ出し、<b>周りの人を笑顔にするような解決策(仕組み)を形にできる子</b>に育ってほしい、と糸口を探っている方',
      schedules: [
        '2/17(火) 12:00〜',
        '2/19(木) 20:30〜'
      ],
      description: 'AIが「効率的なやり方」を瞬時に提案してくれる時代、世の中の困りごとに気づき、新しい解決策を自ら生み出す力が必要とされます。本セミナーでは、お子さまが社会が動く仕組みを広い視野で丸ごと捉え、どんな環境でも価値を循環させる力を養う重要性を考えます。',
      overlay: {
        show: false,
        largeText: '準備中',
        smallText: 'Coming Soon'
      }
    },
    {
      id: 'philosophy',
      className: 'philosophy',
      subtitle: '哲学(思考力)からアプローチする',
      pcnavititle: '正解のない時代の歩き方',
      title: '正解のない時代<br>の歩き方',
      titleShort: '正解のない<br>時代の歩き方',
      image: ImgSeminarPhilosophy,
      recommendation: '指示されたことはできるが、<b>「自分はどうしたいか」を打ち出すのが苦手</b>なお子さまへのアプローチのヒントが欲しい方',
      schedules: [
        '2/3(火) 12:00〜',
        '2/5(水) 20:30〜'
      ],
      description: 'AIが論理的な正解を瞬時に導き出す時代、AIに『どんな問題を解決させるのか』という人間ならではの意志が問われています。<br><br>本セミナーでは、お子さまが常識を鵜呑みにせず自ら問いを立て、物事の本質や新しい価値を定義する力を育むことで、正解のない未来を自分らしく歩むための重要性を考えます。',
      overlay: {
        show: false,
        largeText: '2026年3月実施予定',
        smallText: '募集開始までお待ちください'
      }
    }
  ]