- 
 const courses = [
  {
    "category": "philosophy",
    "level": 1,
    "title": "自己紹介が好きになる魔法の言葉",
    "schedule": "<span>2025年</span>2月28日(金)／20:00～20:45\n<span>2025年</span>3月13日(木)／18:30～19:15\n<span>2025年</span>3月27日(木)／20:00～20:45",
    "description": "自己紹介が苦手なお子さまも、この講座で「自分の物語」を楽しく語れるようになります！プレゼンテーションや人前で話すスキルが自然に身につき、自信を持って成長できる一歩をお手伝いします。自分の個性を輝かせる楽しい時間を一緒に過ごしましょう。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level1_a.jpg"
  },
  {
    "category": "philosophy",
    "level": 1,
    "title": "アニメヒーロー強さの秘密",
    "schedule": "<span>2025年</span>3月20日(木)／18:30～19:15\n<span>2025年</span>4月3日(木)／20:00～20:45",
    "description": "人気アニメのヒーローたちが持つ「本当の強さ」とは？この講座では、みんなが知っているアニメの名シーンを通じて、子どもたちが自分らしい強さについて考えるきっかけを提供します。ヒーローの強さをとそのヒミツを一緒に体感しましょう。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level1_b.jpg"
  },
  {
    "category": "philosophy",
    "level": 2,
    "title": "友だちって何ですか？",
    "schedule": "<span>2025年</span>3月7日(金)／ 20:00～20:45\n<span>2025年</span>3月13日(木)／20:00～20:45\n<span>2025年</span>3月27日(木)／18:30～19:15",
    "description": "友だちとは何でしょう？哲学者たちも長い間この問いに向き合ってきました。この講座では、哲学者の考え方や身近なエピソードを取り入れながら、友情や人間関係の大切さを学ぶ内容です。心に残る「友だち」について、一緒に探求してみませんか？",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level2_a.jpg"
  },
  {
    "category": "philosophy",
    "level": 2,
    "title": "いじめをなくすただ一つの方法",
    "schedule": "<span>2025年</span>3月20日(木)／20:00～20:45\n<span>2025年</span>4月3日(木)／18:30～19:15",
    "description": "いじめはなぜ起きるのでしょう？そして、どうすればなくせるのでしょうか？この講座では、根深く解消されない「いじめ」をテーマに、人間関係や感情の仕組みをみんなで一緒に考えます。未来を変える第一歩を踏み出すきっかけにしましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level2_b.jpg"
  },
  {
    "category": "philosophy",
    "level": 3,
    "title": "学校の勉強は社会で役立つの？",
    "schedule": "<span>2025年</span>2月28日(金)／18:30～19:15\n<span>2025年</span>3月28日(金)／20:00～20:45",
    "description": "「勉強って本当に社会で役に立つの？」そんな疑問を一緒に考える講座です。歴史や数学、理科など学校で学ぶことが、どのように日常や仕事に生かされているのか、子どもたち自身が「学び」の意味を発見し、学ぶ意欲を高めるきっかけを提供します。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level3_a.jpg"
  },
  {
    "category": "philosophy",
    "level": 3,
    "title": "「常識」を疑うのって「非常識」？",
    "schedule": "<span>2025年</span>3月7日(金)／18:30～19:15\n<span>2025年</span>4月4日(金)／20:00～20:45",
    "description": "「常識」って何？それを疑うことは本当に「非常識」なのでしょうか？この講座では、常識や非常識の違いを楽しく考えながら、その基準がどのように生まれるのかを学びます。社会や文化、時代の流れによって変わる「当たり前」をテーマに、考える力を育むことができます。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level3_b.jpg"
  },
  {
    "category": "philosophy",
    "level": 4,
    "title": "自由意志は存在しないってホント？",
    "schedule": "<span>2025年</span>3月28日(金)／18:30～19:15",
    "description": "「自由意志」って本当にあるのでしょうか？哲学者や科学者たちは長年この問いについて議論を続けてきました。この講座では、自由意志とは何かを分かりやすく解説し、その存在をめぐる論争について一緒に考えます。哲学的な冒険に出かけましょう。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level4_a.jpg"
  },
  {
    "category": "philosophy",
    "level": 4,
    "title": "「具体と抽象」が生み出す価値",
    "schedule": "<span>2025年</span>4月4日(金)／18:30～19:15",
    "description": "「具体」と「抽象」の考え方を、ゲームやワークショップを通じて実践的に学ぼう！子どもたちは具体的な事例と抽象的な概念を行き来しながら、言いたいことが伝わらないもどかしさを解消する方法を学び、伝える力・理解する力を楽しく実践的に伸ばすことができます！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ph_level4_b.jpg"
  },
  {
    "category": "science",
    "level": 1,
    "title": "恐竜がいたらペットにできる ?",
    "schedule": "<span>2025年</span>2月26日(水)／18:30～19:15\n<span>2025年</span>3月12日(水)／20:00～20:45\n<span>2025年</span>3月25日(火)／20:00～20:45",
    "description": "恐竜の鳴き声や食べ物、生活環境など、参加者は、恐竜が本当にペットになったらどうなるのかな？最新の研究成果をもとに、恐竜の生態や行動、そして彼らが現代のペットとどう違うのかを楽しく学びます。恐竜の世界に飛び込んで、一緒に冒険しましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level1_a.jpg"
  },
  {
    "category": "science",
    "level": 1,
    "title": "10 万ボルトの強さはどのくらい ?",
    "schedule": "<span>2025年</span>3月5日(水)／18:30～19:15\n<span>2025年</span>3月19日(水)／20:00～20:45",
    "description": "10万ボルトの強さとはどのくらいなの？電気ウナギやナマズなど、発電する動物の驚くべき能力について楽しく理解を深めましょう。子どもたちは、科学の面白さを体験しながら、自分たちの身の回りに潜む電気の力を発見できます。さあ、一緒に電気の冒険に出発しましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level1_b.jpg"
  },
  {
    "category": "science",
    "level": 2,
    "title": "映画のように恐竜のクローンは作れるのか？",
    "schedule": "<span>2025年</span>2月26日(水)／20:00～20:45\n<span>2025年</span>3月12日(水)／18:30～19:15\n<span>2025年</span>4月1日(火)／20:00～20:45",
    "description": "科学の進歩によって、恐竜のDNAを復元することが可能なの？クローン技術とは何か、そしてそれが実際にどのように機能するのかをわかりやすく解説します。子どもたちの好奇心を刺激し、未来の科学者としての夢を育みます。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level2_a.jpg"
  },
  {
    "category": "science",
    "level": 2,
    "title": "「まぜるな危険」を混ぜてしまったらどうする ?",
    "schedule": "<span>2025年</span>3月5日(水)／20:00～20:45\n<span>2025年</span>3月19日(水)／18:30～19:15",
    "description": "「まぜるな危険」。実際に危険な化学反応が起こるとどうなるのか、そしてそれを防ぐためにはどのような注意が必要かを楽しく学びます。科学の面白さと危険性について知ることで、科学的な思考を深めることができます。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level2_b.jpg"
  },
  {
    "category": "science",
    "level": 3,
    "title": "暗黒物質とブラックホールの秘密にせまる",
    "schedule": "<span>2025年</span>3月14日(金)／18:30～19:15\n<span>2025年</span>3月25日(火)／18:30～19:15",
    "description": "宇宙には謎だらけ！宇宙の大部分を占める「暗黒物質」、重力の力で光さえも逃げられない「ブラックホール」。子どもたちと、宇宙の成り立ちやその不思議な現象について考え、未知なるものへの探求心を育てることができます。一緒に宇宙の神秘を楽しみましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level3_a.jpg"
  },
  {
    "category": "science",
    "level": 3,
    "title": "地球温暖化に気づいたのは日本人 ?",
    "schedule": "<span>2025年</span>3月21日(金)／18:30～19:15\n<span>2025年</span>4月1日(火)／18:30～19:15",
    "description": "実は、日本の科学者たちが早くから温暖化の兆候に気づいていたことをご存知ですか？この講座では、地球温暖化の歴史とその影響について学びます。未来の地球を守るために、今から何ができるかを学びましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level3_b.jpg"
  },
  {
    "category": "science",
    "level": 4,
    "title": "ニュートンの科学革命",
    "schedule": "<span>2025年</span>3月14日(金)／20:00～20:45",
    "description": "アイザック・ニュートンは、物体の動きや力の関係を明らかにし、現代科学の基礎を築きました。物体がどのように動くのか、力がどのように働くのか理解を深めながら、友達と一緒に科学の楽しさを感じ、未来の科学者としての好奇心を育てましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level4_a.jpg"
  },
  {
    "category": "science",
    "level": 4,
    "title": "毒と薬は紙一重 !?",
    "schedule": "<span>2025年</span>3月21日(金)／20:00～20:45",
    "description": "この講座では、科学リテラシーを基に「毒と薬」の関係を学びます。同じ物質でも量や使い方によって、薬にも毒にもなり得ることがあります。科学の視点から薬について考え、安全で効果的な使い方をマスターしましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/sc_level4_b.jpg"
  },
  {
    "category": "economy",
    "level": 1,
    "title": "お金ってなんで使えるの ?",
    "schedule": "<span>2025年</span>2月25日(火)／18:30～19:15\n<span>2025年</span>2月27日(木)／20:00～20:45\n<span>2025年</span>3月11日(火)／20:00～20:45",
    "description": "この講座は、「お金って何？」という基本的な疑問から、お金の本質を探ります。同じ紙でも一万円札とコピー用紙の価値は全く異なります。「お金になれるもの」と「お金になれないもの」のちがいは一体何なのか、経済の視点を持って考えていきましょう。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level1_a.jpg"
  },
  {
    "category": "economy",
    "level": 1,
    "title": "君の「お金」を広めてみよう!",
    "schedule": "<span>2025年</span>3月4日(火)／18:30～19:15\n<span>2025年</span>3月18日(火)／20:00～20:45",
    "description": "「お金になれるもの」を実際に「お金」として日本中に広めていくにはどうしたら良いでしょうか？普段、当たり前のように使っている「お金」に込められた様々な工夫を学び、授業の最後にはあなた自身の「お金」を広めるアイデアを考えます。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level1_b.jpg"
  },
  {
    "category": "economy",
    "level": 2,
    "title": "消費税ってなんであるの?",
    "schedule": "<span>2025年</span>2月25日(火)／20:00～20:45\n<span>2025年</span>3月6日(木)／20:00～20:45\n<span>2025年</span>3月11日(火)／18:30～19:15",
    "description": "私たちの生活に深く関わる税金。でも「義務だから払いましょう」では終わらないのがワオ未来塾の授業です。最も身近な税である消費税をテーマに、消費税はなぜ導入されたの？消費税は0%にならないの？等の素朴な疑問を通して、未来の納税者としての素養を養います。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level2_a.jpg"
  },
  {
    "category": "economy",
    "level": 2,
    "title": "理想の消費税を考えよう！",
    "schedule": "<span>2025年</span>3月4日(火)／20:00～20:45\n<span>2025年</span>3月18日(火)／18:30～19:15",
    "description": "この講座のテーマは、消費税の問題点です。消費税は私たちの日常生活に欠かせない存在ですが、消費税にも問題点はあります。授業を通して、消費税の問題点を学んだうえで、自分自身は消費税とどう向き合っていくかを考え始めましょう。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level2_b.jpg"
  },
  {
    "category": "economy",
    "level": 3,
    "title": "現代人にとってお金とは何か？",
    "schedule": "<span>2025年</span>2月27日(木)／18:30～19:15\n<span>2025年</span>3月26日(水)／18:30～19:15",
    "description": "お金は生活に欠かせないものですが、私たちはしばしばその影響に振り回されがちです。この講座では、日常生活の中でお金が持つ様々な役割を明らかにし、お金を通じて私たち現代人の行動を振り返ります。お金との上手な付き合い方を一緒に考えましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level3_a.jpg"
  },
  {
    "category": "economy",
    "level": 3,
    "title": "仮想通貨を推進する人たちの頭の中",
    "schedule": "<span>2025年</span>3月6日(木)／18:30～19:15\n<span>2025年</span>4月2日(水)／18:30～19:15",
    "description": "近年注目されているビットコインやイーサリアムなどの仮想通貨は、どのようにして生まれ、なぜ重要視されているのでしょうか？講座では、20世紀の経済学の進展を振り返りながら、仮想通貨がどのようにその流れを受け継いでいるのかを学びます。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level3_b.jpg"
  },
  {
    "category": "economy",
    "level": 4,
    "title": "投資とは何か？",
    "schedule": "<span>2025年</span>3月26日(水)／20:00～20:45",
    "description": "投資とは何か、なぜ人々が投資を行うのかを理解することは、将来の資産形成に役立つだけではなく、現代の社会を理解する上でとても重要です。「今だけ」「自分だけ」「お金だけ」という視点に陥らず、あなたらしい投資ができるように、幅広い知識と深い思考力を身に付けましょう！",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level4_a.jpg"
  },
  {
    "category": "economy",
    "level": 4,
    "title": "投機の良い面、悪い面",
    "schedule": "<span>2025年</span>4月2日(水)／20:00～20:45",
    "description": "ニュースでよく聞く投機という言葉。株式などで、働かずにお金を儲ける行為です。日本ではこれをいやしむ風潮がありますが、実はこの投機が世界の金融を成り立たせていると言っても過言ではないのです。この講座では、投機の良い面と悪い面に光を当て、日々の生活や社会問題との向き合い方を考えます。",
    "img": "https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/ec_level4_b.jpg"
  }
  ]