//imagePath
- var ImgLogo = 'https://waomirai.com/lp/assets/commonimages/logo.svg'
- var ImgSpFvText = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/txt_spfv.svg'
- var ImgFv01 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/fv_main.jpg'
- var ImgFv02 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/fv_eco.jpg' //経済
- var ImgFv03 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/fv_phi.jpg'
- var ImgFv04 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/fv_sci.jpg'
- var ImgFv05 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/fv_48.svg'
- var ImgBannerHoshimi = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/banner_hoshimi_event.jpg'

- var ImgFeature01 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/feature1.png'
- var ImgFeature02 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/feature2.png'
- var ImgFeature03 = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/feature3.png'
- var ImgStickyPerson = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/boy.svg'
- var ImgBgMarch = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/bg_lp_2025march.png'
- var ImgIconSubject =  'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/icn_subject.png'
- var ImgEnrtyLiffQR =  'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/2025marchqr.png'
- var ImgEnrtyLiffQRHoshimi =  'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/liffqr_hoshimi.png'
- var ImgModalMvCampaignEnd = 'https://waomirai.com/lp/assets/lpimages/08_event-lp-2025march/free_month.png'

//URLPath
- var UrlLineEventMarch = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=PT73'
- var UrlLineEventMarchHoshimi = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=vLnh'
- var UrlFormEventMarch = 'https://go.waomirai.com/l/1026513/2025-02-05/hdvzc'
- var UrlWaoServiceSite = 'https://waomirai.com/'
