- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=Anxb'

//- ページ固有部分の画像（basePathを使用）
- var paths = '../../../images/17_lp-family-2025nov';
- 
  function img(filename) {
    return `${paths}/${filename}`;
  }

//-//////////////
//- サムネイル画像
//-//////////////

- var ImgThumbEconomyKids = img('thumbnail-economy-kids.jpg');
- var ImgThumbEconomyTeens = img('thumbnail-economy-teens.jpg');
- var ImgThumbScienceKids = img('thumbnail-science-kids.jpg');
- var ImgThumbScienceTeens = img('thumbnail-science-teens.jpg');
- var ImgThumbPhilosophyKids = img('thumbnail-philosophy-kids.jpg');
- var ImgThumbPhilosophyTeens = img('thumbnail-philosophy-teens.jpg');



//-//////////////
//- アイコン
//-//////////////

- var ImgIconClock = img('icn-clock.svg');

//-//////////////
//- イラスト
//-//////////////

- var ImgIllustNaruhodo = img('illust-naruhodo.svg');
- var ImgIllustFv01FamilyNormal = img('fv-illust-01-family-normal.svg');
- var ImgIllustFv02FamilyStand = img('fv-illust-02-family-stand.svg');
- var ImgIllustFv03Online = img('fv-illust-03-online.svg');
- var ImgIllustFv04Question = img('fv-illust-04-question.svg');
- var ImgIllustFv05Book = img('fv-illust-05-book.svg');
- var ImgIllustFv06Bank = img('fv-illust-06-bank.svg');


//-//////////////
//- タイトル・ロゴ
//-//////////////

- var ImgTitleTryLesson = img('title-try-lesson.svg');
- var ImgLogoFvSp = img('fv-logo-sp.svg');
- var ImgLogoFvPc = img('fv-logo-pc.svg');