
.
    <!DOCTYPE html>
    <html lang="jp">
    <head>
    <title>グローバル英語の受講方法</title>
    <link href="https://waomirai.com/lp/howto-signup-english/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W3X8CG9C');
    </script>
    </head>
    <body>
        <header> <img src="https://waomirai.com/lp/assets/commonimages/logo.svg"></header>
        <div class="waomirai-wrapper">
            <h1>グローバル英語の受講方法</h1>
            <div class="waomirai-wrapper-content">
                <p>グローバル英語のレッスンを受講するには以下の手続きが必要です。</p>

    <h2>❶会員登録をする</h2>

    <p>以下のページにアクセスして「全ての項目」をフォームに入力します。その後、登録したメールで会員登録メールに届くので記載のリンクをクリックして会員登録完了です。</p>

    <div class="btn-waoorange"><a href="https://lms.waomirai.com/login/signup.php/?tenant=lmswaomirai" target="_blank">会員登録のページへ</a></div>

    <p class="waomirai-wrapper-content-note">※登録完了メールが見当たらない場合は、一度迷惑メールフォルダをご確認いただきますようお願い申し上げます。</p>

    <p>&nbsp;</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_payment_001.png" /></div>

    <p>&nbsp;</p>

    <h2>❷グローバル英語のページへ</h2>

    <p><br />
    受講カレンダーのページからグローバル英語をクリック</p>

    <p>&nbsp;</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_eng_jan2502_02.png" /></div>

    <h2>❸カードを登録</h2>

    <p>「今すぐ無料トライアル」をクリック</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_payment_004.png" /></div>

    <p>&nbsp;</p>

    <p>「Stripe(カード支払い)」を選択して「進む」をクリック</p>

    <p>&nbsp;</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_payment_005.png" /></div>

    <p>&nbsp;</p>

    <p>カード情報を設定します</p>

    <p>&nbsp;</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_payment_006.png" /></div>

    <h2>❹受講レベルを選択</h2>

    <p>登録後、ヘッダーのマイページ&rarr;登録情報の変更をクリック</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_eng_jan2501_02.png" /></div>

    <p>&nbsp;</p>

    <p>下にスクロールして英語レベル選択部分では改めて「Level1」を必ず選択のうえお進みください</p>

    <p>&nbsp;</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/howto_eng_jan2501_03.png" /></div>

    <p>&nbsp;</p>

    <p>その後、ヘッダーの「受講カレンダー」のページに授業の予定が表示されるのでそこから授業ページにアクセスができます</p>

    <p>&nbsp;</p>

    <div><img src="https://waomirai.com/lp/howto-signup-english/images/img_calender.png" /></div>

    <p>・予習復習用のレッスン動画<br />
    ・ライブレッスンZOOMのURL<br />
    ・ライブレッスンの録画アーカイブ<br />
    ・ライブレッスンのスケジュール<br />
    をご確認いただけます。</p>

    </div>
        </div>
    </body>

    </html>