include _mixin-lp-english.pug
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
.fixed-button(style='display:none;')
  a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
#desktopLayouts
  +header
  case version
    when "a"
      section#fv-top-pc
        .fv-left
          div
            img(src="https://storage.pardot.com/1026513/17248937372378SnIT/txt_mv_fv.png")
          .fv-left-button
            a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
              button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
          div
            svg#svg-top(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 100 100", preserveAspectRatio="none")
              path(d="M0,100 L0,0 70,0 Z", fill="#FFE841")
        .fv-right 
          img(src="https://go.waomirai.com/l/1026513/2024-08-29/h2bvr/1026513/1724907041HIUivp1l/img_right_mv.png")
    when "b"
      section#fv-top-pc-b
        .fv-pc-b 
           img(src='https://go.waomirai.com/l/1026513/2024-08-29/h2c8c/1026513/1724914643B0gr22Rk/fv_pc_b.png')
  +intro-queestion 
  section#introduction.relative
    .girl
      .rhombus.purpleB(style="top: 30%; left: -5%;")
        p.fs-xs.fw-300(style="width: 197px;") What･･･do you ･･･????　えっ？と考えていくと3秒以内に言うのは、なかなか難しい。
        .slash
          div
          div
    h3.mincho.fw-500.fs-m.m0a.textCenter.z2.relative(style="margin-top: 32px;") 英語で即答できない理由のひとつは文法脳
    p.gothic.fw-300.fs-xxs.m0a.w-672.mt-40(style="margin-bottom: 47px;") 疑問文だからまずWhatがきて…先頭は大文字で…のように、文法から考えてしまいがちです。でも残念ながら、それではテストでは得点できても、英語は話せるようにならないし、聞けるようにはなりません。
    .slash
      div
      div
  section#solution.relative
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
    h3.mincho.fw-500.fs-m.textCenter(style="margin-top: 48px;") それを解決する英会話学習法が
      br
      | “グローバル英語講座”！
    div(style="padding:56.25% 0 0 0;position:relative;")
      iframe(src="https://player.vimeo.com/video/930561537?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479", frameborder="0", allow="autoplay; fullscreen; picture-in-picture; clipboard-write", style="position:absolute;top:0;left:0;width:100%;height:100%;", title="3分でわかる！新感覚英会話レッスン ワオ未来塾 グローバル英語")
    script(src="https://player.vimeo.com/api/player.js")
    .flex.mt-40.mb-60
      .left.z2.relative(style="text-wrap: nowrap; margin-left: 55.21px;")
        p.mincho.fw-500.fs-m.purpleT.textCenter(style="margin-top: 32px;") 口で覚える！
        p.mincho.fw-500.fs-m.purpleT.textCenter 体で覚える！
        p.mincho.fw-500.fs-m.textCenter(style="margin-top: 57px; z-index: 2; position: relative;") 3つのスキル習得と
          br
          | 日々の自主レッスンで、
          br
          | 真に「話せる英語」を
          br
          | 身につける！
        .slash
          div
          div
      .right.absolute(style="right: 0;")
        img(src="https://go.waomirai.com/english/image/girl2", width="512px")
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
    .flex.skills(style="margin-top:140px;")
      .skill.rotate340.flex
        .square.purpleB(style="display: flex; align-items: end; justify-content: end;")
          p(class="whiteT skillNum noto-sans_cjk fs-xs fw-900") Skill.1
        img(src="https://go.waomirai.com/english/image/presentationSkill", width="335.81px", height="335.81px")
      .skillText.relative
        h3(class="noto-sans_cjk fs-s fw-900", style="margin-bottom: 16px;") プレゼンスキル
        p.gothic.fw-300.fs-xxs.maingrayT 自分の意見を持って、それを英語で表現できることを目指します。コミュニケーションの基本となるスキルを磨きましょう。
        .slash
          div
          div
    .flex.skills
      .skill.rotate340.flex
        .square.purpleB(style="display: flex; align-items: end; justify-content: end;")
          p(class="whiteT skillNum noto-sans_cjk fs-xs fw-900") Skill.2
        img(src="https://go.waomirai.com/english/image/interviewSkill", width="335.81px", height="335.81px")
      .skillText.relative
        h3(class="noto-sans_cjk fs-s fw-900", style="margin-bottom: 16px;") インタビュースキル
        p.gothic.fw-300.fs-xxs.maingrayT 相手の言いたいことを英語で聞き出し、理解することを目指します。相手の意見を誤解なくきちんと受け入れるスキルを磨きましょう。
        .slash
          div
          div
    .flex.skills
      .skill.rotate340.flex
        .square.purpleB(style="display: flex; align-items: end; justify-content: end;")
          p(class="whiteT skillNum noto-sans_cjk fs-xs fw-900") Skill.3
        img(src="https://go.waomirai.com/english/image/reportSkill", width="335.81px", height="335.81px")
      .skillText.relative
        h3(class="noto-sans_cjk fs-s fw-900", style="margin-bottom: 16px;") レポートスキル
        p.gothic.fw-300.fs-xxs.maingrayT 英語で情報を集めて、整理して他の人に伝えられることを目指します。自分のことでなくても理解して、周りの人に伝えられるスキルを磨きましょう。
    .flex.skills.tenmins(style="margin-bottom: 54px; margin-top: 50px; width: 100%;")
      .left.flex.rotate340
        .trainingSquare
        .trainingSquare.purpleB
        .trainingSquare.purpleB
        .trainingSquare.purpleB
        .trainingSquare.purpleB
        .trainingSquare
        p(class="noto-sans_cjk fw-900 fs-xs purpleT textCenter w-100p") Training
      .skillText.relative
        h3(class="noto-sans_cjk fs-s fw-900") 毎日10分を日課に！
        p.gothic.fw-300.fs-xxs.maingrayT(style="width: 512px;") 毎日10分間の動画自主トレーニングを通じて、学習成果を強化します。継続的な努力によって、”英語の口”を定着させて、自信をつけていきましょう！
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
    .flex(style="margin: auto 77px; margin-top: 63.99px; margin-bottom: 64.01px;")
      img(src="https://go.waomirai.com/english/image/letstalk", width="435.73px", height="250.54px", style="margin-right: 34.27px;")
      img(src="https://go.waomirai.com/english/image/englishfamily", width="435.73px", height="250.54px")
  section#interview.relative
    h3.mincho.fs-s.fw-500.purpleT.textCenter.mb-40 体験授業の参加者から
      br
      | 感動の声が続々と届いています
    .interviews.m0a
      p.maingrayT.gothic.fs-xxs ●とてもわかりやすく、楽しかったです！
      p.maingrayT.gothic.fs-xxs ●小4小2の子供たちと一緒に家族で参加しましたが、衝撃的に面白く楽しい時間でした！なるほど！と納得できることばかりでした。子供たちがこれからも楽しく英語を勉強できるよう意識して環境を作ってみたいと思います。本当にありがとうございました！
      p.maingrayT.gothic.fs-xxs ●「わるゆわないっふぉ-------」ラップのように何度も繰り返している子供たちです。今でも笑。
      p.maingrayT.gothic.fs-xxs ●とてもわかりやすく、端的に必要なことをテンポよく、教えていただけたセミナーだったと思います。
      p.maingrayT.gothic.fs-xxs ●とてもテンポがよく、英語が苦手な日本人のママパパにも英語のハードルが下がって楽しい内容でした。
      p.maingrayT.gothic.fs-xxs ●ハッとさせられることが多々あり、英会話学習に対する意識が変わりました。
      p.maingrayT.gothic.fs-xxs ●おうち英語をずっとやっているので、何かもっと楽しく取り組めるヒントがあればと思い参加しました。
      p.maingrayT.gothic.fs-xxs ●子どもにはもちろんだけど、自分が習いたい！と思うほど、素敵なセミナーでした。 ありがとうございました！
  section
    +schedule
    .relative
      a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
        button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
  section#teacher.relative
    .slash
      div
      div
    .slash
      div
      div
    .slash
      div
      div
    .slash
      div
      div
    h3.fs-m.textCenter.fw-500.mincho.mb-40 わるゆわないっふぉ･･･？？？
    .flex
      .gothic.fw-300.maingrayT.fs-xxs.introduce
        p(style="margin-bottom: 26px;") 一見意味のわからないひらがなが並んでいますが、これが「今晩、何食べる？」という質問への答えの冒頭です。続きが全然思い浮かばない、これかな？と悩んでいるあなた…。
        p(style="margin-bottom: 28px;") 続きはワオ未来塾の「グローバル英語」講座でお楽しみください！
        p 英語・日本語ともネイティブの講師が、みなさんの英語スキルを格段に引き上げます。
      div
        img(src="https://go.waomirai.com/english/image/lyan", width="376px", height="261px")
    h3.fs-m.textCenter.fw-500.mincho.relative.z2(style="margin-top: 66px;") 費用は月々の定額制。
      br
      | 安心して学習を続けることができます。
    div(class="flex table noto-sans_cjk fw-900 fs-xs relative z2")
      div 入会金
      div 不要
      div 6,600円（税込）/月額
      //- p(style='margin:10px 0 0; font-size:14px; display:block; width:100%; text-align:center;')
      //-  |※入会当月の授業は無料で受講可能です。
    .relative
      a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
        button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
  section
    #cv-pc
    +formcv
  footer
    a(href="https://waomirai.com/", target="_blank")
      img(src="https://go.waomirai.com/logo/waomirai/basicclear", width="416.15px", height="47.05px")
    div(class="footerMenu flex fot-ud_kakugoL fw-900 fs-xxs")
      a(href="https://www.wao-corp.com/", target="_blank") 会社概要
      a(href="https://www.wao-corp.com/kojin/", target="_blank") プライバシーポリシー
      a(href="https://go.waomirai.com/shotororihiki", target="_blank") 特定商取引に基づく表記
    .SNS.flex
      a(href="https://twitter.com/waomiraijuku/status/1719194987114414182", target="_blank")
        i.fa-brands.fa-square-x-twitter
      a(href="https://www.youtube.com/@waomiraijuku_Team", target="_blank")
        i.fa-brands.fa-youtube
      a(href="https://www.tiktok.com/@waomiraijuku?_t=8n9d72QKsk5&_r=1", target="_blank")
        i.fa-brands.fa-tiktok
    a(href="https://www.wao-corp.com/", target="_blank")
      img(src="https://go.waomirai.com/logo/wao/yokobasic", width="512.41px", height="132.01px")
#mobileLayouts
  +header
  section#fv-top-sp
    div
      img(src="https://storage.pardot.com/1026513/1724901114nPt6OfH5/fv_sp.png")
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
  +intro-queestion 
  section#introduction.relative
    .girl.relative
      .triangle.triangleLeft.absolute(style="top: 30%;")
        p.fs-xxs.fw-300.absolute.whiteT(style="width: 169px; top: 50%; left: calc(-232.1px / 2); transform: translate(-50%, -50%);") What･･･do you ･･･????　えっ？と考えていくと3秒以内に言うのは、なかなか難しい。
        .slash
          div
          div
    h3.mincho.fw-500.fs-m.m0a.textCenter.z2.relative(style="margin-top: 32px;") 英語で即答できない
      br
      | 理由のひとつは文法脳
    p.gothic.fw-300.fs-xxs.m0a.mt-40(style="margin-bottom: 47px; width: 342px;") 疑問文だからまずWhatがきて…先頭は大文字で…のように、文法から考えてしまいがちです。でも残念ながら、それではテストでは得点できても、英語は話せるようにならないし、聞けるようにはなりません。
  section#solution.relative
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
    h3.mincho.fw-500.fs-m.textCenter(style="margin-top: 48px;") それを解決する
      br
      | 英会話学習法が
      br
      | “グローバル英語講座”！
    div(style="padding:56.25% 0 0 0;position:relative;")
      iframe(src="https://player.vimeo.com/video/930561537?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479", frameborder="0", allow="autoplay; fullscreen; picture-in-picture; clipboard-write", style="position:absolute;top:0;left:0;width:100%;height:100%;", title="3分でわかる！新感覚英会話レッスン ワオ未来塾 グローバル英語")
    script(src="https://player.vimeo.com/api/player.js")
    .mt-40.mb-60
      .right
        img(src="https://go.waomirai.com/english/image/girl2", width="100%")
      .left.z2.relative(style="text-wrap: nowrap;")
        p.mincho.fw-500.fs-m.purpleT.textCenter(style="margin-top: 32px;") 口で覚える！
        p.mincho.fw-500.fs-m.purpleT.textCenter 体で覚える！
        .slash
          div
          div
        p.mincho.fw-500.fs-m.textCenter(style="margin-top: 57px; z-index: 2; position: relative;") 3つのスキル習得と
          br
          | 日々の自主レッスンで、
          br
          | 真に「話せる英語」を
          br
          | 身につける！
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
    .skills.relative
      .flex.skill
        div
          .triangle.relative(style="z-index: 3;")
            p(class="absolute rotate340 whiteT noto-sans_cjk fw-900 fs-xs", style="left: -90px; bottom: -10px;") Skill.1
            img.rotate340.absolute(src="https://go.waomirai.com/english/image/presentationSkill", width="120px", height="120px", style="z-index: 4; top: 20px; left: -130px;")
        div(style="margin-bottom: -50px;")
          h3(class="noto-sans_cjk fw-900 fs-s", style="margin-bottom: 16px;") プレゼンスキル
          p.fs-xxs 自分の意見を持って、それを英語で表現できることを目指します。コミュニケーションの基本となるスキルを磨きましょう。
      .flex.skill
        div
          .triangle.relative(style="z-index: 2; top: -100px;")
            p(class="absolute rotate340 whiteT noto-sans_cjk fw-900 fs-xs", style="left: -90px; bottom: -10px;") Skill.2
            img.rotate340.absolute(src="https://go.waomirai.com/english/image/interviewSkill", width="120px", height="120px", style="z-index: 4; top: 20px; left: -130px;")
        div(style="margin-bottom: 50px;")
          h3(class="noto-sans_cjk fw-900 fs-s", style="margin-bottom: 16px;") インタビュースキル
          p.fs-xxs 相手の言いたいことを英語で聞き出し、理解することを目指します。相手の意見を誤解なくきちんと受け入れるスキルを磨きましょう。
      .flex.skill
        div
          .triangle.relative(style="z-index: 1; top: -200px;")
            p(class="absolute rotate340 whiteT noto-sans_cjk fw-900 fs-xs", style="left: -90px; bottom: -10px;") Skill.3
            img.rotate340.absolute(src="https://go.waomirai.com/english/image/reportSkill", width="120px", height="120px", style="z-index: 4; top: 20px; left: -130px;")
        div(style="margin-bottom: 150px;")
          h3(class="noto-sans_cjk fw-900 fs-s", style="margin-bottom: 16px;") レポートスキル
          p.fs-xxs 相手の言いたいことを英語で聞き出し、理解することを目指します。相手の意見を誤解なくきちんと受け入れるスキルを磨きましょう。
      .flex.skills.tenmins(style="margin-bottom: -120px; margin-top: 50px; width: 100%;")
        .left.flex.rotate340.relative(style="top: -140px; left: -20px;")
          .trainingSquare.purpleB
          .trainingSquare.purpleB
          .trainingSquare.purpleB
          .trainingSquare
          p(class="noto-sans_cjk fw-900 fs-xs purpleT textCenter w-100p") Training
        .skillText.relative(style="top:-150px;")
          h3(class="noto-sans_cjk fs-s fw-900") 毎日10分を日課に！
          p.gothic.fw-300.fs-xxs.maingrayT(style="width: 255px;") 毎日10分間の動画自主トレーニングを通じて、学習成果を強化します。継続的な努力によって、”英語の口”を定着させて、自信をつけていきましょう！
    a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn(style="margin-bottom: 63.97px;") 無料体験授業はこちら！
    .w-fc.m0a.mb-40
      img.mb-40(src="https://go.waomirai.com/english/image/letstalk", width="100%")
      img(src="https://go.waomirai.com/english/image/englishfamily", width="100%")
  section#interview.relative
    h3.mincho.fs-s.fw-500.purpleT.textCenter.mb-40 体験授業の参加者から
      br
      | 感動の声が続々と
      br
      | 届いています
    .interviews.m0a.w-100-48
      p.maingrayT.gothic.fs-xxs ●とてもわかりやすく、楽しかったです！
      p.maingrayT.gothic.fs-xxs ●小4小2の子供たちと一緒に家族で参加しましたが、衝撃的に面白く楽しい時間でした！なるほど！と納得できることばかりでした。子供たちがこれからも楽しく英語を勉強できるよう意識して環境を作ってみたいと思います。本当にありがとうございました！
      p.maingrayT.gothic.fs-xxs ●「わるゆわないっふぉ-------」ラップのように何度も繰り返している子供たちです。今でも笑。
      p.maingrayT.gothic.fs-xxs ●とてもわかりやすく、端的に必要なことをテンポよく、教えていただけたセミナーだったと思います。
      p.maingrayT.gothic.fs-xxs ●とてもテンポがよく、英語が苦手な日本人のママパパにも英語のハードルが下がって楽しい内容でした。
      p.maingrayT.gothic.fs-xxs ●ハッとさせられることが多々あり、英会話学習に対する意識が変わりました。
      p.maingrayT.gothic.fs-xxs ●おうち英語をずっとやっているので、何かもっと楽しく取り組めるヒントがあればと思い参加しました。
      p.maingrayT.gothic.fs-xxs ●子どもにはもちろんだけど、自分が習いたい！と思うほど、素敵なセミナーでした。 ありがとうございました！
    .relative(style='margin:30px auto 0;')
      a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
        button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
  section
    +schedule
  section#teacher.relative
    .slash
      div
      div
    .slash
      div
      div
    .slash
      div
      div
    .slash
      div
      div
    h3.fs-m.textCenter.fw-500.mincho.mb-40 わるゆわないっふぉ･･･
    .gothic.fw-300.maingrayT.fs-xxs.w-100-48.m0a.relative.z2
      p(style="margin-bottom: 26px;") 一見意味のわからないひらがなが並んでいますが、これが「今晩、何食べる？」という質問への答えの冒頭です。続きが全然思い浮かばない、これかな？と悩んでいるあなた…。
      p(style="margin-bottom: 22px;") 続きはワオ未来塾の「グローバル英語」講座でお楽しみください！
      img(src="https://go.waomirai.com/english/image/lyan", width="341px", height="237px")
      p(style="margin-top: 25px;") 英語・日本語ともネイティブの講師が、みなさんの英語スキルを格段に引き上げます。
    h3.fs-m.textCenter.fw-500.mincho.relative.z2(style="margin-top: 48px; margin-bottom: 32px;") 費用は月々の定額制。
      br
      | 安心して学習を続けることができます。
    div(class="flex table noto-sans_cjk fw-900 fs-xs relative z2")
      div 入会金
      div 不要
      div 6,600円（税込）/月額
      //- p(style='margin:10px 0 0; font-size:14px; display:block; width:100%; text-align:center;')
      //-  |※入会当月の授業は無料で受講可能です。
    .relative
      a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank', style="position: absolute; top: -31px; left: 50%; transform: translateX(-50%);")
        button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
  section
    #form-sp
    +formcv
  footer
    a(href="https://waomirai.com/", target="_blank")
      img.m0a(src="https://go.waomirai.com/logo/waomirai/basicclear", width="340px", height="38.44px", style="margin-bottom: 30.56px;")
    div(class="footerMenu flex fot-ud_kakugoL fw-900 fs-xxs textCenter")
      a(href="https://www.wao-corp.com", target="_blank") 会社概要
      a(href="https://www.wao-corp.com/kojin", target="_blank") プライバシーポリシー
      a(href="https://go.waomirai.com/shotororihiki", target="_blank") 特定商取引に基づく表記
    .SNS.flex
      a(href="https://twitter.com/waomiraijuku/status/1719194987114414182", target="_blank")
        i.fa-brands.fa-square-x-twitter
      a(href="https://www.youtube.com/@waomiraijuku_Team", target="_blank")
        i.fa-brands.fa-youtube
      a(href="https://www.tiktok.com/@waomiraijuku?_t=8n9d72QKsk5&_r=1", target="_blank")
        i.fa-brands.fa-tiktok
    a(href="https://www.wao-corp.com", target="_blank")
      img(src="https://go.waomirai.com/logo/wao/yokobasic", width="328.85px", height="84.72px")
  script.
      $(function () {
              var pagetop = $('.fixed-button'); // 要素のキャッシュ
              $(window).on('scroll', function () {
                  if ($(this).scrollTop() > 250) {
                    pagetop.fadeIn();
                  } else {
                    pagetop.fadeOut();
                  }
              });
            });