// マージン変数
%blocks-margin {
  width: calc(100% - 30px);
}

// リンク全体
a{
  transition: 0.2s ease-in-out;
  &:hover{
    opacity: 0.7;
  }
}

// ヘッダー
header{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img{
  width: 180px;
  height: auto;
}

// FV
.p-fv{
  position: relative;
  background: $cl-main;
  img{
    width: 100%;
    height: auto;
  }
}
.p-fv__text{
  width: 230px;
  position: absolute;
  top: 10px;
  left: calc(50% - 105px);
}
.p-fv__title{
  width: 86.667vw;
  position: absolute;
  top: 46.5vw;
  left: 4.534vw;
}
.p-fv__details{
  width: $wrapper-sp;
  margin: 31.734vw auto 0;
  font-size: var(--fs-l);
  line-height: var(--lh-m);
  color: $cl-white;
}
.p-fv__details + .p-fv__details{
  margin-top: calc(var(--fs-m) * var(--lh-m));
}
.p-fv__decoration{
  width: 142px;
  position: absolute;
  top: 154vw;
  left: 6.5%;
}
@include min-responsive-style($breakpoint-sp) {
  .p-fv{
    width: $widewidth;
    margin: 0 auto;
  }
  .p-fv__text{
    width: 415px;
    top: 80px;
    left: 110px;
  }
  .p-fv__title{
    width: 888px;
    top: 410px;
    left: 60px;
  }
  .p-fv__details{
    width: $maincontentWidth;
    margin-top: 150px;
  }
  .p-fv__decoration{
    top: 650px;
    left: 800px;
  }
}

// 今回のテーマ
.p-theme{
  background: $cl-main;
  padding-top: 45px;
  overflow: hidden;
}
.p-theme__wrapper{
  width: $wrapper-sp;
  margin: 0 auto;
}
.p-theme__main{
  position: relative;
}
.p-theme__main-head{
  color: $cl-white;
  font-size: var(--fs-m);
  text-align: center;
}
.p-theme__main-decoration{
  width: 56px;
  position: absolute;
  top: -30px;
  left: calc(50% + 85px);
}
.p-theme__main-title{
  width: 104%;
  margin-top: 17px;
}
.p-theme__main-text01,
.p-theme__main-text02{
  color: $cl-white;
  font-size: var(--fs-3l);
  text-align: center;
  letter-spacing: 0.5px;
}
.p-theme__main-text01{
  margin-top: 7px;
}
.p-theme__main-text01-num{
  color: $cl-white;
  font-size: var(--fs-4l);
  margin: 0 4px;
}
.p-theme__details-border{
  color: $cl-white;
  font-size: var(--fs-2l);
  text-align: center;
  margin-top: 7px;
}
.p-theme__details-title{
  color: $cl-white;
  font-size: var(--fs-3l);
  text-align: center;
  margin-top: 20px;
  line-height: var(--lh-m);
}
.p-theme__details-title-point{
  color: $cl-white;
  font-size: var(--fs-4l);
}
.p-theme__details-text01,
.p-theme__details-text03{
  color: $cl-white;
  font-size: var(--fs-m);
  line-height: var(--lh-m);
  margin-top: 16px;
}
.p-theme__details-text02{
  width: 110vw;
  margin-left: -9vw;
}
.p-theme__details-text03{
  margin-top: 21px;
}
@include min-responsive-style($breakpoint-sp) {
  .p-theme{
    width: $widewidth;
    margin: 0 auto;
    padding-top: 62px;
  }
  .p-theme__wrapper{
    width: 934px;
    display: flex;
    justify-content: space-between;
  }
  .p-theme__main,
  .p-theme__details{
    width: 452px;
  }
  .p-theme__main-title{
    margin-top: 45px;
    width: 104.21%;
  }
  .p-theme__main-text01{
    margin-top: 22px;
  }
  .p-theme__main-text01-num{
    margin: 0 2px;
  }
  .p-theme__main-text02{
    margin-top: 7px;
  }
  .p-theme__details-border{
    margin-top: -15px;
    .p-theme__details-border-pc{
      color: $cl-white;
    }
  }
  .p-theme__details-text01,
  .p-theme__details-text03{
    width: 402px;
    margin: 10px auto 0;
  }
  .p-theme__details-text02{
    width: 409px !important;
    width: 100%;
    margin: 22px auto 0;
  }
  .p-theme__details-text03{
    margin-top: 20px;
  }
}

// 講師・対象・会場・参加費
.p-guide{
  background: $cl-main;
  padding-bottom: 50px;
}
.p-guide__wrapper{
  width: $wrapper-sp;
  margin: 0 auto;
}
.p-guide__border{
  text-align: center;
  font-size: var(--fs-2l);
  text-align: center;
  color: $cl-white;
  padding-top: 35px;
}
.p-guide__border-pc{
  color: $cl-white;
}
.p-guide__left,
.p-guide__right{
  margin-top: 20px;
}
.p-guide__list-item{
  display: flex;
  align-items: center;
}
.p-guide__list-item:nth-child(n+2){
  margin-top: 15px;
}
.p-guide__list-item--place{
  align-items: flex-start;
  margin-bottom: -7px;
}
.p-guide__list-title{
  width: 87px;
  height: 29px;
  background: $cl-white;
  font-size: var(--fs-m);
  line-height: var(--lh-m);
  padding-top: 4px;
  text-align: center;
  border-radius: 15px;
  color: $cl-main;
  flex-shrink: 0;
}
.p-guide__list-text{
  font-size: var(--fs-2l);
  line-height: var(--lh-s);
  margin-left: 15px;
  color: $cl-white;
}
.p-guide__list-kana{
  font-size: var(--fs-s);
  color: $cl-white;
  padding-top: 2px;
}
.p-guide__teacher{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 20px 0 0;
}
.p-guide__teacher-wrapper{
  flex-shrink: 0;
}
.p-guide__teacher-title{
  font-size: var(--fs-s);
  color: $cl-white;
}
.p-guide__teacher-text{
  font-size: var(--fs-m);
  color: $cl-white;
  margin-top: 16px;
  font-weight: bold;
}
.p-guide__teacher-image{
  width: 40.534vw;
}
@include min-responsive-style($breakpoint-sp) {
  .p-guide{
    width: $widewidth;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .p-guide__wrapper{
    width: 824px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .p-guide__left{
    width: 437px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .p-guide__right{
    width: 340px;
  }
  .p-guide__teacher{
    padding-right: 0;
  }
  .p-guide__teacher-wrapper{
    padding-right: 20px;
  }
  .p-guide__teacher-image{
    width: 152px;
  }
  .p-guide__teacher-text{
    margin-top: 12px;
  }
}

// 今すぐ申し込む
.p-cta__button{
  width: 314px;
  height: 60px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $cl-btn-cta;
  color: $cl-white;
  font-size: var(--fs-4l);
  margin: 0 auto;
  border-radius: 30px;
  margin-top: 60px;
}

// 5step〜よくある質問のタイトル
%underbar-title {
  font-size: var(--fs-4l);
  letter-spacing: 2.5px;
  text-align: center;
  font-weight: 300;
  margin: 0 0 var(--mb-underbar-title);
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: $cl-waogreen;
    margin: var(--mt-title-border) auto 0;
  }
}

// かんたん5STEPで参加可能
.join-5steps {
  background: $cl-graylightest;
  padding: var(--m-section) 0;
  .join-5steps-title {
    @extend %underbar-title;
  }
  .join-5steps-box {
    @extend %blocks-margin;
    background: $cl-white;
    margin: 0 auto 30px;
    padding: 25px 0;
    border-radius: var(--br-m);
    &:last-child {
      margin: 0 auto 0px !important;
    }
    .join-5steps-box-head {
      display: flex;
      margin: 0 auto 20px;
      > div {
        flex: 1;
      }
      .join-5steps-box-head-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: var(--lh-s);
        position: relative;
        font-size: var(--fs-l);
        &::before {
          content: "";
          display: block;
          width: 1px;
          height: 45px;
          background: $cl-graylight;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          margin: auto;
        }
        span {
          display: block;
          font-size: 40px;
        }
      }
      .join-5steps-box-head-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 60px;
        }
      }
    }
    .join-5steps-box-title {
      font-weight: bold;
      font-size: var(--fs-l);
      text-align: center;
      letter-spacing: 1.5px;
    }
    .join-5steps-box-text {
      text-align: left;
      font-weight: normal;
      width: calc(100% - 40px);
      margin: 20px auto 0;
      font-size: var(--fs-m);
      line-height: var(--lh-l);
      a {
        text-decoration: underline;
        color: $cl-black;
        cursor: pointer;
      }
    }
    .eng-phase-main-section-5steps-box {
      .eng-phase-main-section-5steps-box-wrap {
        padding: 30px 30px 30px;
      }
    }
  }
}
@include min-responsive-style($breakpoint-sp) {
    .join-5steps-list{
      width: $maincontentWidth;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .join-5steps-box{
        width: calc(50% - 25px);
        margin: 50px 50px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(2n){
          margin-right: 0;
        }
        &:nth-child(-n+2){
          margin-top: 0;
        }
        &:last-child{
          margin: 50px 0 0 0 !important;
        }
      }
    }
}

// FAQ
.faq {
  background: $cl-graylightest;
  padding: 0 0 var(--m-section);
  .faq-title {
    @extend %underbar-title;
  }
  .faq-content {
    background: $cl-white;
    padding: 20px;
    margin: 0 auto 30px;
    border-radius: var(--br-m);
    .faq-content-question {
      display: flex;
      gap: 20px;
      margin: 0 0 4px;
      .faq-content-question-left {
        width: 25px;
        font-size: var(--fs-4l);
        font-weight: 500;
        line-height: var(--lh-s);
        color: $cl-waogreen;
        padding-bottom: 3px;
        margin-top: -2px;
        text-align: center;
        flex-shrink: 0;
        @include min-responsive-style($breakpoint-sp) {
          margin-top: -3px;
        }
      }
      .faq-content-question-right {
        font-size: var(--fs-m);
        font-weight: bold;
        padding: 5px 0 0;
      }
    }
    .faq-content-answer {
      display: flex;
      gap: 20px;
      .faq-content-answer-left {
        width: 25px;
        font-size: var(--fs-2l);
        font-weight: 500;
        line-height: var(--lh-s);
        color: $cl-gray;
        margin-top: -2px;
        text-align: center;
        flex-shrink: 0;
      }
      .faq-content-answer-right {
        font-size: var(--fs-s);
        padding: 0px 0 0;
      }
    }
  }
}
@include min-responsive-style($breakpoint-sp) {
  .faq {
    .faq-content {
      width: $maincontentWidth;
      margin: 0 auto;
    }
    .faq-content + .faq-content{
      margin-top: 30px;
    }
  }
}

%wao-title {
  text-align: center;
  font-size: var(--fs-4l);
  letter-spacing: 2px;
  margin: 0 auto var(--mb-title);
}

// ワオ未来塾って？
.about-wao {
  @include content-width;
  margin: var(--m-section) auto;
  .about-wao-title {
    @extend %wao-title;
  }
  .about-wao-img {
    width: 100%;
    padding: 20px 10px 25px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    border-radius: var(--br-l);
    justify-content: center;
    border-radius: var(--br-l);
    @include box-shadow-small;
    img {
      margin: 0 auto;
      width: 80%;
    }
  }
  .about-wao-text {
    font-size: var(--fs-m);
    line-height: var(--lh-2l);
    text-align: left;
  }
}
@include min-responsive-style($breakpoint-sp) {
  .about-wao {
    width: $maincontentWidth;
    .about-wao-img{
      margin-bottom: 40px;
      img{
        width: 30%;
      }
    }
    .about-wao-title{
      width: 100%;
    }
    .about-wao-text--line{
      text-align: center;
    }
  }
}

// 授業の特長
.about-feature {
  @include content-width;
  margin: 0px auto var(--m-section);
  .about-feature-title {
    @extend %wao-title;
  }
  .about-feature-point {
    border-radius: var(--br-m);
    @include box-shadow-small;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    margin: 0 auto 20px;
    i {
      font-size: 30px;
      color: $cl-waogreen;
    }
    .about-feature-point-text {
      font-weight: bold;
      font-size: var(--fs-m);
      letter-spacing: 0.5px;
      @include min-responsive-style($breakpoint-sp) {
        font-size: var(--fs-l);
      }
    }
  }
}
@include min-responsive-style($breakpoint-sp) {
  .about-feature {
    width: $maincontentWidth;
    margin: 0 auto var(--m-section);
    .about-feature-point{
      width: 75%;
      margin-inline: auto;
      justify-content: center
    }
  }
}

// ワオ未来塾
.about-school {
  @include content-width;
  margin: 0px auto 105px;
  .about-school-catch {
    font-size: var(--fs-m);
    text-align: center;
    margin: 0 0 20px;
  }
  .about-school-logo {
    margin: 0 0 20px;
  }
  .about-school-target {
    font-size: var(--fs-m);
    text-align: center;
    margin: 0 0 20px;
  }
  .about-school-4subjects img {
    width: 100%;
    margin: 0 auto 30px;
  }
  .about-school-feature {
    .about-school-feature-box {
      background: $cl-white;
      padding: 20px 25px;
      border-radius: var(--br-m);
      margin: 0 auto 30px;
      @include box-shadow-small;
      .about-school-feature-box-title {
        display: flex;
        align-items: center;
        gap: 13px;
        margin: 0 auto 10px;
        img {
          height: 30px;
        }
        .about-school-feature-box-title-text {
          font-size: var(--fs-l);
          font-weight: bold;
          line-height: var(--lh-2l);
        }
      }
      .about-school-feature-box-text {
        font-size: var(--fs-m);
        line-height: var(--lh-l);
      }
    }
  }
  .about-school-btn a {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 64px;
    margin: 0 auto;
    padding: 0;
    border-radius: var(--br-m);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    @include gradient-waogreen;
    gap: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .about-school-btn-text {
      color: $cl-white;
      font-size: var(--fs-l);
    }

    .about-school-btn-icn {
      width: 15px;
      color: $cl-white;
    }
  }
}
@include min-responsive-style($breakpoint-sp) {
  .about-school {
    width: $maincontentWidth;
    margin: 0 auto var(--m-section);
    .about-school-catch,
    .about-school-target{
      font-size: var(--fs-l);
    }
    .about-school-logo{
      width: 600px;
      margin: 40px auto;
    }
    .about-school-target{
      margin-bottom: 40px;
    }
    .about-school-4subjects{
      width: 600px;
      margin: 0 auto;
    }
    .about-school-feature{
      margin: 50px auto;
    }
    .about-school-btn a{
      width: 400px;
    }
  }
}

// フッター
footer {
  width: 100%;
  padding: var(--m-section) 0px 0px;
  text-align: center;
  background: $cl-black;
  color: white;
  position: relative;
  z-index: 2;
  @include responsive-style($breakpoint-sp) {
    padding: 60px 0px 60px;
  }
  ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  li {
    list-style: none;
    padding: 10px 0;
    a {
      color: white;
      text-decoration: none;
      font-size: var(--fs-m);
    }
  }
  .footer-logo img {
    width: 170px;
    margin: 120px auto 45px;
    @include responsive-style($breakpoint-sp) {
      margin: 60px auto 45px;
    }
  }
  .footer-copyright {
    width: 100%;
    border-top: 1px solid $cl-graylight;
    padding: 15px 0 120px;
    color: $cl-graylight;
    font-size: var(--fs-2s);
  }
}
@include min-responsive-style($breakpoint-sp) {
  footer {
    border-radius: 100px 100px 0 0;
  }
}
