/* width */

$max-width: 1200px;
$widewidth: 1000px;
$middlewidth: 800px;
$smallwidth: 700px;
$ctabuttonwidth: 500px;
$breakpoint-sp: 768px;
$maincontentWidth: 1200px;
$breakpoint-tablet: 980px;

@mixin square-size($vw-percentage) {
  width: #{$vw-percentage}vw;
  height: #{$vw-percentage}vw;
}
@mixin square-size-px($vw-percentage) {
  width: #{$vw-percentage}px;
  height: #{$vw-percentage}px;
}

body {
  background: $cl-white !important;
}

.c-bg-section-white {
  background: white;
}

// .pc-bg.lighten {
//   .bg-blur {
//     opacity: 0.1 !important;
//   }
// }

.pc-bg {
  z-index: -1;

  .bg-blur {
    z-index: -1;
    position: absolute;
    // position: fixed;
    opacity: 0.4;
  }
  .pc-bg-blur-01 {
    top: -15%;
    left: -10%;
    @include square-size(12);
    filter: blur(30px);
    @include responsive-style(1000px) {
      top: -5%;
      left: -10%;
    }
  }

  .pc-bg-blur-02 {
    top: 50%;
    left: -12%;
    @include square-size(17);
    filter: blur(30px);
    animation: float2 25s ease-in-out infinite;
  }
  .pc-bg-blur-03 {
    top: 0%;
    left: 15%;
    @include square-size(12);
    filter: blur(30px);
    animation: float3 22s ease-in-out infinite;
    @include responsive-style(1000px) {
      top: 20%;
      left: 3%;
    }
  }
  .pc-bg-blur-04 {
    top: 48%;
    right: -8%;

    @include square-size(12);
    filter: blur(30px);
    animation: float4 28s ease-in-out infinite;
    @include responsive-style(1000px) {
      top: 38%;
    }
  }
  .pc-bg-blur-05 {
    top: 20%;
    right: 28%;
    @include square-size(14);
    filter: blur(30px);
    @include responsive-style(1000px) {
      right: 18%;
    }
  }

  .pc-bg-blur-06 {
    top: -25%;
    right: 26%;
    @include responsive-style(1000px) {
      top: -5%;
      right: -8%;
    }
    @include square-size(12);
    filter: blur(36px);
  }
}

@mixin content-width {
  width: calc(100% - 50px);
}
