@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

* {
  color: $cl-black;
  font-family: "Figtree", "Noto Sans JP", sans-serif;
}

:root {
  // 文字サイズ
  --fs-2s: 12px;
  --fs-s: 14px;
  --fs-m: 16px;
  --fs-l: 18px;
  --fs-2l: 20px;
  --fs-3l: 23px;
  --fs-4l: 32px; 

  // 行間
  --lh-none: 1;
  --lh-s: 1.25;
  --lh-m: 1.5;
  --lh-l: 1.75;
  --lh-2l: 2;
  --lh-3l: 2.5;
}
@include min-responsive-style($breakpoint-sp) {
  :root {
    // 文字サイズ
    --fs-2s: 13px;
    --fs-s: 14px;
    --fs-2l: 21px;
    --fs-3l: 24px;
    --fs-4l: 32px; 
  }
}

/* title-underline */
@mixin title-underline {
  text-decoration: underline wavy;
  text-decoration-color: $cl-title-underline;
}
