// 幅
$max-width: 1200px;
$widewidth: 1000px;
$middlewidth: 800px;
$smallwidth: 700px;
$ctabuttonwidth: 500px;
$breakpoint-sp: 768px;
$maincontentWidth: 1200px;
$breakpoint-tablet: 980px;

@mixin square-size($vw-percentage) {
  width: #{$vw-percentage}vw;
  height: #{$vw-percentage}vw;
}
@mixin square-size-px($vw-percentage) {
  width: #{$vw-percentage}px;
  height: #{$vw-percentage}px;
}

body {
  min-width: calc($maincontentWidth + 40px);
  background: $cl-white !important;
}
@include responsive-style($breakpoint-sp) {
  body{
    min-width: auto;
  }
}
@mixin content-width {
  width: calc(100% - 50px);
}

// 余白
:root{
  --mb-title: 30px;
  --mb-underbar-title: 30px;
  --mt-title-border: 20px;
  --m-section: 75px;
}

// 改行
.u-br-sp{
    display: none;
}
@include responsive-style($breakpoint-sp) {
    .u-br-sp{
        display: inline;
    }
    .u-br-pc{
        display: none;
    }
}