//
doctype html
html(lang="jp")
  head
  body
    heads
      title WAO未来塾関連のページ一覧
      link(href="../static/css/application.css?undefined", rel="stylesheet")
      meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(charset="UTF-8")
      meta(name="robots", content="noindex,nofollow")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js")

    div(style="width:70%; margin:30px auto 30px; padding:40px 20px 60px; box-shadow:0 5px 10px #ccc;")
      ul(style="margin:10px auto 0;")
          | ├ ワオ未来塾とは
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="11_lp-about-waomirai/lp-about-waomirai.html") 11_ワオ未来塾とは
          br
          br
          | ├ 1WEEK 授業無料キャンペーン
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="10_lp-firstweek-free/lp-firstweek-free.html") 10_1WEEK 授業無料キャンペーン
          br
          br
          | ├ 英語LP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="09_english-lp-100phases/09_english-lp-100phases.html") 09_100フレーズチャレンジ
          br
          br
          | ├ イベントLP3月
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="08_event-lp-2025march/event-lp-2025march.html") 08_イベントLP3月
          br
          br
          | ├ イベントLP2月
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="07_event-lp-2025feb/event-lp-2025feb.html") 07_イベントLP2月
          br
          br
          | ├ 英語LP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="06_english-lp-2nd/english-lp-improved-second.html") 06_英語LP 改善版2nd
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="05_english-lp-1st/english-lp-improved-first.html") 05_英語LP 改善版1st
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="04_english-lp-origin/english-lp.html") 04_英語LP Original
          br
          br
          | ├ ハピタスLP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="hapitas/hapitas-lp.html") ハピタスLP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="hapitas/hapitas-thanks-page.html") ハピタスLP サンクスページ
          br
          br
          | ├ 英語無料体験関連
          br
          br
          |<span style="padding:0 0 0 20px;">├フォーム</span>
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal-form/202411_marron/english-portal-form-marron.html") 英語無料体験11月生募集
          br
          br
          |<span style="padding:0 0 0 20px;">├英語ポータル</span>
          br
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal/english-portal-login.html") ログイン
          br
          br
          |<span style="padding:0 0 0 40px;">├英語チュートリアル</span>
          br
          |<span style="padding:0 0 0 60px;">├</span>
          a(href="english-portal/202410_grape/english-portal-tutorial-2410grape.html") チュートリアル10月
          br
          |<span style="padding:0 0 0 60px;">├</span>
          a(href="english-portal/202411_marron/english-portal-tutorial-2411marron.html") チュートリアル11月
          br
          br
          |<span style="padding:0 0 0 40px;">├英語体験ページ</span>
          br
          |<span style="padding:0 0 0 60px;">├</span>
          a(href="english-portal/202410_grape/english-learn-portal-2410grape.html") 英語体験ページ10月
          br
          |<span style="padding:0 0 0 60px;">├</span>
          a(href="english-portal/202411_marron/english-learn-portal-2411marron.html") 英語体験ページ11月
          br
          br
          |<span style="padding:0 0 0 20px;">├その他</span>
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal/english-portal-trial-period.html") 無料体験会員終わった際、有料プランへ誘導
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal/howto-payment.html") 有料会員登録の説明ページ