//imagePath
- var ImgLogo = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgFv01 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw35/1026513/1738049260zEUkkMow/fv_main.jpg'
- var ImgFv02 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2n/1026513/1738049259DKldHVzj/fv_eco.jpg' //経済
- var ImgFv03 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2v/1026513/17380492592DZdbAkN/fv_phi.jpg'
- var ImgFv04 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2r/1026513/1738049259nkTUUrDC/fv_sci.jpg'
- var ImgFv05 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw48/1026513/1738053281NPUcB9kz/fv_48.svg'
- var ImgFeature01 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2g/1026513/1738048730d59M179f/feature1.png'
- var ImgFeature02 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2k/1026513/1738048730cZavB1ZE/feature2.png'
- var ImgFeature03 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2c/1026513/1738048729Tn4ASdZd/feature3.png'
- var ImgStickyPerson = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw38/1026513/1738049552wDzmWYNP/boy.svg'
- var ImgBgMarch = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2y/1026513/1738049259rks9ifJW/bg_lp_2025march.png'
- var ImgIconSubject =  'https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png'
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-01-29/hd4cr/1026513/1738202829JZhGWq0P/qr_dummy_2025march.png'

//URLPath
- var UrlLineEventMarch = '#'
- var UrlFormEventMarch = '#'