
//- .bg-modal(style='display:none;')

script. 
    $('.modal-open-liff-qr').click(function() {
       $('.modal,.bg-modal').show();
    });

    $('.modal-close,.bg-modal').click(function() {
        $('.modal,.bg-modal').hide();
    });
