//- 講座内容
-
  const courses = {
    philosophy: [
      {
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "5/13(火)｜18:30～19:15",
        time02: "5/16(金)｜17:30～18:15",
        img: "https://storage.pardot.com/1026513/1744883356vsLDioPa/phi_lv1_month2_week1.jpg",
        title01: "「正義」はダレが決める？",
        title02: "［1週目］アナタが裁く「昔話桃太郎」",
        text: "昔話「桃太郎」を題材に、登場人物の行動を自分の視点で考え、正義とは何かを一緒に探ります。「悪者＝鬼」は本当？桃太郎の行動は正しかった？子どもたちが自分の言葉で意見を伝え、友達の考えにも耳を傾けながら、考える力と対話力を育てるオンライン講座です。"
      },
      {
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "5/13(火)｜17:30～18:15",
        time02: "5/16(金)｜18:30～19:15",
        img: "https://storage.pardot.com/1026513/1744883357fLSCyR3w/phi_lv2_month2_week1.jpg",
        title01: "人類とウィルス・菌たちの深い関係",
        title02: "［1週目］感染症が人類の歴史を変える？",
        text: "ウィルスや菌との出会いが、人の生き方や社会のあり方をどう変えてきたのかを考えます。命、自由、助け合い…その中で変わらないもの、変わってきたものは何か。子どもたちとともに、歴史の中の問いを通して、哲学的に深く考える時間を過ごします。"
      },
      {
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "5/13(火)｜20:30～21:15",
        time02: "5/16(金)｜19:30～20:15",
        img: "https://storage.pardot.com/1026513/1744883357rrEN0O4G/phi_lv3_month2_week1.jpg",
        title01: "「常識」を疑うのって「非常識」？",
        title02: "［1週目］常識の基準、非常識の基準",
        text: "「そんなの常識でしょ！」って言われたこと、ありますか？国や時代が変われば、当たり前も変わるかもしれません。この講座では、「常識」と「非常識」の境界線について考えながら、「みんなとちがう」って何だろう？という問いに、子どもたち自身の言葉で向き合っていきます。"
      },
      {
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "5/13(火)｜20:30～21:15",
        time02: "5/16(金)｜19:30～20:15",
        img: "https://storage.pardot.com/1026513/1744883355lZJ1EVzq/phi_lv4_month2_week1.jpg",
        title01: "「具体と抽象」が生み出す価値",
        title02: "［1週目］コミュニケーションギャップを解消",
        text: "「言ってることは正しいのに伝わらない」そんな経験はありませんか？その背後には、“具体”と“抽象”の使い方が関係しているかもしれません。この講座では、日常の対話や思考のズレに注目しながら、言葉の使い方や理解の仕方を哲学的に探究。伝える力・読み取る力を問い直す45分です。"
      }
    ],
    science: [
      {
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "5/14(水)｜17:30～18:15",
        time02: "5/16(金)｜18:30～19:15",
        img: "https://storage.pardot.com/1026513/174488326634yWv6C8/sci_lv1_month2_week1.jpg",
        title01: "10 万ボルトの強さはどのくらい ?",
        title02: "［1週目］発電する動物はどうしているの？",
        text: "電気ウナギが生み出す「10万ボルト」って、実際どれくらいすごいの？自然界には、自分で電気を作り出す動物たちがいます。この講座では、発電する生き物のしくみや目的をわかりやすく紹介しながら、「電気って何？」という基本的な疑問に迫ります！"
      },
      {
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "5/14(水)｜18:30～19:15",
        time02: "5/16(金)｜17:30～18:15",
        img: "https://storage.pardot.com/1026513/1744883268MbyGb2iL/sci_lv2_month2_week1.jpg",
        title01: "「まぜるな危険」を混ぜてしまったらどうする ?",
        title02: "［1週目］やってはいけない科学をやってみた ?",
        text: "身の回りにある「やってはいけない」といわれる組み合わせ――なぜダメなのか、混ぜてしまったらどうなるのか？この講座では、実際には危険な実験を安全に“仮想体験”しながら、その理由としくみを科学的に学びます。「やっちゃダメ」に隠れたルールと科学の面白さを探ってみよう！"
      },
      {
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "5/14(水)｜19:30～20:15",
        time02: "5/16(金)｜18:30～19:15",
        img: "https://storage.pardot.com/1026513/1744883268aovMD0zi/sci_lv3_month2_week1.jpg",
        title01: "地球温暖化に気づいたのは日本人 ?",
        title02: "［1週目］地球温暖化は予想されていた",
        text: "地球温暖化は最近の問題…と思っていませんか？実は、100年以上前にその兆しを見抜いた日本人科学者がいました。地球温暖化のメカニズムや影響を学びながら、それがいつ・どのように予測されていたのかを探ります。過去を知ることで、未来の地球をどう守るかを考える科学の時間です。"
      },
      {
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "5/14(水)｜20:30～21:15",
        time02: "5/16(金)｜19:30～20:15",
        img: "https://storage.pardot.com/1026513/1744883268qzmJZ0qs/sci_lv4_month2_week1.jpg",
        title01: "5/16(金)｜19:30～20:15",
        title02: "［1週目］正しい薬の飲み方",
        text: "同じ成分でも、使い方を間違えれば「薬」は「毒」になることがあります。薬のしくみや体への作用、副作用のメカニズムを学びながら、「正しく使う」とはどういうことかを科学的に考えます。薬のメリット・デメリットに向き合い、日常生活に役立つ知識と判断力を身につけましょう。"
      }
    ]
  }