//imagePath
- var ImgLogo = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgFv01 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw35/1026513/1738049260zEUkkMow/fv_main.jpg'
- var ImgFv02 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2n/1026513/1738049259DKldHVzj/fv_eco.jpg' //経済
- var ImgFv03 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2v/1026513/17380492592DZdbAkN/fv_phi.jpg'
- var ImgFv04 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2r/1026513/1738049259nkTUUrDC/fv_sci.jpg'

- var ImgIntro = 'https://go.waomirai.com/l/1026513/2025-04-23/hl3hg/1026513/17453848535NMWEK6B/intro_lp_firstweek_free.png'
- var ImgFeature01 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2g/1026513/1738048730d59M179f/feature1.png'
- var ImgFeature02 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2k/1026513/1738048730cZavB1ZE/feature2.png'
- var ImgFeature03 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2c/1026513/1738048729Tn4ASdZd/feature3.png'
- var ImgIconSubject =  'https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png'
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-04-24/hl5ft/1026513/1745481940Ww8kMqWo/firstweek_free_qr.png'
- var ImgModalMvCampaignEnd = 'https://go.waomirai.com/l/1026513/2025-04-10/hk9jk/1026513/1744263407puoKu8D8/free_month.png'

// URLPath
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=eYNI'
- var UrlWaoServiceSite = 'https://waomirai.com/'