$shadow-height: 45px;
$shadow-height-sp: 38px;

//////////////////////
//共通CVボタン
//////////////////////
.c-btn-cv{
  width: 445px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 0px #000000;
  border: 3.5px solid #000;
  border-radius: $border-radius-full;
  background: #ec3f42;
  &:hover{
    opacity: 0.9;
  }
  &.is-contents{
    height: 100px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 78%;
    animation: fuwafuwa-button 2s 0s infinite;
    img{
      width: auto;
      height: 30px;
    }
    @include responsive-style(767px) {
      width: 92%;
      height: 90px;
    }
  }
}

//////////////////////
//ブルーエリアのセクション
//////////////////////

$fvlogotop: 210px;
$fvCharacter: 60px;

$fvlogotopSp: 26%;
$fvCharacterSp: 17%;
$fvTextSp: 41%;
.js-btn-cv-img img {
  box-shadow: 0 9px 0px #000000;
  border: 3.5px solid #000;
  border-radius: $border-radius-full;
  background: #ec3f42;
  @include responsive-style(767px) {
    border: 3px solid #000 !important;
    box-shadow: 0 7px 0px rgba(0, 0, 0, 1);
  }
}

.js-btn-cv {
  cursor: pointer;
  img {
    &:hover {
      opacity: 0.9;
    }
  }
}

.eng-phase-main-fv {
  position: relative;
  z-index: 10;
  width: 100%;
  .eng-phase-main-fv-overflow-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .eng-phase-main-fv-waologo {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 150px;
    z-index: 3;
  }
  .eng-phase-main-fv-target {
    position: absolute;
    left: -20px;
    top: -50px;
    width: 70%;
    z-index: 3;
    // animation: FvfadeInUp 0.65s ease-out;
    @include responsive-style(767px) {
      top: 40px;
      left: 10px;
    }
  }
  .eng-phase-main-fv-logo {
    z-index: 3;
    animation: FvfadeInUp 0.65s ease-out;
    width: 93%;
    margin: -18.667vw auto 0;
    @include min-responsive-style(768px) {
      margin-top: -100px;
    }
  }
  .eng-phase-main-fv-text {
    width: 92%;
    margin: -1vw auto 0;
    @include min-responsive-style(768px) {
      margin-top: 0;
    }
  }
  .eng-phase-main-fv-persons{
    padding-top: 28.53vw;
    @include min-responsive-style(768px) {
      padding-top: 65px;
    }
  }
  .eng-phase-main-fv-crowds01 {
    position: absolute;
    top: 40px;
    right: -20px;
    z-index: 1;
    width: 100px;
  }
  .eng-phase-main-fv-crowds02 {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1;
    width: 100px;
  }
  .eng-phase-main-fv-shine {
    position: absolute;

    left: -60px;
    right: 0;
    z-index: 1;
    width: calc(100% + 100px);
    margin: auto;
    opacity: 0.7;
    animation: rotate 80s linear infinite;
    top: 17%;
  }
}
.eng-phase-main {
  //   background: $cl-bg-skyblue;
  text-align: center;
  //   .eng-phase-main-section img {
  //     width: $width-main-content;
  //     margin: 0 auto 60px;
  //     border-radius: $border-radius-bigplus;
  //   }
}

.eng-phase-main-section-blue-first {
  margin: -10px auto 60px !important;
  @include min-responsive-style(768px) {
     margin-top: -20px !important;
  }
}
.eng-phase-main-section-blue-last {
  margin: 0 auto -30px !important;
  position: relative;
  z-index: 100 !important;
}
.eng-phase-main-section-blue {
  width: $width-main-content;
  margin: 0 auto 60px;
  border-radius: $border-radius-bigplus;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    width: 100%;
    height: $shadow-height;
    z-index: 0;
    display: block;
    border: 4px solid $cl-bg-skyblue-darkendeep;
    background: $cl-bg-skyblue-darken;
    margin: -20px 0 0;
    border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;
    @include responsive-style(767px) {
      border: 3px solid $cl-bg-skyblue-darkendeep;
      height: $shadow-height-sp;
      border-radius: 0 0 $border-radius-big $border-radius-big;
    }
  }
}

.eng-phase-main-cv-crowds {
  margin: -17px 0 0;
  position: relative;
  .eng-phase-main-cv-crowds-img {
    position: relative;
    z-index: 0;
  }
}

.eng-phase-bg-blue {
  background: $cl-bg-skyblue;
  padding: 0 0 0px;
  @include min-responsive-style(768px) {
    border-radius: 80px 80px 0 0;
  }
}

.eng-phase-main-section-blue-wrap-content-static {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: block;
}

.eng-phase-main-section-blue-flow-wrap {
  background-image: url("https://go.waomirai.com/l/1026513/2025-03-02/hgtr5/1026513/1740971200jWyA77Q6/bg_section_middle.png");
  background-size: contain;
  background-repeat: repeat-y;
  width: 100%;
  padding: 10px 0 0;
}
.eng-phase-main-section-blue-static {
  .eng-phase-main-section-blue-wrap-title-first {
    background-image: url("https://go.waomirai.com/l/1026513/2025-03-02/hgtr5/1026513/1740971200jWyA77Q6/bg_section_middle.png");
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
  }
  .eng-phase-main-section-blue-wrap-title {
    padding: 0 0 4px;
    position: relative;
    z-index: 10;
  }
  .eng-phase-main-section-blue-wrap-content {
    width: 94%;
    margin: 0 auto 0;
    padding: 0 0 75px;
    position: relative;
    display: block;
  }
}
.eng-phase-main-section-blue-flow {
  .eng-phase-main-section-blue-wrap-title-first {
    background-image: url("https://go.waomirai.com/l/1026513/2025-03-02/hgtr5/1026513/1740971200jWyA77Q6/bg_section_middle.png");
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
  }
  .eng-phase-main-section-blue-wrap-title {
    padding: 0 0 480px;
    position: relative;
    z-index: 100;
    img {
      position: relative;
      z-index: 100;
    }
  }
  .eng-phase-main-section-blue-wrap-content {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: block;
    z-index: 0;
  }
}

.eng-phase-main-cv-humans-blue {
  margin: 0px auto 0;
}

.eng-phase-main-cv-humans {
  margin: 0px auto 0px;
  position: relative;
  z-index: 10;
  .eng-phase-main-cv-humans-img {
    img {
      position: relative;
      z-index: 1;
    }
  }
  .eng-phase-main-cv-humans-area {
    width: $width-main-content;

    &.eng-phase-main-cv-humans-area-blue {
      position: absolute;
      top: 61.5%;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      z-index: 3;
    }
    &.eng-phase-main-cv-humans-area-green {
      position: relative;
      margin: -35px auto 0;
    }
    .eng-phase-main-cv-humans-area-top {
      background: $cl-white;
      border: 4px solid $cl-bg-leafgreen-darkendeep;
      border-radius: $border-radius-bigplus;
      position: relative;
      z-index: 1;
      padding: 45px 0 60px;
      @include responsive-style(767px) {
        border: 3px solid $cl-bg-leafgreen-darkendeep;
      }
      .eng-phase-main-cv-humans-area-top-price {
        @include font-size-xl;
        margin: 0 auto 15px;
        font-weight: bold;
      }
      .eng-phase-main-cv-humans-area-top-text {
        @include font-size-xl;
        margin: 0 auto 25px;
      }
      .eng-phase-main-cv-humans-area-top-button {
        div {
          background: #ec3f42;
        }
        img {
          width: $width-cv-btn;
          margin: 0 auto;
          animation: fuwafuwa-button 2s 0s infinite;
        }
      }
    }
    .eng-phase-main-cv-humans-area-bottom {
      width: 100%;
      height: $shadow-height;
      z-index: 0;
      border: 4px solid $cl-bg-leafgreen-darkendeep;
      background: $cl-bg-leafgreen-darken;
      margin: -20px 0 0;
      border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;

      @include responsive-style(767px) {
        border: 3px solid $cl-bg-leafgreen-darkendeep;
        height: $shadow-height-sp;
      }
    }
    .eng-phase-main-cv-humans-area-button {
      margin: 0 auto 20px;
      img {
        margin: 0 auto 0;
        animation: fuwafuwa-button 2s 0s infinite;
      }
    }
  }
}

// 100フレーズチャレンジ 10日間プログラムの流れ
.eng-phase-main-flow-wrapper{
  background: #fff;
  position: relative;
  border: 4px solid #185b7f;
  border-top: none;
  border-radius: 0 0 24px 24px;
  z-index: 1;
  padding-bottom: 15px;
  @include responsive-style(767px) {
    border-width: 3px;
    border-radius: 0 0 12px 12px;
  }
}
.eng-phase-main-flow-tab{
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 86px;
  display: flex;
  justify-content: space-between;
  @include min-responsive-style(768px) {
    padding-top: 120px;
  }
}
.eng-phase-main-flow-tab-item{
  width: calc(50% - 3.5px);
  background: #A5A3A3;
  border-radius: 16px 16px 0 0;
  padding: 12px 8px 8px;
  position: relative;
  cursor: pointer;
  &:nth-child(2){
    padding: 14px 8px 6px;
  }
  .image-balloon{
    width: 100%;
    position: absolute;
    top: -18.5vw;
    left: 0;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
    @include min-responsive-style(768px) {
      top: -95px;
    }
  }
  .image-tab{
    max-width: 95%;
    height: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
  }
  &.is-active{
    background: #C094C0;
    .image-balloon{
      display: none;
    }
    &::before{
      content: "";
      width: calc(100% - 9px);
      height: 3px;
      background: #fff;
      position: absolute;
      bottom: -3px;
      left: 3px;
    }
  }
  &::after{
    content: "";
    background: #E9E9E9;
    width: calc(100% - 9px);
    height: calc(100% - 3px);
    border-radius: 16px 16px 0 0;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  &.is-active::after{
    background: #fff;
  }
}
@keyframes floating-y {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}

.eng-phase-main-flow-contents{
  width: 96%;
  margin: 0 auto;
  border: 3px solid #C094C0;
  border-radius: 16px;
}
.eng-phase-main-flow-contents-item:not(.is-active){
  display: none;
}
.eng-phase-main-flow-about{
  width: 88%;
  margin: 23px auto 0;
}
.eng-phase-main-flow-schedule{
  width: 95%;
  margin: 40px auto 0;
}
.eng-phase-main-flow-option{
  width: 95%;
  margin: 0 auto;
  padding: 8px 0 15px;
}

.eng-phase-main-section-movie {
  width: 100%;
  margin: 0 auto 90px;
  border-radius: $border-radius-bigplus;
  position: relative;
  z-index: 10;

  .eng-phase-main-section-movie-content {
    width: $width-main-content;
    margin: 0 auto;
    border-radius: $border-radius-bigplus;
    position: relative;
    .eng-phase-main-section-movie-content-btn {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      cursor: pointer;
      img {
        width: 100%;
        z-index: 9;
        position: relative;
      }
      &::before,
      ::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid white;
        background: white;
        animation: ripple-animation 2.3s infinite;
        z-index: 1;
      }

      &::after {
        animation-delay: 1s;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      margin: auto;
      content: "";
      z-index: 2;
      border-radius: $border-radius-bigplus;
      border: 4px solid $cl-white;
    }
    .eng-phase-main-section-movie-content-vimeo {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 56.25%;
      height: 0px;
      overflow: hidden;
      border-radius: $border-radius-bigplus;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius-bigplus;
      }
    }
  }
}

@mixin sectionGreen {
  background: $cl-white;
  border: 4px solid $cl-bg-leafgreen-darkendeep;
  border-radius: $border-radius-bigplus;
  position: relative;
  z-index: 1;
  width: $width-main-content;
  margin: 0 auto;
  @include responsive-style(767px) {
    border: 3px solid $cl-bg-leafgreen-darkendeep;
  }
}
@mixin sectionGreenShadow {
  display: block;
  content: "";
  width: $width-main-content;
  height: $shadow-height;
  z-index: 0;
  border: 4px solid $cl-bg-leafgreen-darkendeep;
  background: $cl-bg-leafgreen-darken;
  margin: -20px auto 0;
  border-radius: 0 0 $border-radius-bigplus $border-radius-bigplus;
  @include responsive-style(767px) {
    height: $shadow-height-sp;
    border: 3px solid $cl-bg-leafgreen-darkendeep;
  }
}

//////////////////////
//グリーンエリアのセクション
//////////////////////
.eng-phase-bg-green {
  background: $cl-bg-leafgreen;
  padding: 70px 0 75px;
}

.eng-phase-main-section-green {
  &.eng-phase-main-section-green-rapport {
    margin: -20px auto 90px;
  }

  &::after {
    @include sectionGreenShadow;
  }
  .eng-phase-main-section-green-wrap {
    @include sectionGreen;
    padding: 30px 23px 40px;
    @include responsive-style(767px) {
      padding: 20px 20px 30px;
    }
    .eng-phase-main-section-green-wrap-content {
      img {
        width: 95%;
        margin: 45px auto 10px;
      }
    }
    .eng-phase-main-section-green-wrap-faq {
      padding: 40px 0 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .eng-phase-main-section-green-wrap-faq-box {
        padding: 0 0 0px;
        border: 3px solid $cl-black;
        border-radius: $border-radius-big;
        overflow: hidden;

        .eng-phase-main-section-green-wrap-faq-box-title {
          color: $cl-black;
          display: flex;
          gap: 10px;
          padding: 10px 12px 10px 15px;
          background: $cl-white;
          align-items: center;
          cursor: pointer;
          &.active {
            color: $cl-white;
            background: $cl-english;
            .eng-phase-main-section-green-wrap-faq-box-title-icon {
              background: $cl-white;
              transform: rotate(180deg);
              &::before,
              &::after {
                background-color: $cl-english;
                top: 10px;
              }
            }
          }
          .eng-phase-main-section-green-wrap-faq-box-title-icon {
            @include font-size-xl;
            display: flex;
            width: 45px;
            height: 45px;
            border-radius: $border-radius-full;
            border: 3px solid $cl-black;
            position: relative;
            background: $cl-english;
            &::before,
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 17px;
              right: 0;
              top: 12px;
              width: 3.5px;
              height: 16px;
              border-radius: 9999px;
              background-color: $cl-white;
              transform-origin: 50% calc(100% - 1px);
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
          }
          .eng-phase-main-section-green-wrap-faq-box-title-text {
            text-align: left;

            font-weight: bold;
            flex: 1;
            font-size: 19px;
            @include responsive-style(767px) {
              font-size: 18px;
            }
          }
        }
        .eng-phase-main-section-green-wrap-faq-box-content {
          padding: 20px 15px 30px 15px;
          font-weight: 500;
          line-height: $lineheight-normal;
          color: $cl-gray;
          display: none;
          b {
            color: $cl-black !important;
          }
          font-size: 17px;
          @include responsive-style(767px) {
            font-size: 17px;
          }
          text-align: left;
        }
      }
    }
  }

  .eng-phase-main-section-5steps-title-price {
    top: -60px !important;
    @include responsive-style(767px) {
      top: -40px !important;
    }
  }
  .eng-phase-main-section-green-wrap-title {
    width: $width-cv-btn;
    position: absolute;
    left: 20px;
    top: -80px;
    @include responsive-style(767px) {
      top: -60px;
    }
    img {
      width: 100%;
    }
  }
  .eng-phase-main-section-green-wrap-img {
    margin: 30px 0 30px;
  }
  .eng-phase-main-section-green-wrap-voiceimg {
    margin: 30px 0 15px;
    padding: 0 0 15px;
    border-bottom: 2px dashed $cl-graylight;
  }
  .eng-phase-main-section-green-wrap-text {
    @include font-size-l;
    text-align: left;
    margin: 0 0 45px;
    line-height: $lineheight-relaxed;
  }
  .eng-phase-main-section-green-wrap-banner a img {
    width: 100%;
  }
}

.eng-phase-main-section-green-price {
  margin: 0 auto 90px;
}
.eng-phase-main-section-green-voice {
  margin: 0 auto 20px;
}
.eng-phase-main-section-green-faq {
  margin: 0 auto 20px;
}

//カンタン5stepで参加可能
.eng-phase-main-section-5steps {
  .eng-phase-main-section-5steps-title img {
    width: 100%;
    margin: 60px auto 20px;
  }
  .eng-phase-main-section-5steps-box {
    margin: 0 auto 45px;

    @include responsive-style(767px) {
      margin: 0 auto 30px;
    }
    &:last-child {
      margin: 0 auto 60px;
    }
    &::after {
      @include sectionGreenShadow;
    }
    .eng-phase-main-section-5steps-box-wrap {
      @include sectionGreen;
      padding: 30px 30px 30px;
      @include responsive-style(767px) {
        padding: 30px 15px 30px;
      }
    }
    .eng-phase-main-section-5steps-box-wrap-head {
      display: flex;
      margin: 0 auto 20px;
      > div {
        flex: 1;
      }
      .eng-phase-main-section-5steps-box-wrap-head-step {
        @include font-size-l;
        line-height: $lineheight-tight;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 60px;
          background: $cl-black;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          margin: auto;
        }
        span {
          display: block;
          @include font-size-xxxl;
        }
      }
      .eng-phase-main-section-5steps-box-wrap-head-img {
        display: flex;
        justify-content: center;
        align-items: center;
        &.step4 {
          img {
            height: 60px !important;
          }
        }
        img {
          height: 80px;
        }
      }
    }
    .eng-phase-main-section-5steps-box-wrap-title {
      @include font-size-xl;
      font-weight: bold;
      margin: 0 0 20px;
    }
    .eng-phase-main-section-5steps-box-wrap-text {
      @include font-size-l;
      text-align: left;
      font-weight: normal;
      margin: 0;
      a {
        text-decoration: underline;
        color: $cl-black;
      }
    }
    .eng-phase-main-section-5steps-box {
      .eng-phase-main-section-5steps-box-wrap {
        @include sectionGreen;
        padding: 30px 30px 30px;
      }
      &::after {
        @include sectionGreenShadow;
      }
    }
  }
}
.eng-phase-main-section-5steps-cv {
  margin: 0 auto 105px;
  img {
    margin: 0 auto 0px;
    width: $width-cv-btn;
    animation: fuwafuwa-button 2s 0s infinite;
  }
}
//////////////////////
//ワオ未来塾って?
//////////////////////
.bg-lp-creamyellow {
  background: $cl-bg-eventlp;
  width: 100%;
  margin: 0 auto;
  //ワオ未来塾って？
  .lp-waomirai-about {
    background: $cl-bg-eventlp;
    padding: 75px 20px 0;
    // max-width: $width-xl;
    margin: 0 auto;
    .c-title-25feb-lp {
      text-decoration: underline wavy;
      text-decoration-color: $cl-title-underline;
      @include font-size-xxxl;
      margin: 0 auto 30px;
    }
    .lp-waomirai-about-box {
      background: white;
      margin: 0 auto 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 20px 40px;
      border-radius: $border-radius-bigplus;

      &-left img {
        width: 70%;
        margin: 0 auto 0px;
      }
      &-right {
        flex: 1;
        line-height: $lineheight-relaxed;
        @include font-size-l;
        text-align: left;
      }
    }
  }

  //授業の特徴
  .lp-waomirai-feature {
    padding: 75px 20px 105px;
    margin: 0 auto;
    // max-width: $width-xl;
    text-align: center;
    background: $cl-bg-eventlp;
    .lp-waomirai-feature-child {
      @include font-size-l;
      //   background: $cl-feature-yellow;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      max-width: 800px;
      width: 100%;
      margin: 0 auto 30px;
      border-radius: $border-radius-full;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      &:last-child {
        margin: 0 auto 90px;
      }
      &-icons {
        display: flex;
        gap: 10px;
      }
    }
  }
  //2025年4月開講
  .lp-waomirai-start2025 {
    background: $cl-bg-eventlp;
    padding: 0 20px 120px;
    // max-width: $width-xl;
    margin: 0 auto;

    &-catch {
      @include font-size-xxl;
      margin: 0 auto;
      text-align: center;
    }
    &-subtitle {
      background: $cl-main-orange;
      color: white;
      @include font-size-xxl;
      max-width: 400px;
      margin: 30px auto 0;
      text-align: center;
      border-radius: $border-radius-full;
    }
    &-logo {
      //   max-width: $width-md;
      margin: 30px auto 30px;
    }
    &-target {
      @include font-size-xxl;
      margin: 0 auto 30px;
      text-align: center;
    }
    &-subjects {
      //   max-width: $width-md;
      margin: 0 auto 45px;
    }
    &-feature {
      display: flex;
      margin: 0px 0 60px;
      flex-direction: column;
      gap: 30px;

      &-box {
        background: white;
        border-radius: $border-radius-bigplus;
        padding: 45px 30px 45px;
        @include font-size-m;
        flex: 1;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

        &-title {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin: 0 auto 20px;
          @include font-size-xl;
          img {
            width: 30px;
          }
        }
        &-text {
          @include font-size-l;
          text-align: left;
        }
      }
    }
    &-btn {
      text-align: center;
      a {
        text-align: center;
        margin: 30px auto 0px;
        background: $cl-main-orange;
        text-decoration: none;
        height: 78px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-full;
        width: 100%;
        max-width: 500px;
        position: relative;
        line-height: $lineheight-normal;
        gap: 12px;
        @include responsive-style(767px) {
          width: 100%;
        }
        @include box-shadow-lp;

        .lp-waomirai-start2025-btn-text {
          margin: 0px 0 0;
          @include font-size-l;
          letter-spacing: 1px;
        }
        .lp-waomirai-start2025-btn-icn {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
  footer {
    width: 100%;
    padding: 120px 0px 0px;
    text-align: center;
    background: $cl-black;
    color: white;
    border-radius: $border-radius-extrabig $border-radius-extrabig 0 0;
    @include responsive-style(767px) {
      border-radius: 48px 48px 0 0;
    }
    ul {
      margin: 0 !important;
      padding: 0 !important;
    }
    li {
      list-style: none;
      padding: 0px 0 30px;
      a {
        color: white;
        text-decoration: none;
        @include font-size-l;
      }
    }
    .footer-logo img {
      width: 80%;
      margin: 75px auto 45px;
    }
    .footer-copyright {
      width: 100%;
      border-top: 3px solid #fff;
      padding: 60px 0 60px;
      @include font-size-l;
    }
  }
}
