//
doctype html
html(lang="jp")
  head
    heads
      title WAO未来塾関連のページ一覧
      link(href="../static/css/application.css?undefined", rel="stylesheet")
      meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(charset="UTF-8")
      meta(name="robots", content="noindex,nofollow")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js")
      style.
        .page-list-wrapper {
          width: 70%;
          margin: 30px auto;
          padding: 40px 20px 60px;
          box-shadow: 0 5px 10px #ccc;
        }
        .page-list ul { margin-left: 0.2em;  }
        .page-list li { line-height: 1.6; list-style:disc; }
        .page-list > li { margin-bottom:20px; }
  body
    //- wrapper
    div.page-list-wrapper
      ul.page-list
        // ── 上位ページ ───────────────────────
        li: a(href="19_lp-tankyu-week/") 19_探究WEEK
      ul.page-list
        li 18_親子オンラインセミナー
          ul
            //- li: a(href="/18_lp-family/lp-family-2026_03march/") 2026年3月
            //- li: a(href="/18_lp-family/lp-family-2026_02february/") 2026年2月
            //- li: a(href="/18_lp-family/lp-family-2026_01january/") 2026年1月
            li: a(href="/18_lp-family/lp-family-2025_12december/") 2025年12月
            
      ul.page-list
        // ── 上位ページ ───────────────────────
        li: a(href="17_lp-family-2025nov/") 17_親子オンラインセミナー
      ul.page-list
        // ── 上位ページ ───────────────────────
        li
          |TECH SEEKER 2025 
          br
          |※画像のリンク先でローカルとサーバーを切り替えています。
          ul
            li phase 1(とりあえずプレオープン)
              ul
                li: a(href="/16_lp-event-2025techseeker/16_01_phase_one/server/index.html") ★16_TECH SEEKER 2025(サーバー)
                li: a(href="/16_lp-event-2025techseeker/16_01_phase_one/local/index.html") 16_TECH SEEKER 2025(ローカル)
            li phase 2(9/29後)
              ul
                li: a(href="/16_lp-event-2025techseeker/16_02_phase_two/server/index.html") ★16_TECH SEEKER 2025(サーバー)
                li: a(href="/16_lp-event-2025techseeker/16_02_phase_two/local/index.html") 16_TECH SEEKER 2025(ローカル)
      ul.page-list
        // ── 上位ページ ───────────────────────
        li: a(href="/15_lp-campaign-fr-ref/") 15_友だち紹介キャンペーン
        li: a(href="/14_lp-event-2025summer/") 14_夏休み自由研究DAY2025
        li: a(href="/12_lp-lesson-from-line/?key=2025_may_cheery") 12_イベントページの動画
        li: a(href="/11_lp-about-waomirai/") 11_ワオ未来塾とは

        // ── 1WEEKキャンペーン ──────────────────
        li 1WEEK 授業無料キャンペーン
          ul
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-26_03march/") 10_1WEEK 授業無料キャンペーン（2026年3月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-26_02february/") 10_1WEEK 授業無料キャンペーン（2026年2月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-26_01january/") 10_1WEEK 授業無料キャンペーン（2026年1月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_12december/") 10_1WEEK 授業無料キャンペーン（2025年12月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_11november/") 10_1WEEK 授業無料キャンペーン（2025年11月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_10october/") 10_1WEEK 授業無料キャンペーン（2025年10月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_09september/") 10_1WEEK 授業無料キャンペーン（2025年9月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_08august/") 10_1WEEK 授業無料キャンペーン（2025年8月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_07july/") 10_1WEEK 授業無料キャンペーン（2025年7月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_06june/") 10_1WEEK 授業無料キャンペーン（2025年6月）
            li: a(href="/10_lp-firstweek-free/lp-firstweek-free-25_05may/") 10_1WEEK 授業無料キャンペーン（2025年5月）

        // ── 英語LP ──────────────────────────────
        li 英語LP
          ul
            li: a(href="/13_english-lp-100phases-2025summer/english-lp-a-not-finished/") 13_100フレーズチャレンジ 2025年夏（A日程終了前）
            li: a(href="/13_english-lp-100phases-2025summer/english-lp-a-finished/") 13_100フレーズチャレンジ 2025年夏（A日程終了後）
            li: a(href="/13_english-lp-100phases-2025summer/english-lp-ab-finished/") 13_100フレーズチャレンジ 2025年夏（AB日程終了後）
            li: a(href="/09_english-lp-100phases/") 09_100フレーズチャレンジ
            li: a(href="/06_english-lp-main-2025may/") 06_英語LP 2025年5月
            li: a(href="/05_english-lp-main-2024sep/english-lp-improved-first/") 05_英語LP 2024年9月
            li: a(href="/04_english-lp-main-2024june/english-lp-b/") 04_英語LP 2024年6月B
            li: a(href="/04_english-lp-main-2024june/english-lp-a/") 04_英語LP 2024年6月A
        // ── イベントLP ───────────────────────────
        li イベントLP
          ul
            li: a(href="/08_event-lp-2025march/") 08_イベントLP3月
            li: a(href="/07_event-lp-2025feb/") 07_イベントLP2月
        // ── ハピタス ─────────────────────────────
        li ハピタスLP
          ul
            li: a(href="/01_hapitas/hapitas-lp/") 01_ハピタスLP
            li: a(href="/01_hapitas/hapitas-thanks-page/") 01_ハピタスLP サンクスページ
        // ── 英語無料体験関連 ──────────────────────
        li 英語無料体験関連
          ul
            // フォーム
            li フォーム
              ul
                li: a(href="/03_english-portal-form/202411_marron/english-portal-form-marron/") 03_英語無料体験11月生募集

            // ポータル
            li 英語ポータル
              ul
                li: a(href="/02_english-portal/english-portal-login/") 02_ログイン
                li チュートリアル
                  ul
                    li: a(href="/02_english-portal/202410_grape/english-portal-tutorial-2410grape/") 02_チュートリアル10月
                    li: a(href="/02_english-portal/202411_marron/english-portal-tutorial-2411marron/") 02_チュートリアル11月
                li 体験ページ
                  ul
                    li: a(href="/02_english-portal/202410_grape/english-learn-portal-2410grape/") 02_英語体験ページ10月
                    li: a(href="/02_english-portal/202411_marron/english-learn-portal-2411marron/") 02_英語体験ページ11月
