////////////////
//URL
///////////////

- var UrlLine100Phases = ''
- var UrlGlobalEnglish = 'https://go.waomirai.com/global-english'

////////////////
//imagePath
////////////////

//logo
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgLogoWaoMiraiWhite = 'https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg'
- var ImgLogoEnglish = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6n/1026513/1740469660MclbVTZz/logo_english.svg'
- var ImgLogoWaoCorp = 'https://go.waomirai.com/l/1026513/2025-01-15/hbx1k/1026513/17369238821jwHk8La/logo_wao.svg'

//section
- var ImgSectionBlue01 = ''
- var ImgSectionBlue02 = 'https://go.waomirai.com/l/1026513/2025-02-27/hgmbv/1026513/17406501008RJkZR8d/section02_intro.png'
- var ImgSectionBlue03 = 'https://go.waomirai.com/l/1026513/2025-02-27/hgmby/1026513/17406506376HzPOiV8/blue_section03.png'
- var ImgSectionBlue04 = 'https://go.waomirai.com/l/1026513/2025-02-27/hgmc2/1026513/1740650638p75Mt7jR/blue_section04.png'


//Banner
- var ImgBannerGlobalEnglish =  'https://go.waomirai.com/l/1026513/2025-02-26/hgjr8/1026513/1740551773pdyw34vK/banner_global_english.svg'

//button
- var ImgBtnCv = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6g/1026513/1740469495tDkaNlph/btn_cv.svg'

//title
- var ImgTitleRapport = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjrg/1026513/17405517754aDzsBER/title_rapport.svg'
- var ImgTitle5steps = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjrk/1026513/1740551775QVKueodv/title_5steps.svg'
- var ImgTitlePrice= 'https://go.waomirai.com/l/1026513/2025-02-26/hgjrc/1026513/1740551775gwTPUeMJ/title_price.svg'

//background
- var ImgBgRapport= 'https://go.waomirai.com/l/1026513/2025-02-26/hgjjv/1026513/1740548193OkGWoNsK/bg_lapport.png'
- var ImgBgCrowdsPc = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6r/1026513/1740469695VG3RROVa/bg_crowds.svg'
- var ImgBgCrowdsCv = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjjy/1026513/1740548193dKuB0eWA/bg_crowds.png'
- var ImgBgCvBlue = 'https://go.waomirai.com/l/1026513/2025-02-26/hgk3k/1026513/1740564302qlZTkTEa/bg_cv_blue.png'
- var ImgBgCvGreen = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjk8/1026513/1740548194uTTZ6jVZ/bg_cv_green.png'

//Icon
- var ImgIconSubject =  'https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png'
- var ImgIconBlank = 'https://go.waomirai.com/l/1026513/2025-01-19/hc4f5/1026513/173734363862S1a4bW/icn_target.svg'

//QR
- var ImgEnrtyLiffQR =  ''

//IMG
- var ImgRapport =  'https://go.waomirai.com/l/1026513/2025-02-26/hgjk2/1026513/1740548194NeoqFlh9/img_rappport.png'
- var Img5Steps01 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png'
- var Img5Steps02 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnn/1026513/17369098142mF1y2jz/icon_howto_join02.png'
- var Img5Steps03 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwng/1026513/1736909814hcl8Cpz9/icon_howto_join03.png'
- var Img5Steps04 = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjr5/1026513/1740551773ZCSf1U6V/img_step04.svg'
- var Img5Steps05 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnk/1026513/1736909814z0zmhZt9/icon_howto_join05.png'
- var Img5SubjectsPc = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpg/1026513/1736909816cAU257sd/ilust_5subjects_pc.png'
- var Img5SubjectsSp = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.png'
- var ImgPrice = ''

