//imagePath
- var ImgLogoWao = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgLogoEnglish = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6n/1026513/1740469660MclbVTZz/logo_english.svg'
- var ImgBtnCv = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6g/1026513/1740469495tDkaNlph/btn_cv.svg'
- var ImgBgCrowds = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6r/1026513/1740469695VG3RROVa/bg_crowds.svg'
- var ImgIconSubject =  'https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png'
- var ImgEnrtyLiffQR =  ''

//URLPath
- var UrlLine100Phases = ''