//////////////////////
// メイン部分
//////////////////////

// 共通CVボタン（赤）
.c-btn-cv{
    width: 87.537%;
    height: 64px;
    margin: 0 auto;
    border: 2px solid $cl-lp-white;
    border-radius: 32px;
    background: $cl-red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    @include font-size-xm;
    color: $cl-lp-white;
    letter-spacing: 0.25px;
}

// 共通CVボタン（緑）
.c-btn-cta-main{
  text-align: center;
  a{
    text-align: center;
    margin: 0px auto 0px;
    cursor: pointer;
    background: $cl-brand-line;
    text-decoration: none;
    height: 78px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    max-width: 500px;
    position: relative;
    @include font-size-l;
    letter-spacing: 1px;
    width: 90%;
    @include box-shadow-lp;
  }
}

// 共通スライダー
.p-slider{
    margin-top: 62px;
    position: relative;
    display: flex;
    width: 100%;
    height: 182px;
    overflow: hidden;
    &::before,
    &::after{
        content: "";
        width: 100%;
        height: 29px;
        z-index: 1;
        position: absolute;
        left: 0;
        background: url(https://go.waomirai.com/l/1026513/2025-06-25/hq6gx/1026513/1750903759fvnH7HY7/bg_slide_lp_sum25.png) center top / cover no-repeat;
        @include responsive-style($breakpoint-sp){
            height: 6.4vw;
        }
    }
    &::before{
        top: -1px;
    }
    &::after{
        bottom: -1px;
        transform: rotate(180deg);
    }
    &.is-yellow::after{
        background-image: url(https://go.waomirai.com/l/1026513/2025-06-26/hqdqb/1026513/17509884317nhZH1YP/bg_slide_yellow_lp_sum25.png);
        transform: none;
    }
    img{
        width: auto;
        max-width: none;
        height: 100%;
    }
    &.is-loaded img:first-child{
        animation: loop 50s -25s linear infinite;
    }
    &.is-loaded img + img{
        animation: loop2 50s linear infinite;
    }
}
@keyframes loop{
    0%{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes loop2{
    0%{
        transform: translateX(0);
    }
    to{
        transform: translateX(-200%);
    }
}

// 共通タイトル
.c-title-lp{
  @include font-size-xl;
  @include title-underline;
  margin: 0 auto 30px;
  font-weight: normal;
  text-align: center;
}

// ファーストビュー
.p-fv{
    background: $cl-fv-blue;
    overflow: hidden;
}
.p-fv,
.p-fv-main{
    position: relative;
}
.p-fv-main::before{
    content: "";
    width: 84.267%;
    height: 110.667vw;
    background: url($bg-grid) left top / 20px auto;
    position: absolute;
    left: 7.8665%;
    top: 40px;
    z-index: 2;
    border-radius: $border-radius-bigplus;
    @include box-shadow-fv;
    @include min-responsive-style($min-breakpoint-pc) {
        height: 415px;
    }
}
.p-fv-logo{
    width: 109px;
    position: absolute;
    top: 15px;
    left: 4%;
    z-index: 10;
}
.p-fv-main-title{
    width: 67.467%;
    margin: 0 auto -5px;
    padding-top: 60px;
    position: relative;
    z-index: 3;
}
.p-fv-main-button{
    width: 53.6%;
    position: absolute;
    top: 77.3%;
    left: 22.3%;
    z-index: 10;
}
.p-fv-target{
    @include font-size-m;
    background: $cl-bg-leafgreen-darken;
    color: $cl-lp-white;
    font-weight: bold;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
@media screen and (min-width: $min-breakpoint-pc) and (min-height: 630px) and (max-height: 700px) {
    .p-fv-main-button{
        top: calc(100vh - 110px);
    }
}
.p-fv-bg01{
    position: absolute;
    top: 1%;
    left: 0;
    z-index: 1;
}
.p-fv-main-image{
    position: relative;
    z-index: 10;
}
.p-fv-bg02{
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 4;
    pointer-events: none;
}

// 夏休み自由研究DAYとは？
.p-day{
    margin-top: 60px;
}

// プログラム一覧
.p-list{
    width: $width-main-content;
    margin: 55px auto 0;
}
.p-list-eng{
    color: #000;
    -webkit-text-stroke: 1px $cl-lp-white;
    text-stroke: 1px $cl-lp-white;
    @include font-size-eng;
    font-weight: 800;
    color: $cl-bg-leafgreen;
    font-family: $font-open-sans;
    line-height: $lineheight-none;
    letter-spacing: 3.25px;
    margin: 0 0 -8px 20px;
}
.p-list-wrapper{
    background: $cl-lp-white;
    border-radius: $border-radius-big;
    padding: 35px 25px 0;
    @include box-shadow-list;
    margin-bottom: 53px;
    background: url($bg-grid) left top / 20px auto;
}
.p-list-title{
    width: 180px;
}
.p-list-text{
    @include font-size-m;
    line-height: $lineheight-normal;
    margin-top: 10px;
}
.p-list-main{
    margin-top: 22px !important;
}
.p-list-item{
    border-top: 1px solid $cl-gray;
    padding: 22px 0;
    display: flex;
    align-items: flex-start;
    @each $key, $color in $subject-categories{
        &.is-#{$key} .p-list-item-image{
            border: 2px solid $color;
        }
        &.is-#{$key} .p-list-item-info-button .fa-solid{
            color: $color;
        }
    }
}
.p-list-item-image{
    width: 65px;
    flex-shrink: 0;
    border-radius: $border-radius-middle;
    overflow: hidden;
}
.p-list-item-info{
    padding-left: 20px;
}
.p-list-item-info-number{
    font-family: $font-open-sans;
    color: $cl-gray-darken;
    font-style: italic;
    @include font-size-xm;
    line-height: $lineheight-none;
    margin-top: 2px;
}
.p-list-item-info-title{
    font-weight: bold;
    @include font-size-m;
    line-height: $lineheight-normal;
    margin-top: 3px;
}
.p-list-item-info-text{
    @include font-size-m;
    line-height: $lineheight-normal;
}
.p-list-item-info-button{
    width: 120px;
    height: 30px;
    @include font-size-s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $cl-gray;
    border-radius: $border-radius-small;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-left: 12px;
    background: $cl-lp-white;
    .fa-solid{
        display: inline-block;
        font-size: 110%;
        line-height: 1;
        position: absolute;
        top: calc(50% - 7px);
        left: 10px;
    }
}

// プログラムのタブ
.p-tab-text{
    @include font-size-xs;
    line-height: $lineheight-relaxed;
    color: $cl-lp-white;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.p-tab-list{
    background: $cl-bg-leafgreen;
    @include box-shadow-tab-list;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    &.is-fixed-hide{
        transform: translateY(-100%);
    }
    @include responsive-style($breakpoint-sp){
        position: sticky;
    }
}
.p-tab-list-wrapper{
    display: flex;
    justify-content: space-between;
    width: $width-main-content;
    margin: 0 auto;
    padding: 11px 0;
}
.p-tab-item{
    width: calc(20% - 5px);
    @include font-size-sss;
    line-height: $lineheight-tight;
    background: $cl-lp-white;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: $cl-bg-leafgreen-darken;
    text-align: center;
    @include responsive-style($breakpoint-sp){
        @each $key, $color in $subject-categories{
            &.is-#{$key}.is-active{
                background: $color;
                color: $cl-lp-white;
                border: 1px solid $cl-lp-white;
            }
        }
    }
}

// プログラム詳細
.p-details-list{
    width: $width-main-content;
    margin: 60px auto !important;
}
.p-details-item{
    border-radius: $border-radius-big;
    background: url($bg-grid) left top / 20px auto;
    position: relative;
    padding: 30px 24.5px;
    &:nth-child(n+2){
        margin-top: 52px;
    }
    @each $key, $color in $subject-categories{
        &.is-#{$key}{
            .p-details-item-subject{
                background: $color;
            }
            .p-details-item-info-item-title,
            .p-details-item-teacher-text-more{
                border: 2px solid $color;
                color: $color;
            }
            .p-details-item-teacher-text-more{
                &::before,
                &::after{
                    background: $color;
                }
            }
        }
    }
}
.p-details-item-anchor{
    position: absolute;
    top: -14px;
    left: 0;
    @include responsive-style($breakpoint-sp){
        top: -83px;
    }
}
.p-details-item-subject{
    width: 125px;
    height: 32px;
    border-radius: $border-radius-bigplus;
    color: $cl-lp-white;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size-xs;
    position: absolute;
    top: -14px;
    left: 24px;
    letter-spacing: 0.25px;
}
.p-details-item-info{
    margin-top: 20px !important;
}
.p-details-item-info-item{
    display: flex;
    &:nth-child(n+2){
        margin-top: 10px;
    }
}
.p-details-item-info-item-title{
    width: 44px;
    height: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-tiny;
    margin: 0 10px 0 0;
    flex-shrink: 0;
    @include font-size-xs;
}
.p-details-item-info-item-text{
     @include font-size-m;
     line-height: $lineheight-loose;
}
.p-details-item-info-item-text-note{
    @include font-size-ss;
    color: $cl-gray-note;
    display: block;
    line-height: $lineheight-normal;
    white-space: nowrap;
    @include responsive-style(374px) {
        letter-spacing: -0.5px;
    }
     @include responsive-style(359px) {
        letter-spacing: 0;
        white-space: normal;
    }
}
.p-details-item-text{
    @include font-size-m;
    line-height: $lineheight-extra-loose;
    margin-top: 20px;
}
.p-details-item-teacher{
    background: $cl-gray-lighten;
    padding: 22px 16px;
    margin-top: 30px;
    border-radius: $border-radius-middle;
    position: relative;
    &.is-more-false{
        .p-details-item-teacher-text{
            height: auto;
            &::before{
                display: none;
            }
        }
        .p-details-item-teacher-text-more{
            display: none;
        }
    }
}
.p-details-item-teacher-bg{
    @include font-size-eng-small;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 300;
    opacity: 0.05;
}
.p-details-item-teacher-head{
    display: flex;
    align-items: center;
}
.p-details-item-teacher-head-image{
    width: 75px;
    flex-shrink: 0;
    margin-right: 16px;
}
.p-details-item-teacher-head-name{
    @include font-size-m;
    line-height: $lineheight-semi-relaxed;
}
.p-details-item-teacher-text{
    @include font-size-m;
    line-height: $lineheight-semi-loose;
    padding-top: 12px;
    margin-top: 10px;
    background: linear-gradient(to right, #000 2px, transparent 2px) repeat-x left top / 4px 1px;
    height: 122px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, transparent 0%, $cl-gray-lighten 62%);
    }
    &.is-active{
        height: auto;
        &::before{
            display: none;
        }
    }
}
.p-details-item-teacher-text-more{
    width: 243px;
    height: 41px;
    border-radius: $border-radius-huge;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 18px;
    left: calc(50% - 121.5px);
    background: $cl-lp-white;
    font-weight: 500;
    @include font-size-xxs;
    line-height: 1;
    padding-right: 10px;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: "";
        width: 9px;
        height: 1px;
        position: absolute;
        left: calc(50% + 37px);
        top: calc(50% - 0.5px);
    }
    &::after{
        content: "";
        width: 1px;
        height: 9px;
        position: absolute;
        left: calc(50% + 41px);
        top: calc(50% - 4.5px);
    }
    .p-details-item-teacher-text-more-close{
        display: none;
    }
    &.is-active{
        position: static;
        margin: 10px auto 0;
        &::before,
        &::after,
        .p-details-item-teacher-text-more-open{
            display: none;
        }
        .p-details-item-teacher-text-more-close{
            display: inline;
        }
    }
}

// こんなお子さまたちにオススメです！
.c-recommend{
    padding-top: 40px;
    background: $cl-lp-yellow;
}
.c-recommend-main{
    width: $width-main-content;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    margin: 0 auto;
    gap: 30px;
}
.c-recommend-main-child{
    display: flex;
    gap: 20px;
    &:last-child{
        flex-direction: row-reverse;
    }
}
.c-recommend-main-child-icon{
    width: 88px;
    margin: 0;
    img{
        height: 75px;
        margin: 0 auto;
    }
}
.c-recommend-main-child-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background: $cl-lp-white;
    @include font-size-m;
    padding: 16px;
    border-radius: $border-radius-big;
    &::before{
        content: "";
        position: absolute;
        top: 30px;
        left: -15px;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent $cl-lp-white transparent transparent;
        border-width: 15px 15px 15px 0px;
        z-index: 1;
    }
}
.c-recommend-main-child:last-child .c-recommend-main-child-text::before{
    left: auto;
    right: -15px;
    transform: rotate(-180deg);
}
.c-recommend-point{
    background: $cl-lp-white;
    border-radius: $border-radius-big;
}
.c-recommend-point-left{
    width: 120px;
    height: 30px;
    border-radius: $border-radius-bigplus 0 $border-radius-bigplus 0;
    background: $cl-gray-deep;
    color: $cl-lp-white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-size-xm;
}
.c-recommend-point-right{
    flex: 1;
    @include font-size-xm;
    width: 100%;
    padding: 20px 20px 30px;
    text-align: left;
}

// 授業の特長
.c-feature{
    max-width: $width-lg;
    text-align: center;
    background: $cl-lp-yellow;
    padding: 60px 0;
    height: auto;
    flex-direction: column;
    gap: 10px;
}
.c-feature-wrapper{
    width: $width-main-content;
    margin: 0 auto !important;
}
.c-feature-list-child{
    @include font-size-l;
    background: $cl-feature-yellow;
    @include box-shadow-feature;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    border-radius: $border-radius-large;
    padding: 20px 0;
    &:last-child{
        margin: 0 auto 50px;
    }
    i{
        display: inline-block;
        margin-top: 6px;
    }
}
.c-feature-list-child-icons{
    display: flex;
    gap: 10px;
}

// 5stepで参加可能
.c-howto{
    background: $cl-lp-white;
}
.c-howto-main{
    width: $width-main-content;
    margin: 0 auto;
    padding: 40px 0 5px;
    position: relative;
}
.c-howto-main-title{
    width: 100%;
    @include font-size-xl;
    font-weight: normal;
    margin: 0 auto 30px;
    text-align: center;
    letter-spacing: 2px;
    .large{
        @include font-size-xxxxxxl;
    }
}
.c-howto-main-img{
    width: 200px;
    margin: 0 auto 40px;
}
.c-howto-main-step .c-howto-main-step-child{
    max-width: $width-sm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto 70px;
}
.c-howto-main-step-child-icon{
    width: 100px;
    flex-shrink: 0;
}
.c-howto-main-step-child-text{
    width: 100%;
}
.c-howto-main-step-child-text-title{
    @include font-size-l;
    position: relative;
    margin: 5px 0 15px;
}
.c-howto-main-step-child-text-title-number{
    display: block;
    text-align: center;
    @include font-size-xxxxl;
}
.c-howto-main-step-child-text-detail{
    @include font-size-m;
    line-height: $lineheight-relaxed;
    a{
        color: $cl-black;
    }
    @include responsive-style(768px){
        letter-spacing: 0.5px;
    }
}

// ワオ未来塾って？
.c-about{
    max-width: $width-lg;
    background: $cl-lp-yellow;
    padding-top: 50px;
    .c-title-lp{
        padding-top: 75px;
    }
}
.c-about-wrapper{
    width: $width-main-content;
    margin: 0 auto;
}
.c-about-box{
    display: flex;
    gap: 30px;
    flex-direction: column;
    border-radius: $border-radius-bigplus;
    padding: 40px 20px 40px;
    background: $cl-lp-white;
}
.c-about-box-left{
    width: 70%;
    margin: 0 auto 0px;
}
.c-about-box-right{
    flex: 1;
    line-height: $lineheight-relaxed;
    @include font-size-m;
    letter-spacing: 0.5px;
}

// ワオ未来塾詳細
.c-details{
    max-width: $width-xl;
    padding: 75px 0 120px;
    background: $cl-lp-yellow;
}
.c-details-wrapper{
    width: $width-main-content;
    margin: 0 auto;
}
.c-details-catch{
    @include font-size-l;
    margin: 0 auto 30px;
    text-align: center;
}
.c-details-logo{
    max-width: 800px;
    margin: 0 auto 30px;
}
.c-details-target{
    @include font-size-l;
    margin: 0 auto 30px;
    text-align: center;
}
.c-details-subjects{
    max-width: 800px;
    margin: 0 auto 35px;
}
.c-details-feature{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto 60px;
}
.c-details-feature-box{
    background: white;
    border-radius: $border-radius-bigplus;
    padding: 30px 20px 30px;
    @include font-size-m;
    flex: 1;
    @include box-shadow-feature;
}
.c-details-feature-box-title{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto 20px;
    @include font-size-l;
    img{
        width: 30px;
    }
}
.c-details-feature-box-title-text{
    font-weight: normal;
    @include font-size-l;
}
.c-details-feature-box-text{
    @include font-size-m;
    line-height: $lineheight-normal;
}
.c-details-btn{
    text-align: center;
    a{
        text-align: center;
        margin: 30px auto 0px;
        background: $cl-main-orange;
        text-decoration: none;
        height: 78px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-full;
        width: 100%;
        max-width: 500px;
        position: relative;
        line-height: $lineheight-normal;
        gap: 12px;
        @include box-shadow-lp;
        .c-details-btn-text{
            margin: 0px 0 0;
            @include font-size-l;
            letter-spacing: 1px;
        }
        .c-details-btn-icn{
            width: 17px;
            height: 17px;
        }
    }
}

// フッター
.l-footer{
    background: $cl-lp-yellow;
}
.l-footer-wrapper{
    width: 100%;
    text-align: center;
    background: $cl-black;
    color: $cl-lp-white;
    padding: 60px 0px 158px;
    border-radius: 50px 50px 0 0;
    ul{
        margin: 0 !important;
        padding: 0 !important;
    }
    li{
        list-style: none;
        padding: 10px 0;
        a{
            color: white;
            text-decoration: none;
            @include font-size-m;
        }
    }
}
.l-footer-logo{
    img{
        width: 170px;
        margin: 60px auto 45px;
    }
}
.l-footer-copyright{
    width: 100%;
    border-top: 1px solid $cl-lp-white;
    padding: 15px 0 15px;
}

// 追従ボタン
.l-btn-cv{
    display: none;
    width: 100%;
    position: fixed;
    bottom: 34px;
    left: 0;
    z-index: 1000;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    @include min-responsive-style($min-breakpoint-pc) {
        width: 450px;
        left: calc(50% - 225px);
    }
}
