//////////////////////
// メイン部分
//////////////////////
.c-btn-cv{
    width: 87.537%;
    height: 64px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 32px;
    background: $cl-red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    @include font-size-xm;
    color: #fff;
    letter-spacing: 0.25px;
}

.c-slide {
    margin-top: 62px;
    position: relative;
    display: flex;
    width: 100%;
    height: 182px;
    overflow: hidden;
    &::before,
    &::after{
        content: "";
        width: 100%;
        height: 29px;
        z-index: 1;
        position: absolute;
        left: 0;
        background: url(https://go.waomirai.com/l/1026513/2025-06-25/hq6gx/1026513/1750903759fvnH7HY7/bg_slide_lp_sum25.png) center top / cover no-repeat;
        @include responsive-style($breakpoint-sp) {
            height: 6.4vw;
        }
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
        transform: rotate(180deg);
    }
    img {
        width: auto;
        max-width: none;
        height: 100%;
        will-change: transform;
    }
    img:first-child {
        animation: loop 50s -25s linear infinite;
        backface-visibility: hidden;
        will-change: transform;
    }
    img + img {
        animation: loop2 50s linear infinite;
    }
}
@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

.p-fv,
.p-fv-main{
    position: relative;
}
.p-fv-logo{
    width: 109px;
    position: absolute;
    top: 15px;
    left: 4%;
    z-index: 1;
}
.p-fv-main-title{
    width: 67.467%;
    position: absolute;
    top: 8.5%;
    left: 15.925%;
}
.p-fv-main-button{
    width: 53.6%;
    position: absolute;
    top: 77.3%;
    left: 22.3%;
}
.p-fv-target{
    @include font-size-m;
    background: $cl-bg-leafgreen-darken;
    color: #fff;
    font-weight: bold;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.p-day{
    margin-top: 60px;
}

.p-list{
    width: $width-main-content;
    margin: 55px auto 0;
}
.p-list-eng{
    color: #000;
    -webkit-text-stroke: 1px #FFF;
    text-stroke: 1px #FFF;
    @include font-size-eng;
    font-weight: 800;
    color: $cl-bg-leafgreen;
    font-family: $font-open-sans;
    line-height: $lineheight-none;
    letter-spacing: 3.25px;
    margin: 0 0 -8px 20px;
}
.p-list-wrapper{
    background: #fff;
    border-radius: $border-radius-big;
    padding: 35px 25px 0;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.14);
    margin-bottom: 53px;
    background: url(https://go.waomirai.com/l/1026513/2025-06-25/hq5sq/1026513/1750900085IR8YsGcF/grid_lp_sum25.png) left top / 20px auto;
}
.p-list-title{
    width: 180px;
}
.p-list-text{
    @include font-size-m;
    line-height: $lineheight-normal;
    margin-top: 10px;
}
.p-list-main{
    margin-top: 22px !important;
}
.p-list-item{
    border-top: 1px solid $cl-gray;
    padding: 22px 0;
    display: flex;
    align-items: flex-start;
    @each $key, $color in $subject-categories {
        &.is-#{$key} .p-list-item-image {
            border: 2px solid $color;
        }
        &.is-#{$key} .p-list-item-info-button .fa-solid{
            color: $color;
        }
    }
}
.p-list-item-image{
    width: 65px;
    flex-shrink: 0;
    border-radius: $border-radius-middle;
    overflow: hidden;
}
.p-list-item-info{
    padding-left: 20px;
}
.p-list-item-info-number{
    font-family: $font-open-sans;
    color: $cl-gray-darken;
    font-style: italic;
    @include font-size-xm;
    line-height: $lineheight-none;
    margin-top: 2px;
}
.p-list-item-info-title{
    font-weight: bold;
    @include font-size-m;
    line-height: $lineheight-normal;
    margin-top: 3px;
}
.p-list-item-info-text{
    @include font-size-m;
    line-height: $lineheight-normal;
}
.p-list-item-info-button{
    width: 120px;
    height: 30px;
    @include font-size-s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $cl-gray;
    border-radius: $border-radius-small;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-left: 12px;
    .fa-solid{
        display: inline-block;
        font-size: 110%;
        line-height: 1;
        position: absolute;
        top: calc(50% - 7px);
        left: 10px;
    }
}

.p-tab-text{
    @include font-size-xs;
    line-height: $lineheight-relaxed;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.p-tab-list{
    background: $cl-bg-leafgreen;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    position: relative;
    z-index: 1000;
    &.is-fixed{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.2s ease-in-out;
        &.is-fixed-hide{
            transform: translateY(-100%);
        }
    }
}
.p-tab-list-wrapper{
    display: flex;
    justify-content: space-between;
    width: $width-main-content;
    margin: 0 auto;
    padding: 11px 0;
}
.p-tab-item{
    width: calc(20% - 5px);
    @include font-size-ss;
    line-height: $lineheight-tight;
    background: #fff;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: $cl-bg-leafgreen-darken;
    text-align: center;
    @each $key, $color in $subject-categories {
        &.is-#{$key}.is-active{
            background: $color;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}