//////////////////////
// メイン部分
//////////////////////

// 共通CVボタン（赤）
.c-btn-cv{
    width: 87.537%;
    height: 64px;
    margin: 0 auto;
    border: 2px solid $cl-lp-white;
    border-radius: 32px;
    background: $cl-red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    @include font-size-xm;
    color: $cl-lp-white;
    letter-spacing: 0.25px;
}

// 共通CVボタン（緑）
.c-btn-cta-main {
  text-align: center;
  a {
    text-align: center;
    margin: 0px auto 0px;
    cursor: pointer;
    background: $cl-brand-line;
    text-decoration: none;
    height: 78px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    width: 100%;
    max-width: 500px;
    position: relative;
    @include font-size-l;
    letter-spacing: 1px;
    @include responsive-style(768px) {
      width: 90%;
    }
    @include box-shadow-lp;
  }
}

// 共通スライダー
.c-slide {
    margin-top: 62px;
    position: relative;
    display: flex;
    width: 100%;
    height: 182px;
    overflow: hidden;
    &::before,
    &::after{
        content: "";
        width: 100%;
        height: 29px;
        z-index: 1;
        position: absolute;
        left: 0;
        background: url(https://go.waomirai.com/l/1026513/2025-06-25/hq6gx/1026513/1750903759fvnH7HY7/bg_slide_lp_sum25.png) center top / cover no-repeat;
        @include responsive-style($breakpoint-sp) {
            height: 6.4vw;
        }
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
        transform: rotate(180deg);
    }
    img {
        width: auto;
        max-width: none;
        height: 100%;
        will-change: transform;
    }
    img:first-child {
        animation: loop 50s -25s linear infinite;
        backface-visibility: hidden;
        will-change: transform;
    }
    img + img {
        animation: loop2 50s linear infinite;
    }
}
@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

// 共通タイトル
.c-title-lp {
  @include font-size-xl;
  @include title-underline; //下の波線
  margin: 0 auto 50px;
  font-weight: normal;
  text-align: center;
  @include responsive-style(768px) {
    margin-bottom: 35px;
  }
}

.p-fv,
.p-fv-main{
    position: relative;
}
.p-fv-logo{
    width: 109px;
    position: absolute;
    top: 15px;
    left: 4%;
    z-index: 1;
}
.p-fv-main-title{
    width: 67.467%;
    position: absolute;
    top: 8.5%;
    left: 15.925%;
}
.p-fv-main-button{
    width: 53.6%;
    position: absolute;
    top: 77.3%;
    left: 22.3%;
}
.p-fv-target{
    @include font-size-m;
    background: $cl-bg-leafgreen-darken;
    color: $cl-lp-white;
    font-weight: bold;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.p-day{
    margin-top: 60px;
}

.p-list{
    width: $width-main-content;
    margin: 55px auto 0;
}
.p-list-eng{
    color: #000;
    -webkit-text-stroke: 1px $cl-lp-white;
    text-stroke: 1px $cl-lp-white;
    @include font-size-eng;
    font-weight: 800;
    color: $cl-bg-leafgreen;
    font-family: $font-open-sans;
    line-height: $lineheight-none;
    letter-spacing: 3.25px;
    margin: 0 0 -8px 20px;
}
.p-list-wrapper{
    background: $cl-lp-white;
    border-radius: $border-radius-big;
    padding: 35px 25px 0;
    @include box-shadow-list;
    margin-bottom: 53px;
    background: url(https://go.waomirai.com/l/1026513/2025-06-25/hq5sq/1026513/1750900085IR8YsGcF/grid_lp_sum25.png) left top / 20px auto;
}
.p-list-title{
    width: 180px;
}
.p-list-text{
    @include font-size-m;
    line-height: $lineheight-normal;
    margin-top: 10px;
}
.p-list-main{
    margin-top: 22px !important;
}
.p-list-item{
    border-top: 1px solid $cl-gray;
    padding: 22px 0;
    display: flex;
    align-items: flex-start;
    @each $key, $color in $subject-categories {
        &.is-#{$key} .p-list-item-image {
            border: 2px solid $color;
        }
        &.is-#{$key} .p-list-item-info-button .fa-solid{
            color: $color;
        }
    }
}
.p-list-item-image{
    width: 65px;
    flex-shrink: 0;
    border-radius: $border-radius-middle;
    overflow: hidden;
}
.p-list-item-info{
    padding-left: 20px;
}
.p-list-item-info-number{
    font-family: $font-open-sans;
    color: $cl-gray-darken;
    font-style: italic;
    @include font-size-xm;
    line-height: $lineheight-none;
    margin-top: 2px;
}
.p-list-item-info-title{
    font-weight: bold;
    @include font-size-m;
    line-height: $lineheight-normal;
    margin-top: 3px;
}
.p-list-item-info-text{
    @include font-size-m;
    line-height: $lineheight-normal;
}
.p-list-item-info-button{
    width: 120px;
    height: 30px;
    @include font-size-s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $cl-gray;
    border-radius: $border-radius-small;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-left: 12px;
    .fa-solid{
        display: inline-block;
        font-size: 110%;
        line-height: 1;
        position: absolute;
        top: calc(50% - 7px);
        left: 10px;
    }
}

.p-tab:has(.p-tab-list.is-fixed){
    padding-bottom: 63px;
}
.p-tab-text{
    @include font-size-xs;
    line-height: $lineheight-relaxed;
    color: $cl-lp-white;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.p-tab-list{
    background: $cl-bg-leafgreen;
    @include box-shadow-tab-list;
    position: relative;
    z-index: 1000;
    &.is-fixed{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.2s ease-in-out;
        &.is-fixed-hide{
            transform: translateY(-100%);
        }
    }
}
.p-tab-list-wrapper{
    display: flex;
    justify-content: space-between;
    width: $width-main-content;
    margin: 0 auto;
    padding: 11px 0;
}
.p-tab-item{
    width: calc(20% - 5px);
    @include font-size-sss;
    line-height: $lineheight-tight;
    background: $cl-lp-white;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: $cl-bg-leafgreen-darken;
    text-align: center;
    @include responsive-style($breakpoint-sp) {
        @each $key, $color in $subject-categories {
            &.is-#{$key}.is-active{
                background: $color;
                color: $cl-lp-white;
                border: 1px solid $cl-lp-white;
            }
        }
    }
}

.p-details-list{
    width: $width-main-content;
    margin: 60px auto !important;
}
.p-details-item{
    border-radius: $border-radius-big;
    background: url(https://go.waomirai.com/l/1026513/2025-06-25/hq5sq/1026513/1750900085IR8YsGcF/grid_lp_sum25.png) left top / 20px auto;
    position: relative;
    padding: 30px 24.5px;
    &:nth-child(n+2){
        margin-top: 52px;
    }
    @each $key, $color in $subject-categories {
        &.is-#{$key}{
            .p-details-item-subject{
                background: $color;
            }
            .p-details-item-info-item-title,
            .p-details-item-teacher-text-more{
                border: 2px solid $color;
                color: $color;
            }
            .p-details-item-teacher-text-more{
                &::before,
                &::after{
                    background: $color;
                }
            }
        }
    }
}
.p-details-item-anchor{
    position: absolute;
    top: -14px;
    left: 0;
    @include responsive-style($breakpoint-sp) {
        top: -83px;
    }
}
.p-details-item-subject{
    width: 125px;
    height: 32px;
    border-radius: $border-radius-bigplus;
    color: $cl-lp-white;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size-xs;
    position: absolute;
    top: -14px;
    left: 24px;
    letter-spacing: 0.25px;
}
.p-details-item-info{
    width: 110%;
    margin-top: 20px !important;
}
.p-details-item-info-item{
    display: flex;
    &:nth-child(n+2){
        margin-top: 10px;
    }
}
.p-details-item-info-item-title{
    width: 44px;
    height: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-tiny;
    margin: 0 10px 0 0;
    flex-shrink: 0;
    @include font-size-xs;
}
.p-details-item-info-item-text{
     @include font-size-m;
     line-height: $lineheight-loose;
}
.p-details-item-info-item-text-note{
    @include font-size-ss;
    color: $cl-gray-note;
    display: block;
    line-height: $lineheight-normal;
}
.p-details-item-text{
    @include font-size-m;
    line-height: $lineheight-extra-loose;
    margin-top: 20px;
}
.p-details-item-teacher{
    background: $cl-gray-lighten;
    padding: 22px 16px;
    margin-top: 30px;
    border-radius: $border-radius-middle;
    position: relative;
    &.is-more-false{
        .p-details-item-teacher-text{
            height: auto;
            &::before{
                display: none;
            }
        }
        .p-details-item-teacher-text-more{
            display: none;
        }
    }
}
.p-details-item-teacher-bg{
    @include font-size-eng-small;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 300;
    opacity: 0.05;
}
.p-details-item-teacher-head{
    display: flex;
    align-items: center;
}
.p-details-item-teacher-head-image{
    width: 75px;
    flex-shrink: 0;
    margin-right: 16px;
}
.p-details-item-teacher-head-name{
    @include font-size-m;
    line-height: $lineheight-semi-relaxed;
}
.p-details-item-teacher-text{
    @include font-size-m;
    line-height: $lineheight-semi-loose;
    padding-top: 12px;
    margin-top: 10px;
    background: linear-gradient(to right, #000 2px, transparent 2px) repeat-x left top / 4px 1px;
    height: 122px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: linear-gradient(to bottom, transparent 0%, $cl-gray-lighten 62%);
    }
    &.is-active{
        height: auto;
        &::before{
            display: none;
        }
    }
}
.p-details-item-teacher-text-more{
    width: 243px;
    height: 41px;
    border-radius: $border-radius-huge;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 18px;
    left: calc(50% - 121.5px);
    background: $cl-lp-white;
    font-weight: 500;
    @include font-size-xxs;
    line-height: 1;
    padding-right: 10px;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: "";
        width: 9px;
        height: 1px;
        position: absolute;
        left: calc(50% + 37px);
        top: calc(50% - 0.5px);
    }
    &::after{
        content: "";
        width: 1px;
        height: 9px;
        position: absolute;
        left: calc(50% + 41px);
        top: calc(50% - 4.5px);
    }
    .p-details-item-teacher-text-more-close{
        display: none;
    }
    &.is-active{
        position: static;
        margin: 10px auto 0;
        &::before,
        &::after,
        .p-details-item-teacher-text-more-open{
            display: none;
        }
        .p-details-item-teacher-text-more-close{
            display: inline;
        }
    }
}

//こんなお子さんにオススメです！
.lp-waomirai-recommend {
  margin: 75px 0 0;
  .lp-waomirai-recommend {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    // background: white;
    div {
      @include min-responsive-style(768px) {
        flex: 1;
      }
    }
    .lp-waomirai-recommend-left {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $cl-white;
      img {
        width: 50%;
      }
    }
    .lp-waomirai-recommend-right {
      position: relative;
      background: $cl-graylightest;
      padding: 45px;
      display: flex;
      flex-direction: column;
      gap: 45px;
      border-radius: 45px;
      @include responsive-style(768px) {
        background: transparent;
        margin: 0 20px;
        padding: 0px 0px 30px;
        border-radius: 0;
        gap: 30px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent $cl-graylightest transparent transparent;
        border-width: 82px 52px 82px 0px;
        z-index: 1;
        @include responsive-style(768px) {
          display: none;
        }
      }
      .lp-waomirai-recommend-right-child {
        @include responsive-style(768px) {
          display: flex;
          gap: 20px;
        }
        &:last-child {
          flex-direction: row-reverse;
        }
        .lp-waomirai-recommend-right-child-icon {
          @include responsive-style(768px) {
            width: 102px;
            margin: 0;
          }
        }
        .lp-waomirai-recommend-right-child-icon {
          img {
            height: 75px;
            margin: 0 auto;
          }
          @include responsive-style(768px) {
            width: 88px;
            margin: 0;
          }
        }
        .lp-waomirai-recommend-right-child-text {
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include font-size-l;
          position: relative;
          @include responsive-style(768px) {
            background: $cl-graylightest;
            @include font-size-m;
            padding: 16px;
            border-radius: $border-radius-big;
          }
          &::before {
            @include responsive-style(768px) {
              content: "";
              position: absolute;
              top: 30px;
              left: -15px;
              margin: auto;
              width: 0;
              height: 0;
              border-style: solid;
              border-color: transparent $cl-graylightest transparent transparent;
              border-width: 15px 15px 15px 0px;
              z-index: 1;
            }
          }
        }
        &:last-child .lp-waomirai-recommend-right-child-text::before {
          left: auto;
          right: -15px;
          transform: rotate(-180deg);
        }
      }
    }
  }
  //POINT!
  .lp-waomirai-point {
    max-width: 520px;
    margin: 45px auto 0;
    display: flex;
    align-items: center;
    gap: 30px;
    @include responsive-style(768px) {
      background: $cl-graylightest;
      margin: 0px 20px 0;
      padding: 0px 0px;
      border-radius: $border-radius-big;
      display: block;
    }
    .lp-waomirai-point-left {
      @include responsive-style(768px) {
        width: 120px;
        height: 30px;
        border-radius: $border-radius-bigplus 0 $border-radius-bigplus 0;
      }
      width: 90px;
      height: 90px;
      border-radius: $border-radius-full;
      background: $cl-gray;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-size-xm;
    }
    .lp-waomirai-point-right {
      flex: 1;
      text-align: center;
      @include font-size-xm;
      @include responsive-style(768px) {
        width: 100%;
        padding: 20px 20px 30px;
        text-align: left;
      }
    }
  }
}

// 授業の特長
.lp-waomirai-feature {
  margin: 100px auto 0;
  max-width: $width-lg;
  text-align: center;
  @include responsive-style(768px) {
    padding: 0 20px;
    margin: 60px auto 0;
    height: auto;
    flex-direction: column;
    gap: 10px;
    border-radius: $border-radius-bigplus;
  }
}
.lp-waomirai-feature-list {
  padding-left: 0;
  max-width: calc(100% - 40px);
  margin: 0 auto !important;
  @include responsive-style(768px) {
    max-width: none;
  }
}
.lp-waomirai-feature-list-child {
  @include font-size-l;
  background: $cl-feature-yellow;
  @include box-shadow-feature;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 30px;
  border-radius: $border-radius-full;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  @include responsive-style(768px) {
    @include font-size-l;
    height: auto;
    flex-direction: column;
    gap: 10px;
    border-radius: 40px;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  &:last-child {
    margin: 0 auto 90px;
    @include responsive-style(768px) {
      margin-bottom: 50px;
    }
  }
  i {
    display: inline-block;
    margin-top: 6px;
  }
}
.lp-waomirai-feature-list-child-icons {
  display: flex;
  gap: 10px;
}

//5stepで参加可能
.lp-waomirai-howto {
  margin-top: 120px;
  @include responsive-style(768px) {
    margin-top: 60px;
  }
}
.lp-waomirai-howto-main {
  padding: 80px 0 45px;
  background: $cl-bg-eventlp;
  margin-bottom: 115px;
  @include responsive-style(768px) {
    padding: 40px 0 5px;
    position: relative;
    margin-bottom: 50px;
  }
  .lp-waomirai-howto-main-title {
    @include font-size-xl;
    font-weight: normal;
    margin: 0 auto 30px;
    text-align: center;
    letter-spacing: 2px;
    @include responsive-style(768px) {
      width: 100%;
    }
    .large {
      @include font-size-xxxl;
      @include responsive-style(768px) {
        @include font-size-xxxxxxl;
      }
    }
  }
  .lp-waomirai-howto-main-img {
    width: 200px;
    margin: 0 auto 40px;
  }

  .lp-waomirai-howto-main-step {
    .lp-waomirai-howto-main-step-child {
      max-width: $width-sm;
      width: calc(100% - 40px);
      margin: 0 auto 75px;
      display: flex;
      @include responsive-style(768px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto 70px;
      }
      .lp-waomirai-howto-main-step-child-icon {
        width: 100px;
        margin-right: 20px;
        flex-shrink: 0;
        @include responsive-style(768px) {
          width: 100px;
          margin-right: 0;
        }
      }
      .lp-waomirai-howto-main-step-child-text {
        width: 100%;
        padding: 0 20px;
        .lp-waomirai-howto-main-step-child-text-title {
          @include font-size-l;
          padding-left: 1em;
          position: relative;
          @include responsive-style(768px) {
            @include font-size-l;
            padding-left: 0;
          }
          margin: 5px 0 15px;
        }
        .lp-waomirai-howto-main-step-child-text-title-number {
          position: absolute;
          top: 0;
          left: 0;
          @include responsive-style(768px) {
            position: static;
            display: block;
            text-align: center;
            @include font-size-xxxxl;
          }
        }
        .lp-waomirai-howto-main-step-child-text-detail {
          @include font-size-m;
          line-height: $lineheight-relaxed;
          a {
            color: $cl-black;
          }
          @include responsive-style(768px) {
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}

//ワオ未来塾って？
.lp-waomirai-about {
  max-width: $width-lg;
  padding: 0 20px;
  margin: 100px auto 0;
  @include responsive-style(768px) {
    padding: 0;
    margin-top: 75px;
  }
}
.lp-waomirai-about-box {
  border-radius: $border-radius-extrabig;
  display: flex;
  gap: 45px;
  @include responsive-style(768px) {
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    border-radius: $border-radius-bigplus;
  }
}
.lp-waomirai-about-box-left {
  width: 250px;
  @include responsive-style(768px) {
    width: 70%;
    margin: 0 auto 0px;
  }
}
.lp-waomirai-about-box-right {
  flex: 1;
  line-height: $lineheight-relaxed;
  @include font-size-m;
  @include responsive-style(768px) {
    letter-spacing: 0.5px;
  }
}

//ワオ未来塾詳細
.lp-waomirai-details {
  max-width: $width-xl;
  padding: 0 20px;
  margin: 100px auto 120px;
  @include responsive-style(768px) {
    margin-top: 75px;
  }
  .lp-waomirai-details-catch {
    @include font-size-l;
    margin: 0 auto 40px;
    text-align: center;
    @include responsive-style(768px) {
      margin-bottom: 30px;
    }
  }
  .lp-waomirai-details-logo {
    max-width: 800px;
    margin: 0 auto 34px;
    @include responsive-style(768px) {
      margin-bottom: 30px;
    }
  }
  .lp-waomirai-details-target {
    @include font-size-l;
    margin: 0 auto 40px;
    text-align: center;
    @include responsive-style(768px) {
      margin-bottom: 30px;
    }
  }
  .lp-waomirai-details-subjects {
    max-width: 800px;
    margin: 0 auto 50px;
    @include responsive-style(768px) {
      margin-bottom: 35px;
    }
  }
  .lp-waomirai-details-feature {
    display: flex;
    gap: 35px;
    margin: 0 auto 60px;
    @include responsive-style(768px) {
      flex-direction: column;
      gap: 20px;
    }
    .lp-waomirai-details-feature-box {
      background: white;
      border-radius: $border-radius-bigplus;
      padding: 30px 20px;
      @include font-size-m;
      flex: 1;
      @include box-shadow-feature;
      @include responsive-style(768px) {
        padding: 30px 20px 30px;
      }
      .lp-waomirai-details-feature-box-title {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 auto 20px;
        @include responsive-style(768px) {
          @include font-size-l;
          margin-bottom: 20px;
        }
        img {
          width: 30px;
        }
      }
      .lp-waomirai-details-feature-box-title-text {
        font-weight: normal;
        @include font-size-xm;
        @include responsive-style(768px) {
          @include font-size-l;
        }
      }
      .lp-waomirai-details-feature-box-text {
        @include font-size-m;
        line-height: $lineheight-normal;
      }
    }
  }
  .lp-waomirai-details-btn {
    text-align: center;
    a {
      text-align: center;
      margin: 30px auto 0px;
      background: $cl-main-orange;
      text-decoration: none;
      height: 78px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius-full;
      width: 100%;
      max-width: 500px;
      position: relative;
      line-height: $lineheight-normal;
      gap: 12px;
      @include box-shadow-lp;

      .lp-waomirai-details-btn-text {
        margin: 0px 0 0;
        @include font-size-l;
        letter-spacing: 1px;
      }
      .lp-waomirai-details-btn-icn {
        width: 17px;
        height: 17px;
      }
    }
  }
}

// フッター
footer {
  width: 100%;
  padding: 120px 0px 0px;
  text-align: center;
  background: $cl-black;
  color: white;
  border-radius: 100px 100px 0 0;
  @include responsive-style(768px) {
    padding: 60px 0px 60px;
    border-radius: 50px 50px 0 0;
  }
  ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  li {
    list-style: none;
    padding: 10px 0;
    a {
      color: white;
      text-decoration: none;
      @include font-size-m;
    }
  }
  .footer-logo img {
    width: 170px;
    margin: 120px auto 45px;
    @include responsive-style(768px) {
      margin: 60px auto 45px;
    }
  }
  .footer-copyright {
    width: 100%;
    border-top: 1px solid $cl-lp-white;
    padding: 15px 0 15px;
  }
}
