@mixin box-shadow-lp {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
}

/* border-radius */
$border-radius-small: 4px;
$border-radius-middle: 8px;
$border-radius-big: 12px;
$border-radius-bigplus: 16px;
