/* color */

$cl-bg-leafgreen: #B6D76E; //草原の緑
$cl-bg-leafgreen-darken: #9FBC5F; //濃い草原の緑

$subject-categories: (
  "philosophy": $cl-philosophy,
  "science": $cl-science-darken,
  "economiy": $cl-economy,
);
