// color
$cl-lp-white: #fff;
$cl-lp-yellow: #fff8e0;
$cl-bg-leafgreen: #B6D76E; // 草原の緑
$cl-bg-leafgreen-darken: #9FBC5F; // 濃い草原の緑
$cl-bg-eventlp: #fefbee; // イベントLP専用の背景
$cl-gray: #a6a6a6;
$cl-gray-darken: #999;
$cl-gray-note: #8c8c8c;
$cl-gray-lighten : #f5f5f5;
$cl-red: #f66;
$cl-feature-yellow: #fffb96;
$cl-title-underline: #febcad;

$subject-categories: (
  "philosophy": $cl-philosophy,
  "science": $cl-science-darken,
  "economiy": $cl-economy,
);
