/* color */

$cl-bg-leafgreen: #B6D76E; //草原の緑
$cl-bg-leafgreen-darken: #9FBC5F; //濃い草原の緑
$cl-gray: #a6a6a6;
$cl-gray-darken: #999;
$cl-gray-note: #8c8c8c;
$cl-gray-lighten : #f5f5f5;
$cl-red: #f66;

$subject-categories: (
  "philosophy": $cl-philosophy,
  "science": $cl-science-darken,
  "economiy": $cl-economy,
);
