// width
$width-main: 450px; // メインの幅
$width-xl: 1200px; // 最大幅（セクション全体）
$width-lg: 1050px; // 大きめの幅（汎用的に利用）
$width-sm: 700px; // 小さめの幅（「簡単5ステップで〜」で利用）
$width-main-content: 92%; // メインの幅
$breakpoint-tb: 1000px; // ブレイクポイントの幅
$breakpoint-sp: 768px; // ブレイクポイントの幅
$min-breakpoint-pc: 769px; // ブレイクポイントの幅

// グリッド
$bg-grid: 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/grid_lp_sum25.png';

// リンク
a,
.u-link{
    cursor: pointer;
    text-decoration: none;
}
a:hover:not(.u-no-hover-animation),
.u-link:hover{
    filter: brightness(1.1);
}

// 共通部分
.l-pc-wrapper{
    width: 100%;
}
.l-pc-logo,
.l-pc-menu{
    width: calc(50% - ($width-main / 2));
    height: 100%;
    position: fixed;
    top: 0;
    background: url($bg-grid) left top / 24px auto;
}
.l-pc-logo{
    left: 0;
}
.l-pc-logo-img{
    width: calc(100% - 60px);
    max-width: 340px;
    margin: 0 auto;
}
.l-pc-menu{
    right: 0;
}
.l-pc-logo,
.l-pc-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-main{
    width: $width-main;
    margin: 0 auto;
    position: relative;
    background: $cl-bg-leafgreen;
}
.l-pc-logo::before,
.l-pc-menu::before,
.l-pc-logo::after,
.l-pc-menu::after{
    content: "";
    width: 100%;
    height: 13px;
    background: url(https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/pc_border_lp_25sum.png) left top / calc(10px + 2.4px) 13px repeat-x;
    position: absolute;
    left: 0;
}
.l-pc-logo::before,
.l-pc-menu::before{
    top: 0;
}
.l-pc-logo::after,
.l-pc-menu::after{
    bottom: 0;
    transform: rotate(180deg);
}
@include responsive-style($breakpoint-tb) {
    .l-pc-wrapper{
        display: none;
    }
}
@include responsive-style($breakpoint-sp) {
    .l-pc-logo,
    .l-pc-menu{
        display: none;
    }
    .l-main{
        width: 100%;
    }
}

// メニュー
.l-pc-menu-wrapper{
    width: calc(100% - 48px);
    max-width: 344px;
    margin: 0 auto;
    color: $cl-light-blue;
}
.l-pc-menu-title{
    display: flex;
    align-items: center;
    line-height: 1;
    margin-left: rpx(-3);
}
.l-pc-menu-title-eng{
    font-size: rpx(37);
    font-family: $font-open-sans;
    font-weight: 900;
    letter-spacing: rpx(2);
}
.l-pc-menu-title-jpn{
    font-size: rpx(14);
    margin-left: rpx(10);
}
.l-pc-menu-list{
    margin-top: rpx(18) !important;
}
.l-pc-menu-link{
    display: flex;
    align-items: center;
    border-radius: $border-radius-smallplus;
    height: rpx(48);
    border: 1px solid $cl-light-blue;
    font-size: rpx(15);
    padding: 0 rpx(9);
    box-shadow: rpx(4) rpx(4) 0 rgba(0, 0, 0, 0.25);
    color: inherit;
    letter-spacing: -0.5px;
    transition: transform 0.2s ease-in-out;
    background: $cl-lp-white;
}
.l-pc-menu-link:hover,
.l-pc-menu-link.is-active{
    transform: translateX(rpx(-10));
}
.l-pc-menu-item:nth-child(n+2){
    margin-top: rpx(20);
}
.l-pc-menu-link-number{
    font-style: italic;
    font-family: $font-open-sans;
    margin-right: rpx(17);
    font-size: rpx(16);
}
@include responsive-style(1055px) {
    .l-pc-menu-link{
        font-size: rpx(14);
    }
    .l-pc-menu-link-number{
        font-size: rpx(15);
        margin-right: rpx(10);
    }
}