@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700");

// fontfamily
$font-quicksand: "Quicksand", sans-serif;

// fontsize
@mixin font-size-m {
  font-size: 16px;
}
@mixin font-size-ml {
  font-size: 18px;
  @include responsive-style($breakpoint-sp) {
      font-size: 16px;
  }
}
@mixin font-size-l {
  font-size: 25px;
  @include responsive-style($breakpoint-sp) {
      font-size: 20px;
  }
}

// line-height
$lineheight-tight: 1.567;
$lineheight-normal: 1.58;
$lineheight-loose: 1.75;