
//-//////////////
//- ogp
//-//////////////

- var ImgOgp = img('ogp.png');


//-//////////////
//- アイコン
//-//////////////

- var ImgIcnClock = img('icn-clock.svg');

//-//////////////
//- イラスト
//-//////////////

- var ImgIllustNaruhodo = img('illust-naruhodo.svg');
- var ImgIllustFv01FamilyNormal = img('fv-illust-01-family-normal.svg');
- var ImgIllustFv02FamilyStand = img('fv-illust-02-family-stand.svg');
- var ImgIllustFv03Online = img('fv-illust-03-online.svg');
- var ImgIllustFv04Question = img('fv-illust-04-question.svg');
- var ImgIllustFv05Book = img('fv-illust-05-book.svg');
- var ImgIllustFv06Bank = img('fv-illust-06-bank.svg');
- var ImgIllustBtn = img('btn-illust.png');

//-//////////////
//- タイトル・ロゴ
//-//////////////

- var ImgTitleTryLesson = img('title-try-lesson.svg');
- var ImgFvSp = img('fv-sp.png');
- var ImgLogoFvPc = img('fv-logo-pc.svg');


//-//////////////
//- step
//-//////////////

- var ImgIcnStep01= img('icn_step01.png');
- var ImgIcnStep02= img('icn_step02.png');
- var ImgIcnStep03= img('icn_step03.png');
- var ImgIcnStep04= img('icn_step04.png');
- var ImgIcnStep05= img('icn_step05.png');

//-//////////////
//- その他
//-/////////////

- var Img5subjectPc = img('img_waomirai_5subject_pc.svg');
- var Img5subjectSp = img('img_waomirai_5subject_sp.png');

