// ファーストビューセクション - メインのキャッチコピーとCTAを表示
div.fvsp.spimage
   .fvsp-logo
      img(src='https://waomirai.com/lp/assets/commonimages/logo.svg')
   .fvsp-bg
      img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/fv_sp_image.png')
   .fvsp-left 
      .fvsp-left-top 
        |子どもオンライン英会話
      .fvsp-left-main 
        |楽しく学ぼう！
        br
        |英語がもっと身近に
      .lp-cv-button 
            a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank" )   
                .english-fv-absolute-cvtop.cv-limit-text
                    |無料期間中のみの受講もOK！
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
                    |
            script.
              var formLink = document.getElementById("form-link"); // IDを使う
      .lp-sp-scroll.fv-scroll
        img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/scrolldown_noto.svg')                    
div.fvpc.pcimage
   .fvpc-logo
      img(src='https://waomirai.com/lp/assets/commonimages/logo.svg')
   .fvpc-left
      .fvpc-left-text
        img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/text.svg')
      div 
        a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank")   
          .english-fv-absolute-cvtop.cv-limit-text
              | \ 無料期間中のみの受講もOK！ /
          .lp-cv-button-main
            .lp-cv-button-main-free 
               img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/free_icon.svg')
            .lp-cv-button-main-text
              |受講申し込みはこちら
            .lp-cv-button-main-arrow
              |
        script.
          var formLink = document.getElementById("form-link"); // IDを使う
   .fvpc-center.fv-scroll
       img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/scrolldown_yugothic.svg')
   .fvpc-bg
      img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/bgfvpc.png')