
.modal.modal-level-select(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-content
        .modal-wrapper-content-text-select
            |レッスンは２つのレベルから
            br
            |お選びいただけます。
            br
            |どちらのレベルで受講しますか？
        .modal-level-select
          a(href="https://lms.waomirai.com/course/view.php?id=130",target='_blank') 
            img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/button_level_1.png')
          a(href="https://lms.waomirai.com/enrol/index.php?id=138",target='_blank') 
            img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/button_level_2.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる

.modal.modal-level1-weekdays(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-1
       | 【LEVEL 1】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/Calendar11_L1_weekdays.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる
.modal.modal-level1-saturday(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-1
       | 【LEVEL 1】土曜コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/Calendar11_L1_saturday.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる
.modal.modal-level2-weekdays(style='display:none;')
  .modal-wrapper 
    .modal-wrapper-close 
     .modal-wrapper-close-icon.modal-close
    .modal-wrapper-head.level-2
       | 【LEVEL 2】平日コース
    .modal-wrapper-content
        .modal-wrapper-content-text
            |11月に受講できる無料体験レッスンの日程です
        .modal-wrapper-content-img 
            img(src='https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/Calendar11_L2_weekdays.png')
        .modal-wrapper-content-close.modal-close 
           |閉じる

.modal-video
  .modal-video-wrapper
    .modal-video-wrapper-content
      div(style="padding:56.25% 0 0 0;position:relative;")
        iframe(frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%").modal-video-iframe
    .modal-video-close
      |閉じる
.bg-modal(style='display:none;')
script(src="https://player.vimeo.com/api/player.js")