////////////////
//URL
///////////////

- var UrlLine100Phases = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=vLnj'
- var UrlGlobalEnglish = 'https://go.waomirai.com/global-english'

//LiffQR
- var QRLine100Phases =  'https://go.waomirai.com/l/1026513/2025-03-03/hgy2n/1026513/1741056667S2TYnHCU/qr_liff_100phase.png'

////////////////
//imagePath
////////////////

//logo
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgLogoWaoMiraiWhite = 'https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg'
- var ImgLogoEnglish = 'https://go.waomirai.com/l/1026513/2025-06-09/hp2qt/1026513/1749525412hItn3ssz/logo_100phases.png'
- var ImgLogoWaoCorp = 'https://go.waomirai.com/l/1026513/2025-01-15/hbx1k/1026513/17369238821jwHk8La/logo_wao.svg'

//FV
- var ImgFvTarget = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5nf/1026513/1749616485YEE8QjtV/fv_target_2025summer.png'
- var ImgFvPersons = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5nm/1026513/1749616672vhUIN7gI/fv_character_2025summer.png'
- var ImgFvLogo = 'https://go.waomirai.com/l/1026513/2025-06-09/hp2qt/1026513/1749525412hItn3ssz/logo_100phases.png'
- var ImgFvtext = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5nq/1026513/1749617510esWgkzn2/fv_text_2025summer.png'
- var ImgFvCrowds01 = 'https://go.waomirai.com/l/1026513/2025-03-03/hgw2g/1026513/17409876277Z3qkMtO/fv_bgcrowd001.png'
- var ImgFvCrowds02 = 'https://go.waomirai.com/l/1026513/2025-03-03/hgw2k/1026513/1740987627RAAYqScd/fv_bgcrowd002.png'
- var ImgFvBgShine = 'https://go.waomirai.com/l/1026513/2025-03-03/hgw2r/1026513/1740987628MT7reNVv/fv_bgshine.png'

//section
- var ImgSectionBlue01 = 'https://go.waomirai.com/l/1026513/2025-02-28/hgqky/1026513/1740734394g90A43Z5/fv_eng100phases.png'
- var ImgSectionBlue02 = 'https://go.waomirai.com/l/1026513/2025-02-27/hgmbv/1026513/17406501008RJkZR8d/section02_intro.png'
- var ImgSectionBlue03 = 'https://go.waomirai.com/l/1026513/2025-02-27/hgmby/1026513/17406506376HzPOiV8/blue_section03.png'
- var ImgSectionBlue04 = 'https://go.waomirai.com/l/1026513/2025-02-27/hgmc2/1026513/1740650638p75Mt7jR/blue_section04.png'
- var ImgSectionBlue05Title = 'https://go.waomirai.com/l/1026513/2025-03-02/hgtrg/1026513/17409712018QIV4V3U/title_section5.png'
- var ImgSectionBlue05DayTitle01 = 'https://go.waomirai.com/l/1026513/2025-03-02/hgtrc/1026513/1740971201Imk2zCqh/title_day1_3.png'
- var ImgSectionBlue05DayTitle02 = 'https://go.waomirai.com/l/1026513/2025-03-02/hgtr8/1026513/1740971201WTDtbrda/title_day4_6.png'
- var ImgSectionBlue05DayTitle03 = 'https://go.waomirai.com/l/1026513/2025-03-03/hgy4v/1026513/17410571531PZPugaQ/title_day7_9.png'
- var ImgSectionBlue05ContentMiddle = 'https://go.waomirai.com/l/1026513/2025-03-02/hgtr5/1026513/1740971200jWyA77Q6/bg_section_middle.png'
- var ImgSectionBlue05ContentDay10 = 'https://go.waomirai.com/l/1026513/2025-03-03/hgwjn/1026513/1740995113aJzsn6LR/content_day10.png'
- var ImgSectionBlue05ContentMain = 'https://go.waomirai.com/l/1026513/2025-03-03/hgwnn/1026513/1740997910TOrRsSF2/contentScrollEng.png'
- var ImgSectionBlue06IconMovie = 'https://go.waomirai.com/l/1026513/2025-03-06/hh6qk/1026513/1741249128pkPL8yPJ/icn_play_movie.svg'

//04 flow
- var imgFlowTitle = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5rm/1026513/17496206618oywPNsL/title_flow_2025summer.png';
- var ImgFlowBalloon01 = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5tb/1026513/1749625074Jc4LJGbE/ballon_flow01_2025summer.png';
- var ImgFlowBalloon02 = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5tf/1026513/1749625074ZJK4IrGr/ballon_flow02_2025summer.png';
- var ImgFlowTab01 = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5t7/1026513/1749623806TYMNqkpj/tab_flow01_2025summer.png';
- var ImgFlowTab02 = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5t4/1026513/1749623806DzvEM6Zy/tab_flow02_2025summer.png';
- var ImgFlowAbout = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5vj/1026513/1749626701tuQuTQkl/about_flow_2025summer.png';
- var ImgFlowSchedule01 = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5vm/1026513/1749627260KgjoOCdN/schedule01_flow_2025summer.png';
- var ImgFlowSchedule02 = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5yf/1026513/1749630166nsFJywh0/schedule02_flow_2025summer.png';
- var ImgFlowOption = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5vq/1026513/1749627777ZI6OMVZJ/option_flow_2025summer.png';

//05 chat
- var ImgChat = 'https://go.waomirai.com/l/1026513/2025-06-11/hp5xx/1026513/1749629524v9OK8zpg/chat_2025summer.png';

//06 voice
- var ImgVoice = 'https://go.waomirai.com/l/1026513/2025-06-11/hp61t/1026513/1749631798mSqpULBL/voice_2025summer.png';

//Banner
- var ImgBannerGlobalEnglish =  'https://go.waomirai.com/l/1026513/2025-02-26/hgjr8/1026513/1740551773pdyw34vK/banner_global_english.svg'

//button
- var ImgBtnCvPrice = 'https://go.waomirai.com/l/1026513/2025-06-10/hp5jt/1026513/1749610439zAcHGEhg/text_btn_cv_2025summer.svg'
- var ImgBtnCvLine = 'https://go.waomirai.com/l/1026513/2025-03-09/hhfxg/1026513/1741571567JhL3tPpc/btn_cv_b_noborder.svg'

//title
- var ImgTitleMovie= 'https://go.waomirai.com/l/1026513/2025-06-11/hp621/1026513/1749632212e6Dl9UjD/title_movie_2025summer.png'
- var ImgTitleRapport = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjrg/1026513/17405517754aDzsBER/title_rapport.svg'
- var ImgTitle5steps = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjrk/1026513/1740551775QVKueodv/title_5steps.svg'
- var ImgTitlePrice= 'https://go.waomirai.com/l/1026513/2025-02-26/hgjrc/1026513/1740551775gwTPUeMJ/title_price.svg'
- var ImgTitleFaq= 'https://go.waomirai.com/l/1026513/2025-02-28/hgqly/1026513/1740736508RWTbTHh0/title_faq.svg'
- var ImgTitleVoice= 'https://go.waomirai.com/l/1026513/2025-03-06/hh6qg/1026513/1741249040Z5EsZS3Q/titlevoice.svg'

//background
- var ImgBgRapport= 'https://go.waomirai.com/l/1026513/2025-02-26/hgjjv/1026513/1740548193OkGWoNsK/bg_lapport.png'
- var ImgBgCrowdsPc = 'https://go.waomirai.com/l/1026513/2025-02-25/hgd6r/1026513/1740469695VG3RROVa/bg_crowds.svg'
- var ImgBgCrowdsCv = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjjy/1026513/1740548193dKuB0eWA/bg_crowds.png'
- var ImgBgCvBlue = 'https://go.waomirai.com/l/1026513/2025-03-06/hh6q8/1026513/1741248753eiv9aqZy/bg_cv_blue.png'
- var ImgBgCvGreen = 'https://go.waomirai.com/l/1026513/2025-03-06/hh6q5/1026513/1741248752vlEF9uNz/bg_cv_green.png'


//Icon
- var ImgIconSubject =  'https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png'
- var ImgIconBlank = 'https://go.waomirai.com/l/1026513/2025-01-19/hc4f5/1026513/173734363862S1a4bW/icn_target.svg'



//IMG
- var ImgRapport =  'https://go.waomirai.com/l/1026513/2025-02-26/hgjk2/1026513/1740548194NeoqFlh9/img_rappport.png'
- var Img5Steps01 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png'
- var Img5Steps02 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnn/1026513/17369098142mF1y2jz/icon_howto_join02.png'
- var Img5Steps03 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwng/1026513/1736909814hcl8Cpz9/icon_howto_join03.png'
- var Img5Steps04 = 'https://go.waomirai.com/l/1026513/2025-02-26/hgjr5/1026513/1740551773ZCSf1U6V/img_step04.svg'
- var Img5Steps05 = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwnk/1026513/1736909814z0zmhZt9/icon_howto_join05.png'
- var Img5SubjectsPc = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpg/1026513/1736909816cAU257sd/ilust_5subjects_pc.png'
- var Img5SubjectsSp = 'https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.png'
- var ImgPrice = 'https://go.waomirai.com/l/1026513/2025-06-11/hp7nz/1026513/1749688995Ii15vCbF/price_2025summer.png'
