.l-pc-bg-solarpower {
  /* Rectangle 412 */
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #73e5f4 49.93%,
    rgba(255, 250, 232, 0) 136%
  );
  .l-pc-bg-solarpower-crowds-01 {
    position: fixed;
    width: 40%;
    left: 10%;
    top: 10%;
    animation: cloud-move 80s ease-in-out infinite;
  }
  .l-pc-bg-solarpower-crowds-02 {
    position: fixed;
    width: 40%;
    right: 0%;
    top: 10%;
    animation: cloud-move 65s ease-in-out infinite;
  }
}

.l-pc-bg-solarpower-green {
  position: fixed;
  bottom: 0;
  left: 0;
  img {
    position: relative;
    top: 20px;
  }
}

.l-pc-bg-solarpower-ground {
  position: fixed;
  width: 100%;
  height: 25vh;
  bottom: 0;
  left: 0;
  z-index: 0;
  .l-pc-bg-solarpower-ground-img {
    position: relative;
    width: 100%;
  }
}

.l-pc-bg-halloween {
  background: stripe-bg(#ffebcc, #fff0d8, 20px, 90deg);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  &:before {
    position: fixed;
    content: "";
    width: 100%;
    height: 25vh;
    background-color: #ffdfaf;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}
