// techseeker用の色設定
$cl-halloween-black: #092622;
$cl-halloween-orange: #ed6d46;
$cl-halloween-yellow: #f8be12;
$cl-halloween-creamyellow: #fff5d8;
$cl-halloween-border: #ffe9c8;
$cl-halloween-gray: #636363;
$cl-halloween-stripe-bg01: #fed088;
$cl-halloween-stripe-bg02: #ffd9a2;
$cl-lp-white: #fff;
$cl-lp-yellow: #fff8e0;
$cl-gray-lighten: #f5f5f5;
$cl-gray-deep: #4d4d4d;
$cl-red: #f66;
$cl-feature-yellow: #fffb96;
$cl-title-underline: #febcad;
