// techseeker用の色設定
$cl-halloween-black: #092622;
$cl-halloween-orange: #ed6d46;
$cl-halloween-yellow: #f8be12;
$cl-halloween-creamyellow: #fff5d8;
$cl-halloween-border: #ffe9c8;
$cl-halloween-gray: #636363;

$cl-halloween-stripe-bg01: #fed088;
$cl-halloween-stripe-bg02: #ffd9a2;

//以前の
$cl-lp-white: #fff;
$cl-lp-yellow: #fff8e0;
$cl-bg-leafgreen: #b6d76e; // 草原の緑
$cl-bg-leafgreen-darken: #9fbc5f; // 濃い草原の緑
$cl-bg-eventlp: #fefbee; // イベントLP専用の背景
$cl-gray: #a6a6a6;
$cl-gray-darken: #999;
$cl-gray-note: #8c8c8c;
$cl-gray-lighten: #f5f5f5;
$cl-gray-deep: #4d4d4d;
$cl-red: #f66;
$cl-fv-blue: #7ed2f3;
$cl-fv-shadow: #5fa0d6;
$cl-feature-yellow: #fffb96;
$cl-title-underline: #febcad;
$cl-light-blue: #1795ff;

$subject-categories: (
  "philosophy": $cl-philosophy,
  "science": $cl-science-darken,
  "economiy": $cl-economy,
);
