// width
$width-main: 500px; // メインの幅
$width-xl: 1200px; // 最大幅（セクション全体）
$width-lg: 1050px; // 大きめの幅（汎用的に利用）
$width-sm: 700px; // 小さめの幅（「簡単5ステップで〜」で利用）
$width-main-content: 92%; // メインの幅
$breakpoint-dk: 1440px; // ブレイクポイントの幅
$breakpoint-tb: 1000px; // ブレイクポイントの幅
$breakpoint-sp: 768px; // ブレイクポイントの幅
$min-breakpoint-pc: 769px; // ブレイクポイントの幅

// グリッド
$bg-grid: "https://go.waomirai.com/l/1026513/2025-06-25/hq5sq/1026513/1751006905bwjnruZV/grid_lp_sum25.png";

.l-header-coming-soon {
  position: fixed;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cl-white;
}
.l-pc-logo-header .l-pc-logo-header-waomirai img {
  position: fixed;
  left: 10px;
  top: 20px;
  width: 200px;
  z-index: 10;
  @include responsive-style($breakpoint-sp) {
    display: none !important;
  }
}
.l-pc-logo-header .l-pc-logo-header-techseeker img {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 70px;
  z-index: 10;
  @include responsive-style($breakpoint-sp) {
    display: none !important;
  }
}

$body-margin-Left: 8%;
$body-margin-Right: 10%;

.l-pc-logo-main {
  position: fixed;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  width: clamp(0px, calc(450px - (1200px - 100vw)), 450px);
  left: calc((100% - 1440px) / 2 + $body-margin-Left);
  @include responsive-style($breakpoint-dk) {
    left: $body-margin-Left;
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
  @include responsive-style($breakpoint-tb) {
    display: none !important;
  }
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px); /* 画面外スタート */
  }
  40% {
    transform: translateX(100px); /* 画面外スタート */
  }
  80% {
    transform: translateX(-100px); /* 画面外スタート */
  }
  100% {
    transform: translateX(-0px); /* 画面外スタート */
  }
}

.l-pc-bg-solarpower {
  /* Rectangle 412 */
  position: fixed;
  width: 100%;
  height: 80vh;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #93e6f1 49.93%,
    rgba(255, 250, 232, 0) 136%
  );
  .l-pc-bg-solarpower-crowds-01 {
    position: fixed;
    width: 40%;
    left: 10%;
    top: 10%;
    animation: cloud-move 80s ease-in-out infinite;
  }
  .l-pc-bg-solarpower-crowds-02 {
    position: fixed;
    width: 40%;
    right: 0%;
    top: 10%;
    animation: cloud-move 65s ease-in-out infinite;
  }
}

.l-pc-bg-solarpower-ground {
  position: fixed;
  width: 100%;
  height: 25vh;
  bottom: 0;
  left: 0;
  z-index: 0;
  .l-pc-bg-solarpower-ground-img {
    position: relative;
    width: 100%;
    .l-pc-bg-solarpower-ground-img-01 {
      position: absolute;
      top: -70px;
      right: -3.5%;
      width: 18%;
      @include responsive-style($breakpoint-dk) {
        width: 270px;
        right: -6%;
      }
      @include responsive-style($breakpoint-tb) {
        width: 250px;
      }
    }
    .l-pc-bg-solarpower-ground-img-02 img {
      position: absolute;
      top: -180px;
      left: 37%;
      width: 16%;
      @include responsive-style($breakpoint-dk) {
        width: 250px;
      }
      @include responsive-style($breakpoint-tb) {
        width: 270px;
        left: 0%;
        top: -220px;
      }
    }
    .l-pc-bg-solarpower-ground-img-03 img {
      position: absolute;
      top: -200px;
      left: 2%;
      width: 17%;
      @include responsive-style($breakpoint-dk) {
        width: 250px;
        left: -4%;
      }
      @include responsive-style($breakpoint-tb) {
        display: none !important;
      }
    }
  }
  .l-pc-bg-solarpower-ground-bg img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
  }
}

//メイン部分
.l-main {
  width: $width-main;
  margin-top: 80px;
  margin-right: calc((100% - 1440px) / 2 + $body-margin-Right);
  margin-bottom: 80px;
  margin-left: auto;
  position: relative;
  border: 8px solid white;
  border-radius: 100px;
  overflow: hidden;
  right: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  @include responsive-style($breakpoint-dk) {
    margin-right: $body-margin-Right;
  }
  @include responsive-style($breakpoint-tb) {
    // border: none;
    // border-radius: 0;
    margin: 80px auto 0;
    left: 0;
    right: 0;
  }
  @include responsive-style($breakpoint-sp) {
    margin: 0px auto auto;
    border-radius: 0 0 0;
    border: 0;
    position: relative;
    height: auto;
  }
}

.l-annoncement-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .l-annoncement-overlay-title {
  }
}
