doctype html
html
  head
    meta(charset="utf-8")
    //- Google Tag Manager
    //- script.
    //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //-   })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    //- End Google Tag Manager
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(property="og:image", content="https://waomirai.com/lp/assets/commonimages/ogp.png")
    link(href="../../../css/16_lp-event-2025techseeker.css", rel="stylesheet")
    title 太陽光発電について知ろう！｜ワオ未来塾｜TechSeeker2025
    meta(name="robots", content="noindex")
    script(src="https://waomirai.com/lp/assets/commonjs/jquery_3.7.1.js")
    //inviewのjquerycdnをsalesforceにアップしている
    script(src="https://waomirai.com/lp/assets/commonjs/jquery.inview.min.js")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' rel='stylesheet')

  //- コンテンツをインクルード
  body
    include _content.pug
    //- JavaScriptをインクルード
    include _js.pug