//- 変数定義
include _variables

//- ミックスイン
include _mixins
p|い
.l-pc-logo
  .l-pc-wrapper
    .l-pc-logo-img
      //- img(src=ImgLogo alt="夏休み自由研究DAY 2025")
.l-main
  include _content-main.pug
.l-pc-menu
  .l-pc-wrapper
    .l-pc-menu-wrapper
      .l-pc-menu-title
        p.l-pc-menu-title-eng
          |あINDEX
        p 
          img(src=ImgImgFv)
        p.l-pc-menu-title-jpn
          |オンライン授業一覧
.l-btn-cv
  a.c-btn-cv.js-line-trigger(href=UrlLine)
    |LINEで簡単申込
+modal