mixin modal
    .modal(style='display:none;')
        .modal-wrapper 
            .modal-wrapper-close 
                .modal-wrapper-close-icon.modal-close
            .modal-wrapper-content
                .modal-wrapper-content-main
                    .modal-wrapper-content-main-head
                        .modal-wrapper-content-main-head-img
                            //- LINEアイコン
                            img(src=ImgStepFlow01)
                        .modal-wrapper-content-main-head-text 
                            |スマホで
                            br
                            |LINEの友だち追加
                    .modal-wrapper-content-main-qr
                        img(src=QRLine)
                    .modal-wrapper-content-main-text
                        |追加後に申込フォームが
                        br
                        |送信されます
            .modal-wrapper-content-close.modal-close 
                |閉じる
    .bg-modal(style='display:none;')

mixin lineEntryButton
    .c-btn-cta-main
        a.js-line-trigger(href=UrlLine)
            img(src=ImgTextCv alt="LINEで簡単申込")
