//-//////////////
//- URL
//-/////////////

- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=vLo6';
- var UrlGoogleMap = 'https://maps.app.goo.gl/RV9jdLJmaPG4rTgH7'

//-//////////////
//- ImagePath
//-//////////////

//- 基本ロゴ
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'; // 未来塾ロゴ
- var ImgLogo = 'https://go.waomirai.com/l/1026513/2025-06-26/hqdx7/1026513/17509942517NUCkmzL/logo_lp_sum25.png'; // PCのみ表示する部分の画像

//- ページ固有部分の画像（basePathを使用）
- var paths = { local: '../../../images/16_lp-event-2025techseeker', server: 'https://waomirai.com/lp/assets/lpimages/16_lp-event-2025techseeker' }
- 
  function img(filename) {
    return `${paths[basePath]}/${filename}`;
  }

//-//////////////
//- ロゴ
//-//////////////

- var ImgLogoTechseeker = img('logo_techseeker.svg');
- var ImgLogoSolarpower = img('logo_solarpower.png');

//-//////////////
//- CVボタン画像
//-//////////////
- var ImgTextCv = img('btn-text-cv.svg');
- var ImgTextGooglemap = img('btn-text-googlemap.svg');


//-//////////////
//- 背景画像
//-//////////////
- var ImgPcbgBlueParts01 = img('img_pcbg_blue_parts_01.svg');
- var ImgPcbgGreenParts01 = img('img_pcbg_green_parts_01.png');
- var ImgPcbgGreenParts02 = img('img_pcbg_green_parts_02.png');
- var ImgPcbgGreenParts03 = img('img_pcbg_green_parts_03.png');
- var ImgBgAboutBlack = img('bg_about_black.svg');
- var ImgBgAboutWhite = img('bg_about_white.svg');
- var ImgBgPcGreen = img('bg_pc_green.png');
- var ImgBgPcGreenWide = img('bg_pc_green_wide.png');

//-//////////////
//- ディバイダー画像
//-//////////////
- var ImgDividerAboutBottom = img('divider_about_bottom.svg');
- var ImgDividerEntryBottom = img('divider_entry_bottom.svg');
- var ImgDividerEntryStep = img('divider_entry_step.svg');
- var ImgDividerFvBottom = img('divider_fv_bottom.svg');
- var ImgDividerIntroBottom = img('divider_intro_bottom.svg');
- var ImgDividerMakeBottom = img('divider_make_bottom.svg');
- var ImgDividerWaomiraiTop = img('divider_waomirai_top.svg');

//-//////////////
//- メイン画像
//-//////////////
- var ImgAboutNight = img('img_about_night.png');
- var ImgAboutSun = img('img_about_sun.png');
- var ImgFvMain = img('img_fv.png');
- var ImgFvBattery01 = img('img_fv_battery_01.png');
- var ImgFvBattery02 = img('img_fv_battery_02.png');
- var ImgFvBattery03 = img('img_fv_battery_03.png');
- var ImgFvBattery04 = img('img_fv_battery_04.png');
- var ImgFvBattery05 = img('img_fv_battery_05.png');
- var ImgFvBattery06 = img('img_fv_battery_06.png');
- var ImgFvLantern = img('img_fv_lantern.png');
- var ImgFvSun = img('img_fv_sun.svg');
- var ImgPcbgGreenParts01 = img('img_pcbg_green_parts_01.png');
- var ImgPcbgGreenParts02 = img('img_pcbg_green_parts_02.png');
- var ImgPcbgGreenParts03 = img('img_pcbg_green_parts_03.png');
- var ImgStepFlow01 = img('img_step_flow01.png');
- var ImgStepFlow02 = img('img_step_flow02.svg');
- var ImgLogo = img('logo.png');
- var ImgSectionMake = img('section_make.png');

//-//////////////
//- makeセクション
//-//////////////

- var ImgMake01 = img('img_make_01.jpg');
- var ImgMake02 = img('img_make_02.jpg');
- var ImgMake03 = img('img_make_03.jpg');
- var ImgMake04 = img('img_make_04.jpg');
- var ImgIcnMake01 = img('icn_make_01.svg');
- var ImgIcnMake02 = img('icn_make_02.svg');
- var ImgIcnMake03 = img('icn_make_03.svg');
- var ImgIcnMake04 = img('icn_make_04.svg');
- var ImgSubtitleMake01 = img('subtitle_make_01.svg');
- var ImgSubtitleMake02 = img('subtitle_make_02.svg');
- var ImgSubtitleMake03 = img('subtitle_make_03.svg');
- var ImgSubtitleMake04 = img('subtitle_make_04.svg');
- var ImgBgMake01 = img('bg_make.svg');

//-//////////////
//- タイトル画像
//-//////////////
- var ImgTitleAbout = img('title_about.svg');
- var ImgTitleAboutBlack = img('title_about_black.svg');
- var ImgTitleEntry = img('title_entry.svg');
- var ImgTitleFaq = img('title_faq.svg');
- var ImgTitleIntro = img('title_intro.svg');
- var ImgTitleMake = img('title_make.svg');
- var ImgTitleTechseeker = img('title_techseeker.svg');

//-//////////////
//- QRコード
//-//////////////
- var QRLine = img('qr_lp_techeeker2025.png');

