//- A日程が終わっていないことを変数に代入
- var basePath = "local"

//- ベースをインクルード
include ../../../_includes/16_lp-event-2025techseeker/_base.pug
p(style='position: fixed; bottom:0; left:0; background:black; z-index:9999; width:100%; text-align:center; font-size:16px; color:white; padding:15px 0;') 
  |This is a local version.