-
  const navItems = [
    { id: 'content01', text: '<span>春の探究3大</span><span>ミッションとは</span>' },
    { id: 'content02', text: '<span>こんなお子様に</span><span>おすすめ</span>' },
    { id: 'content03', text: 'プログラムの流れ' },
    { id: 'content04', text: '<span>3大探究</span><span>ミッションの詳細</span>' },
    { id: 'content05', text: '<span>楽しく学べる</span><span>3つのPOINT</span>' },
    { id: 'content06', text: '受講方法' },
    { id: 'content07', text: 'よくある質問' },
    { id: 'content08', text: 'ワオ未来塾とは' },
  ]
