-
  const navItems = [
    { id: 'content01', text: '春の探究三大ミッションとは' },
    { id: 'content02', text: 'こんなお子様におすすめ' },
    { id: 'content03', text: 'プログラムの流れ' },
    { id: 'content04', text: '三大探究ミッションの詳細' },
    { id: 'content05', text: '楽しく学べる3つのPOINT' },
    { id: 'content06', text: '受講方法' },
    { id: 'content07', text: 'よくある質問' },
    { id: 'content08', text: 'ワオ未来塾とは' },
  ]
