


- var MetaTitle = '春の3大探究ミッション！2026/3/24(火)〜3/28(土)｜ワオ未来塾';


//- LINE URL
- var UrlEndpointAddFriend = 'https://endpoint.loycus.jp/landing-qr/2006716288-lL7QzGA3?ic=dHEHCkjGrO&whc=173508808725235'
- var UrlLiffAddFriend = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=IDS8I'
- var UrlLiffForm = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_fc=v8CJn8Dr7'



//- 画像パス設定
- var paths = '../../../images/22_event-lp-2026march'
//- - var paths = 'https://waomirai.com/lp/assets/lpimages/22_event-lp-2026march';


//- 画像パス生成関数
-
  function img(filename) {
    return `${paths}/${filename}`;
  }

//-//////////////
//- background / picture
//-//////////////

- var ImgBgpcPictureNormal = img('bgpc_picture_normal.png');
- var ImgBgpcPictureEconomy = img('bgpc_picture_economy.png');
- var ImgBgpcPicturePhilosophy = img('bgpc_picture_philosophy.png');
- var ImgBgpcPictureScience = img('bgpc_picture_science.png');


//-//////////////
//- ボタンとかメニュー画像
//-//////////////

- var ImgTextCta = img('text_btn_cta.svg');
- var ImgbtnCta = img('btn_cta.svg');
- var ImgbtnCtaBig = img('btn_cta_big.svg');
- var ImgMenu = img('menu_humberger.svg');

//-//////////////
//- CTA
//-//////////////


- var ImgCtaLooptext = img('cta_looptext.svg');
- var ImgCta = img('img_cta.png');


//-//////////////
//- FV
//-//////////////

- var ImgFv = img('fv.png');
- var ImgFvSubtitle = img('fv-subtitle.svg');


//-//////////////
//- icon
//-//////////////

- var ImgIcnFamily = img('icn_family.svg');
- var ImgIcnLine = img('icn_line.png');
- var ImgIcnLineMini = img('icn_line_mini.svg');
- var ImgIcnStep01 = img('icn_step01.svg');
- var ImgIcnStep02 = img('icn_step02.svg');
- var ImgIcnStep03 = img('icn_step03.svg');
- var ImgIcnStep04 = img('icn_step04.svg');
- var ImgIcnStep05 = img('icn_step05.svg');
- var ImgIcnSubject = img('icn_subject.png');


//-//////////////
//- 4科目
//-//////////////

- var Img4subjects = img('img_4subjects.svg');


//-//////////////
//- introduction
//-//////////////

- var ImgIntro01 = img('img_intro01.svg');
- var ImgIntro02 = img('img_intro02.svg');
- var ImgIntro03 = img('img_intro03.svg');
- var ImgIntro04 = img('img_intro04.svg');
- var ImgIntro05 = img('img_intro05.png');
- var ImgIntro06 = img('img_intro06.png');


//-//////////////
//- mission
//-//////////////

- var ImgMissionScience = img('img_mission_science.png');
- var ImgMissionEconomy = img('img_mission_economy.png');
- var ImgMissionPhilosophy = img('img_mission_philosophy.png');
- var ImgTeacherScience = img('teacher_science.png');
- var ImgTeacherEconomy = img('teacher_economy.png');
- var ImgTeacherPhilosophy = img('teacher_philosophy.png');
- var ImgClock = img('icn_clock.svg');



//-//////////////
//- モーダル
//-//////////////

- var ImgModalEvent = img('img_modal_event.png');


//-//////////////
//- point
//-//////////////

- var ImgPoint01 = img('img_point01.png');
- var ImgPoint02 = img('img_point02.png');
- var ImgPoint03 = img('img_point03.png');


//-//////////////
//- 料金
//-//////////////

- var ImgPrice = img('img_price.svg');


//-//////////////
//- こんな人におすすめ
//-//////////////

- var ImgRecommend = img('img_recommend.png');


//-//////////////
//- 日程
//-//////////////

- var ImgTable = img('img_table.png');


//-//////////////
//- ロゴ
//-//////////////

- var ImgLogoWao = img('logo_wao.svg');


//-//////////////
//- slide intro
//-//////////////

- var ImgSlideIntro01 = img('slide_intro01.png');
- var ImgSlideIntro02 = img('slide_intro02.png');
- var ImgSlideIntro03 = img('slide_intro03.png');
- var ImgSlideIntro04 = img('slide_intro04.png');


//-//////////////
//- subtitle
//-//////////////

- var ImgSubtitle = img('subtitle.svg');







//-//////////////
//- title
//-//////////////

- var ImgTitle01 = img('title01.png');
- var ImgTitle02 = img('title02.png');
- var ImgTitle03 = img('title03.png');
- var ImgTitle04 = img('title04.png');
- var ImgTitle05 = img('title05.png');
- var ImgTitle06 = img('title06.png');
- var ImgTitle07 = img('title07.png');