@keyframes fuwafuwa-button {
  0% {
    scale: 1;
    transform: scale(1);
  }
  8% {
    scale: 1.04;
    transform: scale(1.04);
  }
  17% {
    scale: 1;
    transform: scale(1);
  }
  25% {
    scale: 1.02;
    transform: scale(1.02);
  }
  38% {
    scale: 1;
    transform: scale(1);
  }
  100% {
    scale: 1;
    transform: scale(1);
  }
}
