#lp-2025feb {
  background: $cl-bg-eventlp-2025feb;
  section {
    margin: 0 auto 75px;
  }
}

.c-btn-cta {
  margin: 0 auto;
  text-align: center;
  margin: 30px 0 0;
}

.c-bg-section-white {
  background: white;
}

//00ヘッダー
header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  @include responsive-style(768px) {
    height: 42px;
    padding: 0 14px;
  }
  img {
    height: 24px;
    margin: 0 !important;
    @include responsive-style(768px) {
      width: 146px;
      height: 22px;
    }
  }
}

//01メインビジュアル
.c-lp-25feb-mv {
  padding: 30px 0;
  @include section-middlewidth;
  .c-lp-25feb-mv-wrap {
  }
  .c-lp-25feb-mv-content {
    text-align: center;
  }
}
//02 EVENT INFOMATION
section.lp-25feb-info {
  .lp-25feb-info-title {
    text-align: center;
  }
  .lp-25feb-info-columns {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include section-maxwidth;
  }
}

//03 イベントの詳細
section.lp-25feb-eventdetail {
  .lp-25feb-eventdetail-content {
    max-width: 600px;
    background: white;
    margin: 0 auto 60px;
    img {
      width: 100px;
    }
  }
}

//04 こんなあなたにオススメです！
section.lp-25feb-recommend {
}

//05 授業の特徴
section.lp-25feb-feature {
}

//06 5stepで参加可能
section.lp-25feb-howto {
}

section.lp-25feb-about {
}

section.lp-25feb-start2025 {
}
