@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-pro");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* color */

$cl-philosophy-pale: #f4c66d;
$cl-science-pale: #66cb88;
$cl-economiy-pale: #67d2e9;
$cl-bg-eventlp-2025feb: #fff8e0;
$cl-btn-cta: #f88c6a;
$cl-title-underline: #febcad;
$cl-merit-yellow: #f8d86a;
$cl-feature-yellow: #fffb96;

/* width */

$max-width: 1200px;
$widewidth: 1000px;
$middlewidth: 800px;
$smallwidth: 700px;

@mixin section-maxwidth {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  @include responsive-style(768px) {
    padding: 0 20px;
  }
}

@mixin section-widewidth {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin section-middlewidth {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin section-smallwidth {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
}

/* box-shadow */

@mixin box-shadow-lp {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
}

/* fontsize */

@mixin font-size-s {
  font-size: 12px;
  @include responsive-style(768px) {
    font-size: 11.5px;
  }
}

@mixin font-size-m {
  font-size: 17px;
  @include responsive-style(768px) {
    font-size: 16px;
  }
}

@mixin font-size-ml {
  font-size: 22px;
  @include responsive-style(768px) {
    font-size: 20px;
  }
}

@mixin font-size-l {
  font-size: 27px;
  @include responsive-style(768px) {
    font-size: 24px;
  }
}

@mixin font-size-xl {
  font-size: 34px;
  @include responsive-style(768px) {
    font-size: 30px;
  }
}
@mixin font-size-xxl {
  font-size: 48px;
  @include responsive-style(768px) {
    font-size: 40px;
  }
}

/* border-radius */

$border-radius-small: 4px;
$border-radius-middle: 8px;
$border-radius-big: 12px;
$border-radius-bigplus: 24px;
$border-radius-extrabig: 48px;
$border-radius-full: 10000px;

/* line-height */

$lineheight-none: 1;
$lineheight-tight: 1.25;
$lineheight-normal: 1.5;
$lineheight-relaxed: 1.75;

/* overray */

$overlay: rgba(0, 0, 0, 0.7);

$categories: (
  "philosophy": (
    main-color: $cl-philosophy,
    pale-color: $cl-philosophy-pale // 例: テキストカラー,,,,,,
  ),
  "science": (
    main-color: $cl-science,
    pale-color: $cl-science-pale // 例: テキストカラー,,,,,,
  ),
  "economiy": (
    main-color: $cl-economiy,
    pale-color: $cl-economiy-pale // 例: テキストカラー,,,,,,
  ),
);
