#lp-2025feb {
  background: $cl-bg-eventlp-2025feb;
  color: $cl-black;
  // padding: 0 20px;
  section {
    margin: 0 auto 75px;
  }
}

.c-btn-cta {
  text-align: center;
  a {
    text-align: center;
    margin: 0 auto 105px;
    background: $cl-btn-cta;
    text-decoration: none;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    width: 100%;
    max-width: $smallwidth;
    @include font-size-ml;
    @include box-shadow-lp;
  }
}

.c-title-25feb-lp {
  @include font-size-l;
  text-decoration: underline wavy;
  text-decoration-color: $cl-title-underline;
  margin: 0 auto 30px;
  text-align: center;
  //   text-decoration-style: wavy;
}

.c-bg-section-white {
  background: white;
}

//00ヘッダー
header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: $widewidth;
  margin: 0 auto;
  @include responsive-style(768px) {
    height: 42px;
    padding: 0 14px;
  }
  img {
    height: 24px;
    margin: 0 !important;
    @include responsive-style(768px) {
      width: 146px;
      height: 22px;
    }
  }
}

//01メインビジュアル
.c-lp-25feb-mv {
  width: 100%;

  .c-lp-25feb-mv-img {
    padding: 30px 0;
    margin: 0 -20px 30px;
    img {
      @include section-smallwidth;
    }
  }
  .c-lp-25feb-mv-wrap {
  }
  .c-lp-25feb-mv-content {
    text-align: center;
    &-text {
      @include font-size-l;
      text-decoration: underline wavy;
      text-decoration-color: $cl-title-underline;
      margin: 0 auto 30px;
      //   text-decoration-style: wavy;
    }
    &-target {
      @include section-widewidth;
      background: $cl-merit-yellow;
      padding: 16px 0;
      border-radius: $border-radius-full;
    }
  }
}
//02 EVENT INFOMATION
section.lp-25feb-info {
  .lp-25feb-info-title {
    text-align: center;
    color: $cl-graylight;
    @include font-size-xxl;
    margin: 0 auto 30px;
  }
  .lp-25feb-info-columns {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include section-maxwidth;
    margin: 0 auto 60px;
    &-child {
      background: white;
      border-radius: $border-radius-big;
      padding: 20px 0px 0;
      @include box-shadow-lp;
      overflow: hidden;
      &-head {
        @include font-size-l;
        text-align: center;
        margin: 0 auto 12px;
      }
      .lp-25feb-info-columns-child-image {
        padding: 0 20px;
        img {
          border-radius: $border-radius-bigplus;
        }
      }

      &-text {
        &-catch {
          @include font-size-m;
          text-align: center;
          margin: 20px auto;
        }
        &-title {
          @include font-size-ml;
          text-align: center;
          margin: 0px auto 30px;
        }
        &-date {
          text-align: center;
          @include font-size-m;
          letter-spacing: 1.5px;
          margin: 0px auto 0px;
        }
        &-time {
          text-align: center;
          @include font-size-m;
          margin: 0 0 20px;
        }
        span.large {
          @include font-size-l;
        }
      }
      &-link {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        // background: #000;
        width: 100%;
        color: white;
        text-decoration: none;
      }
    }
  }

  // @eachで繰り返し処理
  @each $category, $values in $categories {
    .#{$category} {
      .lp-25feb-info-columns-child-text-catch {
        color: map-get($values, main-color);
      }
    }
  }

  // @eachで繰り返し処理
  @each $category, $values in $categories {
    .#{$category} {
      .lp-25feb-info-columns-child-link {
        background: map-get($values, main-color);
      }
    }
  }
}

//03 イベントの詳細
section.lp-25feb-eventdetail {
  @include section-maxwidth;
  .lp-25feb-eventdetail-content {
    width: 100%;
    border-radius: 0 $border-radius-bigplus $border-radius-bigplus
      $border-radius-bigplus;
    background: white;
    margin: 0 auto 75px;
    padding: 36px;
    &-top {
      display: flex;
      gap: 45px;
      //left
      &-left {
        flex: 1;
        position: relative;
        &-title {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          background: #000;
          border-radius: 0 0 $border-radius-bigplus 0;
          @include font-size-l;
          width: 320px;
          max-width: 100%;
          padding: 10px 20px;
          color: white;
        }
        img {
          border-radius: 0 $border-radius-extrabig $border-radius-extrabig
            $border-radius-extrabig;
        }
      }
      &-right {
        flex: 1;
        &-date {
          @include font-size-ml;
          margin: 0 auto 30px;
        }
        &-title {
          @include font-size-l;
          margin: 0 auto 30px;
        }
        &-text {
          @include font-size-m;
        }
      }
    }
    &-merit {
      margin: 30px 0 0;
      border-radius: $border-radius-bigplus;
      border: 2px solid #000;
      display: flex;
      gap: 30px;
      padding: 30px 20px 20px;
      &-illust {
        width: 200px;
      }
      &-content {
        &-box {
          position: relative;
          margin: 0 0 20px;
          padding: 0 0 0 75px;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            margin: auto;
            top: 0%;
            width: 50px;
            height: 50px;
            background: #000;
            border-radius: 50%;
          }
          &-title {
            @include font-size-ml;
          }
          &-text {
            @include font-size-m;
          }
        }
      }
    }
  }
}

//03 イベントの詳細　教科ごとの色付け
@each $category, $values in $categories {
  ##{$category} {
    .lp-25feb-eventdetail-content-top-left-title {
      background: map-get($values, main-color);
    }
    .lp-25feb-eventdetail-content-merit {
      border: 2px solid map-get($values, main-color);
    }
    .lp-25feb-eventdetail-content-merit-content-box {
      color: map-get($values, main-color);
      &::before {
        background: map-get($values, pale-color);
      }
    }
  }
}

//04 こんなあなたにオススメです！
section.lp-25feb-recommend {
  .lp-25feb-recommend {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: white;
    div {
      flex: 1;
    }
    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
      }
    }
    &-right {
      position: relative;
      background: $cl-graylightest;
      padding: 45px 30px;
      display: flex;
      flex-direction: column;
      gap: 45px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent $cl-graylightest transparent transparent;
        border-width: 82px 52px 82px 0px;
        z-index: 1;
      }
      &-child {
        &-icon img {
          height: 75px;
          margin: 0 auto;
        }
        &-text {
          display: flex;
          flex-direction: column;
          gap: 20px;
          @include font-size-ml;
        }
      }
    }
  }
  //POINT!
  .lp-25feb-point {
    max-width: 450px;
    margin: 45px auto 0;
    display: flex;
    align-items: center;
    gap: 30px;
    &-left {
      width: 75px;
      height: 75px;
      border-radius: $border-radius-full;
      background: $cl-gray;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-right {
      flex: 1;
      text-align: center;
    }
  }
}

//05 授業の特徴
section.lp-25feb-feature {
  .lp-25feb-feature-child {
    @include font-size-xl;
    background: $cl-feature-yellow;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    width: 100%;
    margin: 0 auto 45px;
    border-radius: $border-radius-full;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

//06 5stepで参加可能
section.lp-25feb-howto {
  padding: 30px 0;
  margin: 0 -20px;
  .lp-25feb-howto-title {
    @include font-size-l;
    margin: 0 auto 30px;
    text-align: center;
    letter-spacing: 2px;
    .large {
      @include font-size-xxl;
    }
  }
  .lp-25feb-howto-img {
    width: 200px;
    margin: 0 auto;
  }

  .lp-25feb-howto-step {
    &-child {
      max-width: $smallwidth;
      width: 100%;
      margin: 0 auto 60px;
      display: grid;
      grid-template-columns: 100px 30px 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      &-number {
        @include font-size-xl;
      }
      &-text {
        &-title {
          @include font-size-ml;
          margin: 5px 0 15px;
        }
        &-text {
          @include font-size-m;
        }
      }
    }
  }
}

section.lp-25feb-about {
  .lp-25feb-about-box {
    background: white;
    max-width: $widewidth;
    margin: 0 auto 0px;
    padding: 48px 36px;
    border-radius: $border-radius-extrabig;
    display: flex;
    gap: 45px;
    &-left {
      width: 250px;
    }
    &-right {
      flex: 1;
      line-height: $lineheight-relaxed;
      @include font-size-m;
    }
  }
}

.lp-25feb-start2025 {
  @include section-maxwidth;
  &-catch {
    @include font-size-l;
    margin: 0 auto;
    text-align: center;
  }
  &-subtitle {
    background: $cl-main-orange;
    color: white;
    @include font-size-xl;
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
    border-radius: $border-radius-full;
  }
  &-logo {
    max-width: $middlewidth;
    margin: 0 auto 30px;
  }
  &-target {
    @include font-size-l;
    margin: 0 auto 30px;
    text-align: center;
  }
  &-subjects {
    max-width: $max-width;
    margin: 0 auto 45px;
  }
  &-feature {
    display: flex;
    gap: 45px;
    margin: 0px 0 60px;
    &-box {
      background: white;
      border-radius: $border-radius-bigplus;
      padding: 30px 20px 20px;
      @include font-size-m;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      &-title {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 0 auto 20px;
        img {
          width: 30px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 120px 0px 0px;
  text-align: center;
  background: $cl-black;
  color: white;
  border-radius: 100px 100px 0 0;
  @include responsive-style(768px) {
    padding: 100px 0px 0px;
    border-radius: 50px 50px 0 0;
  }
  ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  li {
    list-style: none;
    padding: 10px 0;
    a {
      color: white;
      text-decoration: none;
      @include font-size-m;
    }
  }
  .footer-logo img {
    width: 170px;
    margin: 60px auto 45px;
  }
  .footer-copyright {
    width: 100%;
    border-top: 1px solid #fff;
    padding: 15px 0 15px;
  }
}
