//関数読込
include _mixin-event-lp-2025feb.pug 

mixin btn-25feb-cta 
  .c-btn-cta 
     a(href='https://page.line.me/640lhpfy').pc-image.open-line-modal 
        |LINEで簡単申込 >
     a(href='#').sp-image 
        |LINEで簡単申込 >

header 
  img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
//01メインビジュアル
section.c-lp-25feb-mv.c-bg-section-white
  .pc-image 
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp5/1026513/1736909815WfjAFBOV/fv_pc_2025feb.svg')   
  .sp-image 
    img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnr/1026513/1736909815czfrzGbs/fv_sp_2025feb.svg')
//02 EVENT INFOMATION
section.lp-25feb-info 
  +btn-25feb-cta
     
//03 イベントの詳細
section.lp-25feb-eventdetail 
  +btn-25feb-cta
//04 こんなあなたにオススメです！
section.lp-25feb-recommend
  +btn-25feb-cta
//05 授業の特徴
section.lp-25feb-feature
  +btn-25feb-cta
//06 5stepで参加可能
section.lp-25feb-howto.c-bg-section-white
  +btn-25feb-cta
//07 ワオ未来塾って？
section.lp-25feb-about
//08 2025年4月開講
section.lp-25feb-start2025
  +btn-25feb-cta
//素材シリーズ
footer 
  ul 
   li 
    a(href="https://www.wao-corp.com/", target='_blank')
     |会社概要
   li 
    a(href="https://www.wao-corp.com/kojin/", target='_blank')
     |プライバシーポリシー
   li
    a(href="https://go.waomirai.com/shotororihiki", target='_blank')
     |特定商取引に基づく表記
  .footer-logo 
    img(src='https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg')
  .footer-copyright
    |© ワオ・コーポレーション All rights reserved.
div 
   //fv
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp5/1026513/1736909815WfjAFBOV/fv_pc_2025feb.svg')   
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnr/1026513/1736909815czfrzGbs/fv_sp_2025feb.svg')
   
   //教科のビジュアル
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpr/1026513/1736909817ozByzL7R/img_event_sc.png')
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpv/1026513/17369098174MiQVDys/img_event_ph.png')
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpn/1026513/1736909816yLVFmV8C/img_event_ec.png')
  
   //登録するためのアイコン
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnv/1026513/173690981457RRVmID/icon_howto_join01.png')
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnn/1026513/17369098142mF1y2jz/icon_howto_join02.png')
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwng/1026513/1736909814hcl8Cpz9/icon_howto_join03.png') 
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnc/1026513/1736909814efjpZrPo/icon_howto_join04.png')
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwnk/1026513/1736909814z0zmhZt9/icon_howto_join05.png')

   //イラスト
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwp8/1026513/1736909816UqQkpU4o/illust_family_mom.png')
   //教科アイコン
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpg/1026513/1736909816cAU257sd/ilust_5subjects_pc.png')
   img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbwpk/1026513/1736909816LZo2nh6L/ilust_5subjects_sp.pngg') 

//- .fixed-button(style='display:none;')
//-           .lp-cv-button 
//-               a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank")   
//-                 .english-fv-absolute-cvtop.cv-limit-text
//-                     |無料期間中のみの受講もOK！
//-                 .lp-cv-button-main
//-                   .lp-cv-button-main-free 
//-                     img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
//-                   .lp-cv-button-main-text
//-                     |受講申し込みはこちら
//-                   .lp-cv-button-main-arrow
//-               script.
//-                 var formLink = document.getElementById("form-link"); // IDを使う
include _js-event-lp-2025feb

