
mixin btn-25feb-cta 
  .c-btn-cta 
     a(href='https://page.line.me/640lhpfy').pc-image.open-line-modal 
        |LINEで簡単申込 >
     a(href='#').sp-image 
        |LINEで簡単申込 >
mixin schedule 
  section.schedule
    h3.mincho.fs-s.fw-500.purpleT.textCenter.mb-30 授業コース
      br
      span.fs-xs|ー2つのステージから世界をひろげていくライブレッスンー
    div(style='margin:20px auto 0;')
      p.maingrayT.gothic.fs-xxs 
        |英語初挑戦なら、LEVEL1:LOCAL STAGEで自分の周りに焦点を当てて会話スキルを身につけましょう。英語が少し話せるなら、LEVEL2:NATION STAGEで日本について説明できるフレーズを身につけていきます。  体験授業では両方のステージを受講することができ、体験授業終了後にどちらかのステージを選択することができます。まずは両方受講し自分に合ったステージを決めましょう。
  section.schedule
    h3.mincho.fs-s.fw-500.purpleT.textCenter.mb-20
      |授業スケジュール
    div(style='margin:20px auto 0;')
      p.maingrayT.gothic.fs-xxs 
        |授業は平日に2回受講する「平日スタイル」と、土曜にまとめて受講する「土曜スタイル」を選択可能！　どちらも都合がつかない場合は、アーカイブで授業を受けることができます。
    figure.wp-block-table.is-style-regular(style="font-size:16px")
      table
          tbody
            tr
              td.has-text-align-center(data-align="center")
              td.has-text-align-center(data-align="center")
                strong LEVEL1:LOCAL STAGE
              td.has-text-align-center(data-align="center")
                strong LEVEL2:NATION LEVEL
            tr
              td.has-text-align-center(data-align="center") 月
              td.has-text-align-center(data-align="center")
              td.has-text-align-center(data-align="center")
            tr
              td.has-text-align-center(data-align="center") 火★
              td.has-text-align-center(data-align="center") ［前半］17:00-17:25
              td.has-text-align-center(data-align="center") ［前半］ 17:40-18:05
            tr
              td.has-text-align-center(data-align="center") 水
              td.has-text-align-center(data-align="center")
              td.has-text-align-center(data-align="center")
            tr
              td.has-text-align-center(data-align="center") 木
              td.has-text-align-center(data-align="center") ［後半］17:00-17:25
              td.has-text-align-center(data-align="center") ［後半］ 17:40-18:05
            tr
              td.has-text-align-center(data-align="center") 金
              td.has-text-align-center(data-align="center")
              td.has-text-align-center(data-align="center")
            tr
              td.has-text-align-center(data-align="center") 土
              td.has-text-align-center(data-align="center") ［前半］17:30-17:55
                br
                | ［後半］18:05-18:30
              td.has-text-align-center(data-align="center") ［前半］ 19:00-19:25
                br
                | ［後半］ 19:35-20:00
            tr
              td.has-text-align-center(data-align="center") 日
              td.has-text-align-center(data-align="center")
              td.has-text-align-center(data-align="center")
    .wp-block-spacer(style="height:16px", aria-hidden="true")
    p.has-text-align-right ★翌週用のトレーニング動画配信日
    p.has-text-align-right ※火・木曜配信と土曜配信は同じ内容です

-
  var events = [{
    id: 'philosophy',
    date: '2025年2月7日（金）',
    time: '18:00-18:45',
    title: '哲学カフェ',
    subtitle: '親子で語ってお悩み解決！',
    description: 'うちの子の "友だち関係"…どうなってる？　気にはなっても話題にしにくいこのテーマ、この際、親子でとことん話し合ってみませんか？\n哲学者の視点を借りて思考を深め、新たな気づきが得られる特別イベント、開催です！',
    merits: [
      { title: "本音で話して親子の絆を深める！", text: "互いの本音トークが、親子の気持ちを通わせます。" },
      { title: "哲学の力で問題解決の糸口を探す！", text: "思考技術としての哲学が体験的に学べます。" },
      { title: "悩むこといっぱい...の実生活に役立つ内容！", text: "判断に迷う場面で、解決のヒントが得られます。" }
    ]
  }]


