
- var UrlLineEventFeb = 'https://endpoint.loycus.jp/landing-qr/2006716288-lL7QzGA3?ic=dIxeLsCQEB&whc=173508808725235'
- var UrlFormEventFeb = 'https://go.waomirai.com/l/1026513/2025-01-20/hc4hc'

mixin btn-25feb-cta 
  .c-btn-cta 
     a(href=UrlLineEventFeb, target='_blank') 
       .c-btn-cta-top 
        |定員になり次第募集終了です
       .c-btn-cta-main 
        |LINEで簡単申込 >
mixin btn-25feb-cta-subject
  .c-btn-cta-subject
     a(href=UrlLineEventFeb, target='_blank') 
       .c-btn-cta-main 
        |LINEで簡単申込 >
