body {
  overflow-x: hidden;
}

.fixed-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  @include responsive-style(768px) {
    width: 340px;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
  }
  .lp-cv-button {
    a {
      padding: 10px 10px;
      background: $cl-main-orange !important;
      display: inline-flex;
      margin: 0 auto;
      border-radius: 6px;
      flex-direction: row;
      text-decoration: none;
      position: relative;
      justify-content: center;
      width: 400px;
      @include responsive-style(768px) {
        width: 340px;
        padding: 10px 10px;
      }
      .english-fv-absolute-cvtop {
        position: absolute;
        // left: 0;
        // right: 0;
        margin: auto;
        top: -14px;
        background: $cl-white;
        border: 1px solid $cl-main-orange;
        border-radius: 100px;
        color: $cl-main-orange;
        text-align: center;
        padding: 8px 13px 5px;
        display: table;
        line-height: 1;
        @include font-size-s;
      }

      .lp-cv-button-main {
        color: $cl-white;
        font-weight: 500;
        padding: 3px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 19px;
        @include responsive-style(768px) {
          font-size: 17px;
        }
        position: relative;
        .lp-cv-button-main-text {
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
        }
        .lp-cv-button-main-free {
          @include responsive-style(768px) {
            width: 45px;
          }
        }
        .lp-cv-button-main-arrow {
          position: relative;
          display: inline-block;
          padding: 0 0 0 16px;
          color: #000;
          vertical-align: middle;
          text-decoration: none;
          font-size: 15px;
          &::before {
            left: 3px;
            top: -1px;
            width: 12px;
            height: 12px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &::before,
          &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            content: "";
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.lp-section-text {
  width: 100%;
  // max-width: $section-maxwidth;
  line-height: 1.5;
  @include font-size-m;
  position: relative;
  margin: 20px auto 0;
  // @include section-maxwidth;
  @include section-middlewidth;
  @include responsive-style(768px) {
    margin: 10px auto 20px;
  }
}

.fvpc {
  position: relative;
  // min-height: 600px;
  // margin: 0 0 190px;
  .fvpc-logo {
    height: 60px;
    width: 200px;
    position: absolute;
    left: 20px;
    top: 40px;
  }
  .fvpc-left {
    position: absolute;
    left: 4.8%;
    top: 22%;
    width: 31%;
    @include responsive-style(900px) {
      top: 17%;
    }
    @include responsive-style(1100px) {
      top: 20%;
    }
    .fvpc-left-text {
      margin: 0 0 60px;
    }
    a {
      padding: 10px 0px;
      background: $cl-main-orange !important;
      box-shadow: 0 4px 0 #9d4e00;
      animation: lp-cta__btn 3s infinite;
      display: inline-flex;
      margin: 0 auto;
      border-radius: 10px;
      flex-direction: row;
      text-decoration: none;
      position: relative;
      justify-content: center;
      width: 104%;
      .english-fv-absolute-cvtop {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -22px;
        // background: $cl-white;
        // border: 1px solid $cl-main-orange;
        // border-radius: 100px;
        color: $cl-main-orange;
        text-align: center;
        // padding: 8px 13px 5px;
        display: block;
        width: 240px;
        font-size: 14px;
        line-height: 1;
        justify-content: center;
      }
      .lp-cv-button-main {
        font-size: 20px;
        color: $cl-white;
        font-weight: 500;
        padding: 3px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        line-height: 1;
        position: relative;
        @include responsive-style(1170px) {
          font-size: 24px;
        }
        @include responsive-style(1000px) {
          font-size: 20px;
        }
        @include responsive-style(900px) {
          font-size: 17.5px;
        }
        .lp-cv-button-main-text {
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
        }
        .lp-cv-button-main-free {
          margin: 0 0px 0 0;
        }
        .lp-cv-button-main-arrow {
          position: relative;
          display: inline-block;
          padding: 0 0 0 16px;
          color: #000;
          vertical-align: middle;
          text-decoration: none;
          font-size: 15px;
          &::before {
            left: 3px;
            top: -1px;
            width: 12px;
            height: 12px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &::before,
          &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            content: "";
            vertical-align: middle;
          }
        }
      }
    }
  }
  .fvpc-center img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 380px;
    animation-name: fuwafuwa;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    bottom: -7%;
    @include responsive-style(1300px) {
      bottom: -7%;
    }
    @include responsive-style(1050px) {
      bottom: -7%;
    }
    @include responsive-style(900px) {
      bottom: -10%;
    }
  }
  .fvpc-bg img {
    width: 83%;
    margin: -20px 0 0 auto;
    @include responsive-style(1200px) {
      width: 100%;
    }
  }
}

.fvsp {
  margin: 0 0 120px;
  &::before {
    width: 80%;
    background: #f1e5f1;
    content: "";
    position: absolute;
    display: block;
    z-index: 0;
    height: 620px;
    right: 0;
    border-radius: 0 0 0 40px;
  }
  .fvsp-logo {
    width: 145px;
    padding: 17px 0 0 17px;
    position: relative;
  }
  .fvsp-bg {
    position: absolute;
    right: 0px;
    top: 46px;
    width: 95%;
  }
  .fvsp-left {
    width: 92%;
    margin: 220px 0 40px;
    background: $cl-white;
    z-index: 10;
    position: relative;
    padding: 20px 20px 30px;
    border-radius: 0px 20px 20px 0;
    box-shadow: 0 0 30px rgba(50, 50, 70, 0.15);
    .fvsp-left-top {
      color: $cl-english;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .fvsp-left-main {
      font-size: 31px;
      font-weight: 600;
      line-height: 1.45;
      margin: 3px 0 0;
    }
    .lp-cv-button {
      position: relative;
      margin: 6px auto 32px;
      text-align: center;
      a {
        width: 100%;
        background: $cl-main-orange !important;
        box-shadow: 0 4px 0 #9d4e00;
        // animation: lp-cta__btn 3s infinite;
        display: inline-flex;
        margin: 18px auto 0;
        border-radius: 6px;
        flex-direction: row;
        text-decoration: none;
        position: relative;
        justify-content: center;
        padding: 8px 0px 8px;
        .english-fv-absolute-cvtop {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: -14px;
          background: $cl-white;
          border: 1px solid $cl-main-orange;
          border-radius: 100px;
          color: $cl-main-orange;
          text-align: center;
          padding: 5px 0px 2px;
          display: block;
          width: 240px;
          @include font-size-s;
          justify-content: center;
        }
        .lp-cv-button-main {
          font-size: 17px;
          color: $cl-white;
          font-weight: 500;
          padding: 6px 0 0;
          text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 95%;
          position: relative;
          .lp-cv-button-main-text {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
          }
          .lp-cv-button-main-arrow {
            position: relative;
            display: inline-block;
            padding: 0 0 0 16px;
            color: #000;
            vertical-align: middle;
            text-decoration: none;
            font-size: 15px;
            &::before {
              left: 3px;
              top: -1px;
              width: 12px;
              height: 12px;
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &::before,
            &::after {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              content: "";
              vertical-align: middle;
            }
          }
        }
      }
    }
    .lp-sp-scroll {
      width: 78%;
      margin: 0;
      animation-name: fuwafuwa;
      animation-duration: 1.1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease;
    }
  }
  .english-fvsp-nextlesson {
    border: $cl-english 1px solid;
    width: 100%;
    padding: 15px 15px;
    margin: 0px auto 0px;
    border-radius: 10px;
    .lp-cv-lessonday-time-title {
      color: $cl-english;
      @include font-size-m;
      margin: 0 0 5px;
    }
    .lp-cv-lessonday-time {
      display: flex;
      align-items: flex-end;
    }
    .lp-cv-lessonday-time-day {
      font-size: 35px;
      color: $cl-english;
      line-height: 0.8;
      .lp-cv-lessonday-time-day-monthday {
        font-weight: 600;
      }
      .lp-cv-lessonday-time-day-slash {
        font-weight: 300;
      }
    }
    .lp-cv-lessonday-time-week {
      display: inline-flex;
      width: 33px;
      height: 33px;
      color: $cl-white;
      align-items: center;
      justify-content: center;
      background: $cl-english;
      border-radius: 100px;
      font-size: 18px;
      font-weight: 600;
      margin: 0 0 0 5px;
    }
    .lp-cv-lessonday-time-hourrange {
      font-size: 30px;
      font-weight: 600;
      line-height: 0.8;
      color: $cl-english;
      margin: 0 0 0 8px;
    }
  }
}

// なぜグローバル英語を選ぶのか
// - 理由の説明
// - 背景色：白
section.section-el-second-why {
  @include min-responsive-style(768px) {
    margin: 160px auto 0px;
  }
  .section-el-second-content-title {
    .section-el-second-content-title-text {
      text-align: center;
    }
  }
  .section-el-second-content-detail {
    max-width: 800px;
    background: $cl-white;
    margin: 45px auto 0;
    min-height: 500px;
    border-radius: 50px;
    padding: 50px 45px;
    width: 95%;
    @include responsive-style(768px) {
      padding: 50px 20px;
      margin: 60px auto 0;
    }
    > div {
      margin: 0 auto 60px;
    }
    .section-el-second-content-detail-reason {
      display: inline-block;
      padding: 15px 25px 10px;
      background: $cl-english;
      @include font-size-l;
      border-radius: 100px;
      line-height: 1;
      color: $cl-white;
      @include responsive-style(768px) {
        transform: scale(0.75);
        transform-origin: left center;
      }
    }
    .section-el-second-content-detail-title {
      @include font-size-xl;
      font-weight: 600;
      line-height: 1.35;
      margin: 17px 0 0px;
      @include responsive-style(768px) {
        margin: 10px 0 0px;
      }
    }
    .section-el-second-content-detail-text {
      @include font-size-m;
      line-height: 1.75;
      margin: 10px 0 0px;
      color: $cl-black;
      font-weight: 400;
      strong {
        color: $cl-black;
        font-weight: 700;
      }
      @include responsive-style(768px) {
        margin: 10px 0 20px;
      }
    }
    .section-el-second-content-detail-img img {
      width: 100%;
      // height: 300px;
      // object-fit: cover;
      margin: 15px 0 0px;
      border-radius: 50px;
      @include responsive-style(768px) {
        margin: 5px 0 10px;
        border-radius: 20px;
        height: 180px;
        object-fit: cover;
      }
    }
  }
}

// グローバル英語は楽しむ仕組みがいっぱい
// - 楽しさの要素を説明
// - 背景色：ライトグレー
section.section-el-second-enjoy {
  border-radius: 0px 0px 100px 100px;
  background: $cl-graylightest;
  padding: 0 0 100px;
  @include responsive-style(768px) {
    border-radius: 0px 0px 50px 50px;
  }
  .section-el-second-top-text {
    @include responsive-style(768px) {
      top: -15px;
      line-height: 1;
    }
  }
  .section-el-second-content-grid {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 105px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 60px;
    @include responsive-style(768px) {
      display: block;
      margin: 0 auto 105px;
    }
    .section-el-second-content-grid-right {
      position: relative;
      .section-el-second-content-grid-absolute img {
        position: absolute;
        right: -40px;
        bottom: -40px;
        width: 50%;
        // border: 8px solid $cl-white;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(50, 50, 70, 0.15);
        @include responsive-style(768px) {
          right: -10px;
          bottom: -40px;
        }
      }
    }
    &.section-el-second-content-grid-two {
      grid-template-columns: 1.5fr 1fr;
    }
    &.section-el-second-content-grid-one {
      margin: 90px auto 90px;
      @include responsive-style(768px) {
        margin: 0px auto 105px;
      }
      .section-el-second-content-grid-title {
        margin: 60px 0 0;
      }
    }
    .section-el-second-content-grid-title {
      text-align: left;
      @include font-size-xl;
      font-weight: 600;
      position: relative;
      display: inline-block;
      margin: 20px 0 0;
      @include responsive-style(768px) {
        line-height: 1.5;
      }
    }
    .section-el-second-content-grid-txt {
      @include font-size-m;
      text-align: left;
      line-height: 1.75;
      margin: 10px 0 0;
    }
    .section-el-second-content-grid-img img {
      border-radius: 100px;
      @include responsive-style(768px) {
        border-radius: 40px;
        margin: 20px 0 0;
      }
    }
    .section-el-second-content-grid-iframe {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      /* 16:9 aspect ratio (9 / 16 = 0.5625) */
      height: 0;
      overflow: hidden;
      border-radius: 100px;
      @include responsive-style(768px) {
        margin: 20px 0 0;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 100px;
      }
    }
  }
  .section-el-second-top {
    background: $english-yellow;
    &:before {
      background: $cl-graylightest;
    }
  }
  .section-el-second-content-grid-3columns {
    display: grid;
    max-width: 1200px;
    width: 90%;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 75px;
    @include responsive-style(768px) {
      display: block;
    }
    .section-el-second-content-grid-3columns-box {
      &:not(:last-child) {
        @include responsive-style(768px) {
          margin: 0 auto 60px;
        }
      }
    }
    .section-el-second-content-grid-3columns-image img {
      border-radius: 70px;
      @include responsive-style(768px) {
        border-radius: 45px;
      }
    }
    .section-el-second-content-grid-3columns-title {
      @include font-size-l;
      font-weight: 600;
      margin: 20px 0 5px;
      letter-spacing: 1px;
    }
    .section-el-second-content-grid-3columns-text {
      @include font-size-m;
      font-weight: 300;
      margin: 0px 0 10px;
      line-height: 1.75;
      @include responsive-style(768px) {
        letter-spacing: 0px;
      }
    }
  }
  .section-el-second-content-grid-image {
    img {
      @include responsive-style(768px) {
        border-radius: 30px !important;
      }
    }
    .section-el-second-content-grid-iframe {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      /* 16:9 aspect ratio (9 / 16 = 0.5625) */
      height: 0;
      overflow: hidden;
      border-radius: 40px !important;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 40px !important;
      }
    }
  }
}

// グローバル英語の動画セクション
// - 動画コンテンツ
// - 背景色：パレイエロー
section.section-el-second-movie {
  padding: 75px 75px;
  background: $cl-english-pale;
  max-width: 1200px;
  width: 90%;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  margin: 100px auto 130px;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  grid-column-gap: 60px;
  @include responsive-style(768px) {
    display: block;
    width: 100%;
    border-radius: 50px;
    padding: 75px 20px;
  }
  .section-el-second-movie-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .section-el-second-movie-left-title {
      text-align: left;
      @include font-size-xl;
      font-weight: 600;
      letter-spacing: 3px;
      margin: 0 0 20px;
      @include responsive-style(768px) {
        margin: 0 0 10px;
      }
    }
    .section-el-second-movie-left-text {
      @include font-size-m;
      text-align: left;
      line-height: 1.75;
      @include responsive-style(768px) {
        margin: 0 0 10px;
      }
    }
  }
}

// 英語を学んで目指すもの
// - 学習目標の説明
// - 背景色：白
section.section-el-second-ability {
  .section-el-second-content-ability-box {
    @include section-middlewidth;
    margin: 30px auto 0;
    background: $cl-white;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-column-gap: 30px;
    padding: 30px;
    border-radius: 50px;
    @include responsive-style(768px) {
      display: block;
      width: 90%;
      margin: 30px auto 0;
      padding: 20px;
      border-radius: 40px;
    }
    .section-el-second-content-ability-box-left img {
      border-radius: 50px;
      object-fit: cover;
      @include responsive-style(768px) {
        display: block;
        height: 200px;
        width: 100%;
        border-radius: 40px;
        margin: 0 0 20px;
      }
    }
    .section-el-second-content-ability-box-right-subtitle {
      @include font-size-xl;
      color: $cl-philosophy;
      letter-spacing: 3px;
      font-weight: 600;
      margin: 0 0 10px;
      @include responsive-style(768px) {
        display: none;
      }
    }
    .section-el-second-content-ability-box-right-title {
      @include font-size-l;
      font-weight: 600;
      line-height: 1.45;
      margin: 0 0 10px;
      letter-spacing: 1.5px;
      color: $cl-gray;
    }
    .section-el-second-content-ability-box-right-image img {
      display: block;
      height: 200px;
      width: 100%;
      border-radius: 40px;
      margin: 0 0 20px;
      object-fit: cover;
    }
    .section-el-second-content-ability-box-right-txt {
      @include font-size-m;
      line-height: 1.6;
      font-weight: 400;
      color: $cl-black;
      @include responsive-style(768px) {
        margin: 0 0 20px;
      }
      strong {
        color: $cl-gray;
        font-weight: 700;
      }
    }
  }
}

// こんなお子様におすすめ
// - 対象者の説明
// - 背景色：ライトグレー
section.section-el-second-who {
  padding: 0 0 0px !important;
  img {
  }
  .section-el-second-content-head {
    width: 80%;
    margin: 60px 0 0;
    @include responsive-style(768px) {
      width: 95%;
      margin: 0px 0 0;
    }
  }
  .section-el-second-content-text {
    width: 50%;
    margin: 0px auto 0 !important;
    text-align: left !important;
    @include responsive-style(768px) {
      width: 90%;
      padding: 0px !important;
    }
    .section-el-second-content-text-head {
      @include font-size-xl;
      line-height: 1.5;
      font-weight: bold;
      margin: 60px 0 15px;
      @include responsive-style(768px) {
        margin: 25px 0 15px;
      }
    }
  }
  .section-el-second-content-bottom {
    width: 55%;
    margin: 45px auto 0 !important;
    @include responsive-style(768px) {
      width: 90%;
      margin: 20px auto 0 !important;
    }
  }
}

// 授業コース
// - コース内容の説明
// - 背景色：パレイエロー
section.section-el-second-coarce {
  .section-el-second-content > div:not(:last-child) {
    margin: 0 auto 90px;
  }
  .section-el-second-content-coarce {
    .lp-section-text {
      @include section-middlewidth;
    }
    .lp-section-course-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      width: 100%;
      margin: 30px auto 0;
      @include section-middlewidth;
      @include responsive-style(768px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
      }
      img {
        border-radius: 20px;
      }
    }
  }
  .lp-section-schedule {
    width: 100%;
    margin: 30px auto 0;
    @include section-middlewidth;
    table {
      background: $cl-white;
    }
  }
}

// 授業の流れ
// - 学習プロセスの説明
// - 背景色：白
section.section-el-second-process {
  .section-el-second-content-text{
    text-align: center !important;
  }
  .section-el-second-process-movie-head{
    @include section-middlewidth;
    margin: 28px auto 95px;
    position: relative;
    font-size: 0;
    border-radius: 14px;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    iframe{
      aspect-ratio: 16 / 9;
    }
    &:hover{
      opacity: 0.8;
    }
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    @include responsive-style(768px) {
      width: calc(100% - 40px);
      margin-bottom: 85px;
    }
  }
  .section-el-second-process-movie-head-button{
    position: absolute;
    top: calc(50% - 69.5px);
    left: calc(50% - 69.5px);
    @include responsive-style(768px) {
      top: calc(50% - 32px);
      left: calc(50% - 32px);
    }
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #fff;
      background: #fff;
      animation: ripple-animation 2.3s infinite;
      z-index: 1;
    }
  }
  .section-el-second-process-movie-head-button-inner{
    width: 139px;
    height: 139px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 69.5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    @include responsive-style(768px) {
      width: 64px;
      height: 64px;
    }
    &::after{
      content: "";
      width: 47px;
      height: 54px;
      background: #fff;
      position: absolute;
      top: calc(50% - 23.5px);
      left: calc(50% - 17px);
      z-index: 1;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
      @include responsive-style(768px) {
        width: 22px;
        height: 25px;
        top: calc(50% - 12.5px);
        left: calc(50% - 8px);
      }
    }
  }
  @keyframes ripple-animation {
    0% {
      transform: scale(1);
      opacity: 0.3;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .section-el-second-process-head{
    @include section-middlewidth;
    margin: 25px auto 0;
    padding: 0;
    @include responsive-style(768px) {
      margin-top: 10px;
    }
  }
  .section-el-second-content-flow{
    @include section-middlewidth;
    padding: 0 0 0 58px;
    margin: 90px auto 0;
    position: relative;
    @include responsive-style(768px) {
      width: calc(100% - 40px);
      margin-top: 45px;
      padding: 0 0 22px 25px;
    }
    &::before{
      content: "";
      display: block;
      width: 3px;
      height: calc(100% - 20px);
      background: $cl-english;
      position: absolute;
      top: 5px;
      left: 5px;
      @include responsive-style(768px) {
        top: 8px;
        left: 0;
        height: 100%;
      }
    }
    &::after{
      content: "";
      width: 18px;
      height: 16px;
      background: $cl-english;
      position: absolute;
      bottom: 10px;
      left: -3px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      @include responsive-style(768px) {
        width: 12px;
        height: 10px;
        left: -4px;
        bottom: -10px;
      }
    }
  }
  .section-el-second-content-flow-list-item:nth-child(n+2){
    margin-top: 47px;
    padding-top: 47px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-image: repeating-linear-gradient(to right, #d9d9d9 0 4px, #fff 4px 8px);
    }
  }
  .section-el-second-content-flow-list-item-week{
    background: $cl-english;
    color: #fff;
    border-radius: 4px;
    width: 217px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size-m;
    position: relative;
    &:not(.is-end)::before{
      content: "";
      width: 17px;
      height: 17px;
      border-radius: 8.5px;
      background: $cl-english;
      position: absolute;
      top: 5px;
      left: -60px;
      @include responsive-style(768px) {
        width: 10px;
        height: 10px;
        left: -29px;
        top: 8px;
      }
    }
    &.is-end{
      width: 77px;
    }
  }
  .section-el-second-content-flow-list-item-title{
    @include font-size-l;
    font-weight: bold;
    margin-top: 15px;
    @include responsive-style(768px) {
      margin-top: 10px;
    }
  }
  .section-el-second-content-flow-details{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    @include responsive-style(768px) {
      margin-top: 10px;
      display: block;
    }
  }
  .section-el-second-content-flow-details-item{
    width: calc((359 / 742) * 100%);
    background: $cl-lightgray;
    padding: 20px 20.5px 14px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
    @include responsive-style(768px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:nth-child(n+2){
        margin-top: 25px;
      }
    }
  }
  .section-el-second-content-flow-details-item-img{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include responsive-style(768px) {
      order: 4;
      margin-top: 12px;
    }
  }
  .section-el-second-content-flow-details-item-img-button{
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #fff;
      background: #fff;
      animation: ripple-animation 2.3s infinite;
      z-index: 1;
    }
  }
  .section-el-second-content-flow-details-item-img-button-inner{
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 69.5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &::after{
      content: "";
      width: 22px;
      height: 25px;
      background: #fff;
      position: absolute;
      top: calc(50% - 12.5px);
      left: calc(50% - 8px);
      z-index: 1;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
  .section-el-second-content-flow-details-item-name{
    display: inline-block;
    color: $cl-english;
    border-radius: 4px;
    background: #fff;
    border: 1px solid $cl-english;
    @include font-size-s;
    margin-top: 16px;
    letter-spacing: 0.5px;
    padding: 3px 9px;
    @include responsive-style(768px) {
      order: 1;
      margin-top: 0;
    }
  }
  .section-el-second-content-flow-details-item-title{
    font-weight: bold;
    @include font-size-xm;
    letter-spacing: -0.25px;
    margin-top: 7px;
    @include responsive-style(768px) {
      order: 2;
    }
  }
  .section-el-second-content-flow-details-item-text{
    @include font-size-xs;
    margin-top: 2px;
    min-height: 59px;
    line-height: 1.4;
    @include responsive-style(768px) {
      order: 3;
      min-height: auto;
    }
  }
}

// お客様からの声
// - 体験談の表示
// - 背景色：パレイエロー
section.section-el-second-voice {
  .lp-section-voice-box-image{
    width: 226px;
    margin: 43px auto 0;
    @include responsive-style(768px) {
      margin-top: 17px;
    }
  }
  .lp-section-voice-box-name{
    text-align: center;
    color: $cl-english;
    @include font-size-m;
    font-weight: bold;
    margin-top: 17px;
  }
  .lp-section-voice-box-title{
    @include font-size-l;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    @include responsive-style(768px) {
      margin-top: 21px;
    }
  }
  .lp-section-voice-box-text{
    @include section-narrowwidth;
    margin: 33px auto 0;
    @include font-size-m;
    line-height: 1.6;
    @include responsive-style(768px) {
      margin-top: 25px;
    }
  }
  .lp-section-voice-box-text + .lp-section-voice-box-text{
    margin-top: 28px;
    @include responsive-style(768px) {
      margin-top: 30px;
    }
  }
}

// 料金
// - 料金プランの説明
// - 背景色：白
section.section-el-second-price {
  .lp-section-price {
    @include section-middlewidth;
    margin: 30px auto 18px;
    position: relative;
    @include responsive-style(768px) {
      margin: 30px auto 18px;
    }
    .lp-section-price-box {
      box-shadow: 0 0 30px rgba(50, 50, 70, 0.15);
      display: flex;
      align-items: center;
      height: 150px;
      position: relative;
      background: $cl-white;
      border-radius: 50px;
      overflow: hidden;
      @include responsive-style(768px) {
        height: auto;
        display: block;
        border-radius: 25px;
      }
    }
    .lp-section-price-box-left {
      background: $cl-english;
      display: flex;
      align-items: center;
      flex: 1;
      padding: 7px 0 0 0px;
      height: 150px;
      @include responsive-style(768px) {
        height: 90px;
      }
      .lp-section-price-box-left-text {
        padding: 0 0 0 0px;
        width: calc(100% - 0px);
        text-align: center;
        color: $cl-white;
        @include font-size-l;
        font-weight: bold;
        letter-spacing: 1px;
      }
      .lp-section-price-box-left-badge-wrap {
        position: relative;
        transform: translateX(30px);
      }
      .lp-section-price-box-left-badge-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      .lp-section-price-box-left-badge {
        position: absolute;
        animation: rotate 10s linear infinite;
      }
      .lp-section-price-box-left-badge,
      .lp-section-price-box-left-badge:before,
      .lp-section-price-box-left-badge:after,
      .lp-section-price-box-left-badge-body,
      .lp-section-price-box-left-badge-body:before {
        position: absolute;
        background-color: $english-yellow;
        width: 45px;
        height: 45px;
        // left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      .lp-section-price-box-left-badge:before {
        transform: rotate(22deg);
        content: "";
      }
      .lp-section-price-box-left-badge:after {
        transform: rotate(-22deg);
        content: "";
      }
      .lp-section-price-box-left-badge-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
      }
      .lp-section-price-box-left-badge-body:before {
        transform: rotate(45deg);
        content: "";
        z-index: -1;
      }
    }
    .lp-section-price-box-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color: $cl-english;
      background: $cl-white;
      @include font-size-xl;
      font-weight: 600;
      line-height: 0.7;
      padding: 7px 0 0 0px;
      @include responsive-style(768px) {
        padding: 30px 0;
      }
      .lp-section-price-box-right-small {
        @include font-size-m;
      }
    }
  }
  .lp-section-price-note {
    @include section-middlewidth;
    margin: 0 auto;
    color: $cl-graylight;
    line-height: 1.8;
    text-align: center;
    @include font-size-s;
    @include responsive-style(768px) {
      text-align: center;
    }
  }
}

// 無料体験レッスンまでの流れ
// - 申し込みプロセスの説明
// - 背景色：ライトグレー
section.section-el-second-try {
  padding: 0 0 120px !important;
  border-radius: 0px 0px 100px 100px;
  @include responsive-style(768px) {
    border-radius: 0px 0px 50px 50px;
  }
  .lp-section-trial-flow {
    width: 100%;
    margin: 30px auto 0;
    @include section-maxwidth;
    @include responsive-style(768px) {
      margin: 0px auto 0;
    }
  }
}

// お問い合わせ
// - 問い合わせフォーム
// - 背景色：パレイエロー
section.section-el-second-contact {
  padding: 75px 100px;
  background: #ecffea;
  max-width: 1200px;
  width: 90%;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  margin: 100px auto 130px;
  display: grid;
  grid-template-columns: 1fr 1.45fr;
  grid-column-gap: 75px;
  @include responsive-style(768px) {
    display: block;
    width: 90%;
    border-radius: 50px;
    padding: 75px 20px;
    margin: 60px auto 75px;
  }
  .section-el-second-contact-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .section-el-second-contact-right-title {
      text-align: left;
      font-size: 40px;
      @include responsive-style(768px) {
        font-size: 30px;
      }
      font-weight: 600;
      letter-spacing: 1px;
      margin: 0 0 15px;
      text-align: center;
      @include responsive-style(768px) {
        margin: 0 0 10px;
      }
      span {
        color: $cl-brand-line;
      }
    }
    .section-el-second-contact-right-text {
      @include font-size-m;
      text-align: center;
      line-height: 1.75;
      @include responsive-style(768px) {
        text-align: left !important;
      }
    }
    .section-el-second-contact-right-button a {
      width: 90%;
      max-width: 420px;
      background: $cl-brand-line;
      display: flex;
      justify-content: center;
      padding: 20px;
      align-items: center;
      text-decoration: none !important;
      box-shadow: 0 5.5px 0 darken($cl-brand-line, 10%);
      border-radius: 6px;
      margin: 30px auto 0;
      @include responsive-style(768px) {
        margin: 20px auto 0;
        width: 100%;
      }
      .section-el-second-contact-right-button-img img {
        height: 35px;
        margin: -2px 0 0 !important;
      }
      .section-el-second-contact-right-button-txt {
        color: #fff;
        text-decoration: none !important;
        margin: 0 0 0 10px;
        font-size: 24px;
        font-weight: bold;
        @include responsive-style(768px) {
          font-size: 22px;
        }
      }
    }
    .section-el-second-contact-right-img {
      margin: 30px 0 0;
    }
  }
}

// 申し込みセクション
// - 申し込みボタン
// - 背景色：白
section.section-el-cv {
  // background: #FAF3CE;
  padding: 0px 0 150px;
  text-align: center;
  max-width: 1200px;
  width: 90%;
  border-radius: 100px;
  margin: 30px auto 90px;
  display: grid;
  @include responsive-style(768px) {
    width: 95%;
    border-radius: 40px;
    margin: 0px auto 90px;
    padding: 0px 0 75px;
    // padding: 200px 0 205px;
  }
  .lp-cv-title-text {
    text-align: center;
    font-size: 34px;
    @include responsive-style(768px) {
      font-size: 24px;
    }
    // color: $cl-white;
    font-weight: 700;
    line-height: 1.3;
  }
  .lp-cv-title-note {
    @include font-size-s;
    text-align: center;
    // color: $cl-white;
    margin: 5px 0 0;
  }
  .lp-cv-lessonday {
    margin: 30px 0 0;
    .lp-cv-lessonday-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(0.95);
      @include responsive-style(768px) {
        display: block;
        transform: scale(1);
      }
    }
    .lp-cv-lessonday-wrapper-block {
      background: $cl-white;
      width: 80%;
      border-radius: 20px;
      overflow: hidden;
      max-width: 165px;
      margin: 0 15px;
      @include responsive-style(768px) {
        margin: 0 auto 20px;
        max-width: 100%;
        border-radius: 10px;
      }
      .lp-cv-lessonday-wrapper-block-date-week {
        display: inline-flex;
        width: 30px;
        height: 30px;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 3px 5px;
        padding: 3px 0 0;
        // background: $cl-waogreen;
        border-radius: 100px;
        background: #333;
        @include responsive-style(768px) {
          width: 25px;
          height: 25px;
          margin: 0 0 0px 5px;
        }
        &.level-2 {
          // background: $cl-english;
        }
      }
      .lp-cv-lessonday-wrapper-block-head {
        color: $cl-white;
        background: $cl-waogreen;
        display: flex;
        padding: 10px 10px 3px 10px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        .lp-cv-lessonday-wrapper-block-head-level {
          letter-spacing: 1px;
        }
        &.level-2 {
          background: $cl-english !important;
        }
        @include responsive-style(768px) {
          flex-direction: row;
          padding: 14px 15px 7px 15px;
        }
      }
      .lp-cv-lessonday-wrapper-block-date {
        display: flex;
        padding: 20px 15px 5px;
        flex-direction: column;
        align-items: center;
        @include responsive-style(768px) {
          flex-direction: row;
          padding: 22px 20px 3px;
        }
        .lp-cv-lessonday-wrapper-block-date-day {
          display: flex;
          align-items: flex-end;
          font-size: 40px;
          line-height: 0.7;
          font-weight: 600;
          font-family: "Avenir LT Pro", "Jost", "Noto Sans JP", sans-serif;
          margin: 0 0 13px;
          @include responsive-style(768px) {
            font-size: 35px;
          }
          .lp-cv-lessonday-time-day-monthday {
            font-weight: 600;
          }
          .lp-cv-lessonday-wrapper-block-date-day-slash {
            font-weight: 300 !important;
          }
        }
        .lp-cv-lessonday-wrapper-block-date-range {
          font-size: 24px;
          line-height: 0.7;
          font-weight: 600;
          margin: 0 0 3px 5px;
          @include responsive-style(768px) {
            font-size: 28px;
            margin: 0 0 6px 5px;
          }
          // width: 100%;
        }
      }
      .lp-cv-lessonday-wrapper-block-button button {
        background: transparent;
        border: 1px solid $cl-waogreen;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        padding: 8px 0px 3px;
        appearance: none;
        margin: 5px 0 10px;
        width: 85%;
        color: $cl-waogreen;
        font-size: 15px;
        @include responsive-style(768px) {
          margin: -8px 0 15px;
        }
        &:hover {
          background: $cl-waogreen;
          color: $cl-white;
        }
        &.button-level2-weekdays {
          border: 1px solid $cl-english !important;
          color: $cl-english !important;
          &:hover {
            background: $cl-english;
            color: $cl-white !important;
          }
        }
      }
    }
    .lp-cv-lessonday-wrapper-block-or {
      text-align: center;
      @include font-size-l;
      color: $cl-graylight;
      display: none;
      @include responsive-style(768px) {
        margin: 10px auto;
      }
    }
    .lp-cv-lessonday-time-week {
      display: inline-flex;
      width: 21px;
      height: 21px;
      color: #fff;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      margin: 0 0 3px 5px;
      padding: 3px 0 0;
      @include responsive-style(768px) {
        width: 18px;
        height: 18px;
        margin: 0 0 0px 5px;
      }
      // &.level-2 {
      //     background: $cl-english !important;
      // }
    }
    .lp-cv-lessonday-title {
      @include font-size-m;
      text-align: center;
      // color: $cl-white;
      margin: 0 auto 13px;
    }
    .lp-cv-lessonday-time {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    .lp-cv-lessonday-time-day {
      font-size: 60px;
      color: $cl-white;
      line-height: 0.7;
      @include responsive-style(768px) {
        font-size: 50px;
      }
      .lp-cv-lessonday-time-day-monthday {
        font-weight: 600;
      }
      .lp-cv-lessonday-time-day-slash {
        font-weight: 300;
      }
    }
    .lp-cv-lessonday-time-hourrange {
      font-size: 40px;
      font-weight: 600;
      line-height: 0.8;
      color: $cl-white;
      margin: 0 0 0 8px;
      @include responsive-style(768px) {
        font-size: 36px;
      }
    }
  }
  .lp-cv-button {
    position: relative;
    margin: 40px auto 0;
    a {
      padding: 17px 10px 14px;
      background: $cl-main-orange !important;
      animation: lp-cta__btn 3s infinite;
      display: inline-flex;
      margin: 0 auto;
      box-shadow: 0 4px 0 #9d4e00;
      border-radius: 6px;
      flex-direction: row;
      text-decoration: none;
      justify-content: center;
      width: 450px;
      @include responsive-style(768px) {
        width: 340px;
        padding: 10px 0px;
      }
      .english-fv-absolute-cvtop {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -14px;
        background: $cl-white;
        border: 1px solid $cl-main-orange;
        border-radius: 100px;
        color: $cl-main-orange;
        text-align: center;
        padding: 5px 0px 2px;
        display: block;
        width: 240px;
        @include font-size-s;
        justify-content: center;
      }
      .lp-cv-button-sub {
        padding: 1px 8px;
        border-radius: 100px;
        background: #9d4e00;
        font-size: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $cl-white;
        line-height: 1;
      }
      .lp-cv-button-main {
        color: $cl-white;
        font-weight: 500;
        margin: 0 10px 0 10px;
        font-size: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include responsive-style(768px) {
          font-size: 18px;
        }
        position: relative;
        .lp-cv-button-main-text {
          position: absolute;
          left: 0;
          right: 0;
          text-align: center;
        }
        .lp-cv-button-main-arrow {
          position: relative;
          display: inline-block;
          padding: 0 0 0 16px;
          color: #000;
          vertical-align: middle;
          text-decoration: none;
          font-size: 15px;
          &::before {
            right: 0;
            top: -1px;
            width: 12px;
            height: 12px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &::before,
          &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            content: "";
            vertical-align: middle;
          }
        }
      }
    }
  }
}
.lp-section-faq-wrapper {
  margin: 15px auto 0;
}

.lp-section-faq {
  @include section-middlewidth;
  display: flex;
  margin: 60px auto 0;
  @include responsive-style(768px) {
    margin: 0px auto 60px;
  }
  .lp-section-faq-left {
    color: $cl-english;
    width: 42px;
    @include font-size-xl;
    line-height: 1;
    font-weight: 500;
    @include responsive-style(768px) {
      line-height: 1.5;
      width: 37px;
    }
    font-family: "Jost", "Noto Sans JP", sans-serif;
  }
  .lp-section-faq-right {
    flex: 1;
    padding: 6px 0 0;
    .lp-section-faq-right-title {
      @include font-size-m;
      font-weight: bold;
    }
    .lp-section-faq-right-txt {
      @include font-size-m;
      margin: 10px 0 0;
    }
  }
}

footer {
  width: 100%;
  padding: 120px 0px 0px;
  text-align: center;
  background: $cl-black;
  color: $cl-white;
  border-radius: 100px 100px 0 0;
  @include responsive-style(768px) {
    padding: 100px 0px 0px;
    border-radius: 50px 50px 0 0;
  }
  ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  li {
    list-style: none;
    padding: 10px 0;
    a {
      color: $cl-white;
      text-decoration: none;
      @include font-size-m;
    }
  }
  .footer-logo img {
    width: 170px;
    margin: 60px auto 45px;
  }
  .footer-copyright {
    width: 100%;
    border-top: 1px solid #fff;
    padding: 15px 0 15px;
  }
}

// ビデオのモーダル
.modal-video{
  display: none;
}
.modal-video-wrapper{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include responsive-style(768px) {
    width: 95%;
    left: 2.5%;
    aspect-ratio: 16 / 12;
    max-width: 414px;
  }
}
.modal-video-wrapper-content {
  position: relative;
  max-width: 650px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  iframe{
    aspect-ratio: 16 / 9;
  }
}
.modal-video-close{
    width: 100%;
    color: #fff;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    @include responsive-style(768px) {
      font-size: 17px;
    }
}