/* width */

@mixin section-maxwidth {
  max-width: 1200px;
  padding: 0 30px;
  @include responsive-style(768px) {
    padding: 0 20px;
  }
}

@mixin section-widewidth {
  max-width: 1000px;
  padding: 0 20px;
}

@mixin section-middlewidth {
  max-width: 800px;
  padding: 0 20px;
}

.section-el-second {
  // height: 300px;
  width: 100%;
  padding: 0 0 210px;
  @include responsive-style(768px) {
    padding: 0 0 120px;
  }
  .section-el-second-content {
    .section-el-second-content-title {
      // margin: 45px auto 0;
      text-align: center;
    }
    .section-el-second-content-title-text {
      text-align: center;
      @include font-size-xl;
      font-weight: 600;
      position: relative;
      display: inline-block;
      margin: 0 auto;
      letter-spacing: 2px;
      width: 90%;
      @include responsive-style(768px) {
        text-align: left;
      }
    }
    .section-el-second-content-text {
      @include font-size-m;
      text-align: center;
      line-height: 1.75;
      margin: 10px 0 0;
      @include responsive-style(768px) {
        text-align: left;
        padding: 0 20px;
      }
    }
    .section-el-second-content-title-text-center {
      text-align: center !important;
    }
  }
}

@mixin section-styles($content-bg, $top-bg, $top-before-bg) {
  background: $content-bg;
  // .section-el-second-content {
  // }
  .section-el-second-top {
    background: $top-bg;
    &:before {
      background: $top-before-bg;
    }
  }
}

.section-el-second-why {
  @include section-styles($english-yellow, #fff, $english-yellow);
}

.section-el-second-ability {
  @include section-styles($english-yellowpale, #fff, $english-yellowpale);
}

//ラポール22
.section-el-second-who {
  @include section-styles(#fff, $english-yellowpale, #fff);
}

//授業コース
.section-el-second-coarce {
  @include section-styles($cl-english-pale, #fff, $cl-english-pale);
}

//授業の流れ
.section-el-second-process {
  @include section-styles(#fff, $cl-english-pale, #fff);
}

//お客様からの声
.section-el-second-voice {
  @include section-styles($english-yellowpale, #fff, $english-yellowpale);
}

//料金
.section-el-second-price {
  @include section-styles(#fff, $english-yellowpale, #fff);
}

//無料体験レッスンまでの流れ
.section-el-second-try {
  @include section-styles($cl-graylightest, #fff, $cl-graylightest);
}

//よくある質問
.section-el-second-faq {
  @include section-styles($cl-graylightest, #fff, $cl-graylightest);
  border-radius: 0px 0px 100px 100px;
  @include responsive-style(768px) {
    padding: 0 0 30px;
    border-radius: 0px 0px 50px 50px;
  }
}

.section-el-second-top {
  height: 80px;
  position: relative;
  // border-radius: 100px 100px 0 0;
  margin: 0 auto 40px;
  @include responsive-style(768px) {
    margin: 0 auto 0px;
  }
  .section-el-second-top-text {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
    letter-spacing: 7px;
    font-size: 110px;
    @include responsive-style(768px) {
      font-size: 50px;
      top: -30px;
      letter-spacing: 3px;
    }
    /* 余裕があったら実装したいアニメーション */
    // overflow: hidden;
    // display: flex;
    // letter-spacing: .06em;
    // justify-content: center;
    // span {
    //     letter-spacing: .06em;
    //     margin: 0;
    //     /* ここからアニメーション関係 */
    //     transform: translateY(2em);
    //     animation: textanimation 1s forwards;
    //     &:nth-child(1) {
    //         animation-delay: 0.1s
    //     }
    //     &:nth-child(2) {
    //         animation-delay: 0.2s;
    //     }
    //     &:nth-child(3) {
    //         animation-delay: 0.3s;
    //     }
    //     &:nth-child(4) {
    //         animation-delay: 0.4s;
    //     }
    // }
  }
  @keyframes textanimation {
    0% {
      transform: translateY(2em);
    }
    100% {
      transform: translateY(0);
    }
  }
  &:before {
    border-radius: 100px 100px 0 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background: #ccc;
    content: "";
    display: block;
    @include responsive-style(768px) {
      border-radius: 50px 50px 0 0;
    }
  }
}

.lp-section-bgyellow {
  background: $english-yellow;
}

.lp-section-bgpaleyellow {
  background: #fcf8ef;
  .lp-section-title-txt {
    color: #fff !important;
  }
}

.lp-section-bglightgray {
  background: #f5f5f5;
  .lp-section-title-txt {
    color: #fff !important;
  }
}

.lp-section-bgwhite {
  background: white;
}

.lp-section-title-bgdecoration {
  position: relative;
  text-align: center;
  height: 70px;
  margin: 0 auto 30px;
  @include responsive-style(768px) {
    height: 40px;
    margin: 0 auto 10px;
  }
  h2 {
    // padding: 30px;
    z-index: 1;
    position: relative;
    line-height: 1;
    @include font-size-xl;
    text-align: center;
    color: $cl-gray;
    .purple-large {
      color: $cl-english;
      font-size: 60px;
      font-weight: 500;
    }
    .purple {
      color: $cl-english;
    }
  }
  .lp-section-title-txt {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    margin: auto;
    color: #f7f7f7;
    z-index: 0;
    line-height: 1;
    opacity: 0.7;
    user-select: none;
    font-size: 200px;
    @include responsive-style(768px) {
      font-size: 90px;
      top: -40px;
    }
  }
}
