.btn-cta {
  z-index: 9;
  width: 530px;
  height: 80px;
  display: flex;
  background: $cl-btn-cta;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-big;
  padding: 0 0px;
  color: white;
  cursor: pointer;
  margin: 90px auto 60px;
  text-decoration: none;
  color: $cl-white;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 0 0 #da613b;
  @include responsive-style($breakpoint-sp) {
    width: 90%;
    height: 60px;
    margin: 30px auto 30px;
    border-radius: $border-radius-full;
  }
  .btn-cta-left img {
    // width: 40px;
    // height: 40px;
    position: absolute;
    // display: none;
    height: 90px;
    left: 18px;
    top: -11px;
    @include responsive-style($breakpoint-sp) {
      display: none;
    }
  }
  .btn-cta-icn {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: $cl-white;
    width: 40px;
    height: 40px;

    border-radius: $border-radius-full;
    &::before {
      content: "";
      // margin: 6px 0 0 4px;
      transform: translateY(-50%) rotate(-45deg);
      width: 10px;
      height: 10px;
      border-right: 2px solid $cl-btn-cta;
      border-bottom: 2px solid $cl-btn-cta;
      background: transparent;
      display: inline-block;
      left: -3px;
      right: 0;
      top: 10px;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
    @include responsive-style($breakpoint-sp) {
      right: 20px;
      width: 30px;
      height: 30px;

      border-radius: $border-radius-full;
      &::before {
        content: "";
        // margin: 6px 0 0 4px;
        transform: translateY(-50%) rotate(-45deg);
        width: 7px;
        height: 7px;
        border-right: 2px solid $cl-btn-cta;
        border-bottom: 2px solid $cl-btn-cta;
        background: transparent;
        display: inline-block;
        left: -3px;
        right: 0;
        top: 8px;
        bottom: 0;
        margin: auto;
        position: absolute;
      }
    }
  }
  .btn-cta-text {
    text-align: center;
    color: $cl-white;
    font-size: $font-size-xxl;
    // letter-spacing: 1px;
    line-height: $lineheight-normal;
    padding: 0 0 0 22px;
    font-weight: 400;
    letter-spacing: 0.3px;
    @include responsive-style($breakpoint-sp) {
      font-size: $font-size-m;
      padding: 0 0 0 0px;
    }
  }
}

// .btn-cta {
//   z-index: 9;
//   width: 500px;
//   height: 80px;
//   display: flex;
//   background: $cl-btn-cta;
//   align-items: center;
//   justify-content: space-between;
//   border-radius: $border-radius-big;
//   padding: 0 30px;
//   overflow: hidden;
//   color: white;
//   cursor: pointer;
//   margin: 60px auto 30px;
//   text-decoration: none;
//   color: $cl-white;
//   .btn-cta-left {
//     width: 40px;
//     height: 40px;
//   }
//   .btn-cta-icn {
//     background: $cl-white;
//     width: 40px;
//     height: 40px;
//     position: relative;
//     border-radius: $border-radius-full;
//     &::before {
//       content: "";
//       // margin: 6px 0 0 4px;
//       transform: translateY(-50%) rotate(-45deg);
//       width: 10px;
//       height: 10px;
//       border-right: 2px solid $cl-btn-cta;
//       border-bottom: 2px solid $cl-btn-cta;
//       background: transparent;
//       display: inline-block;
//       left: -3px;
//       right: 0;
//       top: 8px;
//       bottom: 0;
//       margin: auto;
//       position: absolute;
//     }
//   }
//   .btn-cta-text {
//     color: $cl-white;
//     font-size: $font-size-xl;
//     letter-spacing: 1px;
//     line-height: $lineheight-normal;
//     @include responsive-style($breakpoint-sp) {
//       font-size: $font-size-m;
//     }
//   }
// }

.fixed-btn a {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9;
  width: 345px;
  height: 70px;
  display: flex;
  background: $cl-btn-cta;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;

  padding: 0 30px;
  overflow: hidden;
  color: white;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 0 0 #da613b;
  border-radius: $border-radius-big;
  @include responsive-style($breakpoint-sp) {
    border-radius: $border-radius-full;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    height: 60px;
  }
  .fixed-btn-left {
    width: 30px;
    height: 30px;
  }
  .fixed-btn-icn {
    background: $cl-white;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: $border-radius-full;
    &::before {
      content: "";
      // margin: 6px 0 0 4px;
      transform: translateY(-50%) rotate(-45deg);
      width: 7px;
      height: 7px;
      border-right: 2px solid $cl-btn-cta;
      border-bottom: 2px solid $cl-btn-cta;
      background: transparent;
      display: inline-block;
      left: -3px;
      right: 0;
      top: 8px;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }
  .fixed-btn-text {
    color: white;
    font-size: $font-size-l;
    letter-spacing: 1px;
    line-height: $lineheight-normal;
    @include responsive-style($breakpoint-sp) {
      font-size: $font-size-m;
    }
  }
  // .fixed-btn-left {
  //   display: flex;
  //   align-items: center;
  //   gap: 15px;
  //   .fixed-btn-left-icn {
  //     background: $cl-white;
  //     width: 30px;
  //     height: 30px;
  //     position: relative;
  //     border-radius: $border-radius-full;
  //     &::before {
  //       content: "";
  //       // margin: 6px 0 0 4px;
  //       transform: translateY(-50%) rotate(-45deg);
  //       width: 7px;
  //       height: 7px;
  //       border-right: 2px solid $cl-btn-cta;
  //       border-bottom: 2px solid $cl-btn-cta;
  //       background: transparent;
  //       display: inline-block;
  //       left: -3px;
  //       right: 0;
  //       top: 8px;
  //       bottom: 0;
  //       margin: auto;
  //       position: absolute;
  //     }
  //   }
  //   .fixed-btn-left-text {
  //     color: white;
  //     font-size: $font-size-xl;
  //     letter-spacing: 1px;
  //     line-height: $lineheight-normal;
  //   }
  //   .fixed-btn-icn {
  //     width: 24px;
  //     height: 24px;
  //     position: relative;
  //   }
  // }
  // .fixed-btn-illust img {
  //   height: 75px;
  //   margin: 27px 0 0 0px;
  // }
}

.lp-waomirai-start2025-btn {
  text-align: center;
  a {
    text-align: center;
    margin: 30px auto 120px;
    background: $cl-btn-cta;
    background: $cl-main-orange;
    text-decoration: none;
    height: 78px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    width: 100%;
    max-width: $ctabuttonwidth;
    position: relative;
    line-height: $lineheight-normal;
    gap: 12px;
    @include responsive-style(768px) {
      width: 100%;
    }
    @include box-shadow-lp;

    .lp-waomirai-start2025-btn-text {
      margin: 0px 0 0;
      font-size: $font-size-xl;
      letter-spacing: 1px;
    }
    .lp-waomirai-start2025-btn-icn {
      width: 17px;
      height: 17px;
    }
  }
}

.c-btn-cta {
  text-align: center;
  a {
    animation: fuwafuwa-button 2s 0s infinite;
    text-align: center;
    margin: 0 auto 135px;
    cursor: pointer;
    background: $cl-brand-line;
    text-decoration: none;
    height: 108px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    width: 100%;
    max-width: $ctabuttonwidth;
    position: relative;
    @include responsive-style(768px) {
      width: 90%;
      margin: 0 auto 105px;
    }
    @include box-shadow-lp;
    .c-btn-cta-top {
      position: absolute;
      top: 12px;
      font-size: $font-size-m;
      letter-spacing: 1px;
    }
    .c-btn-cta-main {
      position: absolute;
      // top: 0px;
      margin: 7px 0 0;
      font-size: $font-size-xxl;
      letter-spacing: 1px;
      color: $cl-white;
    }
  }
}
.c-btn-cta-subject {
  text-align: center;
  a {
    animation: fuwafuwa-button 2s 0s infinite;
    text-align: center;
    margin: 30px auto 15px;
    cursor: pointer;
    background: $cl-brand-line;
    text-decoration: none;
    height: 78px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-full;
    width: 100%;
    max-width: $ctabuttonwidth;
    position: relative;
    @include responsive-style(768px) {
      width: 90%;
    }
    @include box-shadow-lp;
    // .c-btn-cta-top {
    //   position: absolute;
    //   top: 12px;
    //   font-size: $font-size-m;
    //   letter-spacing: 1px;
    // }
    .c-btn-cta-main {
      margin: 0px 0 0;
      font-size: $font-size-xxl;
      letter-spacing: 1px;
    }
  }
}
