/* fontsize */

// Font size variables
$font-size-sss: 10px;
$font-size-ss: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 22px;
$font-size-xxl: 30px;
$font-size-xxxl: 40px;
$font-size-huge: 56px;

/* line-height */

$lineheight-none: 1;
$lineheight-tight: 1.25;
$lineheight-normal: 1.5;
$lineheight-relaxed: 1.75;

/* title-underline */
@mixin title-underline {
  text-decoration: underline wavy;
  text-decoration-color: $cl-title-underline;
}
