html {
  overflow-x: hidden;
}

#lp-2025feb {
  background: $cl-bg-eventlp-2025feb;
  color: $cl-black;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
  // padding: 0 20px;
  section {
    margin: 0 auto 75px;
  }
}
