//- imagePath
- var ImgLogo = 'https://waomirai.com/lp/assets/commonimages/logo.svg'
- var ImgFvTitlePc = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_title_lp_firstweek_free_fv.svg';
- var ImgFvTitleSp = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_title_lp_firstweek_free_sp.svg';
- var ImgFvMain = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fvpc.png';
- var ImgFvMainScroll = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/arrow_scroll.svg';
- var ImgFvDeco01Pc = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco01_lp_firstweek_free.svg';
- var ImgFvDeco02Pc = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco02_lp_firstweek_free.svg';
- var ImgFvDeco03Pc = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco03_lp_firstweek_free.svg';
- var ImgFvDeco04Pc = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco04_lp_firstweek_free.svg';
- var ImgFvDeco05Pc = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco05_lp_firstweek_free.svg';
- var ImgFvDeco01Sp = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco01_lp_firstweek_free_sp.svg';
- var ImgFvDeco02Sp = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco02_lp_firstweek_free_sp.svg';
- var ImgFvDeco03Sp = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco03_lp_firstweek_free_sp.svg';
- var ImgFvDeco04Sp = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/fv_deco04_lp_firstweek_free_sp.svg';
- var ImgFvCamaign2025SepOct = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/campaign_1week_pc.png';
- var ImgFvCamaign2025SepOctSp  = '	https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/campaign_1week.png';
- var ImgFvCamaign2025SepOctBadge = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/badge_campaign_1week.svg';

- var ImgIntro = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/illust_tankyu.png'
- var ImgFeature01 = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/feature1.png'
- var ImgFeature02 = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/feature2.png'
- var ImgFeature03 = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/feature3.png'
- var ImgIconSubject =  'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/icn_subject.png'
- var ImgModalMvCampaignEnd = 'https://waomirai.com/lp/assets/lpimages/10_lp-firstweek-free/free_month.png'

//- URLPath
- var UrlWaoServiceSite = 'https://waomirai.com/'