//- imagePath
- var ImgLogo = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgFvTitlePc = 'https://storage.pardot.com/1026513/1745823977V4ZFdluU/fv_title_lp_firstweek_free_fv.svg';
- var ImgFvTitleSp = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbrv/1026513/1745830583g3cJMQZ1/fv_title_lp_firstweek_free_sp.svg';
- var ImgFvMain = 'https://go.waomirai.com/l/1026513/2025-04-30/hlh1b/1026513/1745999281khVncBvM/fvpc__1_.png';
- var ImgFvMainScroll = 'https://go.waomirai.com/l/1026513/2025-04-30/hlgz1/1026513/1745997566srrRwPzD/arrow_scroll.svg';
- var ImgFvDeco01Pc = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbqg/1026513/17458260145amNgFSJ/fv_deco01_lp_firstweek_free.svg';
- var ImgFvDeco02Pc = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbq5/1026513/1745826013rT7w9o9J/fv_deco02_lp_firstweek_free.svg';
- var ImgFvDeco03Pc = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbqc/1026513/1745826014JY2RK5HV/fv_deco03_lp_firstweek_free.svg';
- var ImgFvDeco04Pc = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbq8/1026513/1745826013o7If8TM0/fv_deco04_lp_firstweek_free.svg';
- var ImgFvDeco05Pc = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbqk/1026513/1745826014TIgLKbqw/fv_deco05_lp_firstweek_free.svg';
- var ImgFvDeco01Sp = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbtv/1026513/1745831528PpgAIbmg/fv_deco01_lp_firstweek_free_sp.svg';
- var ImgFvDeco02Sp = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbv2/1026513/1745831528cDpD1ddJ/fv_deco02_lp_firstweek_free_sp.svg';
- var ImgFvDeco03Sp = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbv5/1026513/1745831529clAmkldj/fv_deco03_lp_firstweek_free_sp.svg';
- var ImgFvDeco04Sp = 'https://go.waomirai.com/l/1026513/2025-04-28/hlbty/1026513/1745831528S9MEfheb/fv_deco04_lp_firstweek_free_sp.svg';

- var ImgIntro = 'https://go.waomirai.com/l/1026513/2025-04-29/hlgqq/1026513/1745976684AcyZOO6T/illust_tankyu.png'
- var ImgFeature01 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2g/1026513/1738048730d59M179f/feature1.png'
- var ImgFeature02 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2k/1026513/1738048730cZavB1ZE/feature2.png'
- var ImgFeature03 = 'https://go.waomirai.com/l/1026513/2025-01-28/hcw2c/1026513/1738048729Tn4ASdZd/feature3.png'
- var ImgIconSubject =  'https://go.waomirai.com/l/1026513/2025-01-15/hbx1n/1026513/1736924742nDMFWTDp/icn_subject.png'
- var ImgModalMvCampaignEnd = 'https://go.waomirai.com/l/1026513/2025-04-10/hk9jk/1026513/1744263407puoKu8D8/free_month.png'

//- URLPath
- var UrlWaoServiceSite = 'https://waomirai.com/'