.login-announcement {
    width: 100%;
    background: $cl-waogreen-pale;
    color: $cl-waogreen;
    padding: 10px;
    text-align: center;
    border-top: 1px solid $cl-waogreen;
    border-bottom: 1px solid $cl-waogreen;
    @include font-size-m;
}

.login-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 180px;
    .login-block-logo img {
        width: 280px;
        margin: 0 auto 30px;
    }
    #passwordForm {
        width: 350px;
        margin: 0 auto;
        text-align: center;
    }
    input {
        width: 100%;
        display: block;
        margin: 0 auto 0px;
        padding: 4px 6px;
        height: 45px;
        @include font-size-m;
        &.error {
            border: 1px solid #cc0000;
            background: #FFE6E6;
        }
    }
    button {
        width: 100%;
        display: block;
        height: 45px;
        margin: 30px auto;
        background: $cl-waogreen;
        color: white;
        border: none;
        letter-spacing: 1px;
        @include font-size-m;
    }
    .error-label {
        @include font-size-m;
        color: #cc0000;
        margin: 4px 0 0;
        text-align: left;
    }
}