//- 変数定義
include _variables

//- ミックスイン
include _mixins

//-//////////////////////////
//- LINEボタンのサンプル
//- a.c-btn-cv
//-   |a
//-//////////////////////////

.l-pc-logo
  |ロゴ
.l-main
  include _content-main.pug
.l-pc-menu
  |メニュー
+modal