//- 変数定義
include _variables

//- ミックスイン
include _mixins

.l-pc-logo
  .l-pc-wrapper
    .l-pc-logo-img
      img(src=ImgLogo alt="夏休み自由研究DAY 2025")
.l-main
  include _content-main.pug
.l-pc-menu
  .l-pc-wrapper
    |メニュー
+modal