//- 変数定義
include _variables

//- ミックスイン
include _mixins

//-//////////////////////////
//- 以下はPCでのみ表示される要素
//-//////////////////////////
img(src=ImgLogoWaoMirai)

//-//////////////////////////
//- 以下メインコンテンツ(PC/スマホ兼用)
//-//////////////////////////

//-//////////////////////////
//- LINEボタンのサンプル
//- a.c-btn-cv
//-   |a
//-//////////////////////////

.l-main
  include _content-main.pug
+modal