//- プログラム一覧・プログラムのタブ
-
  const list_items = [
    {
      key: 'science',
      img: ImgList01,
      number: '#01',
      title: 'まるで魔法✨溶けないアイスを作ろう！',
      times: ['①7/26(土) 11:00〜11:50', '②7/26(土) 14:30〜15:20'],
      link: '#unmelting-ice',
      tab_text: ['溶けない', 'アイス']
    },
    {
      key: 'philosophy',
      img: ImgList02,
      number: '#02',
      title: '学校の不思議ルール！何でこのルール？',
      times: ['①7/29(火) 18:30～19:20', '②8/18(月) 17:30～18:20'],
      link: '#weird-school-rules',
      tab_text: ['学校の', 'ルール']
    },
    {
      key: 'economiy',
      img: ImgList03,
      number: '#03',
      title: '一番人気のたこ焼き屋台を作れるのは誰だ！',
      times: ['①7/30(水)18:30～19:20', '②8/23(土)11:00～11:50'],
      link: '#takoyaki-stand',
      tab_text: ['たこ焼き', '屋台']
    },
    {
      key: 'economiy',
      img: ImgList04,
      number: '#04',
      title: '中学生からの金融・経済学！',
      times: ['①7/31(木)19:30～20:20', '②8/23(土)14:30～15:20'],
      link: '#student-investing',
      tab_text: ['高校生の', '金融・経済']
    },
    {
      key: 'science',
      img: ImgList05,
      number: '#05',
      title: 'のりのりひなひなによるサイエンスショー',
      times: ['①8/30(土)11:00〜11:50', '②8/30(土)14:30〜15:20'],
      link: '#norihina-scienceshow',
      tab_text: ['サイエンス', 'ショー']
    }
  ]