//- プログラム一覧・プログラムのタブ
-
  const list_items = [
    {
      key: 'science',
      img: ImgList01,
      number: '#01',
      title: 'まるで魔法✨溶けないアイスを作ろう！',
      times: ['①7/26(土) 11:00〜11:50', '②7/26(土) 14:30〜15:20'],
      link: '#unmelting-ice',
      tab_text: ['溶けない', 'アイス']
    },
    {
      key: 'philosophy',
      img: ImgList02,
      number: '#02',
      title: '学校の不思議ルール！何でこのルール？',
      times: ['①7/29(火) 18:30～19:20', '②8/18(月) 17:30～18:20'],
      link: '#weird-school-rules',
      tab_text: ['学校の', 'ルール']
    },
    {
      key: 'economiy',
      img: ImgList03,
      number: '#03',
      title: '一番人気のたこ焼き屋台を作れるのは誰だ！',
      times: ['①7/30(水)18:30～19:20', '②8/23(土)11:00～11:50'],
      link: '#takoyaki-stand',
      tab_text: ['たこ焼き', '屋台']
    },
    {
      key: 'economiy',
      img: ImgList04,
      number: '#04',
      title: '中学生からの金融・経済学！',
      times: ['①7/31(木)19:30～20:20', '②8/23(土)14:30～15:20'],
      link: '#student-investing',
      tab_text: ['高校生の', '金融・経済']
    },
    {
      key: 'science',
      img: ImgList05,
      number: '#05',
      title: 'のりのりひなひなによるサイエンスショー',
      times: ['①8/30(土)11:00〜11:50', '②8/30(土)14:30〜15:20'],
      link: '#norihina-scienceshow',
      tab_text: ['サイエンス', 'ショー']
    }
  ]


// プログラム詳細
-
  const details = [
    {
      id: "unmelting-ice",
      category: "science",
      category_icon: "科学リテラシー",
      img: ImgDetails01,
      title: "サイエンスクッキングショー！まるで魔法！溶けないアイスを作ろう",
      dates: [
        "①7/26(土) 11:00〜11:50",
        "②7/26(土) 14:30〜15:20",
      ],
      target: ["小学生向け"],
      description: [
        "アイスなのにとけない!? とけないアイスがあるって知ってる！？",
        "そのヒミツは寒天！！寒天パワーのヒミツを解明しながら普通のアイスとのちがいや、密度による浮き沈み実験、１分スピードアイスチャレンジなど夏にぴったりな実験がもりだくさん！",
        "イベントの最後には特別レシピもプレゼント！イベントが終わったあとに、おうちで作ってみてね☆",
        "サイエンスショーを楽しみながら自由研究のヒントをゲットしよう！",
      ],
      teacher: {
        role: "科学担当講師",
        name: "とぅいんくる星美",
        img: ImgDetailsTeacher01,
        texts: [
          "みんなの笑顔のためならなんでも頑張っちゃうおねえさん。食べ物のことならお任せあれ♪食いしん坊なため、料理中に味見をしすぎて材料が足りなくなることがある。 たまごが大好物。お買い物が大好き。子どもたちと楽しそうにダンスをしている姿を目撃されたりされなかったり。 みんなが笑顔になると「えがおのかけら」が魔法のスティックにたまる。",
        ],
      },
    },
    {
      id: "weird-school-rules",
      category: "philosophy",
      category_icon: "哲学（思考力）",
      img: ImgDetails02,
      title: "みんなで考えたい！学校の不思議ルール！なんでこのルール？",
      dates: [
        "①7/29(火) 18:30～19:20",
        "②8/18(月) 17:30～18:20",
      ],
      target: ["小学生向け"],
      description: [
        "学校のルール、「なんで!?」って思ったことない？",
        "「トイレに行くときは手をあげる」「シャーペン禁止」…そんなルールのナゾをみんなで大調査！なんでこのルールがあるの？どうすればもっと楽しくなる？みんなのアイデアで、誰もがなっとくできる”新しいルール”をつくろう！いろんな考えを聞いて、自分の考えもパワーアップ！自由研究の材料を手に入れよう！",
      ],
      teacher: {
        role: "哲学担当講師",
        name: "山下 匠",
        img: ImgDetailsTeacher02,
        texts: [
          "ふだん目にすること、耳にすること、みなさんはどう受け止めていますか？一見困ったなあということも、哲学というレンズを通して捉えなおすと、AかBかという答え以外にも、もっといろんな視点が見えてきます。その思考や選択肢の豊かさが、きっとみなさんの生きる助けになってくれるでしょう！",
        ],
      },
    },
  ];