//- プログラム
-
  const program = [
    {
      //- 基本情報
      key: 'science',
      times: ['①7/26(土) 11:00〜11:50', '②7/26(土) 14:30〜15:20'],
      link: 'unmelting-ice',
      item_number: '#01',
      //- PCのメニュー
      menu_title : '溶けないアイスを作ろう！',
      //- 一覧
      list_img: ImgList01,
      list_title: 'まるで魔法✨溶けないアイスを作ろう！',
      //- タブ
      tab_text: ['溶けない', 'アイス'],
      //- 詳細
      category_icon: "科学リテラシー",
      img: ImgDetails01,
      title: "サイエンスクッキングショー！まるで魔法！溶けないアイスを作ろう",
      target: ["小学生向け"],
      description: [
        "アイスなのに溶けない!? 溶けないアイスがあるって知ってる！？",
        "そのヒミツは寒天！！寒天パワーのヒミツを解明しながら普通のアイスとのちがいや、密度による浮き沈み実験、１分スピードアイスチャレンジなど夏にぴったりな実験がもりだくさん！",
        "イベントの最後には特別レシピもプレゼント！イベントが終わったあとに、おうちで作ってみてね☆",
        "サイエンスショーを楽しみながら自由研究のヒントをゲットしよう！",
      ],
      teacher: {
        role: "科学担当講師",
        name: "とぅいんくる星美",
        img: ImgDetailsTeacher01,
        texts_more: true,
        texts: [
          "みんなの笑顔のためならなんでも頑張っちゃうおねえさん。食べ物のことならお任せあれ♪"
          ,"食いしん坊なため、料理中に味見をしすぎて材料が足りなくなることがある。","たまごが大好物。お買い物が大好き。子どもたちと楽しそうにダンスをしている姿を目撃されたりされなかったり。","みんなが笑顔になると「えがおのかけら」が魔法のスティックにたまる。","魔法を使うと空を飛んだり、動物・食べ物とお話ができたり、料理の美味しさがアップするらしい。","地球の皆を笑顔にするために、星に乗ってやってきた。"
        ],
      },
    },
    {
      //- 基本情報
      key: 'philosophy',
      times: ['①7/29(火) 18:30～19:20', '②8/18(月) 17:30～18:20'],
      link: 'weird-school-rules',
      item_number: '#02',
      //- PCのメニュー
      menu_title : '学校の不思議ルール',
      //- 一覧
      list_img: ImgList02,
      list_title: '学校の不思議ルール！何でこのルール？',
      //- タブ
      tab_text: ['学校の', 'ルール'],
      //- 詳細
      category_icon: "哲学（思考力）",
      img: ImgDetails02,
      title: "みんなで考えたい！学校の不思議ルール！なんでこのルール？",
      target: ["小学生向け"],
      description: [
        "学校のルール、「なんで!?」って思ったことない？",
        "「トイレに行くときは手をあげる」「シャーペン禁止」…そんなルールのナゾをみんなで大調査！なんでこのルールがあるの？どうすればもっと楽しくなる？みんなのアイデアで、誰もがなっとくできる”新しいルール”をつくろう！いろんな考えを聞いて、自分の考えもパワーアップ！自由研究の材料を手に入れよう！",
      ],
      teacher: {
        role: "哲学担当講師",
        name: "山下 匠",
        img: ImgDetailsTeacher02,
        texts_more: true,
        texts: [
          "ふだん目にすること、耳にすること、みなさんはどう受け止めていますか？一見困ったなあということも、哲学というレンズを通して捉えなおすと、AかBかという答え以外にも、もっといろんな視点が見えてきます。その思考や選択肢の豊かさが、きっとみなさんの生きる助けになってくれるでしょう！",
        ],
      },
    },
    {
      //- 基本情報
      key: 'economiy',
      times: ['①7/30(水)18:30～19:20', '②8/23(土)11:00～11:50'],
      link: 'takoyaki-stand',
      item_number: '#03',
      //- PCのメニュー
      menu_title : '人気のたこ焼き屋台を作れるのは誰だ！',
      //- 一覧
      list_img: ImgList03,
      list_title: '一番人気のたこ焼き屋台を作れるのは誰だ！',
      //- タブ
      tab_text: ['たこ焼き', '屋台'],
      //- 詳細
      category_icon: "経済（お金）",
      img: ImgDetails03,
      title: "お店運営で学ぶお金と売れる工夫 一番人気のたこ焼き屋台を作れるのは誰だ！",
      target: ["小学生向け"],
      description: [
        "キミだけのたこ焼き屋台を作ってみよう！",
        "どんな名前にする？材料はどうする？どこで屋台を出して、いくらで売る？",
        "",
        "「あ、となりにライバルのたこ焼き屋台ができちゃった...」",
        "",
        "たこ焼きの売り方を考えながら、アイデアを実現することや、工夫することの楽しさ、値段の仕組みを学びましょう！"
      ],
      teacher: {
        role: "経済担当講師",
        name: "河原 大和",
        img: ImgDetailsTeacher03,
        texts_more: true,
        texts: [
          "「お金」は、毒にも薬にもなるものです。人生を狂わせてしまうこともあれば、夢を叶える手助けをしてくれることもあります。そんな、役に立つけれど少しこわい「お金」とそれにまつわる「経済」について、みんなで一緒に学びましょう！授業で会えることを楽しみにしています！",
        ],
      },
    },
    {
      //- 基本情報
      key: 'economiy',
      times: ['①7/31(木)19:30～20:20', '②8/23(土)14:30～15:20'],
      link: 'student-investing',
      item_number: '#04',
      //- PCのメニュー
      menu_title : '中学生からの金融・経済学！',
      //- 一覧
      list_img: ImgList04,
      list_title: '中学生からの金融・経済学！',
      //- タブ
      tab_text: ['高校生の', '金融・経済'],
      //- 詳細
      category_icon: "経済（お金）",
      img: ImgDetails04,
      title: "中学生からの金融・経済学 今、みんなにしかできない「投資」がある！",
      target: ["中・高校生向け"],
      description: [
        "みんなは「投資」って知ってる？？",
        "最近大人たちの間で話題になっている「NISA」や「iDeCo」ってどんな仕組み？",
        "実は、勉強も投資の1つだって知っていますか？",
        "そんな、知っていそうで実は知らない投資についてみんなで学びながら、中高生のみんなが「投資」にどう向き合うべきか一緒に考えていきます。"
      ],
      teacher: {
        role: "経済担当講師",
        name: "三木 大輔",
        img: ImgDetailsTeacher04,
        texts_more: true,
        texts: [
          "多くの人を助けられる人になりたい―そう口にすると「綺麗事では食べていけない」「現実を見ろ」と軌道修正される。それでも志を捨てずに、日々何かを学ぼうとする皆さんは、誰が何と言おうと、よりよい未来の種です。経済（お金）の学びを武器にして、皆さんの“綺麗事”を新しい社会の理論に育ててください。",
        ],
      },
    },
    {
      //- 基本情報
      key: 'science',
      times: ['①8/30(土)11:00〜11:50', '②8/30(土)14:30〜15:20'],
      link: 'norihina-scienceshow',
      item_number: '#05',
      //- PCのメニュー
      menu_title : 'のりのりひなひなによるサイエンスショー',
      //- 一覧
      list_img: ImgList05,
      list_title: 'のりのりひなひなによるサイエンスショー',
      //- タブ
      tab_text: ['サイエンス', 'ショー'],
      //- 詳細
      category_icon: "科学リテラシー",
      img: ImgDetails05,
      title: "化学オタクの日常 のりのりひなひなによる！サイエンスショー",
      target: ["小学生向け"],
      description: [
        "みんなの身の回りにはたくさんの科学が潜んでいる！？",
        "リケジョTikToker「化学オタクの日常」のりのりひなひなが贈るオンラインサイエンスショー！！",
        "2つの液体を混ぜると泡がふき出す？緑色の液体が黄色に変わる！？電池もないのにLEDが光る！？など、おどろきの実験がもりだくさん！ワオ未来塾の夏休みイベントのしめくくり！みんなで科学を楽しもう！！"
      ],
      teacher: {
        role: "科学担当講師",
        name: "のりのり＆ひなひな",
        img: ImgDetailsTeacher05,
        texts_more: false,
        texts: [
          "TikTok「化学オタクの日常」で大人気コンビ「のりのり＆ひなひな」！",
          "仲良し二人組がお芝居やコントで繰り広げるサイエンスショーは必見！",
        ],
      },
    }
  ];