//-//////////////
//- URL
//-/////////////

- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=EZG1';

//- LiffQR
- var QRLine =  'https://go.waomirai.com/l/1026513/2025-06-25/hq3hb/1026513/1750831658Fv6o5szu/qr_lp_sum25.png'

//-//////////////
//- ImagePath
//-//////////////

//- 未来塾ロゴ
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'

//- PCのみ表示する部分の画像
- var ImgLogo = 'https://go.waomirai.com/l/1026513/2025-06-26/hqdx7/1026513/17509942517NUCkmzL/logo_lp_sum25.png'

//- ページ固有部分（p-で始まるセクション）の画像
- var ImgFvTitle = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hf/1026513/1750831439gVm4s67g/fv_title_lp_sum25.png'
- var ImgFvImage = 'https://go.waomirai.com/l/1026513/2025-07-01/hqnh1/1026513/1751416834f6mPJjMY/fv_image_lp_sum25.png'
- var ImgFvBg01 = 'https://go.waomirai.com/l/1026513/2025-06-27/hqf64/1026513/1751004545z2czAEo8/fv_bg01_lp_sum25.jpg'
- var ImgFvBg02 = 'https://go.waomirai.com/l/1026513/2025-06-27/hqf6j/1026513/17510056581OulMZPu/fv_bg02_lp_sum25.png'
- var ImgFvBg = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hj/1026513/1750832453rR31HpS3/fv_text_lp_sum25.jpg'
- var ImgFvButton = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hx/1026513/1750833008EFlLQPbj/fv_button_lp_sum25.png'
- var ImgDay = 'https://go.waomirai.com/l/1026513/2025-07-01/hqlrx/1026513/1751355112USJ0LZsY/day_lp_sum25.png'
- var ImgListTitle = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3jx/1026513/1750837585RBpuE1fV/list_title_lp_sum25.png'
- var ImgList01 = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3k4/1026513/1750838922Pm00YGhh/list01_lp_sum25.jpg'
- var ImgList02 = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3k1/1026513/1750838923kfE93rHV/list02_lp_sum25.jpg'
- var ImgList03 = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3kb/1026513/1750838925YHAaQLl3/list03_lp_sum25.jpg'
- var ImgList04 = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3kf/1026513/1750838926KN0q7548/list04_lp_sum25.jpg'
- var ImgList05 = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3k7/1026513/1750838921Ogkwv2t4/list05_lp_sum25.jpg'
- var ImgSlide = 'https://go.waomirai.com/l/1026513/2025-06-25/hq5xb/1026513/1750902534Qrf5Z4Gz/slide_lp_sum25.jpg'
- var ImgDetails01 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6r4/1026513/1750912805t8jVpNCJ/details01_lp_sum25.png'
- var ImgDetails02 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6r7/1026513/1750912805zatDE8TZ/details02_lp_sum25.png'
- var ImgDetails03 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6qx/1026513/1750912804Ct5PDOK7/details03_lp_sum25.png'
- var ImgDetails04 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6qt/1026513/1750912804vJqsE8ht/details04_lp_sum25.png'
- var ImgDetails05 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6r1/1026513/1750912805gLTnm7rg/details05_lp_sum25.png'
- var ImgDetailsTeacher01 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6tm/1026513/1750916041qlA0867O/details_teacher01_lp_sum25.png';
- var ImgDetailsTeacher02 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6tt/1026513/1750916042VKK1h9rU/details_teacher02_lp_sum25.png';
- var ImgDetailsTeacher03 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6tq/1026513/17509160411BBbFZ4I/details_teacher03_lp_sum25.png';
- var ImgDetailsTeacher04 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6tx/1026513/17509160426nZUiqj7/details_teacher04_lp_sum25.png';
- var ImgDetailsTeacher05 = 'https://go.waomirai.com/l/1026513/2025-06-26/hq6v1/1026513/1750916042QJiydhbT/details_teacher05_lp_sum25.png';