//-//////////////
//- URL
//-/////////////

- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=EZG1';

//- LiffQR
- var QRLine =  'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/qr_lp_sum25.png'

//-//////////////
//- ImagePath
//-//////////////

//- 未来塾ロゴ
- var ImgLogoWaoMirai = 'https://waomirai.com/lp/assets/commonimages/logo.svg'

//- PCのみ表示する部分の画像
- var ImgLogo = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/logo_lp_sum25.png'

//- ページ固有部分（p-で始まるセクション）の画像
- var ImgFvTitle = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/fv_title_lp_sum25.png'
- var ImgFvtape = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/tape.svg'
- var ImgFvImage = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/fv_image_lp_sum25.png'
- var ImgFvBg01 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/fv_bg01_lp_sum25.jpg'
- var ImgFvBg02 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/fv_bg02_lp_sum25.png'
- var ImgFvBg = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/fv_text_lp_sum25.jpg'
- var ImgFvButton = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/fv_button_lp_sum25.png'
- var ImgDay = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/day_lp_sum25.png'
- var ImgListTitle = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/list_title_lp_sum25.png'
- var ImgList01 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/list01_lp_sum25_close.png'
- var ImgList02 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/list02_lp_sum25.jpg'
- var ImgList03 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/list03_lp_sum25.jpg'
- var ImgList04 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/list04_lp_sum25.jpg'
- var ImgList05 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/list05_lp_sum25.jpg'
- var ImgSlide = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/slide_lp_sum25.jpg'
- var ImgDetails01 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details01_lp_sum25_close.png'
- var ImgDetails02 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details02_lp_sum25.png'
- var ImgDetails03 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details03_lp_sum25.png'
- var ImgDetails04 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details04_lp_sum25.png'
- var ImgDetails05 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details05_lp_sum25.png'
- var ImgDetailsTeacher01 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details_teacher01_lp_sum25.png';
- var ImgDetailsTeacher02 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details_teacher02_lp_sum25.png';
- var ImgDetailsTeacher03 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details_teacher03_lp_sum25.png';
- var ImgDetailsTeacher04 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details_teacher04_lp_sum25.png';
- var ImgDetailsTeacher05 = 'https://waomirai.com/lp/assets/lpimages/14_lp-event-2025summer/details_teacher05_lp_sum25.png';