//-//////////////
//- URL
//-/////////////

//- LiffQR
- var QRLine100Phases =  'https://go.waomirai.com/l/1026513/2025-06-11/hp7qd/1026513/1749690762qLb7BF2n/qr_liff_100phase_2025summer.png'

//-//////////////
//- ImagePath
//-//////////////

//- Logo
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
