//-//////////////
//- URL
//-/////////////

- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=EZG1';

//- LiffQR
- var QRLine =  'https://go.waomirai.com/l/1026513/2025-06-25/hq3hb/1026513/1750831658Fv6o5szu/qr_lp_sum25.png'

//-//////////////
//- ImagePath
//-//////////////

//- 全ページ共通ロゴ
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'

//- 画像
- var ImgFvTitle = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hf/1026513/1750831439gVm4s67g/fv_title_lp_sum25.png'
- var ImgFvBg = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hj/1026513/1750832453rR31HpS3/fv_text_lp_sum25.jpg'
- var ImgFvButton = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hx/1026513/1750833008EFlLQPbj/fv_button_lp_sum25.png'
- var ImgDay = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3jf/1026513/1750836027c6y9iZbt/day_lp_sum25.png';