// ファーストビューセクション - メインのキャッチコピーとCTAを表示
div.fvsp.spimage
   .fvsp-logo
      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
   .fvsp-bg
      img(src='https://go.waomirai.com/l/1026513/2024-10-02/h4vmb/1026513/17278535503KP31uZE/fv_sp_image.png')
   .fvsp-left 
      .fvsp-left-top 
        |子どもオンライン英会話
      .fvsp-left-main 
        |楽しく学ぼう！
        br
        |英語がもっと身近に
      .lp-cv-button 
            a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank" )   
                .english-fv-absolute-cvtop.cv-limit-text
                    |無料期間中のみの受講もOK！
                .lp-cv-button-main
                  .lp-cv-button-main-free 
                    img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
                  .lp-cv-button-main-text
                    |受講申し込みはこちら
                  .lp-cv-button-main-arrow
                    |
            script.
              var formLink = document.getElementById("form-link"); // IDを使う
      .lp-sp-scroll.fv-scroll
        img(src='https://go.waomirai.com/l/1026513/2024-10-21/h61hr/1026513/1729490950gitTHML7/scrolldown_noto.svg')                    
div.fvpc.pcimage
   .fvpc-logo
      img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg')
   .fvpc-left
      .fvpc-left-text
        img(src='https://go.waomirai.com/l/1026513/2024-10-02/h4vnt/1026513/1727854663K3AnjpfW/text.svg')
      div 
        a.form-link(href=linkUrl,onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});",target="_blank")   
          .english-fv-absolute-cvtop.cv-limit-text
              | \ 無料期間中のみの受講もOK！ /
          .lp-cv-button-main
            .lp-cv-button-main-free 
               img(src='https://go.waomirai.com/l/1026513/2024-12-26/hb7cj/1026513/1735195715mm6pE3mm/free_icon.svg')
            .lp-cv-button-main-text
              |受講申し込みはこちら
            .lp-cv-button-main-arrow
              |
        script.
          var formLink = document.getElementById("form-link"); // IDを使う
   .fvpc-center.fv-scroll
       img(src='https://go.waomirai.com/l/1026513/2024-10-21/h61hv/1026513/1729490951gZCdSIcw/scrolldown_yugothic.svg')
   .fvpc-bg
      img(src='https://go.waomirai.com/l/1026513/2024-10-02/h4vpq/1026513/1727854818Y2Z313Tg/bgfvpc.png')