- var linkUrl = 'https://waomirai.com/lp/howto-signup-english'
- var imgVoiceNew = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_voice_new.png'
- var imgProcesssHead = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_process_head.jpg'
- var imgFlow01 = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_flow_01.jpg';
- var imgFlow02 = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_flow_02.jpg';
- var imgFlow03 = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_flow_03.jpg';
- var imgFlow04 = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_flow_04.jpg';
- var imgFlow05 = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_flow_05.jpg';
- var imgFlow06 = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_flow_06.jpg';
- var img3weeksFinish = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_3weeks_finish.png';
- var imgPdf = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_pdf.png';
- var linkCrclmL1 = 'https://waomirai.com/wp-content/uploads/2025/05/Eng_cur_SP_lv1.pdf';
- var linkCrclmL2 = 'https://waomirai.com/wp-content/uploads/2025/05/Eng_cur_SP_lv2.pdf';
- var imgCrclm = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_crclm.png';

- var movie00Page = 'https://player.vimeo.com/video/1085580950?h=7d74fc6e97&autoplay=1&muted=1&background=1'
- var movie00Placeholder = 'https://waomirai.com/lp/assets/lpimages/06_english-lp-main-2025may/img_process_movie.jpg'
- var movie00Modal = 'https://player.vimeo.com/video/1085580950?h=7d74fc6e97&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie01Modal = 'https://player.vimeo.com/video/1085580961?h=df2f5be8e2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie02Modal = 'https://player.vimeo.com/video/1086635561?h=7f5632b1a1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie03Modal = 'https://player.vimeo.com/video/1086635650?h=1121072936&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie04Modal = 'https://player.vimeo.com/video/1086635823?h=c277ad4694&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479';
- var movie05Modal = 'https://player.vimeo.com/video/1086636122?h=5928de2b02&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
- var movie06Modal = 'https://player.vimeo.com/video/1087651878?h=304d8cfdcb&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479'
