@use "../../../foundation/_constant";
@use "../../../foundation/_mixin";
@use "english-lp-improved-second-mixins-colors.scss" as english-mixin;

$z-indexes: (
  "background": -1,
  "overlay": 100,
  "modal": 1000,
  "modalclose": 1001,
);
@function z($layer) {
  @return map-get($z-indexes, $layer);
}

.modal {
  position: fixed;
  z-index: z("modal");
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  max-width: 450px;
  width: 90%;
  display: inline-table;
  height: auto;
  margin: auto;
  background: white;
  padding: 0 0 0px;
  border-radius: 20px;
  // overflow: hidden;
  .modal-wrapper {
    position: relative;
  }
  .modal-wrapper-close {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: z("modalclose");
    width: 40px;
    height: 40px;
    .modal-wrapper-close-icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.9);
      transition: 0.2s ease-in-out;
      position: relative;
      cursor: pointer;
      &:before,
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 20px;
        height: 4px;
        border-radius: 2px;
        background: #fff;
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  .modal-wrapper-head {
    padding: 20px 0 10px;
    text-align: center;
    background: constant.$cl-waogreen;
    color: white;
    @include english-mixin.font-size-ml;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px 20px 0 0;
    &.level-2 {
      background: constant.$cl-english !important;
    }
  }
  .modal-wrapper-content {
    padding: 20px;
    .modal-wrapper-content-text {
      text-align: center;
      @include english-mixin.font-size-m;
      margin: 0px 0 10px;
    }
    .modal-wrapper-content-text-select {
      text-align: center;
      @include english-mixin.font-size-ml;
      margin: 20px 0 20px;
    }
    .modal-level-select {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      margin: 0 auto 40px;
    }
    .modal-wrapper-content-close {
      text-align: center;
      color: constant.$cl-graylight;
      @include english-mixin.font-size-m;
      text-decoration: underline;
      margin: 20px 0 10px;
      cursor: pointer;
    }
  }
}

.bg-modal {
  position: fixed;
  z-index: z("overlay");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
