
- var UrlLineEventFeb = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=eyPe'
- var UrlFormEventFeb = 'https://go.waomirai.com/l/1026513/2025-01-20/hc4hc'

mixin btn-25feb-cta 
  .c-btn-cta 
     a.modal-open-liff-qr.pcimage
       .c-btn-cta-top 
        |定員になり次第募集終了です
       .c-btn-cta-main 
        |LINEで簡単申込 >
     a.modal-open-liff-qr.spimage
       .c-btn-cta-top 
        |定員になり次第募集終了です
       .c-btn-cta-main 
        |LINEで簡単申込 >

mixin btn-25feb-cta-subject
  .c-btn-cta-subject
     a.modal-open-liff-qr.pcimage
       .c-btn-cta-main 
        |LINEで簡単申込 >
     a.modal-open-liff-qr.spimage
       .c-btn-cta-main 
        |LINEで簡単申込 >

mixin ModalEntlyLine
  .modal
    .modal-wrapper 
      .modal-wrapper-content
         .modal-wrapper-content-main
            .modal-wrapper-content-main-head
            //-   .modal-wrapper-content-main-head-img
            //-     img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/icon_howto_join01.png')
            //-   .modal-wrapper-content-main-head-text 
            //-      |スマホで
            //-      br
            //-      |LINEの友だち追加
            //- .modal-wrapper-content-main-qr
            //-   img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/liffqr.png')

            .modal-wrapper-content-main-text
                b(style='font-size:121%')|2月開催(2/7~2/25)の
                  br
                  |無料親子セミナーの
                  br
                  |募集は全て終了しました
            div(style='margin:20px auto; width:90%;')
              img(src='https://waomirai.com/lp/assets/lpimages/07_event-lp-2025feb/ogp2025march.png' style='border-radius:8px;')
            .modal-wrapper-content-main-text
                |第2弾のイベントとして2025/2/25〜4/4
                br
                |の間で未来塾の講座がたっぷり体験できる
                br
                |無料体験MONTHを開催しています
                br
                |
      .lp-waomirai-start2025-btn
        a(href='https://go.waomirai.com/event-2025march', target='_blank', style='width:80%; height:58px; margin: 30px auto 30px; background:#F88C6A;')
            |詳しく見る      
  .bg-modal
// +ModalEntlyLine