//- 変数定義
include _variables

.l-container
  .p-fv
    p.p-fv-logo
      img(src=ImgLogoWaoMirai)
    h1.p-fv-title
      picture
        source(srcset=ImgFvSp media="(max-width: 768px)")
        img(src=ImgFv alt="友だち紹介キャンペーン 友だちを紹介して2ケ月継続すると図書カードプレゼント")