//-//////////////
//- URL
//-/////////////

- // var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=EZG1';

//-//////////////
//- ImagePath
//-//////////////

//- 未来塾ロゴ
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'

//- ページ固有部分（p-で始まるセクション）の画像
- var ImgFv = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2tz/1026513/1753769007H8HSep57/fv_fr_ref.png'
- var ImgFvSp = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2v9/1026513/1753769660cdYW7QY6/fv_sp_fr_ref.png'