//-//////////////
//- ブレイクポイント
//-/////////////
- var BreakpointSp = '(max-width: 768px)'

//-//////////////
//- URL
//-/////////////

- var UrlSite = 'https://lms.waomirai.com/login/index.php?tenant=lmswaomirai';
- var UrlForm = 'https://go.waomirai.com/contact-friend-referral-apply';
- var UrlCompany = 'https://www.wao-corp.com/';
- var UrlPrivacy = 'https://www.wao-corp.com/kojin/';
- var UrlLegal = 'https://waomirai.com/commerce_law/';

//-//////////////
//- ImagePath
//-//////////////

//- 未来塾ロゴ
- var ImgLogoWaoMirai = 'https://waomirai.com/lp/assets/commonimages/logo.svg'
- var ImgLogoWaoMiraiWhite = 'https://waomirai.com/lp/assets/commonimages/logo_white.svg'

//- ページ固有部分（p-で始まるセクション）の画像
- var ImgFv = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/fv_fr_ref.png'
- var ImgFvSp = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/fv_fr_ref_sp.png'
- var ImgCondition01 = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/condition01_fr_ref.png'
- var ImgCondition02 = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/condition02_fr_ref.png'
- var ImgCondition01Sp = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/condition01_sp_fr_ref.png'
- var ImgCondition02Sp = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/condition02_sp_fr_ref.png'
- var ImgConditionAnd = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/and_fr_ref.svg';
- var ImgConditionGift = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/condition_gift_fr_ref.png'
- var ImgSteps01 = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/steps01_fr_ref.png';
- var ImgSteps02_01 = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/steps02_01_fr_ref.png';
- var ImgSteps02_02 = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/steps02_02_fr_ref.png';
- var ImgSteps02_03 = 'https://waomirai.com/lp/assets/lpimages/15_lp-campaign-fr-ref/steps02_03_fr_ref.png';