//-//////////////
//- URL
//-/////////////

- // var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=EZG1';

//-//////////////
//- ImagePath
//-//////////////

//- 未来塾ロゴ
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'

//- ページ固有部分（p-で始まるセクション）の画像
- // var ImgFvTitle = 'https://go.waomirai.com/l/1026513/2025-06-25/hq3hf/1026513/1750831439gVm4s67g/fv_title_lp_sum25.png'