//-//////////////
//- ブレイクポイント
//-/////////////
- var BreakpointSp = '(max-width: 768px)'

//-//////////////
//- URL
//-/////////////

- var UrlSite = 'https://lms.waomirai.com/login/index.php?tenant=lmswaomirai';
- var UrlForm = 'https://go.waomirai.com/contact-friend-referral-apply';
- var UrlCompany = 'https://www.wao-corp.com/';
- var UrlPrivacy = 'https://www.wao-corp.com/kojin/';
- var UrlLegal = 'https://go.waomirai.com/shotororihiki';

//-//////////////
//- ImagePath
//-//////////////

//- 未来塾ロゴ
- var ImgLogoWaoMirai = 'https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg'
- var ImgLogoWaoMiraiWhite = 'https://go.waomirai.com/l/1026513/2024-09-09/h313m/1026513/1725935757PmiJf0LH/logo_waomirai_white.svg'

//- ページ固有部分（p-で始まるセクション）の画像
- var ImgFv = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2tz/1026513/1753771885k9QceV37/fv_fr_ref.png'
- var ImgFvSp = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2v9/1026513/1753769660cdYW7QY6/fv_sp_fr_ref.png'
- var ImgCondition01 = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2vw/1026513/1753774350SAAZDy5N/condition01_fr_ref.png'
- var ImgCondition02 = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2vz/1026513/1753773469nBWr4ULb/condition02_fr_ref.png'
- var ImgCondition01Sp = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2wp/1026513/17537762534veoUD4H/condition01_sp_fr_ref.png'
- var ImgCondition02Sp = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2wl/1026513/1753776253z55hOmGn/condition02_sp_fr_ref.png'
- var ImgConditionGift = 'https://go.waomirai.com/l/1026513/2025-07-29/hs2yl/1026513/17537768966jr7fvUH/condition_gift_fr_ref.png'
- var ImgSteps01 = 'https://go.waomirai.com/l/1026513/2025-07-29/hs59d/1026513/1753841636LzMIyOyf/steps01_fr_ref.png';
- var ImgSteps02_01 = 'https://go.waomirai.com/l/1026513/2025-07-29/hs59h/1026513/1753841636rnY0Y029/steps02_01_fr_ref.png';
- var ImgSteps02_02 = 'https://go.waomirai.com/l/1026513/2025-07-29/hs59l/1026513/1753841636Z7evo2u0/steps02_02_fr_ref.png';
- var ImgSteps02_03 = 'https://go.waomirai.com/l/1026513/2025-07-29/hs59p/1026513/1753841637Q60PpT3N/steps02_03_fr_ref.png';