- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=t5kn'

//- ページ固有部分の画像（basePathを使用）
- var paths = '../../../images/19_lp-tankyu-week';
//- - var paths = 'https://waomirai.com/lp/assets/lpimages/19_lp-tankyu-week';
- 
  function img(filename) {
    return `${paths}/${filename}`;
  }
- var lessondate = '10/29(水)〜11/1(土)'

//-//////////////
//- ogp
//-//////////////

- var ImgOgp = img('ogp.png');

//-//////////////
//- FV(ファーストビュー)
//-//////////////
- var ImgLogoTankyuweekPc = img('logo_tankyuweek_pc.svg');
- var ImgLogoTankyuweekSp = img('logo_tankyuweek_sp.svg');
- var ImgFvSp = img('fv-sp.png');
- var ImgFvBook = img('fv_book.png');
- var ImgFvRighttext = img('fv_righttext.svg');
- var ImgLogoFvPc = img('fv-logo-pc.svg');

//-//////////////
//- サムネイル画像（PC）
//-//////////////

- var ImgThumbPcEconomyKids = img('thumbnail-pc-economy-kids.png');
- var ImgThumbPcEconomyTeen = img('thumbnail-pc-economy-teen.png');
- var ImgThumbPcPhilosophyKids = img('thumbnail-pc-philosophy-kids.png');
- var ImgThumbPcScienceKids = img('thumbnail-pc-science-kids.png');
- var ImgThumbPcScienceTeen = img('thumbnail-pc-science-teen.png');

//-//////////////
//- サムネイル画像（SP・詳細）
//-//////////////

- var ImgThumbSpDetailEconomyKids = img('thumbnail-sp-detail-economy-kids.png');
- var ImgThumbSpDetailEconomyTeen = img('thumbnail-sp-detail-economy-teen.png');
- var ImgThumbSpDetailPhilosophyKids = img('thumbnail-sp-detail-philosophy-kids.png');
- var ImgThumbSpDetailPhilosophyTeen = img('thumbnail-sp-detail-philosophy-teen.png');
- var ImgThumbSpDetailScienceKids = img('thumbnail-sp-detail-science-kids.png');
- var ImgThumbSpDetailScienceTeen = img('thumbnail-sp-detail-science-teen.png');

//-//////////////
//- サムネイル画像（SP・リスト）
//-//////////////

- var ImgThumbSpListEconomyKids = img('thumbnail-sp-list-economy-kids.png');
- var ImgThumbSpListEconomyTeen = img('thumbnail-sp-list-economy-teen.png');
- var ImgThumbSpListPhilosophyKids = img('thumbnail-sp-list-philosophy-kids.png');
- var ImgThumbSpListPhilosophyTeen = img('thumbnail-sp-list-philosophy-teen.png');
- var ImgThumbSpListScienceKids = img('thumbnail-sp-list-science-kids.png');
- var ImgThumbSpListScienceTeen = img('thumbnail-sp-list-science-teen.png');

//-//////////////
//- サムネイル画像（その他）
//-//////////////

- var ImgThumbSpPhilosophyTeen = img('thumbnail-sp-philosophy-teen.png');

//-//////////////
//- アイコン
//-//////////////

- var ImgIcnClock = img('icn-clock.svg');
- var ImgIcnSnow = img('icn_snow.svg');

//-//////////////
//- Step
//-//////////////

- var ImgIcnStep01 = img('icn_step01.png');
- var ImgIcnStep02 = img('icn_step02.png');
- var ImgIcnStep03 = img('icn_step03.png');
- var ImgIcnStep04 = img('icn_step04.png');
- var ImgIcnStep05 = img('icn_step05.png');

//-//////////////
//- タイトル・ロゴ
//-//////////////

- var ImgTitleTryLesson = img('title-try-lesson.svg');
- var ImgTitleEventlist = img('title_eventlist.svg');

- var ImgLogoWao = img('logo_wao.svg');

//-//////////////
//- イラスト
//-//////////////

- var ImgIllustEventlistBoy = img('illust-eventlist-boy.png');
- var ImgIllustEventlistGirl = img('illust-eventlist-girl.png');

//-//////////////
//- Intro
//-//////////////

- var ImgBgIntroSp = img('bg-intro-sp.png');
- var ImgIntro01 = img('img_intro01.png');
- var ImgIntro01Pc = img('img_intro01-pc.png');
- var ImgIntro01Sp = img('img_intro01-sp.png');
- var ImgIntro02 = img('img_intro02.png');
- var ImgIntro02Pc = img('img_intro02-pc.png');

//-//////////////
//- その他
//-//////////////

- var ImgBookbottom = img('img_bookbottom.svg');
- var ImgRibbon = img('img_ribbon.svg');
- var Img5subjectPc = img('img_waomirai_5subject_pc.svg');
- var Img5subjectSp = img('img_waomirai_5subject_sp.png');