//-
  ──────────────────────────────
    LINE
  ──────────────────────────────

//- URLのQRコード
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-08-06/hsmjf/1026513/1754530587PyA1Y3Rv/firstweek_free_qr_25november.png'

//- URL
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=Anxb'

//-
  ──────────────────────────────
    期間の開始日
  ──────────────────────────────
- var startDate = new Date('2025-11-04')

//-
  ──────────────────────────────
    画像
  ──────────────────────────────
//- 哲学
- var imgPhLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjsb/1026513/1754461919ImfM5h3c/phi_lv1_month8_week1.jpg';
- var imgPhLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjsm/1026513/1754461919zA31pkmS/phi_lv2_month8_week1.jpg';
- var imgPhLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjsx/1026513/1754461920KdSCBOjs/phi_lv3_month8_week1.jpg';
- var imgPhLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjt4/1026513/1754461921Ubl6oSzk/phi_lv4_month8_week1.jpg';

//- 科学
- var imgScLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjtm/1026513/1754462019JePLAF7F/sci_lv1_month8_week1.jpg';
- var imgScLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjtt/1026513/1754462020cFFWK6uZ/sci_lv2_month8_week1.jpg';
- var imgScLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjv4/1026513/17544620211n1K2C8e/sci_lv3_month8_week1.jpg';
- var imgScLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjvf/1026513/175446202142NQf7R5/sci_lv4_month8_week1.jpg';

//- 経済
- var imgEcLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjvq/1026513/1754462210daZTBgaG/eco_lv1_month8_week1.jpg';
- var imgEcLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjw1/1026513/17544622117vsCjhKc/eco_lv2_month8_week1.jpg';
- var imgEcLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjwb/1026513/1754462212uJEyz4hh/eco_lv3_month8_week1.jpg';
- var imgEcLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjwm/1026513/1754462213hk0OMHVw/eco_lv4_month8_week1.jpg';

//-
  ──────────────────────────────
    講座内容のテキスト
  ──────────────────────────────
-
  const courses_text = {
    philosophy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    science: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    economy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ]
  }

//-
  ──────────────────────────────
    ベースデータの読込
  ──────────────────────────────
include _monthly_base.pug