//- LINEのURL
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-05-15/hmdds/1026513/1747293756Nl2kNA9Y/firstweek_free_qr_25july.png'
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=gePV'

//- OGPの画像（2025/8以降は毎月同じ画像）
- var ImgOgp = 'https://go.waomirai.com/l/1026513/2025-06-08/hnztt/1026513/17494353353OfqyjL4/ogp_lp_week_free.png'

//- 期間のテキスト
- var TextPeriod = '9/9(火)～9/12(金)';

//- 月のテキスト
- var TextMonth = '9月';

//- 講座内容
-
  const courses = {
    philosophy: [
      {
        id: "phililosophy-level1",
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "9/9(火)｜18:30～19:15",
        time02: "9/12(金)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd6z/1026513/17472866358Nah5AU2/phi_lv1_month6_week1.jpg",
        title01: "ルールは破るためにある？",
        title02: "世の中ルールが多すぎる？",
        text: "学校、家、公園…どこに行っても「ルール」があるけれど、どうしてそんなに必要なの？この講座では、「ルールって誰のためにあるの？」「ルールを破ったらどうなるの？」という問いをみんなで考えます。友だちと話し合いながら、正しさや自由について考える哲学入門の時間です。"
      },
      {
        id: "phililosophy-level2",
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "9/9(火)｜17:30～18:15",
        time02: "9/12(金)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd6p/1026513/1747286634A9W4lJcc/phi_lv2_month6_week1.jpg",
        title01: "進化を続けるAIとどうつき合う？",
        title02: "ChatGPT許可か禁止か",
        text: "AIやChatGPTは、私たちの生活をとても便利にしてくれるけれど、使い方をまちがえると問題も起こります。この講座では、「AIは使っていい？ダメ？」という問いを出発点に、AIと人間の役割や、未来の社会のあり方についてみんなで考えます。進化する技術とどう向き合うかを考える哲学入門の時間です。"
      },
      {
        id: "phililosophy-level3",
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "9/9(火)｜20:30～21:15",
        time02: "9/12(金)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd6d/1026513/1747286634ebFK7dmB/phi_lv3_month6_week1.jpg",
        title01: "戦争はなくせる？なくせない？",
        title02: "トゥキュディデスの３つの戦争動機",
        text: "「どうして戦争はなくならないの？」――この問いは昔から多くの人が考えてきました。この講座では、古代ギリシャの歴史家トゥキュディデスが示した「恐怖・利益・名誉」という３つの戦争の動機を出発点に、戦争の本質と平和の可能性について哲学的に考えます。歴史から学び、未来を考える時間です。"
      },
      {
        id: "phililosophy-level4",
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "9/9(火)｜19:30～20:15",
        time02: "9/12(金)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd63/1026513/1747286633OQJqbJEb/phi_lv4_month6_week1.jpg",
        title01: "「殺すな」は普遍的ルールか？",
        title02: "戦争が正当化される条件",
        text: "「人を殺してはいけない」――これは誰にとっても当たり前のルールでしょうか？では、なぜ戦争では多くの命が奪われるのか？この講座では、倫理学の視点から、戦争が正当化される条件や正義の意味を問い直します。絶対的な価値とは何か、平和のために私たちは何を考えるべきかを深める哲学の時間です。"
      }
    ],
    science: [
      {
        id: "science-level1",
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "9/10(水)｜17:30～18:15",
        time02: "9/12(金)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd5s/1026513/17472866334TBi7Lve/sci_lv1_month6_week1.jpg",
        title01: "ダイナマイトが世界の科学を変えた !",
        title02: "平和と発明の象徴　ノーベル賞",
        text: "ダイナマイトを作った人が、どうして「平和のための賞」をつくったの？この講座では、アルフレッド・ノーベルの人生や発明、そしてノーベル賞のはじまりについて学びます。科学は人の役に立つ？それとも危ない？発明の力と、それをどう使うかを考えながら、未来につながる学びを深めます。"
      },
      {
        id: "science-level2",
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "9/10(水)｜18:30～19:15",
        time02: "9/12(金)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd93/1026513/1747286639DhKfBF5y/sci_lv2_month6_week1.jpg",
        title01: "マスクの予防効果はどのくらい ?",
        title02: ".細菌とウイルスって何が違うの ?",
        text: "かぜやインフルエンザから身を守るために使うマスク。でも、マスクって本当に効果があるの？この講座では、細菌とウイルスのちがいや、体を守るしくみについてわかりやすく学びます。なぜマスクが必要なの？どうやって病気を防ぐの？身近なふしぎから、健康と科学のつながりを楽しく探ります。"
      },
      {
        id: "science-level3",
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "9/10(水)｜19:30～20:15",
        time02: "9/12(金)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd8s/1026513/17472866386UKe5gzZ/sci_lv3_month6_week1.jpg",
        title01: "科学研究の功績と真実",
        title02: "野口英世の真実",
        text: "「黄熱病の研究で有名な野口英世」――その功績の裏に、どんな挑戦や葛藤があったのでしょう？この講座では、野口英世の生涯をたどりながら、科学研究の意義と限界、そして“真実”をどう見つめるかを考えます。功績と評価はどう生まれる？科学者の人間ドラマを通して、科学と社会の関わりを学びます。"
      },
      {
        id: "science-level4",
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "9/10(水)｜20:30～21:15",
        time02: "9/12(金)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd8h/1026513/17472866387Th6FAUm/sci_lv4_month6_week1.jpg",
        title01: "古代ギリシャの数学者の偉業",
        title02: "三角形の秘密を解き明かす",
        text: "古代ギリシャの数学者たちは、定規とコンパスだけで美しい図形の秘密を解き明かしました。この講座では、ピタゴラスやユークリッドの功績をたどりながら、三角形に隠された法則や証明の面白さに迫ります。数式だけでは見えない“考える力”を体感し、数学の奥深さを味わう入門授業です。"
      }
    ],
    economy: [
      {
        id: "economy-level1",
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "9/10(水)｜18:30～19:15",
        time02: "9/11(木)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd86/1026513/1747286637zVIEBSsQ/eco_lv1_month6_week1.jpg",
        title01: "おうちのお金はどこから来るの?",
        title02: "働くこととお金の関係",
        text: "家族は毎日どんな仕事をしているの？その仕事がどうやってお金になるの？この講座では、「働くこと」と「お金」のつながりを、わかりやすく学びます。お金はどうやって手に入る？何に使われている？おうちのお金の流れを知りながら、将来の「働く」について考える経済入門です。"
      },
      {
        id: "economy-level2",
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "9/10(水)｜17:30～18:15",
        time02: "9/11(木)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd7w/1026513/1747286637pVfRUQ59/eco_lv2_month6_week1.jpg",
        title01: "ダイヤモンドはなぜ高い?",
        title02: "ただの小石が100万円になるヒミツにせまる！",
        text: "キラキラ光るダイヤモンド、どうしてそんなに高いの？この講座では、ダイヤモンドの価値のヒミツを出発点に、「ものの値段はどう決まるのか」「なぜ高いものがあるのか」を楽しく学びます。めずらしさ？人気？それとも作る手間？お金と価値の関係を知って、買い物や経済のしくみを考える授業です。"
      },
      {
        id: "economy-level3",
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "9/10(水)｜20:30～21:15",
        time02: "9/11(木)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd7l/1026513/1747286636FcncTmf8/eco_lv3_month6_week1.jpg",
        title01: "“儲かる仕組み” をどう作るか?",
        title02: "ビジネスモデルの作り方",
        text: "お店や会社は、どうやって利益を出しているのでしょう？この講座では、身近な商品やサービスを例に、「儲かる仕組み＝ビネスモデル」の作り方を学びます。誰に、何を、どう届ける？どこでお金が生まれる？実際に考え、発表しながら、経済やビジネスの基本を体験的に学ぶ授業です。"
      },
      {
        id: "economy-level4",
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "9/10(水)｜19:30～20:15",
        time02: "9/11(木)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd76/1026513/1747286636zzzIjpZ8/eco_lv4_month6_week1.jpg",
        title01: "経済学史1",
        title02: "アダム・スミスの『国富論』",
        text: "「見えざる手」という言葉で知られるアダム・スミスは、経済学の父と呼ばれています。この講座では、彼の代表作『国富論』を通して、市場や分業、自由競争の考え方を学びます。なぜ人々の利益の追求が社会の豊かさにつながるのか？現代の経済の基礎をつくった思想にふれ、経済学の原点を探る時間です。"
      }
    ]
  }