//-
  ──────────────────────────────
    LINE
  ──────────────────────────────

//- URLのQRコード
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-08-06/hsmjj/1026513/1754530587C9y1p2k8/firstweek_free_qr_25december.png'

//- URL
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=DJET'

//-
  ──────────────────────────────
    期間の開始日
  ──────────────────────────────
- var startDate = new Date('2025-12-02')

//-
  ──────────────────────────────
    画像
  ──────────────────────────────
//- 哲学
- var imgPhLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjy4/1026513/1754463372wZdgNqtY/phi_lv1_month9_week1.jpg';
- var imgPhLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjyf/1026513/1754463374uM9urtla/phi_lv2_month9_week1.jpg';
- var imgPhLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjyq/1026513/17544633751ebmuVQn/phi_lv3_month9_week1.jpg';
- var imgPhLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjz1/1026513/1754463376hqkDq9rp/phi_lv4_month9_week1.jpg';

//- 科学
- var imgScLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjzj/1026513/1754463480JuQ0GdNK/sci_lv1_month9_week1.jpg';
- var imgScLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjzq/1026513/1754463481RhNkE9oK/sci_lv2_month9_week1.jpg';
- var imgScLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsjzx/1026513/1754463482Z8EDvwvR/sci_lv3_month9_week1.jpg';
- var imgScLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk17/1026513/1754463482s8Z9YDj7/sci_lv4_month9_week1.jpg';

//- 経済
- var imgEcLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk1q/1026513/1754463592gK7ObJj3/eco_lv1_month9_week1.jpg';
- var imgEcLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk1x/1026513/1754463593aCGE67YY/eco_lv2_month9_week1.jpg';
- var imgEcLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk24/1026513/1754463594eUFDeO6E/eco_lv3_month9_week1.jpg';
- var imgEcLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk2j/1026513/17544635959J0Tfsmk/eco_lv4_month9_week1.jpg';

//-
  ──────────────────────────────
    講座内容のテキスト
  ──────────────────────────────
-
  const courses_text = {
    philosophy: [
      {
        //- レベル1
        title01: "あなたが描く未来の仕事は？",
        title02: "未来の人気仕事カタログ",
        text: "未来の社会には、どんな仕事が生まれると思う？AIやロボットと一緒に働く？それとも、今はない新しい仕事が人気になる？この講座では、未来の仕事を自由に想像し、「なぜその仕事が大事なのか」「自分はどんなことをしたいか」を考えます。夢と想像力をふくらませる、楽しい哲学の時間です。"
      },
      {
        //- レベル2
        title01: "あなたのSNSルールどう決める？",
        title02: "ネット被害なぜなくならない？",
        text: "SNSやネットは便利だけど、どうしてトラブルや被害がなくならないんだろう？この講座では、「なぜルールが必要なの？」「自分だったらどんなルールを作る？」という問いを出発点に、ネットの使い方をみんなで考えます。安全に楽しく使うために、自分の頭で考えて決める力を育てる哲学の時間です。"
      },
      {
        //- レベル3
        title01: "もしも命に値段がつけられたら",
        title02: "自殺者２万人社会を考える",
        text: "「人の命には値段がつけられるのか？」そんな問いから、命の価値とは何かを考えてみませんか？この講座では、日本社会の自殺問題を出発点に、なぜ人は生きづらさを抱えるのか、どうすれば互いを支え合える社会になるのかを問い直します。命の重さと社会のあり方を考える哲学の時間です。"
      },
      {
        //- レベル4
        title01: "「武士道」VS「騎士道」選ぶなら？",
        title02: "武士道と騎士道、どう違う？",
        text: "日本の「武士道」とヨーロッパの「騎士道」。どちらも名誉や忠誠を重んじる精神ですが、その根底にある価値観やルールはどう違うのでしょうか？この講座では、東西の思想を比較しながら、正義、勇気、名誉の意味を問い直します。歴史や文化の違いから、自分はどんな生き方を選ぶのかを考える哲学の時間です。"
      }
    ],
    science: [
      {
        //- レベル1
        title01: "空飛ぶ乗り物が命を救う",
        title02: "人が空を飛べるとようになるまで",
        text: "人はどうして「空を飛びたい」と思ったの？この講座では、飛行機やヘリコプターの歴史やしくみを学びながら、空を飛ぶことがどうやって人の命を助けているのかを考えます。ドクターヘリや災害時の支援など、空の力が活やくする場面も紹介。科学の進歩と「夢」のつながりを感じられる授業です！"
      },
      {
        //- レベル2
        title01: "さびないステンレスはすでにさびている ?",
        title02: "金属の利用と歴史",
        text: "「さびにくい金属」ステンレス。でも実は、もうさびているって知ってた？この講座では、金属がどうしてさびるのか、ステンレスのひみつや人類の金属利用の歴史をわかりやすく学びます。フライパンや橋、自転車にも！毎日のくらしを支える金属の力と、その進化を楽しく探る理科と歴史の入門授業です。"
      },
      {
        //- レベル3
        title01: "国民の生命によりそう杖になる",
        title02: "日本近代医学の父　北里柴三郎",
        text: "感染症と闘い、日本の近代医学を築いた北里柴三郎。ペスト菌の発見や伝染病研究所の設立など、数々の功績の裏には「命を守る」という信念がありました。この講座では、北里の生涯と挑戦をたどりながら、医療・科学の使命や社会との関わりを考えます。未来を切り拓く探究心に出会う授業です。"
      },
      {
        //- レベル4
        title01: "地球はなぜ太陽の周りをまわっているのか ?",
        title02: "宇宙の法則",
        text: "「なぜ地球は太陽のまわりをぐるぐる回っているの？」――その答えは、宇宙を支配する法則の中にあります。この講座では、重力や慣性、ケプラーの法則など、宇宙の動きを支える基本原理をわかりやすく学びます。天文学と物理学の知恵をたどりながら、私たちの星と宇宙の不思議に迫ります。"
      }
    ],
    economy: [
      {
        //- レベル1
        title01: "10歳から知っておきたいゲーム課金",
        title02: "ただの小学生が150万円も課金できたのはなぜ?",
        text: "スマホゲームやオンラインゲームで、なぜそんなに簡単にお金を使ってしまうことがあるのでしょう？この講座では、ゲーム課金のしくみやお金の流れ、注意するべきポイントをわかりやすく学びます。楽しく遊ぶために、お金と上手につき合う力を身につける授業です。"
      },
      {
        //- レベル2
        title01: "経済のこと、お金のこと、君はなぜ学ぶ?",
        title02: "知らないままだと損ばかり！？",
        text: "お金や経済のことを学ぶって、なんのため？この講座では、「なぜ知ることが大切なのか」「知らないとどんな損をするのか」をわかりやすく学びます。お金の流れや使い方を正しく理解して、未来の自分に役立つ力をつける経済入門の授業です。知れば知るほど、毎日がもっとおもしろくなるかも！"
      },
      {
        //- レベル3
        title01: "人生の選択とお金：最適解をどう選ぶか? –2",
        title02: "持ち家か賃貸か",
        text: "「家を買うべき？それとも借り続けるべき？」――大人になったら誰もが悩む選択です。この講座では、持ち家と賃貸それぞれのメリット・デメリットや、ライフスタイルや将来設計による違いをわかりやすく学びます。自分にとっての“最適解”を考える力を育てる、未来につながる経済リテラシー授業です。"
      },
      {
        //- レベル4
        title01: "西洋における資本主義と道徳1",
        title02: "アヘン戦争：現代ビジネスの問題は何か?",
        text: "アヘン戦争は、単なる歴史の事件ではなく、資本主義と道徳の衝突の物語でもあります。この講座では、当時の西洋諸国がなぜアヘン貿易を続けたのかを掘り下げ、現代のビジネスに潜む倫理の問題を考えます。利益を追い求めることと、人間としての正しさ――その間に立つ私たちの選択を問い直す授業です。"
      }
    ]
  }

//-
  ──────────────────────────────
    ベースデータの読込
  ──────────────────────────────
include _monthly_base.pug