//- LINEのURL
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-05-15/hmcyl/1026513/1747284506BlCBErlE/firstweek_free_qr_25june.png'
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=sPg6'

//- OGPの画像
- var ImgOgp = 'https://go.waomirai.com/l/1026513/2025-05-15/hmdd3/1026513/1747292388YSUFOVDz/ogp_lp_free_2025_06june.png'

//- 期間のテキスト
- var TextPeriod = '6/3(火)～6/6(金)';

//- 月のテキスト
- var TextMonth = '6月';

//- 講座内容
-
  const courses = {
    philosophy: [
      {
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "6/3(火)｜18:30～19:15",
        time02: "6/6(金)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmcjl/1026513/1747271517oaV1wotC/phi_lv1_month3_week1.jpg",
        title01: "アニメヒーロー強さの秘密",
        title02: "鬼に勝つってどういうこと？",
        text: "アニメのヒーローは、なぜ強いのか？「鬼を倒す」ことは、本当に正義なのか？人気アニメのキャラクターや物語を手がかりに、「強さ」「正義」「敵とは何か」といった問いを哲学的に探ります。勝つってどういうこと？本当に悪いのは誰？物語の裏にある深いテーマに一緒に迫ります。"
      },
      {
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "6/3(火)｜17:30～18:15",
        time02: "6/6(金)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmck3/1026513/1747271518V9HphLom/phi_lv2_month3_week1.jpg",
        title01: "いじめをなくすただ一つの方法",
        title02: "いじめは人間の本能なの!?",
        text: "「いじめはダメ」って言うけど、どうしてなくならないの？もしかして、いじめは人間の本能なの？「いじめ」についてみんなで深く考えます。わるいことってわかっていても、なぜ起きてしまうのか？なくすために本当に大切なことって？正しさや心のあり方を見つめる哲学の時間です。"
      },
      {
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "6/3(火)｜20:30～21:15",
        time02: "6/6(金)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmck6/1026513/1747271518NmAqzRve/phi_lv3_month3_week1.jpg",
        title01: "SNSとの向き合い方",
        title02: "SNSから見る「承認」",
        text: "「いいね」がつかないと不安…そんな気持ち、ありませんか？SNSは楽しいけれど、自分らしさを見失うことも。なぜ人は他人から認められたいのか？SNSを手がかりに、他人の目とどう向き合うか、哲学の視点で心のあり方を見つめてみましょう。"
      },
      {
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "6/3(火)｜19:30～20:15",
        time02: "6/6(金)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmckh/1026513/1747271519Eg0zSeWT/phi_lv4_month3_week1.jpg?20250516",
        title01: "嘘はどこまで許される？",
        title02: "正しく生きるとは何か",
        text: "大切な人を守るための嘘――それでも「悪いこと」なのでしょうか？「嘘」をテーマに、カントとベンサムという2人の哲学者の考え方を比べながら、「正しい行い」とは何かを探ります。目的が大事？ルールが大事？日常にある小さな選択から、深い倫理の問いにふれてみましょう。"
      }
    ],
    science: [
      {
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "6/4(水)｜17:30～18:15",
        time02: "6/6(金)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmcks/1026513/1747271519NgCtCW94/sci_lv1_month3_week1.jpg",
        title01: "人が明かりを手に入れるまで",
        title02: "電球について知ろう",
        text: "昔の人はどうやって夜をすごしていたの？ろうそく、ランプ、電球へ――人はくらやみを明るくするために、どんな工夫をしてきたのでしょう。明かりの進化の歴史をたどりながら、電球のしくみや電気の使われ方について学びます。身の回りの「ふつう」のすごさに気づける時間です。"
      },
      {
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "6/4(水)｜18:30～19:15",
        time02: "6/6(金)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmcl3/1026513/1747271520NEbSk5mw/sci_lv2_month3_week1.jpg",
        title01: "目に見えない紫外線について考えてみよう",
        title02: "紫外線対策はしたほうがいいの ?",
        text: "太陽の光の中にふくまれている「紫外線」。見えないけれど、わたしたちの体や生活に大きな影響をあたえています。この講座では、紫外線の正体やはたらきを学びながら、なぜ日焼けするのか、どうして対策が必要なのかを考えます。身近な疑問から、見えない力を科学する授業です。"
      },
      {
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "6/4(水)｜19:30～20:15",
        time02: "6/6(金)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmcld/1026513/1747271520ElNegvJw/sci_lv3_month3_week1.jpg",
        title01: "光の正体をめぐる大論争",
        title02: "光の速さは〇〇〇 ?",
        text: "「光って、いったい何？」昔の科学者たちは、波なのか？粒なのか？と大論争をくり広げました。光の正体についての歴史的な発見や実験を紹介しながら、「光の速さ・ふしぎ」について考えます。知っているようで知らない“光”の世界を、科学の目でのぞいてみましょう！"
      },
      {
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "6/4(水)｜20:30～21:15",
        time02: "6/6(金)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmclp/1026513/174727152184quGYTh/sci_lv4_month3_week1.jpg",
        title01: "人間の手足が再生できるのって本当 ?",
        title02: "ES細胞のひみつ",
        text: "ケガで失った手や足が、また生えてくる――そんな未来が、本当に来るかもしれません。ES細胞（胚性幹細胞）とは何か、人の体がどのように作られているのかを解説しながら、「再生医療」の可能性について考えます。生命のふしぎと、最先端サイエンスを楽しく学べる講座です。"
      }
    ],
    economy: [
      {
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "6/4(水)｜18:30～19:15",
        time02: "6/5(木)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmchl/1026513/1747271515HEaUnJGc/eco_lv1_month3_week1.jpg",
        title01: "友だちから「100 円かして」と言われたら?",
        title02: "お金の貸し借りの注意点",
        text: "「ちょっとだけなら？」…でも、お金の貸し借りには大切なルールがあります。友だちとの関係や信頼、トラブルにならないための考え方を学びながら、「お金」と「人とのつき合い方」について考えます。身近な場面から、正しくお金を使う力を身につける経済の入門講座です。"
      },
      {
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "6/4(水)｜17:30～18:15",
        time02: "6/5(木)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmchs/1026513/1747271515ivnadc6I/eco_lv2_month3_week1.jpg",
        title01: "あなたは「欲」とどう向き合う？",
        title02: "欲はどこから発生する？",
        text: "「あれがほしい」「もっと遊びたい」そんな気持ちはどこからくるのでしょう？「欲（よく）」について考えながら、人はなぜモノをほしがるのか、どこまでが良くて、どこからが困るのか...。お金や物とのつき合い方を通して、自分の気持ちとの向き合い方を考える経済入門です。"
      },
      {
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "6/4(水)｜20:30～21:15",
        time02: "6/5(木)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmcj3/1026513/1747271516nZi1Isj3/eco_lv3_month3_week1.jpg",
        title01: "銀行の仕組みと金融政策",
        title02: "銀行の役割",
        text: "銀行はお金を預けたり借りたりするだけの場所…ではありません。実は、経済全体の流れを左右する大きな役割を担っています。銀行のしくみや金融政策の基本を学び、「お金が回る」とはどういうことかを考えましょう。社会の中で銀行が果たす役割を、身近な視点から探っていきます。"
      },
      {
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "6/4(水)｜19:30～20:15",
        time02: "6/5(木)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-14/hmcjd/1026513/1747271517mQPHbJBF/eco_lv4_month3_week1.jpg",
        title01: "ファイナンス理論",
        title02: "企業の「価値」と「成長」をどう測るか?",
        text: "売上が大きければ良い会社？それとも利益？企業の「価値」や「成長性」をどうに評価するか、ファイナンス理論の視点から学びます。投資や経営判断に使われる指標の意味を知り、数字の裏にある企業活動のリアルを読み解く力を身につけます。経済の見方が変わる実践的な内容です。"
      }
    ]
  }