//- LINEのURL
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-06-08/hnzvb/1026513/1749438107nIShe4YO/firstweek_free_qr_25august.png'
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=lG16'

//- OGPの画像（2025/8以降は毎月同じ画像）
- var ImgOgp = 'https://go.waomirai.com/l/1026513/2025-06-08/hnztt/1026513/17494353353OfqyjL4/ogp_lp_week_free.png'

//- 期間のテキスト
- var TextPeriod = '8/5(火)～8/8(金)';

//- 月のテキスト
- var TextMonth = '8月';

//- 講座内容
-
  const courses = {
    philosophy: [
      {
        id: "phililosophy-level1",
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "8/5(火)｜18:30～19:15",
        time02: "8/8(金)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmczw/1026513/1747286136EhC9PhnQ/phi_lv1_month5_week1.jpg",
        title01: "ネコ型ロボットと友だちになる未来が来る？",
        title02: "AIは敵？ 味方？",
        text: "もしロボットとおしゃべりできたら、友だちになれるかな？この講座では、AI（人工知能）のしくみやできることを知りながら、「人間とAIはどんな関係になれるの？」「AIは味方？それとも敵？」という問いをみんなで考えます。未来の世界を想像しながら、自分の考えを深める哲学入門の時間です。"
      },
      {
        id: "phililosophy-level2",
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "8/5(火)｜17:30～18:15",
        time02: "8/8(金)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmczp/1026513/1747286135zzfOhcDh/phi_lv2_month5_week1.jpg",
        title01: "SDGsは地球を救うのか？",
        title02: "だれひとり取り残さない",
        text: "「だれひとり取り残さない」って、どういうことだろう？この講座では、SDGs（持続可能な開発目標）の考え方を出発点に、「本当にみんなが幸せになるには？」「わたしにできることはある？」という問いをみんなで考えます。地球の未来と自分の未来を結びつけ、考える力を育てる哲学の時間です。"
      },
      {
        id: "phililosophy-level3",
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "8/5(火)｜20:30～21:15",
        time02: "8/8(金)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmczd/1026513/1747286135U3Fz7bbz/phi_lv3_month5_week1.jpg",
        title01: "自分で校則を決められるなら？",
        title02: "そもそもルールとは？",
        text: "もし自分で校則を決められるなら、どんなルールにしますか？そもそも、ルールはなぜ必要なのでしょう？この講座では、「正しいルールって何？」「自由とルールは両立できる？」という問いを出発点に、学校生活を例にしながら、みんなで考えを深めます。ルールの本質にせまる哲学の時間です。"
      },
      {
        id: "phililosophy-level4",
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "8/5(火)｜19:30～20:15",
        time02: "8/8(金)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmcyw/1026513/1747286134uznBZdHR/phi_lv4_month5_week1.jpg",
        title01: "制約が生み出す「自由」",
        title02: "守られるのか、奪われるのか",
        text: "私たちは自由を求めるけれど、自由は本当に「何でもできること」なのでしょうか？この講座では、「ルールや制約があるからこそ生まれる自由」という逆説を考えます。制約は私たちを守るのか、それとも奪うのか――自由の本質を問い直し、自分の生き方に向き合う哲学の時間です。"
      }
    ],
    science: [
      {
        id: "science-level1",
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "8/6(水)｜17:30～18:15",
        time02: "8/8(金)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmcz3/1026513/17472861346TOZiFfy/sci_lv1_month5_week1.jpg",
        title01: "お肉をおいしく焼くにはどうすればいい?",
        title02: "タンパク質の仕組みと変性",
        text: "ハンバーグやステーキ、どうして焼くとおいしくなるんだろう？この講座では、「お肉を焼く」ときにおこる“タンパク質の変性”という現象を、やさしく楽しく学びます。かたくなるのはなぜ？色が変わるのはどうして？身近な料理の中にかくれた科学のひみつをのぞいてみよう！"
      },
      {
        id: "science-level2",
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "8/6(水)｜18:30～19:15",
        time02: "8/8(金)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd33/1026513/1747286139ceamLzOR/sci_lv2_month5_week1.jpg",
        title01: "キャラクターのすがたが理想的⁉",
        title02: "数学的美しさ　「白銀比」のひみつ",
        text: "人気キャラクターの顔や体のバランスが、なぜか「きれい」に見えるのはどうして？この講座では、日本でよく使われる「白銀比（はくぎんひ）」に注目して、身のまわりにひそむ“かくれた数学”を探ります。ノートや建物、絵やデザインにも！見えないルールに気づく、数学と美しさのふしぎな関係を楽しむ授業です。"
      },
      {
        id: "science-level3",
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "8/6(水)｜19:30～20:15",
        time02: "8/8(金)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd2s/1026513/1747286139ElQawNCF/sci_lv3_month5_week1.jpg",
        title01: "アインシュタインの挑戦",
        title02: "相対性理論を学ぼう",
        text: "「光の速さを超えることはできる？」――そんな問いから始まったアインシュタインの挑戦。誰もが当たり前だと思っていた“時間”や“空間”の概念を、彼は大きく変えました。この講座では、相対性理論の基本をわかりやすく学びながら、物理の奥深さや科学の魅力に触れます。宇宙の不思議に一歩近づく授業です。"
      },
      {
        id: "science-level4",
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "8/6(水)｜20:30～21:15",
        time02: "8/8(金)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd2h/1026513/1747286138EHjzT1un/sci_lv4_month5_week1.jpg",
        title01: "知っておきたい ! 遺伝子組み換え食品の光と影",
        title02: "品種改良と遺伝子組み換えの違い",
        text: "「遺伝子組み換え食品」と聞くと、どんなイメージがありますか？この講座では、品種改良と遺伝子組み換えの違いや、それぞれの利点・課題を科学的にわかりやすく解説。食の安全や環境、倫理の視点からも考えながら、私たちの選択に必要な“科学リテラシー”を育てます。知っているようで知らない「食」の科学に迫ります。"
      }
    ],
    economy: [
      {
        id: "economy-level1",
        level: "レベル1",
        recommend: "（小学3・4年生推奨）",
        time01: "8/6(水)｜18:30～19:15",
        time02: "8/7(木)｜17:30～18:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd26/1026513/1747286138tbuijMNN/eco_lv1_month5_week1.jpg",
        title01: "YouTuber は本当にもうかるの?",
        title02: "YouTuberの稼ぎのヒミツ",
        text: "「YouTuberっていっぱいお金をもらってるの？」そんな疑問から、動画でお金をかせぐしくみをわかりやすく学びます。どうして動画でお金がもらえるの？どんな工夫が必要？この講座では、YouTuberの仕事のうら側や、お金の流れ、かせぐことのたいへんさについて、楽しく考える経済入門です。"
      },
      {
        id: "economy-level2",
        level: "レベル2",
        recommend: "（小学5・6年生推奨）",
        time01: "8/6(水)｜17:30～18:15",
        time02: "8/7(木)｜18:30～19:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd1w/1026513/1747286137zvZmZCUD/eco_lv2_month5_week1.jpg",
        title01: "世界を動かす「金利」にせまる!",
        title02: "金利と銀行のヒミツ",
        text: "「金利」ってよく聞くけど、いったい何のこと？この講座では、銀行にお金をあずけると利子がつくしくみや、金利が社会や世界経済にどんな影響をあたえるのかをわかりやすく学びます。銀行のヒミツやお金の流れを知りながら、社会を動かす“見えない力”に気づく経済の入門授業です。"
      },
      {
        id: "economy-level3",
        level: "レベル3",
        recommend: "（中1・2・3年生推奨）",
        time01: "8/6(水)｜20:30～21:15",
        time02: "8/7(木)｜19:30～20:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd1l/1026513/1747286137rhtnJqIo/eco_lv3_month5_week1.jpg",
        title01: "世界のニュースを「お金」で読む",
        title02: "ジニ係数：格差をどう数値化するか？",
        text: "戦争、環境問題、テクノロジー、スポーツ――世界のニュースの裏には、必ず「お金」の動きがあります。この講座では、ニュースを経済の視点から読み解く力を学びます。なぜその出来事は起きたのか？誰に影響があるのか？世界の動きをより深く理解するための、経済リテラシーを身につける授業です。"
      },
      {
        id: "economy-level4",
        level: "レベル4",
        recommend: "（高1・2・3年生推奨）",
        time01: "8/6(水)｜19:30～20:15",
        time02: "8/7(木)｜20:30～21:15",
        img: "https://go.waomirai.com/l/1026513/2025-05-15/hmd19/1026513/1747286136zDJngmQG/eco_lv4_month5_week1.jpg",
        title01: "投資2",
        title02: "リスクを売買する方法とは？（デリバティブ）",
        text: "「デリバティブ」って聞いたことがありますか？それは株や為替、商品の“リスク”を売買できる特別な金融商品のことです。この講座では、デリバティブの基本や役割をわかりやすく学び、なぜ人はリスクを取るのか、どうリスクを減らすのかを考えます。高度な金融の世界をのぞく、投資入門の第2ステップです。"
      }
    ]
  }