//-
  ──────────────────────────────
    LINE
  ──────────────────────────────

//- URLのQRコード
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-08-06/hsmjq/1026513/1754530588aMWlLPqP/firstweek_free_qr_26february.png'

//- URL
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=BDAF'

//-
  ──────────────────────────────
    期間の開始日
  ──────────────────────────────
- var startDate = new Date('2026-02-03')

//-
  ──────────────────────────────
    画像
  ──────────────────────────────
//- 哲学
- var imgPhLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk6x/1026513/1754464414zZUwylyl/phi_lv1_month11_week1.jpg';
- var imgPhLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk74/1026513/1754464415ZadQq5BR/phi_lv2_month11_week1.jpg';
- var imgPhLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk7f/1026513/1754464417NppUaAOR/phi_lv3_month11_week1.jpg';
- var imgPhLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk7t/1026513/1754464419dU1FqfHY/phi_lv4_month11_week1.jpg';

//- 科学
- var imgScLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk84/1026513/1754464503pN5AqCpL/sci_lv1_month11_week1.jpg';
- var imgScLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk8f/1026513/1754464503Ez3Rkhsh/sci_lv2_month11_week1.jpg';
- var imgScLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk8q/1026513/1754464504U4304iDF/sci_lv3_month11_week1.jpg';
- var imgScLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk91/1026513/1754464506wwwWIVI4/sci_lv4_month11_week1.jpg';

//- 経済
- var imgEcLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk9f/1026513/1754464665hd1gyhcB/eco_lv1_month11_week1.jpg';
- var imgEcLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk9q/1026513/1754464666fDOYcZYA/eco_lv2_month11_week1.jpg';
- var imgEcLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk9x/1026513/1754464667rJydaY3j/eco_lv3_month11_week1.jpg';
- var imgEcLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskbb/1026513/17544646688Qkih1Us/eco_lv4_month11_week1.jpg';

//-
  ──────────────────────────────
    講座内容のテキスト
  ──────────────────────────────
-
  const courses_text = {
    philosophy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    science: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    economy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ]
  }

//-
  ──────────────────────────────
    ベースデータの読込
  ──────────────────────────────
include _monthly_base.pug