//-
  ──────────────────────────────
    LINE
  ──────────────────────────────

//- URLのQRコード
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-08-06/hsmjx/1026513/1754530588M2d4ZAhr/firstweek_free_qr_26march.png'

//- URL
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=Bdzk'

//-
  ──────────────────────────────
    期間の開始日
  ──────────────────────────────
- var startDate = new Date('2026-03-03')

//-
  ──────────────────────────────
    画像
  ──────────────────────────────
//- 哲学
- var imgPhLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskbt/1026513/1754464776zUN2gM6N/phi_lv1_month12_week1.jpg';
- var imgPhLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskc4/1026513/1754464778p6QeUzlB/phi_lv2_month12_week1.jpg';
- var imgPhLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskc7/1026513/1754464778P1ObQb9Q/phi_lv3_month12_week1.jpg';
- var imgPhLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskcj/1026513/17544647793IfqaPzJ/phi_lv4_month12_week1.jpg';

//- 科学
- var imgScLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskct/1026513/1754464895IAN4pssZ/sci_lv1_month12_week1.jpg';
- var imgScLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskd4/1026513/17544648966IWJNOzH/sci_lv2_month12_week1.jpg';
- var imgScLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskdj/1026513/1754464897iGmnz2iZ/sci_lv3_month12_week1.jpg';
- var imgScLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskdq/1026513/1754464898st7LCNmO/sci_lv4_month12_week1.jpg';

//- 経済
- var imgEcLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskfb/1026513/1754465003G83aeUuV/eco_lv1_month12_week1.jpg';
- var imgEcLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskff/1026513/1754465004B25cqnDb/eco_lv2_month12_week1.jpg';
- var imgEcLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskft/1026513/1754465006crzU95ZA/eco_lv3_month12_week1.jpg';
- var imgEcLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hskg1/1026513/1754465007r17Q0iZ8/eco_lv4_month12_week1.jpg';

//-
  ──────────────────────────────
    講座内容のテキスト
  ──────────────────────────────
-
  const courses_text = {
    philosophy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    science: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    economy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ]
  }

//-
  ──────────────────────────────
    ベースデータの読込
  ──────────────────────────────
include _monthly_base.pug