//-
  ──────────────────────────────
    LINE
  ──────────────────────────────

//- URLのQRコード
- var ImgEnrtyLiffQR =  ''

//- URL
- var UrlLineEvent = ''

//-
  ──────────────────────────────
    期間の開始日
  ──────────────────────────────
- const startDate = new Date('')

//-
  ──────────────────────────────
    画像
  ──────────────────────────────


//-
  ──────────────────────────────
    講座内容のテキスト
  ──────────────────────────────
-
  const courses_text = {
    philosophy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    science: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    economy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ]
  }

//-
  ──────────────────────────────
    ベースデータの読込
  ──────────────────────────────
include _monthly_base.pug