//-
  ──────────────────────────────
    LINE
  ──────────────────────────────

//- URLのQRコード
- var ImgEnrtyLiffQR =  'https://go.waomirai.com/l/1026513/2025-08-06/hsmjt/1026513/1754530588IfOhll8d/firstweek_free_qr_26january.png'

//- URL
- var UrlLineEvent = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=t5kn'

//-
  ──────────────────────────────
    期間の開始日
  ──────────────────────────────
- var startDate = new Date('2026-01-06')

//-
  ──────────────────────────────
    画像
  ──────────────────────────────
//- 哲学
- var imgPhLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk2x/1026513/1754464038o4qlJc10/phi_lv1_month10_week1.jpg';
- var imgPhLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk37/1026513/17544640391sD2PjAJ/phi_lv2_month10_week1.jpg';
- var imgPhLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk3j/1026513/1754464040FCQylhRa/phi_lv3_month10_week1.jpg';
- var imgPhLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk3t/1026513/1754464041e0StFUec/phi_lv4_month10_week1.jpg';

//- 科学
- var imgScLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk4f/1026513/1754464135H24Aqye1/sci_lv1_month10_week1.jpg';
- var imgScLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk4m/1026513/1754464136bTeyO1qz/sci_lv2_month10_week1.jpg';
- var imgScLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk4x/1026513/1754464136ecqbSD6d/sci_lv3_month10_week1.jpg';
- var imgScLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk54/1026513/175446413714uiMeiZ/sci_lv4_month10_week1.jpg';

//- 経済
- var imgEcLv1Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk5j/1026513/1754464223LYHTmAM1/eco_lv1_month10_week1.jpg';
- var imgEcLv2Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk5q/1026513/1754464224Uvb1zq7J/eco_lv2_month10_week1.jpg';
- var imgEcLv3Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk64/1026513/1754464225CqZz8rQh/eco_lv3_month10_week1.jpg';
- var imgEcLv4Week1 = 'https://go.waomirai.com/l/1026513/2025-08-06/hsk6b/1026513/1754464226KBGr4G8S/eco_lv4_month10_week1.jpg';

//-
  ──────────────────────────────
    講座内容のテキスト
  ──────────────────────────────
-
  const courses_text = {
    philosophy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    science: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ],
    economy: [
      {
        //- レベル1
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル2
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル3
        title01: "",
        title02: "",
        text: ""
      },
      {
        //- レベル4
        title01: "",
        title02: "",
        text: ""
      }
    ]
  }

//-
  ──────────────────────────────
    ベースデータの読込
  ──────────────────────────────
include _monthly_base.pug