/* color */

$cl-philosophy-pale: #f4c66d;
$cl-science-pale: #66cb88;
$cl-economy-pale: #67d2e9;

@mixin gradient-waogreen {
  background: linear-gradient(283.05deg, #0d825d -0.33%, #1f8c69 89.33%);
}

@mixin gradient-waoorange {
  background: linear-gradient(93.57deg, #f5942e -3.22%, #ee7a00 104.73%);
}

/* 旧ファイル更新のため残しているが未使用 */
$cl-bg-creamyellow: #fff8e0;
$cl-bg-creamyellow-dark: #fff2c4;
$cl-border-brown: #d8d2bc;
$cl-btn-cta: #f88c6a;
$cl-title-underline: #febcad;
$cl-merit-yellow: #f8d86a;
$cl-feature-yellow: #fffb96;

$categories: (
  "philosophy": (
    main-color: $cl-philosophy,
    sp-main-color: $cl-philosophy,
    pale-color: #fff8e0,
  ),
  "science": (
    main-color: $cl-science-darken,
    sp-main-color: $cl-science-darken,
    pale-color: #f8ffea,
  ),
  "economy": (
    main-color: $cl-economy,
    sp-main-color: $cl-economy,
    pale-color: #eaf6ff
      // 例: テキストカラー,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
  ),
);
